---
tags: base-layout
title: Base layout - Single column
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      {% include "demos/demo-hero.njk" %}
    </div>
  </div>

  <!-- Use a container for visual alignment -->
  <div class="rvt-container">
    <hr aria-hidden="true" class="rvt-m-all-none">
  </div>

  <div class="rvt-layout-base rvt-layout-base--single-column">
    <div class="rvt-layout-base__main">

      {% include "demos/demo-details-content.njk" %}


    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
