---
tags: base-layout
title: Base layout - Two Column
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-section">
    <div class="rvt-container">
      {% include "demos/demo-hero.njk" %}
    </div>
  </div>

  <!-- Use a container for visual alignment -->
  <div class="rvt-container">
    <hr aria-hidden="true" class="rvt-m-all-none">
  </div>

  <div class="rvt-layout-base">
    <div class="rvt-layout-base__sidebar" id="sidebar-main-content">
      {% include "demos/demo-sidenav.njk" %}
    </div>
    <div class="rvt-layout-base__main">

      {# <nav role="navigation" aria-label="Breadcrumbs" >
        <ol class="rvt-breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Tier two</a></li>
          <li aria-current="page">Tier three</li>
        </ol>
      </nav> #}

      {% include "demos/demo-details-content.njk" %}

    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
