@use '../core' as *;

.#{$prefix}-header-wrapper {
  box-shadow: $shadow-subtle;
  z-index: $z-index-900;

  &__skip-link {
    position: fixed;
    top: -6rem;
    padding: $spacing-xs;
    z-index: 999;
  }

  &__skip-link:focus {
    top: 0;
    background-color: $color-white-base;
  }
}
