@use 'core' as *;

.#{$prefix}-header-menu {
  left: -3rem;
  margin: 0 $spacing-md;
  position: absolute;
  // Magic number here to get the menus to line up with bottom of global header
  top: 2.75rem;
  background-color: $color-black-100;
  // padding: $spacing-sm $spacing-md;
  z-index: $z-index-100;
  width: calc(100% + 3rem);

  &__group {
    display: flex;
    flex-direction: row;
  }

  &__toggle {
    margin-left: $spacing-xxs;
    align-self: center;
    width: $spacing-md;
    height: $spacing-md;
    color: $color-black-500;
    justify-content: center;
    flex-shrink: 0;
    padding: 0 $spacing-xs;
    border-radius: 999rem;
    background: $color-black-100;
  }

  &__toggle:hover {
    background: $color-blue-base;
    color: $color-white-base;
    outline: $spacing-xxs/2 solid $color-blue-base;
    outline-offset: $spacing-xxs/2;
  }

  &__list {
    background-color: $color-white-base;
    list-style: none;
    padding: $spacing-xs $spacing-md 0 $spacing-md;
  }

  &__item {
    margin: 0;
  }

  &__item:not(:first-child) {
    border-top: 1px solid $color-black-100;
  }

  &__dropdown {
    width: 100%;
  }

  &__link {
    text-decoration: none;
    color: $color-black-base;
    display: flex;
    font-size: $ts-14;
    margin-right: auto;
    padding: $spacing-xs 0 $spacing-xs $spacing-xxs;
    width: 100%;

  &__link:hover,
  &__link:focus {
    color: $color-blue-base;
    outline: .125rem solid $color-blue-base;
    outline-offset: .125rem;
  }

  &__submenu {
    background-color: unset;
    border: none;
    padding-top: 0;
    padding-bottom: $spacing-xs;
    margin-top: 0;
    right: unset;
    position: relative;
  }

  &__submenu-list {
    border-left: 3px solid $color-black-100;
  }

  &__submenu-link {
    text-decoration: none;
    font-size: $ts-14;
    display: block;
    padding: $spacing-xs $spacing-sm;
    width: 100%;
    color: $color-black-base;
  }
}

@include mq($breakpoint-lg) {
  .#{$prefix}-header-menu {
    display: flex;
    margin: 0;
    background-color: transparent;
    position: relative;
    top: unset;
    left: unset;
    font-size: $ts-14;
    align-items: center;

    &__list {
      display: flex;
      padding: 0;

      li:not(:first-child) {
        border-top: none;
      }
    }

    &__item:not(:first-child) {
      margin-left: $spacing-sm;
    }

    &__item {
      position: relative;
    }

    &__group {
      align-items: center;
    }

    &__dropdown {
      width: auto;
    }

    &__link {
      display: block;
      margin-right: 0;
      padding: 0;
      position: relative;
    }

    &__item--active::after {
      content: '';
      display: block;
      background-color: $color-crimson-base;
      width: 100%;
      height: $spacing-xxs * 1.2;
      position: absolute;
      bottom: -$spacing-md * 1.1;
    }

    &__submenu {
      position: absolute;
      top: 3.1rem;
      right: 0;
      width: $spacing-xxl * 3.5;
      background-color: $color-white-base;
      border-radius: $spacing-xxs;
      box-shadow: $shadow-base;
      padding: $spacing-xs 0;
      list-style: none;
    }

    &__submenu ul {
      border-left: none;
    }

    &__submenu a:hover {
      background-color: $color-blue-base;
      color: $color-white-base;
    }

    &__submenu-item {
      margin-top: 0;
    }

    &__submenu-link {
      padding: $spacing-xs $spacing-sm;
    }

    &__submenu-link:hover {
      background-color: $color-black-000;
    }
  }
}
