@use '../core' as *;

.rvt-card {
  --aspect-ratio: 3/2;
  --padding: var(--rvt-spacing-md);
  background-color: var(--rvt-color-theme-background);
  border: calc(1rem/16) solid var(--rvt-color-theme-ui);
  position: relative;

  .rvt-theme-dark &,
  .rvt-theme-crimson & {
    background-color: var(--rvt-color-theme-background-strong);
  }

  &__date {
    container-type: inline-size;
    margin-bottom: var(--rvt-spacing-md);
  }

  &__date .rvt-cal {
    align-items: center;
    aspect-ratio: var(--aspect-ratio);
    display: flex;
    font-size: 7cqw;
    font-weight: 250;
    justify-content: center;
    width: 100%;
  }

  &__date .rvt-cal__day {
    font-size: 225%;
  }

  &__image {
    padding: var(--padding) var(--padding) 0;
  }

  &__image :is(img, picture) {
    aspect-ratio: var(--aspect-ratio);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__sticker {
    margin-bottom: var(--rvt-spacing-sm);
  }

  &__body {
    padding: var(--padding);
    text-wrap: pretty;
  }

  &__badge {
    margin-bottom: var(--rvt-spacing-sm);
  }

  &__eyebrow {
    color: var(--rvt-color-theme-text-accent);
    font-family: var(--rvt-font-family-mono);
    font-size: var(--rvt-ts-12);
    text-decoration: none;
  }

  &__eyebrow[href]:hover {
    text-decoration: underline;
  }

  &__eyebrow + &__title {
    margin-top: var(--rvt-spacing-xxs);
  }

  &__title {
    font-size: var(--rvt-ts-20);
    font-variation-settings:
      "wdth" 135,
      "YTLC" 540;
    font-weight: var(--rvt-font-weight-bold);
    line-height: 1.3;
    padding-right: var(--rvt-spacing-xl);
  }

  &__title a {
    color: var(--rvt-color-theme-text-strong);
    display: block;
    text-decoration: none;
  }

  &__title a::before,
  &--feature::after {
    background-color: currentColor;
    clip-path: path(var(--rvt-icon-arrow-right));
    content: "";
    display: block;
    height: var(--rvt-spacing-sm);
    position: absolute;
    right: var(--rvt-spacing-md);
    transition: all .2s ease;
    width: var(--rvt-spacing-sm);
  }

  &--feature {
    --padding: 2rem;
  }

  &--feature::before {
    border-left: calc(1rem/16) solid var(--rvt-color-theme-ui);
    border-top: calc(1rem/16) solid var(--rvt-color-theme-ui);
    bottom: 0;
    content: "";
    display: block;
    height: var(--padding);
    position: absolute;
    right: 0;
    width: var(--padding);
  }

  &--feature::after {
    --position: calc((var(--padding) - 1rem) / 2);
    bottom: var(--position);
    right: var(--position);
  }

  &--feature &__body {
    padding: var(--padding);
  }

  &--feature &__eyebrow {
    @include eyebrow;
  }

  &--news &__title {
    font-family: var(--rvt-font-family-serif);
    font-size: var(--rvt-ts-23);
    font-weight: var(--rvt-font-weight-regular);
  }

  &--feature > &__sticker {
    align-items: center;
    aspect-ratio: 3 / 2;
    background-color: var(--rvt-color-brand-extralight);
    display: flex;
    justify-content: center;
    margin: 0;

    rvt-sticker {
      --bg: transparent;
      --size: 9rem;
    }
  }

  &--feature &__title {
    color: var(--rvt-color-theme-text-accent);
    font-size: var(--rvt-ts-23);
    font-weight: var(--rvt-font-weight-black);
    line-height: var(--rvt-line-height-tight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &--feature &__title a {
    color: var(--rvt-color-theme-text-accent);
    text-decoration: none;
  }

  &--feature &__title a::before {
    content: none;
  }

  &--raised:not(&--feature) {
    border: none;
    box-shadow: var(--rvt-shadow-heavy);
  }

  &--raised:not(&--feature) &__title a::before {
    right: var(--rvt-spacing-lg);
  }

  :is(&--clickable, &--feature) &__title a::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--feature:has(&__title a:hover)::after {
    background-color: var(--rvt-color-theme-text-accent);
  }

  &__title a:hover {
    text-decoration: underline;
  }

  &__title a:hover::before {
    transform: translateX(var(--rvt-spacing-xs));
  }

  :is(&--clickable, &--feature):focus-within {
    outline: calc(2rem/16) solid var(--rvt-color-theme-accent-strong);
    outline-offset: calc(2rem/16);
  }

  :is(&--clickable, &--feature) :focus {
    outline: none;
  }

  &__content {
    color: var(--rvt-color-theme-text);
    flex-grow: 1;
    margin-top: var(--rvt-spacing-md);
    max-width: 75ch;

    > * {
      margin: 0;
    }

    > * + * {
      margin-top: var(--rvt-spacing-sm);
    }

    .rvt-list {
      padding-left: var(--rvt-spacing-sm);
    }
  }

  &__event-list {
    margin-top: var(--rvt-spacing-md);
  }

  &__event-list li {
    align-items: flex-start;
    display: flex;
    gap: var(--rvt-spacing-xs);
  }

  &__event-list li rvt-icon {
    padding: var(--rvt-spacing-xxs) 0;
  }

  &__meta {
    margin-top: var(--rvt-spacing-md);
  }

  &__meta > :not([class]) {
    color: var(--rvt-color-theme-text);
    font-family: var(--rvt-font-family-mono);
    font-size: var(--rvt-ts-12);
  }

  &__meta > * {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.rvt-card-list {
  --gap: var(--rvt-spacing-xl);
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  list-style: "";
  padding-left: 0;
}

.rvt-card-list:has(.rvt-card--feature) {
  --gap: var(--rvt-spacing-sm);
}

:has(> .rvt-card) {
  container-type: inline-size;
}

@container (width > 50rem) {
  .rvt-card:has(.rvt-card__date, .rvt-card__image, .rvt-card__sticker) {
    align-items: center;
    display: grid;
    grid-template-columns: minmax(12rem, calc(50% - calc(9rem/16))) 1fr;
  }

  :is(.rvt-card__date, .rvt-card__image, .rvt-card__sticker) {
    align-self: flex-start;
    padding: var(--padding) 0 var(--padding) var(--padding);
  }

  .rvt-card--feature {
    --padding: 2.5rem;
  }
}
