@use '../core' as *;

.#{$prefix}-card {
  background-color: $color-white-base;
  border: 1px solid $color-black-100;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  &--feature  &__title {
    color: $color-crimson-500;
    font-family: $font-condensed;
    font-weight: $font-weight-black;
    font-size: $ts-26;
    letter-spacing: .04rem;
    text-transform: uppercase;
  }

  &--feature &__title a {
    color: $color-crimson-500;
    text-decoration: none;
  }

  &--feature &__title a::before {
    content: none;
  }

  &__image img {
    display: block;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $spacing-md;
  }

  &__eyebrow {
    color: $color-crimson-500;
    font-size: $ts-14;
    font-family: $font-mono;
    text-decoration: none;
  }

  &__eyebrow[href]:hover {
    text-decoration: underline;
  }

  &__eyebrow + &__title {
    margin-top: $spacing-sm;
  }

  &__title {
    font-size: $ts-20;
    line-height: 1.1;
    padding-right: $spacing-xl;
  }

  &__title a {
    color: $color-black-500;
    display: block;
    text-decoration: none;
  }

  &__title a::before {
    background-color: $color-blue-000;
    border-radius: 999rem;
    background-size: $spacing-sm $spacing-sm;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23006298" viewBox="0 0 16 16"><path d="M1 7h10.844L7.737 2.146 9.263.854 15.31 8l-6.047 7.146-1.526-1.292L11.844 9H1V7Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    display: block;
    height: $spacing-sm;
    padding: $spacing-xs;
    position: absolute;
    right: $spacing-xs;
    transition: all .2s ease;
    width: $spacing-sm;
  }

  &--raised &__title a::before {
    right: $spacing-md;
  }

  &--clickable &__title a::after {
    bottom: 0;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }

  &__title a:hover {
    color: $color-blue-500;
    text-decoration: underline;
  }

  &__title a:hover::before {
    background-color: $color-blue-100;
    transform: translate($spacing-xs, 0);
  }

  &__content {
    color: $color-black-400;
    flex-grow: 1;
    padding-top: $spacing-md;

    > * {
      margin: 0;
    }

    > * + * {
      margin-top: $spacing-lg;
    }
  }

  &__meta {
    font-size: $ts-14;
    padding-top: $spacing-md;
  }

  &__meta > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .#{$prefix}-card {
    &__body {
      padding: $spacing-xl;
    }
  }
}

// Horizontal variant

.#{$prefix}-card {
  &--horizontal {
    flex-direction: row;
    gap: $spacing-md;
  }

  &--horizontal &__image {
    flex-shrink: 0;
    max-width: var(--image-max-width, 180px);
    width: 25%;

    @media screen and (min-width: $breakpoint-md) {
      width: 33%;
    }
  }

  &--horizontal &__body,
  &--horizontal &__meta {
    padding-top: 0;
  }

  &--horizontal &__content {
    flex-grow: 0;
    padding-top: 0;
  }

  @media screen and (max-width: $breakpoint-md) {
    &--horizontal &__title {
      font-size: $ts-18;
      padding-right: $spacing-xxl;

      & a::before {
        margin-top: -$spacing-sm;
      }
    }
  }
}

.#{$prefix}-card--horizontal.#{$prefix}-card--raised {
  padding: $spacing-md;

  .#{$prefix}-card__image img {
    border-radius: $border-radius-md;
  }

  .#{$prefix}-card__body {
    padding: 0;
  }
}