---
tags: link
title: Link
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-flex rvt-flex-column rvt-gap-xs rvt-items-start">
	<a href="#" class="rvt-link">Link text</a>
	<a href="#" class="rvt-link-bold">Link text</a>
	<a href="#" class="rvt-link-plain">Link text</a>
	<a href="#" class="rvt-link-cta">Link text</a>
</div>
