<div class="rvt-media-hub">
  <figure class="rvt-media-hub__media">
    <div class="rvt-media-hub__column-half rvt-media-hub__row-top">
      <img src="https://picsum.photos/id/44/600/600" alt="">
    </div>
    <div class="rvt-media-hub__column-half rvt-media-hub__row-bottom">
      <img src="https://picsum.photos/id/498/600/600" alt="">
    </div>
    <div class="rvt-media-hub__column-half rvt-media-hub__row-full-height">
      <img src="https://picsum.photos/id/19/600/1200" alt="">
    </div>
  </figure>
</div>