<div class="rvt-stat-group">
	<ul>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="backpack" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">$50M+</div>
				<div class="rvt-stat__description">Research funding</div>
			</div>
		</li>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="book" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">88%</div>
				<div class="rvt-stat__description">
					Students stay in Indiana after graduation
				</div>
			</div>
		</li>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="map" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">56%</div>
				<div class="rvt-stat__description">
					Students graduate debt free
				</div>
			</div>
		</li>
	</ul>
	<p class="rvt-stat-group__note">* Stats current as of 2025</p>
</div>
