<div class="rvt-list-hub">
  <h2 class="rvt-list-hub__title">Quick links</h2>
  <ul class="rvt-list-hub__list">
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {No more than five items, keep link text short}
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
    </li>
  </ul>
</div>