<div class="rvt-hero">
  <div class="rvt-hero__inner">
    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow">
        <nav role="navigation" aria-label="Breadcrumbs">
          <ol class="rvt-breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tier two</a></li>
            <li aria-current="page">Tier three</li>
          </ol>
        </nav>
      </span>
      <h1 class="rvt-hero__title">{ This headline should not exceed 16 characters }</h1>
      <div class="rvt-hero__teaser">
        <p>{ Intro body copy should not exceed one concise paragraph. }</p>
      </div>
      <div class="rvt-hero__actions">
        <a class="rvt-cta rvt-cta--button" href="#">{ Lorem Ipsum }</a>
      </div>
    </div>
    <div class="rvt-card rvt-card--raised rvt-card--clickable">
      <div class="rvt-card__body">
        <div class="rvt-card__eyebrow">Category</div>
        <h2 class="rvt-card__title">
          <a href="#">Find your ideal campus life at IU</a>
        </h2>
        <div class="rvt-card__content [ rvt-ts-14 ]">
          <p>Organizations, innovating the future, and making an impact on their communities and the world.</p>
        </div>
      </div>
    </div>
  </div>
</div>