<div class="rvt-list-hub">
  <h2 class="rvt-list-hub__title">Quick links</h2>
  <ul class="rvt-list-hub__list">
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Class profile
      </a>
      <div class="rvt-list-hub__content">
        <p>See coursework requirements, test score expectations, and other standards for admission to each IU campus.</p>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
  </ul>
</div>