<div class="rvt-stat-group">
  <div class="rvt-stat-group__inner">
    {# <div class="rvt-stat">
      <div class="rvt-stat__content">
        <div class="rvt-stat__image">
          <rvt-sticker name="campus-center" theme="crimson" size="sm"></rvt-sticker>
        </div>
        <div class="rvt-stat__number">375+</div>
        <div class="rvt-stat__description">Degrees and certificates</div>
      </div>
    </div> #}
    <div class="rvt-stat">
      <div class="rvt-stat__content">
        <div class="rvt-stat__image">
          <rvt-sticker name="cap" theme="crimson" size="sm"></rvt-sticker>
        </div>
        <div class="rvt-stat__number">$50M+</div>
        <div class="rvt-stat__description">Research funding</div>
      </div>
    </div>
    <div class="rvt-stat">
      <div class="rvt-stat__content">
        <div class="rvt-stat__image">
          <rvt-sticker name="money-symbol" theme="crimson" size="sm"></rvt-sticker>
        </div>
        <div class="rvt-stat__number">88%</div>
        <div class="rvt-stat__description">Students stay in Indiana after graduation</div>
      </div>
    </div>
    <div class="rvt-stat">
      <div class="rvt-stat__content">
        <div class="rvt-stat__image">
          <rvt-sticker name="globe" theme="crimson" size="sm"></rvt-sticker>
        </div>
        <div class="rvt-stat__number">56%</div>
        <div class="rvt-stat__description">Students graduate debt free</div>
      </div>
    </div>
  </div>
</div>