<div class="rvt-hero rvt-hero--statement">
	<div class="rvt-hero__body">
		<div class="rvt-hero__eyebrow">Congrats!</div>
		<h1 class="rvt-hero__title">You did it. Let's celebrate.</h1>
		<p class="rvt-hero__teaser">
			After years of hard work, you've earned your prestigious Indiana
			University degree. Celebrate this achievement with friends and classmates
			at Commencement, as your family, faculty, and the Hoosier community
			proudly support you.
		</p>
		<div class="rvt-hero__actions">
			<a href="/" class="rvt-button rvt-button--cta rvt-button--strong">
				Commencement day
			</a>
			<a href="/" class="rvt-button rvt-button--cta"> What to expect </a>
		</div>
	</div>
	<figure class="rvt-hero__figure">
		<div class="rvt-hero__images">
			<img
				src="https://picsum.photos/id/10/1600/800"
				alt="This image can have alt text now"
			/>
		</div>
		<div
			class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-crimson ]"
		>
			<div class="rvt-card__sticker">
				<rvt-sticker name="airplane" theme="crimson" size="sm"></rvt-sticker>
			</div>
			<div class="rvt-card__body">
				<div class="rvt-card__eyebrow">Family &amp; Guests</div>
				<h2 class="rvt-card__title">
					<a href="#">
						Check out hotel options and other travel information, including
						travel visas
					</a>
				</h2>
			</div>
		</div>
	</figure>
</div>
