<div class="rvt-hero">
  <div class="rvt-hero__inner">
    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow">
        {# <nav role="navigation" aria-label="Breadcrumbs">
          <ol class="rvt-breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tier two</a></li>
            <li aria-current="page">Tier three</li>
          </ol>
        </nav> #}
        {# {Section title or category} #}
      </span>
      <h1 class="rvt-hero__title">{Title should not exceed 40 characters}</h1>
      <div class="rvt-hero__teaser">
        <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptate, tenetur explicabo architecto laborum.}</p>
      </div>
      <div class="rvt-hero__actions">
        <a href="/#" class="rvt-button rvt-button--solid">Discover careers</a>
        {# <a href="/#" class="rvt-button rvt-button--outline">Discover careers</a> #}
      </div>
    </div>

    <div class="rvt-hero__callout">
      <div class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-light ]">
        <div class="rvt-card__body">
          <div class="rvt-card__eyebrow">Category</div>
          <h2 class="rvt-card__title">
            <a href="#">Find your ideal campus life at IU</a>
          </h2>
          <div class="rvt-card__content [ rvt-ts-14 ]">
            <p>Organizations, innovating the future, and making an impact on their communities and the world.</p>
          </div>
        </div>
      </div>
    </div>

    {# <div class="rvt-hero__media">
      <img src="https://picsum.photos/id/29/600/400" alt="">
    </div> #}

  </div>
</div>