{# {% include "demos/demo-stats.njk" %} #}

<div class="rvt-layout-base__breakout rvt-section rvt-theme-light">
  <div class="rvt-layout-base__breakout-inner">
    {% include "demos/demo-stats.njk" %}
  </div>
</div>


<div class="rvt-rich-text">
  <h2>Start with a heading</h2>
  <p>Lorem ipsum dolor sit amet <em>consectetur adipisicing</em> elit. Fugiat in reprehenderit aspernatur, nemo dicta ex voluptas totam est eligendi non et at laborum, omnis obcaecati minus, nisi rerum corrupti cum.</p>
  <p>Lorem ipsum dolor sit amet  <a href="#">consectetur adipisicing</a> elit. Nisi aperiam voluptatum fugit deserunt accusantium repudiandae dolor consequatur, eum ad tempora quis veniam tenetur quo officia hic quam modi sit esse.</p>
  <a href="#" class="rvt-link-cta">Call to action</a>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea vero deserunt nulla dignissimos sapiente voluptatem quibusdam! Provident assumenda dolorem aliquam, cupiditate blanditiis numquam officiis quidem iusto recusandae maxime. Doloremque.</p>
  <h3>Heading 3</h3>
  <ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
    <li>Item four</li>
  </ul>
  <h4>Heading 4</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum possimus officiis excepturi unde deserunt ratione natus in nam recusandae, explicabo laborum aspernatur at atque laboriosam eius nisi rem assumenda eum.</p>
</div>

<div class="rvt-list-hub" id="demo-jump-link">
  <h2 class="rvt-list-hub__title">Resources (this is an h2)</h2>
  <ul class="rvt-list-hub__list">
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {No more than five items, keep link text short}
      </a>
      <div class="rvt-list-hub__content">
        <p>List Hub items can have descriptions too. Keep it brief though.</p>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
      <div class="rvt-list-hub__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti in sunt pariatur recusandae, laboriosam vitae cupiditate quod ea animi totam.</p>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
      <div class="rvt-list-hub__content">
        <p>Laboriosam vitae cupiditate quod ea animi totam.</p>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
      <div class="rvt-list-hub__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti in sunt pariatur recusandae, laboriosam vitae cupiditate quod ea animi totam.</p>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        {Keep link text short}
      </a>
      <div class="rvt-list-hub__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum repellat quam quidem ullam animi eveniet! Dolorem quam omnis atque suscipit maiores ratione voluptatem odio quo in molestiae. Sint, modi laudantium!</p>
      </div>
    </li>
  </ul>
</div>

{% include "demos/demo-accordion.njk" %}

{% include "demos/demo-media-hub.njk" %}

<div class="rvt-rich-text">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum adipisci, non fugit modi delectus neque labore debitis, eos repellat perspiciatis voluptate voluptatibus libero dignissimos. Harum, consequuntur! Modi, iusto accusamus.</p>
  <a href="#" class="rvt-cta">Test CTA</a>
</div>

<div class="rvt-layout-base__breakout rvt-section rvt-theme-crimson">
  <div class="rvt-layout-base__breakout-inner">
    {% include "demos/demo-quote.njk" %}
  </div>
</div>


<table class="rvt-table">
  <caption class="rvt-sr-only">Default table</caption>
  <thead>
    <tr>
      <th scope="col">Services</th>
      <th scope="col">Description</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">One.IU</th>
      <td>One.IU was created to bring a modern app store experience to finding what you need at IU. With One.IU, you search for what you want to do, and click to launch it.</td>
      <td><a href="#">one.iu.edu</a></td>
    </tr>
    <tr>
      <th scope="row">Zoom</th>
      <td>Zoom is a web collaboration tool available to all Indiana University students, faculty, and staff.</td>
      <td><a href="#">zoom.iu.edu</a></td>
    </tr>
    <tr>
      <th scope="row">Canvas</th>
      <td>Canvas is a learning management system developed by Instructure, Inc.</td>
      <td><a href="#">canvas.iu.edu</a></td>
    </tr>
  </tbody>
</table>


<div class="rvt-rich-text">
  <h2>Start block Heading 2 text</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in reprehenderit aspernatur, nemo dicta ex voluptas totam est eligendi non et at laborum, omnis obcaecati minus, nisi rerum corrupti cum.</p>
  <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nisi aperiam voluptatum fugit deserunt accusantium repudiandae dolor consequatur, eum ad tempora quis veniam tenetur quo officia hic quam modi sit esse.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea vero deserunt nulla dignissimos sapiente voluptatem quibusdam! Provident assumenda dolorem aliquam, cupiditate blanditiis numquam officiis quidem iusto recusandae maxime. Doloremque.</p>
  <h3>Heading 3</h3>
  <p></p><p></p>
  <ul>
    <li>Item one</li>
    <li>Item two</li>
    <li>Item three</li>
    <li>Item four</li>
  </ul>
</div>

{# {% include "demos/demo-callout.njk" %} #}

{% include "demos/demo-related-content.njk" %}

{% include "demos/demo-contact-card.njk" %}

{% include "demos/demo-list-hub.njk" %}
