<div class="rvt-grid rvt-grid--2">
  <div class="rvt-card">
    <div class="rvt-card__image">
      <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">My category</div>
      <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
        <a href="#">Find your ideal campus life at IU</a>
      </h2>
      <div class="rvt-card__content [ rvt-flow ]">
        <p>Adipisicing elit. Minus ducimus sint amet similique, saepe aut natus fuga reprehenderit magnam fugit minima laborum debitis provident ipsum! Laborum odio iste corporis totam.</p>
      </div>
      <div class="rvt-card__meta">
        <time>November 5, 1955</time>
      </div>
    </div>
  </div>

  <div class="rvt-card">
    <div class="rvt-card__image">
      <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">My category</div>
      <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
        <a href="#">Find your ideal campus life at IU</a>
      </h2>
      <div class="rvt-card__content [ rvt-flow ]">
        <p>Adipisicing elit. Minus ducimus sint amet similique, saepe aut natus fuga reprehenderit magnam fugit minima laborum debitis provident ipsum! Laborum odio iste corporis totam.</p>
      </div>
      <div class="rvt-card__meta">
        <time>November 5, 1955</time>
      </div>
    </div>
  </div>
  <div class="rvt-card">
    <div class="rvt-card__image">
      <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">My category</div>
      <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
        <a href="#">Find your ideal campus life at IU</a>
      </h2>
      <div class="rvt-card__content [ rvt-flow ]">
        <p>Dolorum aliquam reiciendis illo rerum repudiandae vero, quos, illum id natus at est architecto distinctio.</p>
      </div>
      <div class="rvt-card__meta">
        <time>November 5, 1955</time>
      </div>
    </div>
  </div>
</div>