<div class="rvt-hero rvt-hero--feature">
  <div class="rvt-hero__inner">

    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow">
        {Section or category}
      </span>
      <h1 class="rvt-hero__title">{Title should not exceed 16 characters}</h1>
      <div class="rvt-hero__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at possimus quia consequuntur veniam sunt, facilis nemo.</p>
      </div>
      {# <div class="rvt-hero__actions">
        <a href="/#" class="rvt-button rvt-button--solid">Discover careers</a>
        <a href="/#" class="rvt-button rvt-button--outline">See all degrees</a>
      </div> #}
    </div>

    <div class="rvt-hero__quick-links rvt-theme-crimson">
      {% include "demos/demo-list-hub.njk" %}
    </div>

    <figure class="rvt-hero__media">
      <img src="https://picsum.photos/id/66/1200/800" alt="">
    </figure>

    {# <figure class="rvt-media-hub">
      <div class="rvt-media-hub__2">
        <img src="https://picsum.photos/id/44/400/400" alt="">
      </div>
      <div class="rvt-media-hub__2">
        <img src="https://picsum.photos/id/23/400/400" alt="">
      </div>
      <div class="rvt-media-hub__2">
        <img src="https://picsum.photos/id/19/600/600" alt="">
      </div>
      <figcaption class="rvt-media-hub__caption">Test caption</figcaption>
    </figure> #}

  </div>
</div>