<div class="rvt-factoid">
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Phone:
    </div>
    <div class="rvt-factoid__content">
      {(317) 222-1111}
    </div>
  </div>
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Email:
    </div>
    <div class="rvt-factoid__content">
      <a href="#">{example@iu.edu}</a>
    </div>
  </div>
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Location or Campus:
    </div>
    <div class="rvt-factoid__content">
      {420 University Blvd, Indianapolis, IN 46202}
    </div>
  </div>
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Office Hours or Room:
    </div>
    <div class="rvt-factoid__content">
      {M–F 9:00am–5pm}
    </div>
  </div>
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Pronouns:
    </div>
    <div class="rvt-factoid__content">
      {They/Them}
    </div>
  </div>
  <div class="rvt-factoid__item">
    <div class="rvt-factoid__label">
      Area(s) of expertise or Level:
    </div>
    <div class="rvt-factoid__content">
      <ul class="rvt-flex rvt-flex-row rvt-wrap rvt-gap-xs rvt-list-plain">
        <li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
        <li class="rvt-badge rvt-badge--secondary">{Lorem Ipsum}</li>
        <li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
        <li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
      </ul>
    </div>
  </div>
</div>