
<div class="rvt-contact-info">
{#
  <div class="rvt-contact-info__intro">
    <rvt-sticker name="chat-bubbles" theme="crimson" size="sm"></rvt-sticker>
    <div class="rvt-contact-info__intro-eyebrow">{Tag or Category}</div>
    <h2 class="rvt-contact-info__intro-title">
      {Have Questions?}
    </h2>
    <div class="rvt-contact-info__intro-teaser">
      <p>{Descriptions should not exceed one paragraph or 32 characters. One to two brief sentences will keep the user engaged with your content.}</p>
    </div>
    <div class="rvt-contact-info__intro-actions">
      <a href="/#" class="rvt-button rvt-button--outline">{Lorem ipsum}</a>
      <a href="/#" class="rvt-button">{Lorem ipsum}</a>
    </div>
  </div> #}

  {# <div class="rvt-callout rvt-border-all-none">
    <rvt-sticker name="cap" theme="crimson" size="sm"></rvt-sticker>
      <div class="rvt-callout__body">
        <p class="rvt-callout__eyebrow">{ Tag or category }</p>
        <h2 class="rvt-callout__title">{ Title should not exceed 32 characters }</h2>
        <div class="rvt-callout__content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aperiam dolorem nisi libero inventore enim dolor, illo aut animi earum, hic sint exercitationem! Cumque, molestias sed. Repellat, accusamus? Tempore, laborum!</p>
        </div>
        <div class="rvt-callout__actions">
          <a href="/#" class="rvt-button rvt-button--outline">{ Lorem ipsum }</a>
          <a href="/#" class="rvt-button">{ Lorem ipsum }</a>
        </div>
      </div>
  </div> #}

  <div class="rvt-contact-info__address">
    <div class="rvt-contact-info__address-eyebrow">Eybrow info</div>
    <h3 class="rvt-contact-info__address-title">Office or program</h3>
    <address class="rvt-contact-info__address-text">
      <div>120 University Blvd.</div>
      <div>Bloomington, IN 47408</div>
      <div>USA</div>
    </address>
  </div>

  <ul class="rvt-contact-info__icon-list">
    <li class="rvt-contact-info__icon-list-item">
      <rvt-icon name="user"></rvt-icon>
      <span><strong>Pronouns</strong>: She/her</span>
    </li>
    <li class="rvt-contact-info__icon-list-item">
      <rvt-icon name="envelope"></rvt-icon>
      <a href="#">info@iu.edu</a>
    </li>
    <li class="rvt-contact-info__icon-list-item">
      <rvt-icon name="phone"></rvt-icon>
      <a href="#">(812) 555-5555</a>
    </li>
    <li class="rvt-contact-info__icon-list-item">
      <rvt-icon name="device"></rvt-icon>
      <a href="#">school.iu.edu</a>
    </li>
    <li class="rvt-contact-info__icon-list-item">
      <rvt-icon name="calendar"></rvt-icon>
      <time>Dec 21, 2024</time>
    </li>
    <li class="rvt-contact-info__icon-list-item [ rvt-items-start ]">
      <rvt-icon name="clock"></rvt-icon>
      <div class="rvt-contact-info__disclosure" data-rvt-disclosure="disclosure-1">
        <button data-rvt-disclosure-toggle aria-expanded="false">Hours</button>
        <div data-rvt-disclosure-target hidden>
          <dl class="rvt-list-description rvt-m-tb-sm">
            <div class="rvt-flex rvt-gap-sm rvt-justify-space-between rvt-width-xxl">
              <dt class="rvt-m-top-none">Monday</dt>
              <dd>9am–5pm</dd>
            </div>
            <div class="rvt-flex rvt-gap-sm rvt-justify-space-between rvt-width-xxl">
              <dt class="rvt-m-top-none">Tuesday</dt>
              <dd>9am–5pm</dd>
            </div>
            <div class="rvt-flex rvt-gap-sm rvt-justify-space-between rvt-width-xxl">
              <dt class="rvt-m-top-none">Wednesday</dt>
              <dd>9am–5pm</dd>
            </div>
            <div class="rvt-flex rvt-gap-sm rvt-justify-space-between rvt-width-xxl">
              <dt class="rvt-m-top-none">Thursday</dt>
              <dd>9am–5pm</dd>
            </div>
            <div class="rvt-flex rvt-gap-sm rvt-justify-space-between rvt-width-xxl">
              <dt class="rvt-m-top-none">Friday</dt>
              <dd>9am–5pm</dd>
            </div>
          </dl>

        </div>
      </div>
    </li>
  </ul>
</div>
