<div class="rvt-hero">
	<div class="rvt-hero__inner">
		<div class="rvt-hero__body">
			<span class="rvt-hero__eyebrow"> {Section title or category} </span>
			<h1 class="rvt-hero__title">
				{Title should not exceed 40 characters or things get weird}
			</h1>
			<div class="rvt-hero__teaser">
				<p>
					{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
					voluptate, tenetur explicabo architecto laborum.}
				</p>
			</div>
			<div class="rvt-hero__actions">
				<a href="/about/#demo-jump-link" class="rvt-button rvt-button--strong"
					>{ In-page link }</a
				>
				<a href="https://google.com" class="rvt-button">{ External link }</a>
			</div>
		</div>

		<div class="rvt-hero__callout">
			<div
				class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-light ]"
			>
				<div class="rvt-card__body">
					<div class="rvt-card__eyebrow">Category</div>
					<h2 class="rvt-card__title">
						<a href="#"
							>{This card title should be concise and should not exceed 78
							characters or 3 lines of text}</a
						>
					</h2>
					<div class="rvt-card__content">
						<p>
							{Try and keep card descriptions brief. One to three short
							sentences will keep the user engaged with your content.}
						</p>
					</div>
				</div>
			</div>
		</div>

		{#
		<div class="rvt-hero__media">
			<img src="https://picsum.photos/id/29/600/400" alt="" />
		</div>
		#}
	</div>
</div>
