<div class="rvt-billboard rvt-border-all">
  <div class="rvt-billboard__image">
    <img src="https://rivet.iu.edu/img/placeholder/billboard-2.webp" alt="Student in vintage-style Indiana University t-shirt">
  </div>
  <div class="rvt-billboard__body">
    <p class="rvt-billboard__eyebrow">{ Feature eyebrow }</p>
    <h2 class="rvt-billboard__title">{ Title should not exceed 32 characters }</h2>
    <div class="rvt-billboard__content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus vero dolore eaque, aut quam, libero vel tempora reiciendis quaerat, ipsa molestiae assumenda est.</p>
      <div class="rvt-flex rvt-gap-md rvt-items-center">
        <a class="rvt-button rvt-button--outline" href="/#">{ Lorem Ipsum }</a>
        <a class="rvt-button" href="/#">{ Lorem Ipsum }</a>
      </div>
    </div>
  </div>
</div>