<div class="rvt-hero rvt-hero--feature">
	<div class="rvt-hero__body">
		<div class="rvt-hero__eyebrow">Give</div>
		<h1 class="rvt-hero__title">Donors change lives</h1>
		<p class="rvt-hero__teaser">
			Enable students to travel abroad and benefit from personalized mentorship
			from our faculty. Join the Kokomo Experience and You programs, and allow
			students to utilize available scholarships. Your support makes these
			opportunities possible, and we truly appreciate it.
		</p>
		<div class="rvt-hero__actions">
			<a href="/" class="rvt-button rvt-button--cta rvt-button--strong">
				Give now
			</a>
			<a href="/" class="rvt-button rvt-button--cta"> More info </a>
		</div>
	</div>
	<figure class="rvt-hero__figure">
		<img
			src="https://picsum.photos/id/10/1600/800"
			alt="This image can have alt text now"
		/>
	</figure>
	<div class="rvt-hero__list-hub">{% include "demos/demo-list-hub.njk" %}</div>
</div>
