<div class="rvt-hero rvt-hero--profile">
	<div class="rvt-hero__avatar">
		<div class="rvt-avatar rvt-avatar--md">
			<img
				class="rvt-avatar__image"
				src="https://rivet.iu.edu/img/placeholder/avatar-1.webp"
				alt=""
			/>
		</div>
		<a href="#" class="rvt-button rvt-button--small rvt-button--icon-only">
			<rvt-icon name="download"></rvt-icon>
			<span class="rvt-sr-only">Download avatar image</span>
		</a>
	</div>
	<div class="rvt-hero__body">
		<div class="rvt-hero__eyebrow">Faculty</div>
		<h1 class="rvt-hero__title">Ava Carter</h1>
		<p class="rvt-hero__subtitle">PhD, MA</p>
		<p class="rvt-hero__teaser">Assistant Professor of Sports Marketing</p>
		<div class="rvt-hero__actions">
			<a
				href="https://mediaschool.indiana.edu"
				class="rvt-button rvt-button--cta rvt-button--strong"
				>Read publications</a
			>
		</div>
	</div>
</div>
