<div class="rvt-hero">
	<div class="rvt-hero__body">
		<div class="rvt-hero__eyebrow">Campus Life</div>
		<h1 class="rvt-hero__title">There's an IU for you</h1>
		<p class="rvt-hero__teaser">
			A classic college experience with 750+ student organizations, a
			small-campus environment close to home, a flexible online degree you can
			earn from anywhere, and more. Whatever your ideal college experience looks
			like, IU has it.
		</p>
		<div class="rvt-hero__actions">
			<a href="/" class="rvt-button rvt-button--cta rvt-button--strong"
				>Apply to IU</a
			>
			<a href="/" class="rvt-button rvt-button--cta">Visit IU</a>
		</div>
	</div>
	<div class="rvt-hero__callout">
		<div class="rvt-card rvt-card--raised rvt-card--clickable">
			<div class="rvt-card__body">
				<div class="rvt-card__eyebrow">Mental Health</div>
				<h2 class="rvt-card__title">
					<a href="#">Supporting your mental health</a>
				</h2>
				<div class="rvt-card__content">
					<p>
						Life can be overwhelming at times. No matter how you're feeling, IU
						offers mental health resources to support you.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
