<div class="rvt-list-hub">
	<h2 class="rvt-list-hub__title">In this section</h2>
	<ul class="rvt-list-hub__list">
		<li class="rvt-list-hub__item">
			<a class="rvt-list-hub__link" href="#"> Learn more </a>
		</li>
		<li class="rvt-list-hub__item">
			<a class="rvt-list-hub__link" href="/"> Explore all support options </a>
		</li>
		<li class="rvt-list-hub__item">
			<a class="rvt-list-hub__link" href="/"> Explore diving societies </a>
		</li>
		<li class="rvt-list-hub__item">
			<a class="rvt-list-hub__link" href="/"> Contact Advancement staff </a>
		</li>
		<li class="rvt-list-hub__item">
			<a class="rvt-list-hub__link" href="https://iufoundation.iu.edu">
				Explore the IU Foundation
			</a>
		</li>
	</ul>
</div>
