<div class="rvt-hero rvt-hero--media-hub">
  <div class="rvt-hero__inner">

    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow">
        <nav role="navigation" aria-label="Breadcrumbs">
          <ol class="rvt-breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tier two</a></li>
            <li aria-current="page">Tier three</li>
          </ol>
        </nav>
      </span>
      <h1 class="rvt-hero__title">{Title should not exceed 40 characters}</h1>
      <div class="rvt-hero__teaser">
        <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptate, tenetur explicabo architecto laborum.}</p>
      </div>
    </div>

    <div class="rvt-hero__actions">
      <a href="/#" class="rvt-button rvt-button--solid">Discover careers</a>
      <a href="/#" class="rvt-button rvt-button--outline">See all degrees</a>
    </div>

    <div class="rvt-hero__quick-links rvt-theme-crimson">
      {% include "demos/demo-list-hub.njk" %}
    </div>

    <figure class="rvt-hero__media">
      <img src="https://picsum.photos/id/66/1200/800" alt="">
    </figure>

    <!-- This should be its own reusable component outside the hero -->

  </div>
</div>