<div class="rvt-rich-text">
	<h2>Related content</h2>
</div>
<div class="rvt-grid rvt-grid--2 [ rvt-m-top-md ]">
	<div class="rvt-card">
		<div class="rvt-card__body">
			<div class="rvt-card__eyebrow">{Tag or Category}</div>
			<h2 class="rvt-card__title">
				<a href="#"
					>{This card title should be concise and should not exceed 78
					characters or 3 lines of text}</a
				>
			</h2>
		</div>
	</div>
	<div class="rvt-card">
		<div class="rvt-card__body">
			<div class="rvt-card__eyebrow">{Tag or Category}</div>
			<h2 class="rvt-card__title">
				<a href="#"
					>{This card title should be concise and should not exceed 78
					characters or 3 lines of text}</a
				>
			</h2>
		</div>
	</div>
</div>
