<div class="rvt-hero rvt-hero--profile">
	<div class="rvt-hero__inner">
		<div class="rvt-hero__profile-image">
			<div class="rvt-avatar rvt-avatar--xl">
				<img
					class="rvt-avatar__image"
					src="https://rivet.iu.edu/img/placeholder/avatar-1.webp"
					alt=""
				/>
			</div>
		</div>
		<div class="rvt-hero__body">
			<span class="rvt-hero__eyebrow"> {Optional Eyebrow Lable} </span>
			<h1 class="rvt-hero__title">{First and Last Name}</h1>
			<p class="rvt-hero__subtitle">{Name of Credentials, PhD}</p>
			<div class="rvt-hero__teaser">
				<p>{Title, Unit or School}</p>
			</div>
			<div class="rvt-hero__actions">
				<a href="/#" class="rvt-button rvt-button--strong">Discover careers</a>
				<a href="/#" class="rvt-button rvt-button--outline">Discover careers</a>
			</div>
		</div>
	</div>
</div>
