<div class="rvt-factoid">
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Phone:</div>
		<div class="rvt-factoid__content">{(317) 222-1111}</div>
	</div>
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Email:</div>
		<div class="rvt-factoid__content">
			<a href="#">{example@iu.edu}</a>
		</div>
	</div>
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Location or Campus:</div>
		<div class="rvt-factoid__content">
			{000 University Blvd, Indianapolis, IN 46202}
		</div>
	</div>
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Office Hours or Room:</div>
		<div class="rvt-factoid__content">{M–F 9:00am–5pm}</div>
	</div>
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Pronouns:</div>
		<div class="rvt-factoid__content">{They/Them}</div>
	</div>
	<div class="rvt-factoid__item">
		<div class="rvt-factoid__label">Social:</div>
		<div class="rvt-factoid__content">
			{#
			<ul class="rvt-flex rvt-flex-row rvt-wrap rvt-gap-xs rvt-list-plain">
				<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
				<li class="rvt-badge rvt-badge--secondary">{Lorem Ipsum}</li>
				<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
				<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
			</ul>
			#}
			<ul class="rvt-flex rvt-flex-row rvt-wrap rvt-gap-xs rvt-list-plain">
				<li>
					<a href="#" class="rvt-social-link rvt-social-link--bluesky">
						<span class="rvt-sr-only">Bluesky</span>
					</a>
				</li>
				<li>
					<a href="#" class="rvt-social-link rvt-social-link--facebook">
						<span class="rvt-sr-only">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#" class="rvt-social-link rvt-social-link--instagram">
						<span class="rvt-sr-only">Instagram</span>
					</a>
				</li>
				<li>
					<a href="#" class="rvt-social-link rvt-social-link--linkedin">
						<span class="rvt-sr-only">LinkedIn</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
