<div class="rvt-list-hub">
  <h2 class="rvt-list-hub__title">From news.iu.edu</h2>
  <ul class="rvt-list-hub__list">
    <li class="rvt-list-hub__item">
      <span class="rvt-list-hub__eyebrow">Tag or Category</span>
      <a class="rvt-list-hub__link" href="/test">
        Article title will probably be quite long coming from the LiveWhale API
      </a>
      <div class="rvt-list-hub__content">
        <p>Story description or teaser if available. This are of a List Hub item supports basic WYSIWYG-like content.</p>
        {# <p><strong>Tags:</strong></p>
        <ul class="rvt-list-reset rvt-flex rvt-gap-sm rvt-m-top-sm">
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
        </ul> #}
        <div class="rvt-flex rvt-wrap rvt-gap-md rvt-m-top-md">
          <a href="/" class="rvt-button">List CTA</a>
          <a href="https://google.com" class="rvt-button rvt-button--plain">Inline cta</a>
        </div>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <span class="rvt-list-hub__eyebrow">Tag or Category</span>
      <a class="rvt-list-hub__link" href="https://google.com">
        Article title will probably be quite long coming from the LiveWhale API
      </a>
      <div class="rvt-list-hub__content">
        <p>Story description or teaser if available. This are of a List Hub item supports basic WYSIWYG-like content.</p>
        <p><strong>Tags:</strong></p>
        <ul class="rvt-list-reset rvt-flex rvt-gap-sm rvt-m-top-sm">
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <span class="rvt-list-hub__eyebrow">Tag or Category</span>
      <a class="rvt-list-hub__link" href="#">
        Article title will probably be quite long coming from the LiveWhale API
      </a>
      <div class="rvt-list-hub__content">
        <p>Story description or teaser if available. This are of a List Hub item supports basic WYSIWYG-like content.</p>
        <p><strong>Tags:</strong></p>
        <ul class="rvt-list-reset rvt-flex rvt-gap-sm rvt-m-top-sm">
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
          <li>
            <span class="rvt-badge rvt-badge--secondary">{Tag Lorem 1}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>