<div class="rvt-media-hub">
  <figure class="rvt-media-hub__media">
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/44/600/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/23/600/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/19/600/400" alt="">
    </div>
  </figure>
</div>