<div class="rvt-hero rvt-hero--split">
  <div class="rvt-hero__inner">
    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow [ rvt-text-uppercase rvt-font-mono ]">
        Cost and Finincial Aid
      </span>
      <h1 class="rvt-hero__title">Find your perfect scholarship opportunity</h1>
      <div class="rvt-hero__teaser">
        <p>{ Intro body copy should not exceed one concise paragraph. }</p>
      </div>
      <div class="rvt-hero__actions ">
        <a href="/#" class="rvt-button rvt-button--solid">Learn more</a>
        <a href="/#" class="rvt-button rvt-button--outline">Learn even more</a>
      </div>
    </div>
    <div class="rvt-hero__media">
      <img src="https://picsum.photos/id/29/800/800" alt="">
    </div>
  </div>
</div>