---
tags: footer
title: Footer with resource links
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 3
---

{% include "demos/demo-footer-resources.njk" %} {% include
"demos/demo-footer-base.njk" %}
