---
tags: footer
title: Footer with social icons
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 4
---

{% include "demos/demo-footer-social.njk" %}
{% include "demos/demo-footer-base.njk" %}
