---
tags: footer
title: Base footer
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 1
classes: rvt-theme-light
---

{% include "demos/demo-footer-base.njk" %}
