---
tags: footer
title: Footer all
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 5
---

{% include "demos/demo-footer-social.njk" %} {% include
"demos/demo-footer-resources.njk" %} {% include "demos/demo-footer-base.njk" %}
