@use '../core' as *;

.#{$prefix}-stat {
  text-decoration: none;
  transition: all .2s ease;
  background-color: $color-white-base;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $color-crimson-base;

  &[href]:hover {
    transform: scale(1.1);
    box-shadow: $shadow-base;
    color: $color-crimson-base;
    border-radius: $spacing-xs;
  }

  &__content {
    text-align: center;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__number {
    font-size: $ts-41;
    font-weight: $font-weight-bold;
    line-height: 1.2;
  }

  &__description {
    font-weight: $font-weight-bold;

    --flow-space: 0;
  }
}
