@use '../core' as *;

.#{$prefix}-stat {
  color: var(--rvt-theme-text);
  text-decoration: none;
  transition: all .2s ease;
  background-color: var(--rvt-theme-bg);
  display: flex;
  justify-content: center;
  padding: $spacing-xl $spacing-md;

  &[href]:hover {
    transform: scale(1.1);
    box-shadow: $shadow-heavy;
    color: var(--theme-accent);
    border-radius: $spacing-xs;
  }

  &[href]:focus {
    transition: none;
  }

  &__content {
    text-align: center;
    font-family: $font-mono;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__image + * {
    margin-top: $spacing-md;
  }

  &__number {
    font-size: $ts-41;
    line-height: $line-height-tight;
    font-family: $font-mono;
    font-weight: $font-weight-bold;
    color: var(--rvt-theme-accent-title);
  }

  &__description {
    color: var(--rvt-theme-accent-title);
    font-size: $ts-14;
    letter-spacing: .025rem;
  }
}

@include mq($breakpoint-md) {
  .#{$prefix}-stat {
    padding: $spacing-xxl $spacing-xl;
  }
}
