---
tags: dropdown
title: Dropdown with buttons
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 4
---
<div class="rvt-dropdown" data-rvt-dropdown="dropdownButtons">
  <button type="button" class="rvt-button" data-rvt-dropdown-toggle="dropdownButtons" aria-haspopup="true" aria-expanded="false">
    <span class="rvt-dropdown__toggle-text">Dropdown with buttons</span>
    <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
    </svg>
  </button>
  <div class="rvt-dropdown__menu" id="dropdownButtons" role="menu" hidden data-rvt-dropdown-menu>
    <button type="button" role="menuitemradio">
      <span>Notify all</span>
    </button>
    <button type="button" aria-checked="true" role="menuitemradio">
      <span>Notify admins</span>
    </button>
    <button type="button" role="menuitemradio">
      <span>Notify contributors</span>
    </button>
    <div role="group" aria-label="Personal settings">
      <button type="button" role="menuitem">
        <span>Dark mode</span>
      </button>
      <button type="button" role="menuitem">
        <span>Sign out</span>
      </button>
    </div>
  </div>
</div>