---
tags: dropdown
title: Right-aligned dropdown
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-dropdown" data-rvt-dropdown="dropdownRight">
  <button type="button" class="rvt-button" data-rvt-dropdown-toggle="dropdownRight" aria-expanded="false">
    <span class="rvt-dropdown__toggle-text">Right-aligned dropdown menu</span>
    <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
    </svg>
  </button>
  <div class="rvt-dropdown__menu rvt-dropdown__menu--right" id="dropdownRight" hidden data-rvt-dropdown-menu>
    <a href="#">Item one</a>
    <a href="#" aria-current="page">Item two</a>
    <a href="#">Item three</a>
  </div>
</div>
