---
title: News Card - Image
---

{% import 'macros/card.njk' as macros %}

<ul class="rvt-list-plain">
	<li>
		{{ macros.NewsCard(type = 'image') }}
	</li>
	<li>
		{{ macros.NewsCard(type = 'image') }}
	</li>
	<li>
		{{ macros.NewsCard(type = 'image') }}
	</li>
</ul>
