---
title: News Card - Plain
---

{% import 'macros/card.njk' as macros %}

<ul class="rvt-list-plain">
	<li>
		{{ macros.NewsCard() }}
	</li>
	<li>
		{{ macros.NewsCard() }}
	</li>
	<li>
		{{ macros.NewsCard() }}
	</li>
</ul>
