---
title: Secondary Button
---

<div class="rvt-button-group">
	<button class="rvt-button rvt-button--secondary">Secondary</button>
	<button class="rvt-button rvt-button--success-secondary">Success</button>
	<button class="rvt-button rvt-button--danger-secondary">Danger</button>
</div>
