---
title: Call-to-Action Button
---

<div class="rvt-button-group">
	<a href="#" class="rvt-button rvt-button--strong">In-page solid link</a>
	<a href="/" class="rvt-button rvt-button--strong">Internal solid link</a>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--strong"
		>External solid link</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small rvt-button--strong"
		>In-page small solid link</a
	>
	<a href="/" class="rvt-button rvt-button--small rvt-button--strong"
		>Internal small solid link</a
	>
	<a
		href="https://rivet.iu.edu"
		class="rvt-button rvt-button--small rvt-button--strong"
		>External small solid link</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button">In-page outline link</a>
	<a href="/" class="rvt-button">Internal outline link</a>
	<a href="https://rivet.iu.edu" class="rvt-button">External outline link</a>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small"
		>In-page small outline link</a
	>
	<a href="/" class="rvt-button rvt-button--small"
		>Internal small outline link</a
	>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--small"
		>External small outline link</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--text">In-page text link</a>
	<a href="/" class="rvt-button rvt-button--text">Internal text link</a>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--text"
		>External text link</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small rvt-button--text"
		>In-page small text link</a
	>
	<a href="/" class="rvt-button rvt-button--small rvt-button--text"
		>Internal small text link</a
	>
	<a
		href="https://rivet.iu.edu"
		class="rvt-button rvt-button--small rvt-button--text"
		>External small text link</a
	>
</div>
