---
title: Tag Button
---

<div class="rvt-button-group">
	<a href="#" class="rvt-button rvt-button--tag">Link tag</a>
	<a href="#" class="rvt-button rvt-button--tag">
		<rvt-icon name="plus"></rvt-icon>
		Link icon tag
	</a>
	<a href="#" class="rvt-button rvt-button--tag rvt-button--icon-only">
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Icon link tag</span>
	</a>
	<a href="#" class="rvt-button rvt-button--tag rvt-button--dismissable">
		<span class="rvt-sr-only">Remove</span>
		Dismissable link tag
	</a>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button class="rvt-button rvt-button--tag">Button tag</button>
	<button type="button" class="rvt-button rvt-button--tag">
		<rvt-icon name="plus"></rvt-icon>
		Icon button tag
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--tag rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Icon button tag</span>
	</button>
	<button class="rvt-button rvt-button--tag rvt-button--dismissable">
		<span class="rvt-sr-only">Remove</span>
		Dismissable button tag
	</button>
	<button type="button" class="rvt-button rvt-button--tag" aria-pressed="true">
		Pressed button tag
	</button>
</div>
