---
title: Full-width Button
---

<div class="rvt-button-group">
	<button class="rvt-button rvt-button--strong rvt-button--full-width">
		Submit
	</button>
	<button class="rvt-button rvt-button--full-width">Cancel</button>
</div>
