---
title: Call-to-Action Button
---

<div class="rvt-button-group">
	<a href="#" class="rvt-button rvt-button--strong">In-page strong CTA</a>
	<a href="/" class="rvt-button rvt-button--strong">Internal strong CTA</a>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--strong"
		>External strong CTA</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small rvt-button--strong"
		>In-page small strong CTA</a
	>
	<a href="/" class="rvt-button rvt-button--small rvt-button--strong"
		>Internal small strong CTA</a
	>
	<a
		href="https://rivet.iu.edu"
		class="rvt-button rvt-button--small rvt-button--strong"
		>External small strong CTA</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button">In-page normal CTA</a>
	<a href="/" class="rvt-button">Internal normal CTA</a>
	<a href="https://rivet.iu.edu" class="rvt-button">External normal CTA</a>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small"
		>In-page small normal CTA</a
	>
	<a href="/" class="rvt-button rvt-button--small"
		>Internal small normal CTA</a
	>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--small"
		>External small normal CTA</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--subtle">In-page subtle CTA</a>
	<a href="/" class="rvt-button rvt-button--subtle">Internal subtle CTA</a>
	<a href="https://rivet.iu.edu" class="rvt-button rvt-button--subtle"
		>External subtle CTA</a
	>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<a href="#" class="rvt-button rvt-button--small rvt-button--subtle"
		>In-page small subtle CTA</a
	>
	<a href="/" class="rvt-button rvt-button--small rvt-button--subtle"
		>Internal small subtle CTA</a
	>
	<a
		href="https://rivet.iu.edu"
		class="rvt-button rvt-button--small rvt-button--subtle"
		>External small subtle CTA</a
	>
</div>
