---
title: Default Button
---

<div class="rvt-button-group">
	<button type="button" class="rvt-button rvt-button--strong">
		Strong button
	</button>
	<button type="button" class="rvt-button rvt-button--strong">
		<rvt-icon name="plus"></rvt-icon>
		Strong icon button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--strong rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Strong icon button</span>
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--strong"
		aria-pressed="true"
	>
		Pressed strong button
	</button>
	<button type="button" class="rvt-button rvt-button--strong" disabled>
		Disabled strong button
	</button>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button type="button" class="rvt-button rvt-button--small rvt-button--strong">
		Small strong button
	</button>
	<button type="button" class="rvt-button rvt-button--small rvt-button--strong">
		<rvt-icon name="plus"></rvt-icon>
		Small strong icon button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--strong rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Small strong icon button</span>
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--strong"
		aria-pressed="true"
	>
		Pressed small strong button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--strong"
		disabled
	>
		Disabled small strong button
	</button>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button type="button" class="rvt-button">Normal button</button>
	<button type="button" class="rvt-button">
		<rvt-icon name="plus"></rvt-icon>
		Normal icon button
	</button>
	<button type="button" class="rvt-button rvt-button--icon-only">
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Normal icon button</span>
	</button>
	<button type="button" class="rvt-button" aria-pressed="true">
		Pressed normal button
	</button>
	<button type="button" class="rvt-button" disabled>
		Disabled normal button
	</button>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button type="button" class="rvt-button rvt-button--small">
		Small normal button
	</button>
	<button type="button" class="rvt-button rvt-button--small">
		<rvt-icon name="plus"></rvt-icon>
		Small normal icon button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Small normal icon button</span>
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small"
		aria-pressed="true"
	>
		Pressed small normal button
	</button>
	<button type="button" class="rvt-button rvt-button--small" disabled>
		Disabled small normal button
	</button>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button type="button" class="rvt-button rvt-button--subtle">Subtle button</button>
	<button type="button" class="rvt-button rvt-button--subtle">
		<rvt-icon name="plus"></rvt-icon>
		Subtle icon button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--subtle rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Subtle icon button</span>
	</button>
	<button type="button" class="rvt-button rvt-button--subtle" aria-pressed="true">
		Pressed subtle button
	</button>
	<button type="button" class="rvt-button rvt-button--subtle" disabled>
		Disabled subtle button
	</button>
</div>

<div class="rvt-button-group rvt-m-top-md">
	<button type="button" class="rvt-button rvt-button--small rvt-button--subtle">
		Small subtle button
	</button>
	<button type="button" class="rvt-button rvt-button--small rvt-button--subtle">
		<rvt-icon name="plus"></rvt-icon>
		Small subtle icon button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--subtle rvt-button--icon-only"
	>
		<rvt-icon name="plus"></rvt-icon>
		<span class="rvt-sr-only">Small subtle icon button</span>
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--subtle"
		aria-pressed="true"
	>
		Pressed small subtle button
	</button>
	<button
		type="button"
		class="rvt-button rvt-button--small rvt-button--subtle"
		disabled
	>
		Disabled small subtle button
	</button>
</div>
