---
tags: flex
title: Evenly spaced items
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-flex">
  <div class="rvt-grow-1 rvt-items-center rvt-bg-blue-100 rvt-m-right-sm">
    <div>Item One</div>
  </div>
  <div class="rvt-grow-1 rvt-items-center rvt-bg-blue-100 rvt-m-right-sm">
    <div>Item Two</div>
  </div>
  <div class="rvt-grow-1 rvt-items-center rvt-bg-blue-100 rvt-m-right-sm">
    <div>Item Three</div>
  </div>
  <div class="rvt-grow-1 rvt-items-center rvt-bg-blue-100 rvt-m-right-sm">
    <div>Item Four</div>
  </div>
  <div class="rvt-grow-1 rvt-items-center rvt-bg-blue-100 rvt-m-right-sm">
    <div>Item Five</div>
  </div>
</div>