---
tags: flex
title: Large left item
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-flex">
  <div class="rvt-grow-1 rvt-items-center rvt-bg-green-100 rvt-m-right-sm">
    <div>Item One</div>
  </div>
  <div class="rvt-items-center rvt-bg-blue-100">
    <div>Item Two</div>
  </div>
</div>