---
tags: flex
title: Space between items
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-flex rvt-justify-space-between">
  <div class="rvt-bg-blue-100">Item one</div>
  <div class="rvt-bg-blue-100">Item two</div>
  <div class="rvt-bg-blue-100">Item three</div>
</div>