<header class="rvt-header" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <!-- Trident -->
    <div class="rvt-header__trident">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="70" viewBox="0 0 60 70" aria-labelledby="iu-logo">
            <title id="iu-logo">Indiana University</title>
            <rect width="60" height="70" fill="#900" />
            <polygon points="35.96 18.44 35.96 21.84 38.52 21.84 38.52 40.51 33.41 40.51 33.41 15.9 35.96 15.9 35.96 12.5 24.04 12.5 24.04 15.9 26.58 15.9 26.58 40.51 21.48 40.51 21.48 21.84 24.04 21.84 24.04 18.44 12.09 18.44 12.09 21.84 14.65 21.84 14.65 43.79 18.72 48.15 26.58 48.15 26.58 53.26 24.04 53.26 24.04 57.5 35.96 57.5 35.96 53.26 33.41 53.26 33.41 48.15 40.93 48.15 45.33 43.79 45.33 21.84 47.91 21.84 47.91 18.44 35.96 18.44"
                fill="#fff" />
        </svg>
    </div>
    <!-- App title -->
    <span class="rvt-header__title">
        <a href="#0">Application Title</a>
    </span>
    <!-- Wrapper for header interactive elements -->
    <div class="rvt-header__controls">
        <!-- Main inline nav element -->
        <nav class="rvt-header__main-nav" role="navigation">
            <ul>
                <li><a href="#0">Nav one</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown__trigger" href="#0" data-dropdown-trigger="dropdown-1" aria-haspopup="true" aria-expanded="false">
                            Nav two
                        </a>
                        <div class="dropdown__menu" id="dropdown-1" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
                <li><a href="#0">Nav three</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown__trigger" href="#0" data-dropdown-trigger="dropdown-2" aria-haspopup="true" aria-expanded="false">
                            Nav four
                        </a>
                        <div class="dropdown__menu" id="dropdown-2" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- ID menu w/ dropdown -->
        <div class="rvt-header-id">
            <div class="dropdown">
                <a href="#0" class="rvt-header-id__profile rvt-header-id__profile--has-dropdown dropdown__trigger" data-dropdown-trigger="id-dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                    <span class="rvt-header-id__user">rswanson</span>
                </a>
                <div class="dropdown__menu dropdown__menu--right" id="id-dropdown" aria-hidden="true">
                    <a href="#">Account settings</a>
                    <a href="#">Admin task one</a>
                    <a href="#">Admin task two</a>
                    <a href="">Log out</a>
                </div>
            </div>
        </div>
        <!-- Drawer close button - shows on small screens -->
        <button class="rvt-drawer-button" aria-haspopup="true" aria-expanded="false" data-drawer-trigger="mobile-drawer">
            <span class="sr-only">Menu</span>
            <svg class="rvt-drawer-button-open" aria-labelledby="open-icon" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                <title id="open-icon">Open</title>
                <g>
                    <line x1="24.5" y1="25.38" x2="45.5" y2="25.38" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    <line x1="24.5" y1="35" x2="45.5" y2="35" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    <line x1="24.5" y1="44.62" x2="45.5" y2="44.62" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                </g>
            </svg>
            <svg class="rvt-drawer-button-close" aria-labelledby="close-icon" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                <title id="close-icon">Close</title>
                <line x1="27.58" y1="27.58" x2="42.42" y2="42.42" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                <line x1="42.42" y1="27.58" x2="27.58" y2="42.42" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
            </svg>
        </button>
    </div>
    <!--
        Drawer - small screens only
        NOTE: If we are going to give people the option to use the drawer
        on desktop as well, a combo of duplicating markup and showing/hiding
        is probably the best way to handle that kind of flexibility.
        We'll just need to be clear about it in the documentation.
    -->
    <div class="rvt-drawer" aria-hidden="true" id="mobile-drawer">
        <!-- Drawer nav -->
        <nav class="rvt-drawer__nav" role="navigation">
            <ul>
                <li class="has-children">
                    <a href="#0" class="rvt-header-id__profile rvt-header-id__profile--drawer" data-subnav-trigger="subnav-id" aria-haspopup="true" aria-expanded="false">
                        <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                        <span class="rvt-header-id__user rvt-header-id__user--has-dropdown">rswanson</span>
                    </a>
                    <ul id="subnav-id" aria-hidden="true">
                        <li><a href="#">Account settings</a></li>
                        <li><a href="#">Admin task one</a></li>
                        <li><a href="#">Admin task two</a></li>
                        <li><a href="">Log out</a></li>
                    </ul>
                </li>
                <li><a href="#0">Nav one</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-1" aria-haspopup="true" aria-expanded="false">Nav two</a>
                    <ul id="subnav-1" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
                <li><a href="#0">Nav three</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-2" aria-haspopup="true" aria-expanded="false">Nav four</a>
                    <ul id="subnav-2" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
            </ul>
            <a href="javascript:void(0)" class="rvt-drawer__bottom-close">Close nav</a>
        </nav>
    </div>
</header>

<!-- Skip link demo only -->
<main id="main-content" role="main">
    <!-- Main application content... -->
    <div class="ts-46 text-bold">
        <img src="https://www.fillmurray.com/g/400/400" alt="Bill Murray's face">
    </div>
    <style scoped>
        main {
            height: 600px;
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        img {
            display: block;
            opacity: 0;
        }

        main:target img {
            opacity: 1;
        }

        main:target {
            animation-name: skip-animation;
            animation-duration: 1s;
        }

        main > div {
            color: #fff;
        }

        @keyframes skip-animation {
            0% {
                background-color: #fff;
            }

            50% {
                background-color: #990000;
            }

            100% {
                background-color: #fff;
            }
        }
    </style>
</main>
