<header class="rvt-header rvt-header--light" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <!-- Trident -->
    <div class="rvt-header__trident">
        {{> @includes--trident }}
    </div>
    <!-- App title -->
    <span class="rvt-header__title">
        <a href="#0">Application Title</a>
    </span>
    <!-- Wrapper for header interactive elements -->
    <div class="rvt-header__controls">
        <!-- Main inline nav element -->
        <nav class="rvt-header__main-nav">
             <ul>
                <li><a href="#0">Nav one</a></li>
                <li>
                    <div class="rvt-dropdown">
                        <button class="rvt-dropdown__trigger" data-dropdown-trigger="dropdown-1" aria-haspopup="true" aria-expanded="false">
                            <span class="rvt-dropdown__trigger-text">Nav two</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <title>Dropdown icon</title>
                                <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
                            </svg>
                        </button>
                        <div class="rvt-dropdown__menu" id="dropdown-1" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
                <li><a href="#0">Nav three</a></li>
                <li>
                    <div class="rvt-dropdown">
                        <button class="rvt-dropdown__trigger" data-dropdown-trigger="dropdown-2" aria-haspopup="true" aria-expanded="false">
                            <span class="rvt-dropdown__trigger-text">Nav four</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <title>Dropdown icon</title>
                                <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
                            </svg>
                        </button>
                        <div class="rvt-dropdown__menu" id="dropdown-2" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- ID menu w/ dropdown -->
        <div class="rvt-header-id">
            <div class="rvt-dropdown">
                <button class="rvt-dropdown__trigger rvt-header-id__profile rvt-header-id__profile--has-dropdown" data-dropdown-trigger="id-dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                    <span class="rvt-header-id__user">rswanson</span>
                    <svg class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <title>Dropdown icon</title>
                        <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
                    </svg>
                </button>
                <div class="rvt-dropdown__menu rvt-dropdown__menu--right" id="id-dropdown" aria-hidden="true">
                    <a href="#">Account settings</a>
                    <a href="#">Admin task one</a>
                    <a href="#">Admin task two</a>
                    <a href="">Log out</a>
                </div>
            </div>
        </div>
        <!-- Drawer close button - shows on small screens -->
        <button class="rvt-drawer-button" aria-haspopup="true" aria-expanded="false" data-drawer-trigger="mobile-drawer">
            <span class="sr-only">Toggle menu</span>
            {{> @includes--drawer-button }}
        </button>
    </div>
    <!--
        Drawer - small screens only
        NOTE: If we are going to give people the option to use the drawer
        on desktop as well, a combo of duplicating markup and showing/hiding
        is probably the best way to handle that kind of flexibility.
        We'll just need to be clear about it in the documentation.
    -->
    <div class="rvt-drawer" aria-hidden="true" id="mobile-drawer">
        <!-- Drawer nav -->
        <nav class="rvt-drawer__nav">
            <ul>
                <li class="has-children">
                    <a href="#0" class="rvt-header-id__profile rvt-header-id__profile--drawer" data-subnav-trigger="subnav-id" aria-haspopup="true" aria-expanded="false">
                        <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                        <span class="rvt-header-id__user rvt-header-id__user--has-dropdown">rswanson</span>
                    </a>
                    <ul id="subnav-id" aria-hidden="true">
                        <li><a href="#">Account settings</a></li>
                        <li><a href="#">Admin task one</a></li>
                        <li><a href="#">Admin task two</a></li>
                        <li><a href="">Log out</a></li>
                    </ul>
                </li>
                <li><a href="#0">Nav one</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-1" aria-haspopup="true" aria-expanded="false">Nav two</a>
                    <ul id="subnav-1" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
                <li><a href="#0">Nav three</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-2" aria-haspopup="true" aria-expanded="false">Nav four</a>
                    <ul id="subnav-2" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
            </ul>
            <button class="rvt-drawer__bottom-close">Close nav</button>
        </nav>
    </div>
</header>
