<header class="rvt-header" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <div class="rvt-header__trident">
        {{> @includes--trident }}
    </div>
    <span class="rvt-header__title">
        <a href="#0">Application Title</a>
    </span>
    <div class="rvt-header__controls">
        <div class="rvt-header-id">
            <div href="#0" class="rvt-header-id__profile">
                <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                <span class="rvt-header-id__user">rswanson</span>
            </div>
            <a href="#0" class="rvt-header-id__log-out">
                Log out
            </a>
        </div>
        <button class="rvt-drawer-button" aria-haspopup="true" aria-expanded="false" data-drawer-toggle="mobile-drawer">
            <span class="sr-only">Toggle menu</span>
            {{> @includes--drawer-button }}
        </button>
    </div>
    <div class="rvt-drawer" aria-hidden="true" id="mobile-drawer">
        <div class="rvt-header-id rvt-header-id--drawer">
            <div class="rvt-header-id__profile rvt-header-id__profile--drawer p-all-sm">
                <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                <span class="rvt-header-id__user">rswanson</span>
                <a href="#0" class="rvt-header-id__log-out">
                    Log out
                </a>
            </div>
        </div>
        <button class="rvt-drawer__bottom-close">Close nav</button>
    </div>
</header>
