<header class="rvt-header" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <div class="rvt-header__trident">
        {% view "@includes--trident" %}
    </div>
    <span class="rvt-header__title">
        <a href="#0">Application Title</a>
    </span>
</header>
