<header class="rvt-header" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <!-- Trident -->
    <div class="rvt-header__trident">
        {% include "@includes--trident" %}
    </div>
    <!-- App title -->
    <span class="rvt-header__title">
        <a href="#">Application Title</a>
    </span>
    {% include "@includes--header-controls" %} <!-- PROBLEM: The include within this file appears to be too nested -->
    {% include "@includes--drawer" %}
</header>

<script>
    // Tests callbacks and custom events

    var focusToggle = function() {
        var theToggle = document.querySelector('[data-drawer-toggle="mobile-drawer"]');

        theToggle.focus();
    }

    // Press the "d" key
    document.addEventListener('keyup', function(event) {
        if (event.keyCode === 68) {
            Drawer.open('mobile-drawer', focusToggle());
        }
    });

    document.addEventListener('drawerOpen', (event) => {
        console.log('opened from ' + event.detail.name());
    });

    document.addEventListener('drawerClose', (event) => {
        console.log('closed from ' + event.detail.name());
    })
</script>