<header class="rvt-header">
    <!-- Trident -->
    <div class="rvt-header__trident">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" role="img" aria-labelledby="iu-logo">
            <title id="iu-logo">Indiana University</title>
            <polygon fill="#fff" points="10,15 10,18 12,18 12,36 16,40 22,40 22,44 20,44 20,48 30,48 30,44 28,44 28,40 34,40 38,36 38,18 40,18 40,15 30,15 30,18 32,18 32,34 28,34 28,13 30,13 30,10 20,10 20,13 22,13 22,34 18,34 18,18 20,18 20,15 "/>
        </svg>
    </div>
    <!-- App title -->
    <h1 class="rvt-header__title">
        <a href="#0">Application Title</a>
    </h1>
    <!-- Wrapper for header interactive elements -->
    <div class="rvt-header__controls">
        <!-- Main inline nav element -->
        <nav class="rvt-header__main-nav">
             <ul>
                <li><a href="#0">Nav one</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown__trigger" href="#0" data-dropdown-trigger="dropdown-1" aria-role="button">
                            Nav two
                        </a>
                        <div class="dropdown__menu" id="dropdown-1" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
                <li><a href="#0">Nav three</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown__trigger" href="#0" data-dropdown-trigger="dropdown-2" aria-role="button">
                            Nav four
                        </a>
                        <div class="dropdown__menu" id="dropdown-2" aria-hidden="true">
                            <a href="#0">Subnav One</a>
                            <a href="#0">Subnav Two</a>
                            <a href="#0">Subnav Three</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- ID menu w/ dropdown -->
        <div class="rvt-header-id">
            <div class="dropdown">
                <a href="#0" class="rvt-header-id__profile rvt-header-id__profile--has-dropdown" data-dropdown-trigger="id-dropdown" aria-role="button">
                    <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                    <span class="rvt-header-id__user">rswanson</span>
                </a>
                <div class="dropdown__menu dropdown__menu--right" id="id-dropdown" aria-hidden="true">
                    <a href="#">Account settings</a>
                    <a href="#">Admin task one</a>
                    <a href="#">Admin task two</a>
                    <a href="">Log out</a>
                </div>
            </div>
        </div>
        <!-- Drawer close button - shows on small screens -->
        <button class="rvt-drawer-button rvt-drawer-button--persistent" aria-haspopup="true" aria-expanded="false" data-drawer-trigger="desktop">
            <svg class="rvt-drawer-button-open" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                <g>
                    <line x1="24.5" y1="25.38" x2="45.5" y2="25.38" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    <line x1="24.5" y1="35" x2="45.5" y2="35" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                    <line x1="24.5" y1="44.62" x2="45.5" y2="44.62" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                </g>
            </svg>

            <svg class="rvt-drawer-button-close" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
                <line x1="27.58" y1="27.58" x2="42.42" y2="42.42" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
                <line x1="42.42" y1="27.58" x2="27.58" y2="42.42" fill="none" stroke="#333" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
            </svg>
        </button>
    </div>
    <!-- Drawer - small screens only
         NOTE: If we are going to give people the option to use the drawer
         on desktop as well, a combo of duplicating markup and showing/hiding
         is probably the best way to handle that kind of flexibility.
         We'll just need to be clear about it in the documentation. -->
         
    <div class="rvt-drawer rvt-drawer-button--persistent" aria-hidden="true" id="desktop">
        <div class="rvt-header-id rvt-header-id--drawer">
            <div href="#0" class="rvt-header-id__profile" aria-role="button">
                <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
                <span class="rvt-header-id__user">rswanson</span>
            </div>
            <a href="#0" class="rvt-header-id__log-out">
                Log out
            </a>
        </div>
        <!-- Drawer nav -->
        <nav class="rvt-drawer__nav">
            <!-- Need to duplicate the main nav but with drawer
                 subnav markup. -->
            <ul class="hide-on-desktop">
                <li><a href="#0">Main nav one</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-1">Main nav two</a>
                    <ul id="subnav-1" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
                <li><a href="#0">Main nav three</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="subnav-2">Main nav four</a>
                    <ul id="subnav-2" aria-hidden="true">
                        <li><a href="#0">Subnav one</a></li>
                        <li><a href="#0">Subnav two</a></li>
                        <li><a href="#0">Subnav three</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="#0">Drawer item one</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="drawer-item-1">Drawer item two</a>
                    <ul id="drawer-item-1" aria-hidden="true">
                        <li><a href="#0">Drawer subnav one</a></li>
                        <li><a href="#0">Drawer subnav two</a></li>
                        <li><a href="#0">Drawer subnav three</a></li>
                    </ul>
                </li>
                <li><a href="#0">Drawer item three</a></li>
                <li class="has-children">
                    <a href="#0" data-subnav-trigger="drawer-item-2">Drawer item four</a>
                    <ul id="drawer-item-2" aria-hidden="true">
                        <li><a href="#0">Drawer subnav one</a></li>
                        <li><a href="#0">Drawer subnav two</a></li>
                        <li><a href="#0">Drawer subnav three</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script src="{{ path '/js/drawer.js' }}"></script>
<script src="{{ path '/js/dropdown.js' }}"></script>
