<header class="rvt-header rvt-header--light" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <!-- Trident -->
    <div class="rvt-header__trident">
        {% view "@includes--trident" %}
    </div>
    <!-- App title -->
    <span class="rvt-header__title">
        <a href="#0">Application Title</a>
    </span>
     {% view "@includes--header-controls" %}
     {% view "@includes--drawer" %}
</header>