
<header class="rvt-header">
    <div class="rvt-header__trident">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="58" viewBox="0 0 50 58" role="img" aria-labelledby="iu-logo">
            <title id="iu-logo">Indiana University</title>
            <polygon fill="#fff" points="10,15 10,18 12,18 12,36 16,40 22,40 22,44 20,44 20,48 30,48 30,44 28,44 28,40 34,40 38,36 38,18 40,18 40,15 30,15 30,18 32,18 32,34 28,34 28,13 30,13 30,10 20,10 20,13 22,13 22,34 18,34 18,18 20,18 20,15 "/>
        </svg>
    </div>
    <h1 class="rvt-header__title">
        <a href="#0">Application Title</a>
    </h1>
</header>

<script src="{{ path '/js/drawer.js' }}"></script>
<script src="{{ path '/js/dropdown.js' }}"></script>
