<header class="rvt-header" role="banner">
    <a class="rvt-skip-link" href="#main-content">Skip to content</a>
    <!-- Trident -->
    <div class="rvt-header__trident">
        {{> @includes--trident }}
    </div>
    <!-- App title -->
    <span class="rvt-header__title">
        <a href="#">Application Title</a>
    </span>
    {{> @includes--header-controls }}
    {{> @includes--drawer }}
</header>