<div class="rvt-container rvt-container--freshman">
    <form>
        <fieldset class="rvt-m-bottom-xl">
            <legend class="rvt-ts-23 rvt-text-bold rvt-m-bottom-sm">Checkboxes inline</legend>
            <ul class="rvt-inline-list">
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-1" >
                    <label for="checkbox-1">Option one</label>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-2" >
                    <label for="checkbox-2">Option two</label>
                </li>
            </ul>
        </fieldset>
        <fieldset class="rvt-m-bottom-xl">
            <legend class="rvt-ts-23 rvt-text-bold rvt-m-bottom-sm">Checkbox list</legend>
            <ul class="rvt-plain-list">
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-3">
                    <label for="checkbox-3">Option one</label>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-4">
                    <label for="checkbox-4">Option two</label>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-4-disable" disabled>
                    <label for="checkbox-4-disable">Option three disabled</label>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-5" disabled checked>
                    <label for="checkbox-5">Option four checked and disabled</label>
                </li>
            </ul>
            <div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--info">
                <span class="rvt-inline-alert__icon">
                    <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                        <g fill="currentColor">
                            <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z" />
                            <path d="M8,12a1,1,0,0,1-1-1V8A1,1,0,0,1,9,8v3A1,1,0,0,1,8,12Z" />
                            <circle cx="8" cy="5" r="1" />
                        </g>
                    </svg>
                </span>
                <span class="rvt-inline-alert__message" role="alert" id="checkbox-list-message">
                    This option will not be available after this month.
                </span>
            </div>
        </fieldset>
        <fieldset class="rvt-m-bottom-xl">
            <legend class="ts-14 text-uppercase m-bottom-sm">Indeterminate state</legend>
            <ul class="rvt-plain-list">
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-indeterminate">
                    <label for="checkbox-indeterminate">Parent option one</label>
                    <ul class="rvt-plain-list rvt-p-left-lg">
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-6-1" checked>
                            <label for="checkbox-6-1">Child option one</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-6-2">
                            <label for="checkbox-6-2">Child option two</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-7">
                    <label for="checkbox-7">Parent option two</label>
                </li>
                <li>
                    <input type="checkbox" name="checkbox-demo" id="checkbox-8">
                    <label for="checkbox-8">Parent option three</label>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend class="rvt-ts-23 rvt-text-bold">Alternate markup (visually identical)</legend>
            <p>This example includes a hidden input in the markup, as some frameworks require. It requires that the input and label be wrapped in a <code>.rvt-checkbox-wrapper</code>.</p>
            <ul class="rvt-inline-list">
                <li class="rvt-checkbox-wrapper">
                    <input type="checkbox" name="checkbox-demo" id="checkbox-9" >
                    <input type="hidden">
                    <label for="checkbox-9">Option one</label>
                </li>
                <li class="rvt-checkbox-wrapper">
                    <input type="checkbox" name="checkbox-demo" id="checkbox-10" >
                    <input type="hidden">
                    <label for="checkbox-10">Option two</label>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
<script>
    /**
     * Setting indeterminate state for demo purposes here.
     */
    var indCheck = document.querySelector('#checkbox-indeterminate');
    indCheck.indeterminate = true;
</script>