<form>
    <fieldset class="rvt-m-bottom-xl">
        <legend class="ts-14 text-uppercase m-bottom-sm">Checkboxes inline</legend>
        <ul class="rvt-inline-list">
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-1" >
                <label for="checkbox-1" class="m-right-sm">Option one</label>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-2" >
                <label for="checkbox-2">Option two</label>
            </li>
        </ul>
    </fieldset>
    <fieldset class="rvt-m-bottom-xl">
        <legend class="ts-14 text-uppercase m-bottom-sm">Checkbox list</legend>
        <ul class="rvt-plain-list">
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-3">
                <label for="checkbox-3" class="m-right-sm">Option one</label>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-4">
                <label for="checkbox-4">Option two</label>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-4-disable" disabled>
                <label for="checkbox-4-disable">Option three disabled</label>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-5" disabled checked>
                <label for="checkbox-5">Option four checked and disabled</label>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend class="ts-14 text-uppercase m-bottom-sm">Indeterminate state</legend>
        <ul class="rvt-plain-list">
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-indeterminate">
                <label for="checkbox-indeterminate">Parent option one</label>
                <ul class="rvt-plain-list rvt-p-left-lg">
                    <li>
                        <input type="checkbox" name="checkbox-demo" id="checkbox-6-1" checked>
                        <label for="checkbox-6-1">Child option one</label>
                    </li>
                    <li>
                        <input type="checkbox" name="checkbox-demo" id="checkbox-6-2">
                        <label for="checkbox-6-2">Child option two</label>
                    </li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-7">
                <label for="checkbox-7">Parent option two</label>
            </li>
            <li>
                <input type="checkbox" name="checkbox-demo" id="checkbox-8">
                <label for="checkbox-8">Parent option three</label>
            </li>
        </ul>
    </fieldset>
</form>

<script>
    /**
     * Setting indeterminate state for demo purposes here.
     */
    var indCheck = document.querySelector('#checkbox-indeterminate');
    indCheck.indeterminate = true;
</script>