<p class="m-top-remove m-bottom-md ts-14 text-uppercase">Checkboxes inline</p>
<form>
    <ul class="inline-list">
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-1" >
            <label for="checkbox-1" class="m-right-sm">Option One</label>
        </li>
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-2" >
            <label for="checkbox-2">Option Two</label>
        </li>
    </ul>
</form>

<p class="m-top-xl ts-14 text-uppercase">Checkbox list</p>
<form>
    <ul class="plain-list">
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-3">
            <label for="checkbox-3" class="m-right-sm">Option One</label>
        </li>
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-4">
            <label for="checkbox-4">Option Two</label>
        </li>
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-4-disable" disabled>
            <label for="checkbox-4-disable">Option Disabled</label>
        </li>
        <li>
            <input type="checkbox" name="checkbox-demo" id="checkbox-5" disabled checked>
            <label for="checkbox-5">Option Two</label>
        </li>
    </ul>
</form>
