<div class="{% for class in classes %} rvt-container--{{class}}{% endfor %}">
  <div class="rvt-row">
    {% for gridItem in gridItems %}
      <div class="rvt-cols{% if gridItem.modifier -%}{{gridItem.modifier}}{%- endif %}{% for order in gridItem.orders %} {{order.modifier}}{% endfor %}">
        {{ gridItem.content | safe }}
      </div>
    {% endfor %}
  </div>
</div>

<style scoped>
    [class^="rvt-cols"] span {
        display: block;
        background-color: #006298;
        color: white;
        padding: .5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
</style>
