{%- set buttons = [
  {
    title: "Contact us",
    url: "/about/contact.html"
  },
  {
    title: "Give now",
    url: "https://www.myiu.org/give-now?utm_source=iu-edu&amp;utm_medium=referral&amp;utm_campaign=gateways&amp;utm_content=give-now-footer"
  }
] -%}
{%- set categories = [
  {
    title: "Services",
    links: [
      {
        title: "Canvas",
        link: "https://canvas.iu.edu"
      },
      {
        title: "One.IU",
        link: "https://one.iu.edu"
      }
    ]
  },
  {
    title: "Email",
    links: [
      {
        title: "Outlook Web Access",
        link: "https://uits.iu.edu/exchange"
      },
      {
        title: "Gmail at IU",
        link: "https://google.iu.edu"
      }
    ]
  },
  {
    title: "Find",
    links: [
      {
        title: "People Directory",
        link: "https://directory.iu.edu/"
      },
      {
        title: "Jobs at IU",
        link: "https://jobs.iu.edu/"
      },
      {
        title: "Non-discrimination Notice",
        link: "/nondiscrimination/index.html"
      }
    ]
  }
] -%}
<div aria-labelledby="resources-heading" class="rvt-footer-resources" role="complementary">
  <h2 class="rvt-sr-only" id="resources-heading">Additional resources</h2>
  <div class="rvt-container-lg">
    <div class="rvt-row">
      <div class="rvt-cols-3-md">
        <h3 class="rvt-footer-resources__heading">Indiana University</h3>
        <!--
          TODO: Make a better recommendation on how to mark this up.
        -->
        <div class="rvt-footer-resources__text-block">
          107 S. Indiana Avenue
          <br/>
          Bloomington, IN
          <br/>
          47405-7000
        </div>
      </div>
      {% for category in categories %}
        <div class="rvt-cols-3-md">
          <h3 class="rvt-footer-resources__heading">{{ category.title }}</h3>
          <ul class="rvt-footer-resources__list">
            {% for link in category.links %}
              <li class="rvt-footer-resources__list-item">
                <a href="{{ link.link }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</div>