<div class="rvt-header-id">
    <div class="rvt-dropdown">
        <button class="rvt-header-id__profile rvt-header-id__profile--has-dropdown rvt-dropdown__toggle" data-dropdown-toggle="id-dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="rvt-header-id__avatar" aria-hidden="true">RS</span>
            <span class="rvt-header-id__user">rswanson</span>
            <svg role="img" alt="" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
            </svg>
        </button>
        <div class="rvt-dropdown__menu rvt-header-id__menu" id="id-dropdown" aria-hidden="true">
            <a href="#">Account settings</a>
            <a href="#">Admin task one</a>
            <a href="#">Admin task two</a>
            <div role="group" aria-label="User actions">
                <a href="">Log out</a>
            </div>
        </div>
    </div>
</div>