---
title: Hero - Feature
---

<div class="rvt-hero rvt-hero--feature">
	<div class="rvt-hero__eyebrow"> {Section or category} </div>
	<h1 class="rvt-hero__title">{Title should not exceed 16 characters}</h1>
	<div class="rvt-hero__teaser">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at
		possimus quia consequuntur veniam sunt, facilis nemo.
	</div>
	<div class="rvt-hero__actions">
		<a href="/#" class="rvt-button rvt-button--cta rvt-button--strong"
			>Discover careers</a
		>
		<a href="/#" class="rvt-button rvt-button--cta">See all degrees</a>
	</div>
	<figure class="rvt-hero__figure">
		<img
			src="https://picsum.photos/id/10/1600/900"
			alt="This image can have alt text now"
		/>
	</figure>
	<div class="rvt-hero__list-hub">
		<div class="rvt-list-hub">
			<h2 class="rvt-list-hub__title">Quick links</h2>
			<ul class="rvt-list-hub__list">
				<li class="rvt-list-hub__item">
					<a class="rvt-list-hub__link" href="#"> Class profile </a>
				</li>
				<li class="rvt-list-hub__item">
					<a class="rvt-list-hub__link" href="#">
						Normal title length is five
					</a>
				</li>
				<li class="rvt-list-hub__item">
					<a class="rvt-list-hub__link" href="#">
						Normal title length is five
					</a>
				</li>
				<li class="rvt-list-hub__item">
					<a class="rvt-list-hub__link" href="#">
						Normal title length is five
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
