---
title: Hero - Statement
---

<div class="rvt-hero rvt-hero--statement">
	<div class="rvt-hero__eyebrow">{Section or category}</div>
	<h1 class="rvt-hero__title">Fueling your future today</h1>
	<div class="rvt-hero__teaser">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at possimus
		quia consequuntur veniam sunt, facilis nemo.
	</div>
	<div class="rvt-hero__actions">
		<a href="/#" class="rvt-button rvt-button--cta rvt-button--strong"
			>Discover careers</a
		>
		<a href="/#" class="rvt-button rvt-button--cta">See all degrees</a>
	</div>
	<figure class="rvt-hero__figure">
		<img
			src="https://picsum.photos/id/10/1600/800"
			alt="This image can have alt text now"
		/>
		<div
			class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-crimson ]"
		>
			<div class="rvt-card__sticker">
				<rvt-sticker name="megaphone" theme="crimson" size="sm"></rvt-sticker>
			</div>
			<div class="rvt-card__body">
				<div class="rvt-card__eyebrow">Category</div>
				<h2 class="rvt-card__title">
					<a href="#">
						{This card title should be concise and should not exceed 78
						characters or 3 lines of text}
					</a>
				</h2>
			</div>
		</div>
	</figure>
	<figure class="rvt-hero__figure">
		<div class="rvt-hero__images">
			<img
				src="https://picsum.photos/id/10/800/800"
				alt="This image can have alt text now"
			/>
			<img
				src="https://picsum.photos/id/11/800/800"
				alt="This image can have alt text now"
			/>
		</div>
		<div
			class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-crimson ]"
		>
			<div class="rvt-card__sticker">
				<rvt-sticker name="megaphone" theme="crimson" size="sm"></rvt-sticker>
			</div>
			<div class="rvt-card__body">
				<div class="rvt-card__eyebrow">Category</div>
				<h2 class="rvt-card__title">
					<a href="#">
						{This card title should be concise and should not exceed 78
						characters or 3 lines of text}
					</a>
				</h2>
			</div>
		</div>
	</figure>
	<figure class="rvt-hero__figure">
		<div class="rvt-hero__images">
			<img
				src="https://picsum.photos/id/10/800/800"
				alt="This image can have alt text now"
			/>
			<img
				src="https://picsum.photos/id/11/800/800"
				alt="This image can have alt text now"
			/>
			<img
				src="https://picsum.photos/id/12/800/800"
				alt="This image can have alt text now"
			/>
		</div>
		<div
			class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-theme-crimson ]"
		>
			<div class="rvt-card__sticker">
				<rvt-sticker name="megaphone" theme="crimson" size="sm"></rvt-sticker>
			</div>
			<div class="rvt-card__body">
				<div class="rvt-card__eyebrow">Category</div>
				<h2 class="rvt-card__title">
					<a href="#">
						{This card title should be concise and should not exceed 78
						characters or 3 lines of text}
					</a>
				</h2>
			</div>
		</div>
	</figure>
</div>
