---
title: Hero - Split
---

<div class="rvt-hero rvt-hero--split">
	<div class="rvt-hero__eyebrow"> {Section or category} </div>
	<h1 class="rvt-hero__title">Become the best version of yourself at IU</h1>
	<div class="rvt-hero__teaser">
		Develop the skills you need for a rewarding career, and follow in the
		footsteps of more than 729,000 IU alumni who are leading
		organizations, innovating the future, and making an impact on their
		communities and the world.
	</div>
	<div class="rvt-hero__actions">
		<a href="/#" class="rvt-button rvt-button--cta rvt-button--strong"
			>Discover careers</a
		>
		<a href="/#" class="rvt-button rvt-button--cta">See all degrees</a>
	</div>
	<figure class="rvt-hero__figure">
		<img src="https://picsum.photos/id/19/400/600" alt="" />
		<figcaption>Golden tree</figcaption>
	</figure>
	<div class="rvt-hero__list-hub">
		{% include "demos/demo-list-hub.njk" %}
	</div>
</div>
