---
title: Hero - Profile
---

<div class="rvt-hero rvt-hero--profile">
	<div class="rvt-hero__inner">
		<div class="rvt-hero__profile-image">
			<div class="rvt-avatar rvt-avatar--xl">
				<img
					class="rvt-avatar__image"
					src="https://rivet.iu.edu/img/placeholder/avatar-1.webp"
					alt=""
				/>
			</div>
		</div>
		<div class="rvt-hero__body">
			<div class="rvt-hero__eyebrow"> {Optional Eyebrow Label} </div>
			<h1 class="rvt-hero__title">{First and Last Name}</h1>
			<div class="rvt-hero__subtitle">{Name of Credentials, PhD}</div>
			<div class="rvt-hero__teaser">{Title, Unit or School}</div>
			<div class="rvt-hero__actions">
				<a href="/#" class="rvt-button rvt-button--cta rvt-button--strong"
					>Discover careers</a
				>
				<a href="/#" class="rvt-button rvt-button--cta">Discover careers</a>
			</div>
		</div>
		{#
		<div class="rvt-hero__media">
			<img src="https://picsum.photos/id/29/600/400" alt="" />
		</div>
		#}
	</div>
</div>
