@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.iu.edu/fonts/benton-sans-regular.eot');
  src:
    url('https://fonts.iu.edu/fonts/benton-sans-regular.eot?#iefix') format('embedded-opentype'),
    url('https://fonts.iu.edu/fonts/benton-sans-regular.woff') format('woff'),
    url('https://fonts.iu.edu/fonts/benton-sans-regular.ttf') format('truetype'),
    url('https://fonts.iu.edu/fonts/benton-sans-regular.svg#BentonSansRegular') format('svg');
}

@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.iu.edu/fonts/benton-sans-bold.eot');
  src:
    url('https://fonts.iu.edu/fonts/benton-sans-bold.eot?#iefix') format('embedded-opentype'),
    url('https://fonts.iu.edu/fonts/benton-sans-bold.woff') format('woff'),
    url('https://fonts.iu.edu/fonts/benton-sans-bold.ttf') format('truetype'),
    url('https://fonts.iu.edu/fonts/benton-sans-bold.svg#BentonSansRegular') format('svg');
}
