$breakpoint-sm: 30em;
$breakpoint-md: 46.25em;
$breakpoint-lg: 67.5em;
$breakpoint-xl: 78.75em;
$breakpoint-xxl: 87.5em;
$color-black-100: #ebecee;
$color-black-200: #c4c7cc;
$color-black-300: #a7abb3;
$color-black-400: #8b919b;
$color-black-500: #707784;
$color-black-600: #565f6d;
$color-black-700: #3d4757;
$color-black-800: #243142;
$color-black-900: #161c24;
$color-black-base: #243142;
$color-black-000: #f7f7f8;
$color-blue-100: #dce3ee;
$color-blue-200: #b8c8dc;
$color-blue-300: #95adcb;
$color-blue-400: #7194ba;
$color-blue-500: #497ba9;
$color-blue-600: #006298;
$color-blue-700: #134a71;
$color-blue-800: #16324b;
$color-blue-900: #121c28;
$color-blue-base: #006298;
$color-blue-000: #edf1f6;
$color-cream-base: #edebeb;
$color-crimson-base: #990000;
$color-green-100: #d4e8d2;
$color-green-200: #aad1a7;
$color-green-300: #7eb97c;
$color-green-400: #50a253;
$color-green-500: #008a28;
$color-green-600: #116d23;
$color-green-700: #16521d;
$color-green-800: #153717;
$color-green-900: #111f0f;
$color-green-base: #008a28;
$color-green-000: #eaf3e8;
$color-orange-100: #ffd9cc;
$color-orange-200: #ffb49a;
$color-orange-300: #fa8e6b;
$color-orange-400: #ef663c;
$color-orange-500: #df3603;
$color-orange-600: #b02f0a;
$color-orange-700: #82270d;
$color-orange-800: #571e0c;
$color-orange-900: #2f1407;
$color-orange-base: #df3603;
$color-orange-000: #ffece5;
$color-white-base: #ffffff;
$color-yellow-100: #ffdd9b;
$color-yellow-200: #f5bb17;
$color-yellow-300: #d6a31a;
$color-yellow-400: #b58a1b;
$color-yellow-500: #94721b;
$color-yellow-600: #765a19;
$color-yellow-700: #584416;
$color-yellow-800: #3c2e13;
$color-yellow-900: #221b0c;
$color-yellow-base: #f5bb17;
$color-yellow-000: #ffeecd;
$font-base: 'BentonSans', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;
$prefix: rvt; // Global class name prefix
$shadow-base: 0 1px 3px 2px rgba(36, 49, 66, .1);
$spacing-base: .5rem; // 8px
$spacing-xxs: (.5rem / 2); // 4px
$spacing-xs: .5rem; // 8px
$spacing-sm: (.5rem * 2); // 16px
$spacing-md: (.5rem * 3); // 24px
$spacing-lg: (.5rem * 4); // 32px
$spacing-xl: (.5rem * 5); // 40px
$spacing-xxl: (.5rem * 8); // 64px
$ts-12: .75rem;
$ts-14: .875rem;
$ts-16: 1rem;
$ts-18: 1.125rem;
$ts-20: 1.25rem;
$ts-23: 1.4375rem;
$ts-26: 1.625rem;
$ts-29: 1.8125rem;
$ts-32: 2rem;
$ts-36: 2.25rem;
$ts-41: 2.5625rem;
$ts-46: 2.875rem;
$ts-52: 3.25rem;
$ts-xxs: .75rem;
$ts-xs: .875rem;
$ts-base: 1rem;
$ts-sm: 1.25rem;
$ts-md: 1.625rem;
$ts-lg: 2rem;
$ts-xl: 2.5625rem;
$ts-xxl: 3.25rem;
$width-base: (.5rem * 8); // 64px
$width-xxs: (.5rem * 8); // 64px
$width-xs: ((.5rem * 8) * 2); // 128px
$width-sm: ((.5rem * 8) * 3); // 192px
$width-md: ((.5rem * 8) * 4); // 256px
$width-lg: ((.5rem * 8) * 5); // 320px
$width-xl: ((.5rem * 8) * 6); // 384px
$width-xxl: ((.5rem * 8) * 8); // 512px
$z-index-0: 0;
$z-index-100: 100;
$z-index-200: 200;
$z-index-300: 300;
$z-index-400: 400;
$z-index-500: 500;
$z-index-600: 600;
$z-index-700: 700;
$z-index-800: 800;
$z-index-900: 900;
$z-index-1000: 1000;
