
<button class="button open-modal" data-modal="modal-information">Open Information modal</button>

<div class="modal modal--small"
     role="dialog"
     id="modal-information"
     aria-labelledby="modal-information-title"
     aria-describedby="modal-information-description"
     aria-hidden="true">
    <div class="modal__inner">
        <header class="modal__header">
            <h1 class="modal__title" id="modal-information-title">Simple informational modal</h1>
            <p class="v-hide" id="modal-information-description">It may be advisable to also link up a description of the modal content using aria-describedby, but visually hide it using utility classes.</p>
        </header>
        <div class="modal__body">
            <p>Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Dolore consequatur odio, expedita quam eum, nihil tempore temporibus recusandae, cum dolores itaque eos quaerat laborum suscipit asperiores voluptate repellat exercitationem non.</p>
        </div>
        <footer class="modal__controls">
            <button class="close-modal">Close</button>
        </footer>
        <button class="button button--plain modal__close close-modal">
            <span class="v-hide">Close</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
            </svg>
        </button>
    </div>
</div><!-- End modal -->
