<div class="rvt-button-group">
    <button class="rvt-button" data-modal-trigger="modal-example">Open modal example</button>
    <button class="rvt-button" data-modal-trigger="modal-with-form">Open modal with form</button>
</div>

<div class="rvt-modal"
     id="modal-example"
     role="dialog"
     aria-labelledby="modal-example-title"
     aria-hidden="true"
     tabindex="-1">
     <div class="rvt-modal__inner">
        <header class="rvt-modal__header">
            <h1 class="rvt-modal__title" id="modal-example-title">Modal title</h1>
        </header>
        <div class="rvt-modal__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <a href="#0">incididunt ut labore</a> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="rvt-modal__controls">
            <button class="rvt-button" role="button">I want to continue</button>
            <button class="rvt-button rvt-button--secondary" data-modal-close="close" role="button">No</button>
            <button class="rvt-button rvt-button--secondary" data-modal-close="modal-example" role="button">No, please cancel</button>
        </div>
        <button class="rvt-button rvt-button--plain rvt-modal__close" data-modal-close="modal-example" role="button">
            <span class="v-hide">Close</span>
            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
</div>

<div class="rvt-modal"
     id="modal-with-form"
     role="dialog"
     aria-labelledby="modal-form-title"
     aria-hidden="true"
     tabindex="-1">
     <div class="rvt-modal__inner">
        <header class="rvt-modal__header">
            <h1 class="rvt-modal__title" id="modal-form-title">Modal title</h1>
        </header>
        <form id="test-form">
            <div class="rvt-modal__body">
                <div class="m-bottom-sm">
                    <label for="the-title">Title</label>
                    <input type="text" id="the-title">
                </div>
                <label for="description">Description</label>
                <textarea id="description"></textarea>

                <fieldset class="rvt-m-top-xl">
                    <legend class="rvt-ts-20 rvt-text-bold">Category</legend>
                    <ul class="rvt-plain-list">
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-3">
                            <label for="checkbox-3" class="m-right-sm">Option one</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-4">
                            <label for="checkbox-4">Option two</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-4-disable" disabled>
                            <label for="checkbox-4-disable">Option three disabled</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkbox-demo" id="checkbox-5" disabled checked>
                            <label for="checkbox-5">Option four checked and disabled</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="rvt-modal__controls">
                <button class="rvt-button" role="button">OK</button>
                <button class="rvt-button rvt-button--secondary" data-modal-close="modal-with-form" role="button">Cancel</button>
            </div>
        </form>
        <button class="rvt-modal__close" data-modal-close="modal-with-form" role="button">
            <span class="rvt-sr-only">Close</span>
            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
</div>

<script>
    document.addEventListener('keydown', event => {
        if (event.keyCode === 77) {
            Modal.open('modal-example');
            
            return;
        }
        
        if (event.keyCode === 67) {
            Modal.close('modal-example');
        }
    })
    
    // Listen for a custom "modalOpen" event
    document.addEventListener('modalOpen', event => {
    if (event.detail.name() === 'modal-example') {
      alert('Hey, you opened the ' + event.detail.name() + ' modal!');
    }
    // Maybe send some data via an AJAX request, etc...
    }, false);
    
    // Listen for a custom "modalOpen" event
    document.addEventListener('modalClose', event => {
    if (event.detail.name() === 'modal-example') {
      alert('Hey, you closed the ' + event.detail.name() + ' modal!');
    }
    // Maybe send some data via an AJAX request, etc...
    }, false);
    
    const newAlert = `
        <div class="rvt-alert rvt-alert--error rvt-m-bottom-sm" role="alert" aria-labelledby="error-alert-title" tabindex="-1">
            <h1 class="rvt-alert__title" id="error-alert-title">Incorrect User ID or Password</h1>
            <p class="rvt-alert__message">The user ID and password you entered do not match. Please check your entries and try again.</p>
        </div>
    `;

    const formTest = document.getElementById('test-form');

    formTest.addEventListener('submit', event => {
        event.preventDefault();

        let newStuff = document.createElement('div');

        newStuff.innerHTML = newAlert;

        let modalBody = formTest.querySelector('.rvt-modal__body');

        let modalBodyFirst = modalBody.firstChild;

        modalBody.insertBefore(newStuff, modalBodyFirst);

        newStuff.focus();
    })
</script>