
<button class="button open-modal" data-modal="modal-dialog">Open modal dialog</button>

<div class="modal"
     id="modal-dialog"
     role="dialog"
     aria-labelledby="modal-dialog-title"
     aria-describedby="modal-dialog-description"
     aria-hidden="true">
    <div class="modal__inner">
        <header class="modal__header">
            <h1 class="modal__title" id="modal-dialog-title">Modal Dialog</h1>
        </header>
        <div class="modal__body">
            <p>A modal dialog:</p>
            <ul>
                <li>Is not dismissable i.e. doesn't have an (X) button</li>
                <li>Requires user input before they contiue their work</li>
            </ul>
        </div>
        <footer class="modal__controls modal__controls--right modal__controls--accent">
            <button class="m-right-sm close-modal">Yes</button>
            <button class="button button--secondary close-modal">No, thanks</button>
        </footer>
    </div>
</div>
