<div class="modal"
     id="modal-example"
     role="dialog"
     aria-labelledby="modal-dialog-title"
     aria-describedby="modal-dialog-description"
     aria-hidden="false">

     <div class="modal__inner">
        <header class="modal__header">
            <h1 class="modal__title" id="modal-example-title">Modal title</h1>
        </header>
        <div class="modal__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <footer class="modal__controls">
            <button class="m-right-sm close-modal">OK</button>
            <button class="button button--secondary close-modal">Cancel</button>
        </footer>
        <button class="button button--plain modal__close close-modal">
            <span class="v-hide">Close</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
            </svg>
        </button>
    </div>
</div>
