<button class="button open-modal" data-modal="modal-confirmation">Open Confirmation modal</button>

<div class="modal modal--small modal--confirmation"
     id="modal-confirmation"
     role="dialog"
     aria-labelledby="modal-title-confirmation"
     aria-describedby="modal-description-confirmation"
     aria-hidden="true">
    <div class="modal__inner">
        <header class="modal__header">
            <h1 class="modal__title v-hide" id="modal-title-confirmation">Delete item</h1>
        </header>
        <div class="modal__body">
            <p class="m-top-remove m-bottom-xl" id="modal-description-confirmation">Are you sure you want to <strong>delete your progress</strong>?</p>
        </div>
        <footer class="modal__controls modal__controls--right modal__controls--accent">
            <button class="button button--danger m-right-sm close-modal">Delete my progress</button>
            <button class="button button--secondary close-modal">Cancel</button>
        </footer>
    </div>
</div>
