<div class="uitsds-modal"
     id="modal-example"
     role="dialog"
     aria-labelledby="modal-dialog-title"
     aria-describedby="modal-dialog-description"
     aria-hidden="false">
    <header class="uitsds-modal__header">
        <h1 class="uitsds-modal__title" id="modal-example-title">Modal Dialog</h1>
    </header>
    <div class="uitsds-modal__body">
        <p>Describe the elements of the modal component here...</p>
    </div>
    <footer class="uitsds-modal__controls uitsds-modal__controls--right uitsds-modal__controls--accent">
        <button class="m-right-sm close-modal">OK</button>
        <button class="button button--secondary close-modal">Cancel</button>
    </footer>
</div>

<div class="uitsds-modal-overlay" tabindex="-1" aria-hidden="false"></div>
