---
tags: breadcrumbs
title: Breadcrumbs - Crimson dark
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
classes: rvt-theme-dark
---
<nav role="navigation" aria-label="Breadcrumbs">
  <ol class="rvt-breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Tier two</a></li>
    <li aria-current="page">Tier three</li>
  </ol>
</nav>
