---
tags: breadcrumbs
title: Default breadcrumbs
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<nav role="navigation" aria-label="Breadcrumbs">
  <ol class="rvt-breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Tier two</a></li>
    <li aria-label="Current page">Tier three</li>
  </ol>
</nav>
