---
tags: breadcrumbs
title: Breadcrumbs - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---

<div class="rvt-theme-light rvt-p-all-sm">
  <nav role="navigation" aria-label="Breadcrumbs">
    <ol class="rvt-breadcrumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tier two</a></li>
      <li aria-current="page">Tier three</li>
    </ol>
  </nav>
</div>

<div class="rvt-theme-dark rvt-p-all-sm">
  <nav role="navigation" aria-label="Breadcrumbs">
    <ol class="rvt-breadcrumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tier two</a></li>
      <li aria-current="page">Tier three</li>
    </ol>
  </nav>
</div>

<div class="rvt-theme-crimson rvt-p-all-sm">
  <nav role="navigation" aria-label="Breadcrumbs">
    <ol class="rvt-breadcrumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tier two</a></li>
      <li aria-current="page">Tier three</li>
    </ol>
  </nav>
</div>
