<div class="rvt-container rvt-container--center rvt-container--freshman rvt-m-top-xxl rvt-m-bottom-xxl rvt-p-bottom-xxl">
  <h1 class="rvt-ts-46 rvt-lh-title">Rivet <strong>box</strong></h1>
  <p class="rvt-m-bottom-xxl rvt-ts-20">The box component can be used to help visually group related content.</p>

  <h2 class="rvt-ts-20 rvt-text-bold">Default box</h2>
  <p>The most basic version of the Box component includes a subtle border, a border radius, and a white background.
    Padding and margins should be applied with utility classes and additional layouts variants of the Box can be created
    using the Box elements described in the following sections.</p>
  <div class="rvt-box rvt-m-tb-xxl">
    This is basic box
  </div>

  <h2 class="rvt-ts-20 rvt-text-bold">Box body</h2>
  <p>Nesting the <code>.rvt-box__body</code> element inside the box will add equal amounts of padding to all sides of
    the Box.</p>
  <div class="rvt-box rvt-m-tb-xl">
    <div class="rvt-box__body">
      This is a basic box
    </div>
  </div>

  <h2 class="rvt-ts-20 rvt-text-bold">Box header and footer</h2>
  <p>The optional header and footer elements can be nested inside the box to create more complex layouts and help
    visually group related content together.</p>
  <p>In this example we are using the <code>.rvt-box__header</code>, <code>.rvt-box__body</code>, and <code>.rvt-box__footer</code>
    elements to visually group content.</p>
  <div class="rvt-box rvt-m-tb-xl">
    <div class="rvt-box__header">
      <span>Header text</span>
    </div>
    <div class="rvt-box__body">
      <p class="rvt-m-all-remove">This is a Panel variant with a header and a footer. And some content with <a href="#0">a
          link</a>.</p>
    </div>
    <div class="rvt-box__footer rvt-text-right">
      Footer text
    </div>
  </div>

  <h3 class="rvt-ts-20 rvt-text-bold">Box light variant</h3>
  <p>By default the box header and footer have a subtle gray background, but you can remove the subtle header and
    footer shading by using the <code>.rvt-box--light</code> variant. This can be helpful in reducing visual weight
    when using multiple box components on the same page.</p>

  <div class="rvt-box rvt-box--light rvt-m-tb-xl">
    <div class="rvt-box__header">
      <span>Header text</span>
    </div>
    <div class="rvt-box__body">
      <p class="rvt-m-all-remove">This is a Panel variant with a header and a footer. And some content with <a href="#0">a
          link</a>.</p>
    </div>
    <div class="rvt-box__footer rvt-text-right">
      Footer text
    </div>
  </div>

  <h2 class="rvt-ts-20 rvt-text-bold">Box rows</h2>
  <p>The Box Row element adds a small amount of padding and a subtle top border to all elements it is applied to. The
    <code>.rvt-box__row</code> element works particularly well for displaying lists of content within a Box.</p>
  <p>In the following example we're using Rivet's plain list utility class to along with the <code>.rvt-box__row</code>
    class to style the list items, however the <code>.rvt-box__row</code> class can be used on regular <code>div</code>
    element as well.</p>
  <div class="rvt-box rvt-m-tb-xxl">
    <!--
      <div class="rvt-box__header">
        <span>A box with rows</span>
      </div>
    -->

    <!--
      Box rows must be wrapped in a parent element for styling purposes.
      This could also be a list if that makes sense semantically.
    -->
    <ul class="rvt-plain-list">
      <li class="rvt-box__row">
        <a href="#" class="rvt-link-bold">A link in a row</a>
      </li>
      <li class="rvt-box__row rvt-box__row--selected">
        Some text in a row
      </li>
      <li class="rvt-box__row">
        Some text in a row
      </li>
    </ul>
  </div>

  <p>In the previous example we are using the <code>.rvt-box__row--selected</code> variant to indicate the
    current/selected item. This can be applied via the <code>.rvt-box__row--selected</code> CSS class or by adding an
    <code>aria-current</code> attribute to the box row if the situation calls for it.</p>

  <h2 class="rvt-ts-20 rvt-m-top-xl rvt-text-bold">Card variant</h2>
  <p>The Card variant of the Box component can be used along with Rivet's type scale and spacing utilities to create
    basic card layouts. Adding the <code>.rvt-box--card</code> modifier adds a subtle box-shadow to help visually
    separate the the Box content from the background.</p>
  <div class="rvt-box rvt-box--card rvt-m-tb-xl">
    <div class="rvt-box__body">
      This is the Card variant of a Box with a body element
    </div>
  </div>

  <h3 class="rvt-ts-19 rvt-text-bold">Card image element</h3>
  <p>The card variant also includes and options Image element that can be used when you need to display an image as a
    part of you card layout. Wrapping and image in the <code>.rvt-box__image</code> class will applied the proper
    border-radius and hide the image overflow.</p>
  <p><strong>NOTE</strong>: The Image element should be the first child of the Box element when using so that it sets
    flush with the sides of the box. It should not be used inside of the Body or Row elements.</p>
  <div class="rvt-box rvt-box--card rvt-m-tb-xl" style="max-width: 300px;">
    <div class="rvt-box__image">
      <img src="http://www.fillmurray.com/g/800/450" alt="">
    </div>
    <div class="rvt-box__body">

      <h2 class="rvt-ts-20 rvt-text-bold">Card title</h2>
      <p class="rvt-m-top-xxs">This is the Card variant of a Box with a body element</p>
      <a href="#" class="rvt-link-bold">Card link</a>

    </div>
  </div>

  <h2 class="rvt-ts-20 rvt-text-bold">Compact Box</h2>
  <p>The compact version of the Box component reduces the amount of padding on the various Box elements. This variant
    can be useful in situations where you need to conserve vertical space when displaying large amounts of data</p>

  <div class="rvt-box rvt-box--compact rvt-m-tb-xxl">
    <div class="rvt-box__header">
      <span>A box with rows</span>
    </div>
    <!--
      Box rows must be wrapped in a parent element for styling purposes.
      This could also be a list if that makes sense semantically.
    -->
    <ul class="rvt-plain-list">
      <li class="rvt-box__row">
        Some text in a row
      </li>
      <li class="rvt-box__row">
        Some text in a row
      </li>
      <li class="rvt-box__row">
        Some text in a row
      </li>
    </ul>
  </div>

  <h2 class="rvt-ts-20 rvt-text-bold">Box Variants</h2>
  <p>The Box component also supports colored variants based on Rivets alert color naming conventions.</p>

  <p><strong>NOTE</strong>: The colored Box variants should be used sparingly and only to indicate some sort of state
    change (error, warning, success, etc.) or call out important information in your application.</p>

  <p>There are four colored box variants that follow Rivet's alert color naming convention:</p>

  <ul>
    <li><code>.rvt-box--info</code></li>
    <li><code>.rvt-box--success</code></li>
    <li><code>.rvt-box--warning</code></li>
    <li><code>.rvt-box--danger</code></li>
  </ul>

  <div class="rvt-box rvt-box--danger rvt-m-tb-xxl">
    <div class="rvt-box__header">
      <span>A box with rows</span>
    </div>
    <!--
      Box rows must be wrapped in a parent element for styling purposes.
      This could also be a list if that makes sense semantically.
    -->
    <ul class="rvt-plain-list">
      <li class="rvt-box__row">
        Some text in a row
      </li>
      <li class="rvt-box__row">
        Some text in a row
      </li>
      <li class="rvt-box__row">
        Some text in a row
      </li>
    </ul>
  </div>

  <h3 class="rvt-ts-18 rvt-text-bold">Box Row Variants</h3>
  <p>The Box Row element also supports colored variants that can be used to call out state changes or important
    information on individual rows.</p>

  <p>The Box Row variants follow the same naming conventions:</p>

  <ul>
    <li><code>.rvt-box__row--info</code></li>
    <li><code>.rvt-box__row--success</code></li>
    <li><code>.rvt-box__row--warning</code></li>
    <li><code>.rvt-box__row--danger</code></li>
  </ul>

  <div class="rvt-box rvt-m-tb-xxl">
    <div class="rvt-box__header">
      <span>A box with rows</span>
    </div>
    <!--
      Box rows must be wrapped in a parent element for styling purposes.
      This could also be a list if that makes sense semantically.
    -->
    <div>
      <div class="rvt-box__row rvt-box__row--info">
        Some text in a row
      </div>
      <div class="rvt-box__row rvt-box__row--success">
        Some text in a row
      </div>
      <div class="rvt-box__row rvt-box__row--warning">
        Some text in a row
      </div>
      <div class="rvt-box__row rvt-box__row--danger">
        Some text in a row
      </div>
      <div class="rvt-box__row">
        Some text in a row
      </div>
    </div>
  </div>

  <p>The row variant modifier class adds a subtle background color and 4px left border (box-shadow) that matches each of
    Rivet's alert styles.</p>
</div>