---
tags: tier-1
title: Tier 1 - Default
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-section rvt-theme-crimson">
    <div class="rvt-container">
      <div class="rvt-hero rvt-hero--feature">
        <div class="rvt-hero__inner">
          <div class="rvt-hero__body">
            <p class="rvt-hero__eyebrow">
              { Tag or section title }
            </p>
            <h1 class="rvt-hero__title">{Headline should not exceed 16 characters}</h1>
            <div class="rvt-hero__teaser">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias quas fuga, pariatur, nulla officiis tenetur, commodi non libero labore dolores voluptas itaque vitae! Nostrum commodi libero animi, fuga autem dicta!</p>
            </div>
            <div class="rvt-hero__actions">
              <a class="rvt-button rvt-button--solid" href="#section-one">Learn more about IU</a>
              <a class="rvt-button rvt-button--outline" href="/#">Learn more about IU</a>
            </div>
          </div>
        </div>
      </div>

      <figure class="rvt-image-feature [ rvt-m-top-xxl ]">
        <img src="https://picsum.photos/id/29/1600/800" alt="">
        <ficaption>Image caption</ficaption>
      </figure>
    </div>
  </div>

  <div class="rvt-section" id="section-one" >
    <div class="rvt-container">

      <div class="rvt-hero rvt-hero--section">
        <div class="rvt-hero__inner">
          <div class="rvt-hero__body">
            <p class="rvt-hero__eyebrow">
              { Tag or section title }
            </p>
            <h1 class="rvt-hero__title">
              {Headline should not exceed 16 characters}
            </h1>
            <div class="rvt-hero__teaser">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus blanditiis voluptates sit. Obcaecati, ratione repellat, commodi ipsa labore aspernatur possimus, mollitia quo perferendis dignissimos ab vero aliquid placeat laborum iste!</p>
            </div>
            <div class="rvt-hero__actions">
              <a class="rvt-button rvt-button--outline" href="#">Learn more about IU</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rvt-section">
    <div class="rvt-container">

      <div class="rvt-stat-group">
        <div class="rvt-stat">
          <div class="rvt-stat__content">
            <div class="rvt-stat__image">
              <rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
            </div>
            <div class="rvt-stat__number">20</div>
            <div class="rvt-stat__description">Residence halls</div>
          </div>
        </div>
        <div class="rvt-stat">
          <div class="rvt-stat__content">
            <div class="rvt-stat__image">
              <rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
            </div>
            <div class="rvt-stat__number">200</div>
            <div class="rvt-stat__description">Degree programs</div>
          </div>
        </div>
        <div class="rvt-stat">
          <div class="rvt-stat__content">
            <div class="rvt-stat__image">
              <rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
            </div>
            <div class="rvt-stat__number">2000</div>
            <div class="rvt-stat__description">Faculty</div>
          </div>
        </div>
        <div class="rvt-stat">
          <div class="rvt-stat__content">
            <div class="rvt-stat__image">
              <rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
            </div>
            <div class="rvt-stat__number">20000</div>
            <div class="rvt-stat__description">Students</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rvt-section">
    <div class="rvt-container">

      <div class="rvt-billboard rvt-billboard--reverse">
        <div class="rvt-billboard__image">
          <img src="https://picsum.photos/id/32/800/800" alt="Student in vintage-style Indiana University t-shirt">
        </div>
        <div class="rvt-billboard__body">
          <p class="rvt-billboard__eyebrow">Section name</p>
          <h2 class="rvt-billboard__title">Become the best version of yourself at IU</h2>
          <div class="rvt-billboard__content">
            <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
            <div class="rvt-flex rvt-gap-md rvt-items-center">
              <a class="rvt-button rvt-button--outline" href="/#">Explore more of IU</a>
              <a class="rvt-button" href="/#">Get help</a>
            </div>
          </div>
        </div>
      </div>

      <div class="rvt-billboard">
        <div class="rvt-billboard__image">
          <img src="https://picsum.photos/id/33/800/800" alt="Student in vintage-style Indiana University t-shirt">
        </div>
        <div class="rvt-billboard__body">
          <p class="rvt-billboard__eyebrow">Section name</p>
          <h2 class="rvt-billboard__title">Become the best version of yourself at IU</h2>
          <div class="rvt-billboard__content">
            <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
            <div class="rvt-flex rvt-gap-md rvt-items-center">
              <a class="rvt-button rvt-button--outline" href="/#">Explore more of IU</a>
              <a class="rvt-button" href="/#">Get help</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rvt-section">
    <div class="rvt-container">
      <div class="rvt-hero rvt-hero--section">
        <div class="rvt-hero__inner">
          <div class="rvt-hero__body">
            <p class="rvt-hero__eyebrow">
              { Tag or section title }
            </p>
            <h1 class="rvt-hero__title">
              {Headline should not exceed 16 characters}
            </h1>
            <div class="rvt-hero__teaser">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus blanditiis voluptates sit. Obcaecati, ratione repellat, commodi ipsa labore aspernatur possimus, mollitia quo perferendis dignissimos ab vero aliquid placeat laborum iste!</p>
            </div>
            <div class="rvt-hero__actions">
              <a class="rvt-button rvt-button--outline" href="/#">Learn more about IU</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="rvt-section">
    <div class="rvt-container" >
      <div class="rvt-grid rvt-grid--3">
        <div class="rvt-card">
          <div class="rvt-card__image">
            <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
          </div>
          <div class="rvt-card__body">
            <div class="rvt-card__eyebrow">My category</div>
            <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
              <a href="#">Find your ideal campus life at IU</a>
            </h2>
            <div class="rvt-card__content [ rvt-flow ]">
              <p>Adipisicing elit. Minus ducimus sint amet similique, saepe aut natus fuga reprehenderit magnam fugit minima laborum debitis provident ipsum! Laborum odio iste corporis totam.</p>
            </div>
            <div class="rvt-card__meta">
              <time>November 5, 1955</time>
            </div>
          </div>
        </div>

        <div class="rvt-card">
          <div class="rvt-card__image">
            <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
          </div>
          <div class="rvt-card__body">
            <div class="rvt-card__eyebrow">My category</div>
            <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
              <a href="#">Find your ideal campus life at IU</a>
            </h2>
            <div class="rvt-card__content [ rvt-flow ]">
              <p>Adipisicing elit. Minus ducimus sint amet similique, saepe aut natus fuga reprehenderit magnam fugit minima laborum debitis provident ipsum! Laborum odio iste corporis totam.</p>
            </div>
            <div class="rvt-card__meta">
              <time>November 5, 1955</time>
            </div>
          </div>
        </div>
        <div class="rvt-card">
          <div class="rvt-card__image">
            <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
          </div>
          <div class="rvt-card__body">
            <div class="rvt-card__eyebrow">My category</div>
            <h2 class="rvt-card__title [ rvt-font-serif rvt-font-regular rvt-ts-20 ]">
              <a href="#">Find your ideal campus life at IU</a>
            </h2>
            <div class="rvt-card__content [ rvt-flow ]">
              <p>Dolorum aliquam reiciendis illo rerum repudiandae vero, quos, illum id natus at est architecto distinctio.</p>
            </div>
            <div class="rvt-card__meta">
              <time>November 5, 1955</time>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="rvt-section">
    <div class="rvt-container">

      {% include "demos/demo-quote.njk" %}

    </div>
  </div>

  <div class="rvt-section">
    <div class="rvt-container">

      <div class="rvt-callout rvt-callout--theme-crimson">
        <div class="rvt-callout__inner">
          <rvt-sticker name="cap" theme="crimson"></rvt-sticker>
          <div class="rvt-callout__body">
            <p class="rvt-callout__eyebrow">{ Tag or category }</p>
            <h2 class="rvt-callout__title">{ Title should not exceed 32 characters }</h2>
            <div class="rvt-callout__content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aperiam dolorem nisi libero inventore enim dolor, illo aut animi earum, hic sint exercitationem! Cumque, molestias sed. Repellat, accusamus? Tempore, laborum!</p>
            </div>
            <div class="rvt-callout__actions">
              <a href="/#" class="rvt-button rvt-button--outline">{ Lorem ipsum }</a>
              <a href="/#" class="rvt-button">{ Lorem ipsum }</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="rvt-section">
    <div class="rvt-container">
      <div class="rvt-grid rvt-grid--2">

        <div>
        <img src="https://picsum.photos/id/33/600/400" alt="Student in vintage-style Indiana University t-shirt">
        </div>

        <div>List hub</div>

      </div>
    </div>
  </div>

</main>

{% include "demos/demo-footer.njk" %}
