/**
 * Not sure where to put this stuff yet. But, we'll figure it out.
 */

/**
 * Code
 */

code {
    font-family: monospace;
    background-color: #eeeeee;
    display: inline-block;
    padding: .125rem .25rem;
    color: $color-midnight;
    border-radius: $radius-small;
}


.inline-list li {
    line-height: 1;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    margin: 0;
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}
