/**
 * Not sure where to put this stuff yet. But, we'll figure it out.
 */

/**
 * Code
 */

code {
    font-family: monospace;
    background-color: #eeeeee;
    display: inline-block;
    padding: .125rem .25rem;
    color: $color-midnight;
    border-radius: $radius-small;
}
