<span class="rvt-badge{% if class %} rvt-badge-{{ type }}{{ secondary }}{% endif %}{% if utility %} {{ utility }}{% endif %}">{{ content }}</span>
<a href="#0" class="rvt-badge{% if class %} rvt-badge-{{ type }}{{ secondary }}{% endif %}{% if utility %} {{ utility }}{% endif %}">{{ content }} link</a>
<hr>