cypress/screenshots
cypress/videos
dist
node_modules
.astro
.DS_Store
.env
.idea
.npmrc
.vscode
*.tgz
*.zip

# Design tokens
/tokens
/src/sass/core/maps/*.scss
!/src/sass/core/maps/_index.scss
/src/sass/core/variables.scss
/src/sass/core/css-custom-properties.scss
/src/sass/core/tokens.css
