.DS_Store
node_modules
_build
dist
static/css
static/js/*
!static/js/rivet-init.js
.idea
.vscode
cypress/videos
cypress/screenshots
.npmrc
.env
*.tgz

# Built files
/css
/sass
/js
/index.html
/rivet.zip

# Design tokens
/tokens
/src/sass/core/maps/*.scss
!/src/sass/core/maps/_index.scss
/src/sass/core/variables.scss
/src/sass/core/css-custom-properties.scss
