{
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.njk",
			"options": {
				"parser": "html"
			}
		},
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
