{
    "rules": {
        "block-closing-brace-newline-after": "always",
        "block-opening-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "block-opening-brace-space-before": "always",
        "selector-list-comma-newline-after": "always",
        "indentation": 4
    }
}
