<div class="rvt-quote [ rvt-flow ]">
  <blockquote class="rvt-quote__text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </blockquote>
  <p class="rvt-quote__citation">
    <span class="rvt-quote__title">Author Name</span>
    <span class="rvt-qutoe__subtitle">Writer of books, PhD</span>
  </p>
</div>