<div class="rvt-quote{% if image %} rvt-quote--image{% endif %} [ rvt-flow ]{% if classes %} {{ classes }}{% endif %}">
  {% if image %}
  {{ image | safe }}
  {% endif %}
  <blockquote class="rvt-quote__text">
    {{ text | safe }}
  </blockquote>
  <p class="rvt-quote__citation">
    <span class="rvt-quote__title">{{ title }}</span>
    <span class="rvt-quote__subtitle">{{ subtitle }}</span>
  </p>
</div>