---
tags: card
title: Default card - Image
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 0
---

<div class="rvt-card">
  <div class="rvt-card__body">
    <div class="rvt-card__image">
      <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
    </div>
    <div class="rvt-card__badge">
      <strong class="rvt-badge">Featured</strong>
    </div>
    <div class="rvt-card__eyebrow">My category</div>
    <h2 class="rvt-card__title">
      <a href="#">Find your ideal campus life at IU</a>
    </h2>
    <div class="rvt-card__content [ rvt-flow ]">
      <p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
      <ul class="rvt-list">
        <li>One two</li>
        <li>One two</li>
        <li>One two</li>
      </ul>
    </div>
    <div class="rvt-card__meta">
      <time>November 5, 1955</time>
    </div>
    <div class="rvt-card__tags">
      <ul class="rvt-list-inline rvt-gap-xs">
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag one</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag two</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag three</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag four</a>
        </li>
      </ul>
    </div>
  </div>
</div>
