---
tags: card
title: Grid of cards
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 6
---
<div class="rvt-row">
  <div class="rvt-cols-4-md">
    <div class="rvt-card">
      <div class="rvt-card__image">
        <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
      </div>
      <div class="rvt-card__body">
        <h2 class="rvt-card__title">
          <a href="#">Find your ideal campus life at IU</a>
        </h2>
        <div class="rvt-card__content [ rvt-flow ]">
          <p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rvt-cols-4-md">
    <div class="rvt-card">
      <div class="rvt-card__image">
        <img src="https://rivet.iu.edu/img/placeholder/list-card-1.webp" alt="Replace this value with appropriate alternative text">
      </div>
      <div class="rvt-card__body">
        <h2 class="rvt-card__title">
          <a href="#">Student clubs and organizations</a>
        </h2>
        <div class="rvt-card__content [ rvt-flow ]">
          <p>Whatever you’re into, you’ll find your people here. Campus is always buzzing with the activity of student organizations, ranging from student government, campus newspapers, and IU Corps volunteer programs, all the way to a Chinese Calligraphy club, six different comedy groups, and even a quidditch team.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rvt-cols-4-md">
    <div class="rvt-card">
      <div class="rvt-card__image">
        <img src="https://rivet.iu.edu/img/placeholder/list-card-5.webp" alt="Replace this value with appropriate alternative text">
      </div>
      <div class="rvt-card__body">
        <h2 class="rvt-card__title">
          <a href="#">Pursue your passion or explore the possibilities</a>
        </h2>
        <div class="rvt-card__content [ rvt-flow ]">
          <p>From nursing to criminal justice, epidemiology to environmental science, social work to cybersecurity, and more than 900 academic programs in between, IU gives you the power to study whatever sparks your interest, with the support of world-class professors and faculty who care about your success.</p>
        </div>
      </div>
    </div>
  </div>
</div>