---
tags: card
title: Horizontal raised card
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 8
---
<div class="rvt-card rvt-card--horizontal rvt-card--raised">
  <div class="rvt-card__image">
    <img src="https://news.iu.edu/live/image/scale/2x/gid/2/width/150/height/150/crop/1/src_region/108,0,907,800/6570_20220420_IU_Day_LK_163.rev.1680284638.webp" alt="">
  </div>
  <div class="rvt-card__body">
    <div class="rvt-card__eyebrow">Arts and Humanities</div>
    <h2 class="rvt-card__title">
      <a href="#">Find your ideal campus life at IU</a>
    </h2>
    <div class="rvt-card__content">
      <p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home.</p>
    </div>
    <div class="rvt-card__meta">
      <time>May 1, 2024</time>
    </div>
  </div>
</div>