---
tags: card
title: Event card - Plain
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: -10
---

<div class="rvt-card rvt-card--event">
  <div class="rvt-card__body">
    <div class="rvt-card__badge">
      <strong class="rvt-badge">Featured</strong>
    </div>
    <div class="rvt-card__eyebrow">My category</div>
    <h2 class="rvt-card__title">
      <a href="#">Find your ideal campus life at IU</a>
    </h2>
    <ul class="rvt-card__event-list rvt-list-plain">
      <li>
        <rvt-icon name="calendar"></rvt-icon>
        <time>Dec 21, 2024</time>
      </li>
      <li>
        <rvt-icon name="clock"></rvt-icon>
        <time>9:00 AM</time>
      </li>
      <li>
        <rvt-icon name="map-pin"></rvt-icon>
        <span>Indianapolis Campus Center</span>
      </li>
    </ul>
    <div class="rvt-card__meta">
      <time>November 5, 1955</time>
    </div>
    <div class="rvt-card__tags">
      <ul class="rvt-list-inline rvt-gap-xs">
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag one</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag two</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag three</a>
        </li>
        <li>
          <a href="#" class="rvt-button rvt-button--tag">Tag four</a>
        </li>
      </ul>
    </div>
  </div>
</div>
