---
tags: card
title: Default card
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-card">
  <div class="rvt-card__body">
    <h2 class="rvt-card__title">
      <a href="#">Find your ideal campus life at IU</a>
    </h2>
    <div class="rvt-card__content [ rvt-flow ]">
      <p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
    </div>
  </div>
</div>