---
tags: card
title: News ticker
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 9
---
<ul class="rvt-list-plain rvt-flow">
  <li class="rvt-card rvt-card--horizontal rvt-card--clickable">
    <div class="rvt-card__image">
      <img src="https://news.iu.edu/live/image/scale/2x/gid/2/width/150/height/150/crop/1/src_region/108,0,907,800/6570_20220420_IU_Day_LK_163.rev.1680284638.webp" alt="">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">Arts and Humanities</div>
      <h2 class="rvt-card__title">
        <a href="#">Groundbreaking research highlighted at IU</a>
      </h2>
      <div class="rvt-card__meta">
        <time>May 1, 2024</time>
      </div>
    </div>
  </li>
  <li class="rvt-card rvt-card--horizontal rvt-card--clickable">
    <div class="rvt-card__image">
      <img src="https://news.iu.edu/live/image/scale/2x/gid/2/width/150/height/150/crop/1/src_region/108,0,907,800/6570_20220420_IU_Day_LK_163.rev.1680284638.webp" alt="">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">Arts and Humanities</div>
      <h2 class="rvt-card__title">
        <a href="#">Groundbreaking research highlighted at IU</a>
      </h2>
      <div class="rvt-card__meta">
        <time>May 1, 2024</time>
      </div>
    </div>
  </li>
  <li class="rvt-card rvt-card--horizontal rvt-card--clickable">
    <div class="rvt-card__image">
      <img src="https://news.iu.edu/live/image/scale/2x/gid/2/width/150/height/150/crop/1/src_region/108,0,907,800/6570_20220420_IU_Day_LK_163.rev.1680284638.webp" alt="">
    </div>
    <div class="rvt-card__body">
      <div class="rvt-card__eyebrow">Arts and Humanities</div>
      <h2 class="rvt-card__title">
        <a href="#">Groundbreaking research highlighted at IU</a>
      </h2>
      <div class="rvt-card__meta">
        <time>May 1, 2024</time>
      </div>
    </div>
  </li>
</ul>