<h1 class="ts-32 m-bottom-lg">Display utilities</h1>
<p>The Rivet display utility classes make it easy to control how elements display on screen and how they are presented to assistive technologies like screen readers.</p>

<h2 class="ts-26">Screen reader only</h2>
<p class="m-bottom-xxl">Use the <code>.sr-only</code> utility class to visually hide content, but still leave it accessible to screen readers.</p>


<ul class="plain-list">
    <li class="m-bottom-xl">
        <h2 class="ts-20 m-bottom-xs">Display inline</h2>
        <div class="rvt-display-inline bg-midnight p-all-sm">
            Display inline
        </div>
    </li>
    <li class="m-bottom-xl">
        <h2 class="ts-20">Display inline-block</h2>
        <div class="rvt-display-inline-block bg-midnight p-all-sm">
            Display inline-block
        </div>
    </li>
    <li class="m-bottom-xl">
        <h2 class="ts-20">Display Block</h2>
        <div class="rvt-display-block bg-midnight p-all-sm">
            Display block
        </div>
    </li>
    <li class="m-bottom-xl">
        <h2 class="ts-20">Display flex</h2>
        <div class="rvt-display-flex">
            <div class="bg-midnight m-right-sm p-all-sm">Flex item</div>
            <div class="bg-midnight m-right-sm p-all-sm">Flex item</div>
            <div class="bg-midnight m-right-sm p-all-sm">Flex item</div>
            <div class="bg-midnight m-right-sm p-all-sm">Flex item</div>
        </div>
    </li>
    <li class="m-bottom-xl">
        <h2 class="ts-20">Vertically center flex items</h2>
        <div class="rvt-display-flex rvt-vertical-center" style="height: 200px; background-color: LightGrey; width: 500px;">
            <div class="bg-midnight p-all-sm">Flex item</div>
        </div>
    </li>
    <li class="m-bottom-xl">
        <h2 class="ts-20">Display none</h2>
        <p>Inspect the source for this one :)</p>
        <div class="rvt-display-none">I'm hidden</div>
    </li>
</ul>
