<div class="rvt-flex-md-up rvt-flex-space-between">
  {{# each demos }}
    <div class="flex-demo">
      <div class="flex-demo-inner">Item {{ this }}</div>
    </div>
  {{/each}}
</div>

<div class="rvt-flex-md-up rvt-m-top-xl">
  <div class="flex-demo" style="width: 16rem;">
    <div class="flex-demo-inner">Item One</div>
  </div>
  <div class="rvt-flex-grow-1 flex-demo">
    <div class="flex-demo-inner">Item Two</div>
  </div>
  <div class="flex-demo">
    <div class="flex-demo-inner">Item Three</div>
  </div>
</div>

<div class="rvt-flex rvt-m-top-xl">
  <div class="flex-demo rvt-flex-grow-1">
    <div class="flex-demo-inner">Item One</div>
  </div>
  <div class="flex-demo">
    <div class="flex-demo-inner">Item Three</div>
  </div>
</div>

<style>
  .flex-demo {
    background-color: #dce3ee;
    color: #ffffff;
    padding: .5rem;
  }
  
  .flex-demo-inner {
    background-color: #006298;
    padding: .25rem 1rem;
  }
</style>