<h1 class="ts-32 m-bottom-lg">z-index utilities</h1>
<div style="position: relative;">
    <div class="rvt-z-1000 z-example">
        1000
    </div>
    <div class="rvt-z-900 z-example">
        900
    </div>
    <div class="rvt-z-800 z-example">
        800
    </div>
    <div class="rvt-z-700 z-example">
        700
    </div>
    <div class="rvt-z-600 z-example">
        600
    </div>
    <div class="rvt-z-500 z-example">
        500
    </div>
    <div class="rvt-z-400 z-example">
        400
    </div>
    <div class="rvt-z-300 z-example">
        300
    </div>
    <div class="rvt-z-200 z-example">
        200
    </div>
    <div class="rvt-z-100 z-example">
        100
    </div>
    <div class="rvt-z-0 z-example">
        0
    </div>
</div>


<style scoped>
    .z-example {
        padding: 1.5rem;
        width: 80px;
        height: 80px;
        text-align: center;
        margin-top: -.5rem;
        position: absolute;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .z-example:nth-child(1) {
        top: 0;
        left: 0;
        background-color: aqua;
    }

    .z-example:nth-child(2) {
        background-color: tomato;
        top: 3rem;
        left: 3rem;
    }

    .z-example:nth-child(3) {
        top: 6rem;
        left: 6rem;
        background-color: dodgerblue;
    }

    .z-example:nth-child(4) {
        top: 9rem;
        left: 9rem;
        background-color: blueviolet;
    }

    .z-example:nth-child(5) {
        top: 12rem;
        left: 12rem;
        background-color: coral;
    }

    .z-example:nth-child(6) {
        top: 15rem;
        left: 15rem;
        background-color: yellowgreen;
    }

    .z-example:nth-child(7) {
        top: 18rem;
        left: 18rem;
        background-color: palevioletred;
    }

    .z-example:nth-child(8) {
        top: 21rem;
        left: 21rem;
        background-color: green;
    }

    .z-example:nth-child(9) {
        top: 24rem;
        left: 24rem;
        background-color: crimson;
    }

    .z-example:nth-child(10) {
        top: 27rem;
        left: 27rem;
        background-color: cornflowerblue;
    }
</style>