<h1 class="ts-32 m-bottom-lg">Responsive visibility utilities</h1>

<section class="m-bottom-xxl">
    <h1 class="rvt-ts-26 m-bottom-lg">Hide down responsive utilities</h1>
    <p class="m-bottom-lg">The <code>rvt-hide-*-down</code> responsive display utilities start out visible on any screen size above the largest breakpoint (1400px) and will hide content <strong>as the screen size becomes smaller</strong>.</p>
    <dl>
        <dt class="color-midnight">.rvt-hide-sm-down</dt>
        <dd class="rvt-hide-sm-down">Hidden at <strong>small breakpoint</strong> down</dd>
        <dt class="color-midnight">.rvt-hide-md-down</dt>
        <dd class="rvt-hide-md-down">Hidden at <strong>medium breakpoint</strong> down</dd>
        <dt class="color-midnight">.rvt-hide-lg-down</dt>
        <dd class="rvt-hide-lg-down">Hidden at <strong>large breakpoint</strong> down</dd>
        <dt class="color-midnight">.rvt-hide-xl-down</dt>
        <dd class="rvt-hide-xl-down">Hidden at <strong>extra large breakpoint</strong> down</dd>
        <dt class="color-midnight">.rvt-hide-xxl-down</dt>
        <dd class="rvt-hide-xxl-down">Hidden at <strong>extra extra large breakpoint</strong> down</dd>
    </dl>
</section>

<section>
    <h1 class="rvt-ts-26 m-bottom-lg">Hide up responsive utilities</h1>
    <p class="m-bottom-lg">The <code>rvt-hide-*-up</code> responsive display utilities start out visible on small screens and will hide content as the <strong>screen size becomes larger</strong>.</p>
    <dl>
        <dt class="color-midnight">.rvt-hide-sm-up</dt>
        <dd class="rvt-hide-sm-up">Hidden at <strong>small breakpoint</strong> up</dd>
        <dt class="color-midnight">.rvt-hide-md-up</dt>
        <dd class="rvt-hide-md-up">Hidden at <strong>medium breakpoint</strong> up</dd>
        <dt class="color-midnight">.rvt-hide-lg-up</dt>
        <dd class="rvt-hide-lg-up">Hidden at <strong>large breakpoint</strong> up</dd>
        <dt class="color-midnight">.rvt-hide-xl-up</dt>
        <dd class="rvt-hide-xl-up">Hidden at <strong>extra large breakpoint</strong> up</dd>
        <dt class="color-midnight">.rvt-hide-xxl-up</dt>
        <dd class="rvt-hide-xxl-up">Hidden at <strong>extra extra large breakpoint</strong> up</dd>
    </dl>
</section>
