<label for="search">Search</label>
<div class="rvt-input-group">
    <input class="rvt-input-group__input" type="text" id="search">
    <div class="rvt-input-group__append">
        <button class="rvt-button">Search</button>
    </div>
</div>
<div class="rvt-input-group rvt-m-top-lg">
    <div class="rvt-input-group__prepend">
        <button class="rvt-button">Filter</button>
    </div>
    <input class="rvt-input-group__input" type="text" id="filter">
</div>