<label for="{{ id }}" class="rvt-sr-only">{{ labelText }}</label>
<div class="rvt-input-group">
  <input class="rvt-input-group__input" type="text" id="{{ id }}">
  <div class="rvt-input-group__append">
    {% if button %}
      {% render "@button", { content: button.content, modifier: button.modifier }, true %}
    {% endif %}
  </div>
</div>
