<div class="rvt-button-group">
    <div class="rvt-dropdown">
        <button class="rvt-button" data-dropdown-trigger="dropdown-1" aria-haspopup="true" aria-expanded="false">Dropdown toggle</button>
        <div class="dropdown__menu" id="dropdown-1" aria-hidden="true">
            <a href="#0">Add item</a>
            <a href="#0">Reorder items</a>
            <a href="#0">Manage categories</a>
        </div>
    </div>
    <div class="rvt-dropdown">
        <button class="rvt-button rvt-button--secondary" data-dropdown-trigger="dropdown-2" aria-haspopup="true" aria-expanded="false">Dropdown toggle too</button>
        <div class="dropdown__menu" id="dropdown-2" aria-hidden="true">
            <a href="#0">Add item</a>
            <a href="#0">Reorder items</a>
            <a href="#0">Manage categories</a>
        </div>
    </div>
</div>