<div class="rvt-dropdown">
  {% render '@button-primary', { content: label, attributes: [{ label: "data-dropdown-toggle", value: id }] }, true %}
  <div class="rvt-dropdown__menu" id="{{ id }}" role="menu" aria-hidden="true">
    {% for item in items %}
      {% if item.relatedLinks %}
        <div role="group" aria-label="Related">
          {% for relatedLink in item.relatedLinks %}
            {% render '@link', { link: relatedLink.link, text: relatedLink.text }, true %}
          {% endfor %}
        </div>
      {% else %}
        {% render '@link', { link: item.link, text: item.text, attributes: item.attributes }, true %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
    // Callback function that puts focus on the button that was toggled.
    function focusTheToggle(id) {
        document
            .querySelector('[data-dropdown-toggle="' + id + '"]')
            .focus();
    }

    document.addEventListener('keydown', function(event) {
        if (event.keyCode === 68) {
            Dropdown.toggle('dropdown-1', focusTheToggle('dropdown-1'));
        }
    });
</script>