<div class="rvt-cal">{% if month %}<span class="rvt-cal__month">{{ month }}</span>{% endif %}{% if date %}<span class="rvt-cal__day">{{ date }}</span>{% endif %}{% if year %}<span class="rvt-cal__year">{{ year }}</span>{% endif %}</div>