<div class="rvt-container p-top-xl p-bottom-xl">
    <div class="rvt-panel" aria-labelledby="default-panel">
        <span class="ts-26 m-bottom-sm display-block" id="default-panel">Default panel</span>
        <p class="m-all-remove">Voluptates quas voluptas a est est ut nisi. Laborum debitis perferendis voluptatem. Ut nemo sint itaque qui harum. Id unde qui architecto praesentium quo adipisci vero. Eaque deserunt voluptatum delectus eveniet quas aut modi quo. Exercitationem non voluptatem temporibus.</p>
    </div>
</div>

<div class="rvt-container p-top-xl p-bottom-xl" style="background-color: #f7f7f7;">
    <div class="rvt-panel rvt-panel--light" aria-labelledby="light-panel">
        <span class="ts-26 m-bottom-sm display-block" id="light-panel">Light panel</span>
        <p class="m-all-remove">Voluptates quas voluptas a est est ut nisi. Laborum debitis perferendis voluptatem. Ut nemo sint itaque qui harum. Id unde qui architecto praesentium quo adipisci vero. Eaque deserunt voluptatum delectus eveniet quas aut modi quo. Exercitationem non voluptatem temporibus.</p>
    </div>
</div>

