<form>
    <label for="demo-2">Text Input</label>
    <input type="text" id="demo-2" class="m-bottom-md">

    <label for="demo-2">Text Input (disabled)</label>
    <input type="text" id="demo-2" class="m-bottom-md" disabled>

    <label for="demo-3">Textarea</label>
    <textarea id="demo-3" class="m-bottom-md"></textarea>

    <label for="demo-4">Textarea</label>
    <textarea id="demo-4" class="m-bottom-md" disabled></textarea>
</form>
