<form>
    <div class="m-btm-md">
        <label for="demo-2">Text Input</label>
        <input type="text" id="demo-2">
    </div>
    <div class="m-vertical-md">
        <label for="demo-2">Text Input (disabled)</label>
        <input type="text" id="demo-2" disabled>
    </div>

    <div class="m-vertical-md">
        <label for="demo-3">Textarea</label>
        <textarea id="demo-3"></textarea>
    </div>

    <div class="m-vertical-md">
        <label for="demo-4">Textarea</label>
        <textarea id="demo-4" disabled></textarea>
    </div>
</form>
