<form style="max-width: 36em;">
    <h2 class="text-uppercase ts-14 m-bottom-lg">Text input</h2>
    <fieldset>
        <label for="demo-2">Text Input</label>
        <input type="text" id="demo-2" class="m-bottom-md">

        <label for="demo-2">Text Input (disabled)</label>
        <input type="text" id="demo-2" class="m-bottom-md" disabled>

        <div class="input-error m-bottom-sm">
            <label for="error-1">Text input error</label>
            <input type="text" id="error-1" aria-describedby="unique-id-for-input-error" aria-invalid="true" />
            <div class="alert-inline m-top-sm" role="alert" id="unique-id-for-input-error">
                <p class="alert-inline__message">An error message for a text input</p>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <h2 class="text-uppercase ts-14 m-top-xl m-bottom-lg">Textarea</h2>
        <label for="demo-3">Textarea</label>
        <textarea id="demo-3" class="m-bottom-md"></textarea>

        <label for="demo-4">Textarea (disabled)</label>
        <textarea id="demo-4" class="m-bottom-md" disabled></textarea>
        <div class="input-error m-bottom-sm">
            <label for="error-2">Textarea error</label>
            <textarea id="error-2" aria-describedby="unique-id-for-textarea-error" aria-invalid="true"></textarea>
            <div class="alert-inline m-top-sm" role="alert" id="unique-id-for-textarea-error">
                <p class="alert-inline__message">An error message for a textarea</p>
            </div>
        </div>
    </fieldset>

</form>
