---
tags: select-input
title: Default select input
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<label for="select-input-default" class="rvt-label">Select Input:</label>
<select id="select-input-default" class="rvt-select">
  <option value="option one">Option One</option>
  <option value="option two">Option Two</option>
  <option value="option three">Option Three</option>
</select>