<div class="rvt-stat">
  <div class="rvt-stat__group">
    <a href="#" class="rvt-stat__item">
      <div class="rvt-stat__image">
        <div class="rvt-avatar">
          <img class="rvt-avatar__image" src="https://www.fillmurray.com/300/300" alt="">
        </div>
      </div>
      <div class="rvt-stat__number">24</div>
      <div class="rvt-stat__description">Hours in a day</div>
    </a>
    <div class="rvt-stat__item">
      <div class="rvt-stat__image">
        <div class="rvt-avatar">
          <img class="rvt-avatar__image" src="https://www.fillmurray.com/300/300" alt="">
        </div>
      </div>
      <div class="rvt-stat__number">24</div>
      <div class="rvt-stat__description">Hours in a day</div>
    </div>
    <a href="#" class="rvt-stat__item">
      <div class="rvt-stat__image">
        <div class="rvt-avatar">
          <img class="rvt-avatar__image" src="https://www.fillmurray.com/300/300" alt="">
        </div>
      </div>
      <div class="rvt-stat__number">24</div>
      <div class="rvt-stat__description">Hours in a day</div>
    </a>
    <a href="#" class="rvt-stat__item">
      <div class="rvt-stat__image">
        <div class="rvt-avatar">
          <img class="rvt-avatar__image" src="https://www.fillmurray.com/300/300" alt="">
        </div>
      </div>
      <div class="rvt-stat__number">24</div>
      <div class="rvt-stat__description">Hours in a day</div>
    </a>
  </div>
  <div class="rvt-stat__notes [ rvt-flow ]">
    <p>Some notes about the stats...</p>
  </div>
</div>