<h1 class="rvt-ts-36 rvt-lh-title rvt-text-bold">Rivet loading indicator</h1>

<h2 class="rvt-text-uppercase rvt-ts-14 rvt-m-top-xxl">Default</h2>
<div class="rvt-p-all-md rvt-m-top-sm rvt-loader-demo">
  <div class="rvt-loader rvt-loader--xxs" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--xs" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--sm" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--md" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--lg" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--xl" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--xxl" aria-label="Content loading"></div>
</div>

<h2 class="rvt-text-uppercase rvt-ts-14 rvt-m-top-xxl">Reversed color</h2>
<div class="rvt-p-all-md rvt-bg-midnight rvt-m-top-sm rvt-loader-demo">
  <div class="rvt-loader rvt-loader--reverse rvt-loader--xxs" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--xs" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--sm" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--md" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--lg" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--xl" aria-label="Content loading"></div>
  <div class="rvt-loader rvt-loader--reverse rvt-loader--xxl" aria-label="Content loading"></div>
</div>

<div class="rvt-m-top-xl">
  <h2 class="rvt-text-uppercase rvt-ts-14 rvt-m-top-xxl">Button loading state demo</h2>
  <div class="rvt-button-group rvt-m-top-md">
    <button class="rvt-button rvt-button--loading" aria-busy="true" disabled>
      <span class="rvt-button__content">Update settings</span>
      <div class="rvt-loader rvt-loader--xs" aria-label="Content loading"></div>
    </button>
  </div>

  <div class="rvt-button-group rvt-m-top-md">
    <button class="rvt-button" data-loading-button>
      <span class="rvt-button__content" id="my-loader">Submit</span>
      <div class="rvt-loader rvt-loader--xs" aria-label="Content loading"></div>
    </button>
  </div>
  <div class="rvt-m-top-sm">Save/Loading button usage demo. <strong>Click to toggle</strong> loading state.</div>
</div>


<h2 class="rvt-text-uppercase rvt-ts-14 rvt-m-top-xxl">Position demo</h2>
<div class="rvt-position-demo">
  <div class="rvt-position-demo__wrapper">
    <div class="rvt-loader rvt-loader--xxl" aria-label="Content loading"></div>
    <div class="rvt-text-center rvt-ts-18 rvt-m-top-xxs">Loading&hellip;</div>
  </div>
</div>

<style>
.rvt-loader-demo {
  display: flex;
  align-items: center;
}

.rvt-loader-demo .rvt-loader {
  margin-right: 1rem;
}

.rvt-position-demo {
  background-color: #f7f7f7;
  height: 400px;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.rvt-position-demo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.rvt-position-demo__wrapper .rvt-loader {
  margin-left: auto;
  margin-right: auto;
}
</style>

<script>
  const handleClick = event => {
  const loader = event.target.closest('[data-loading-button]');

  if (!loader) return;

  loader.classList.add('rvt-button--loading');

  loader.setAttribute('aria-busy', 'true');

  loader.setAttribute('disabled', '');

  setTimeout(function() {
    loader.classList.remove('rvt-button--loading');

    loader.setAttribute('aria-busy', 'false');

    loader.removeAttribute('disabled');
  }, 2000);
}

document.addEventListener('click', handleClick, false);
</script>