---
tags: billboard
title: Billboard title only, centered
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 7
---
<div class="rvt-billboard rvt-billboard--center">
  <div class="rvt-billboard__body">
    <h2 class="rvt-billboard__title">Become the best version of yourself at IU</h2>
  </div>
</div>