---
tags: billboard
title: Reversed billboard
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-billboard rvt-billboard--reverse">
  <div class="rvt-billboard__image">
    <img src="https://rivet.iu.edu/img/placeholder/billboard-2.jpg" alt="Student in vintage-style Indiana University t-shirt">
  </div>
  <div class="rvt-billboard__body">
    <h2 class="rvt-billboard__title">Become the best version of yourself at IU</h2>
    <div class="rvt-billboard__content [ rvt-flow ]">
      <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
      <a class="rvt-cta" href="#">Explore more of IU</a>
    </div>
  </div>
</div>