---
tags: billboard
title: Billboard without image, centered
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 99
---
<div class="rvt-billboard rvt-billboard--center">
  <div class="rvt-billboard__body">
    <h2 class="rvt-billboard__title">Become the best version of yourself at IU</h2>
    <div class="rvt-billboard__content [ rvt-flow ]">
      <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
      <a class="rvt-cta" href="#">Explore more of IU</a>
    </div>
  </div>
</div>