---
title: Custom Element Badge
---

<div class="rvt-flex rvt-gap-xs">
	<rvt-badge>Default</rvt-badge>
	<rvt-badge type="info">Info</rvt-badge>
	<rvt-badge type="success">
		<rvt-icon name="check"></rvt-icon>
		Success
	</rvt-badge>
	<rvt-badge type="warning">Warning</rvt-badge>
	<rvt-badge type="danger">Danger</rvt-badge>
</div>

<div class="rvt-flex rvt-gap-xs" rvt-margin="b-s:md">
	<rvt-badge tone="strong">Default</rvt-badge>
	<rvt-badge type="info" tone="strong">Info</rvt-badge>
	<rvt-badge type="success" tone="strong">
		<rvt-icon name="check"></rvt-icon>
		Success
	</rvt-badge>
	<rvt-badge type="warning" tone="strong">Warning</rvt-badge>
	<rvt-badge type="danger" tone="strong">Danger</rvt-badge>
</div>
