<div class="rvt-timeline rvt-timeline--right">
  <div class="rvt-timeline__item">
    <div class="rvt-timeline__marker" aria-hidden="true">
    </div>
    <div class="rvt-timeline__content">
      <h2 class="rvt-timeline__heading">Sample Item</h2>
      <span class="rvt-timeline__date rvt-timeline__date--label">Spring 2019</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
    </div>
  </div>
  <div class="rvt-timeline__item">
    <div class="rvt-timeline__marker" aria-hidden="true">
    </div>
    <div class="rvt-timeline__content">
      <h2 class="rvt-timeline__heading">Sample Item 2</h2>
      <span class="rvt-timeline__date rvt-timeline__date--label">Summer 2019</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
    </div>
  </div>
</div>