<div class="rvt-container rvt-container--junior rvt-container--center rvt-p-top-lg">
  <div class="rvt-grid">
    <div class="rvt-grid__item">
      <h1 class="rvt-ts-26 rvt-text-bold rvt-p-bottom-md">Timeline Component</h1>
      <h2 class="rvt-ts-23 rvt-text-bold rvt-p-bottom-xs rvt-p-top-md">Right-aligned with date labels</h2>
      <div class="rvt-timeline rvt-timeline-right">
        <div class="rvt-timeline__item">
          <div class="rvt-timeline__marker">
          </div>
          <div class="rvt-box rvt-box--card rvt-timeline__content rvt-p-all-md">
            <h2 class="rvt-ts-md rvt-text-bold">Sample Item</h2>
            <span class="rvt-timeline__date rvt-timeline__date--label">Spring 2019</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
          </div>
        </div>
        <div class="rvt-timeline__item">
          <div class="rvt-timeline__marker">
          </div>
          <div class="rvt-box rvt-box--card rvt-timeline__content rvt-p-all-md">
            <h2 class="rvt-ts-md rvt-text-bold">Sample Item 2</h2>
            <span class="rvt-timeline__date rvt-timeline__date--label">Summer 2019</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>