<div class="rvt-timeline rvt-timeline--center">
  <div class="rvt-grid">
    <div class="rvt-timeline__item rvt-grid__item-6-md-up">
      <div class="rvt-timeline__marker" aria-hidden>
      </div>
      <div class="rvt-timeline__content rvt-timeline__content-left">
        <h2 class="rvt-ts-md rvt-text-bold">Sample Item</h2>
        <span class="rvt-timeline__date">Spring 2019</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
  <div class="rvt-grid">
    <div class="rvt-timeline__item rvt-timeline__item-right rvt-grid__item-6-md-up rvt-grid__item--last">
      <div class="rvt-timeline__marker" aria-hidden>
      </div>
      <div class="rvt-timeline__content">
        <h2 class="rvt-ts-md rvt-text-bold">Sample Item 2</h2>
        <span class="rvt-timeline__date">Summer 2019</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nulla ante. Suspendisse potenti. Donec efficitur, sem vitae dignissim viverra, nunc purus tempus nisi, feugiat ullamcorper tellus urna ut dui. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
</div>