<div class="rvt-hero">
  <div class="{{ siteContainer }}"> 
    <div class="rvt-hero__inner">
      <div class="rvt-hero__body [ rvt-flow ]">
        <span class="rvt-hero__eyebrow">Category</span>
        <h1 class="rvt-hero__title">Hero heading</h1>
        <div class="rvt-hero__teaser">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorem alias aperiam commodi velit dolorum repellendus, reprehenderit, aut assumenda eius rem quam, autem voluptatum cumque facilis et totam ex. Ducimus!</p>
        </div>
        <div class="rvt-hero__actions">
          <a href="#" class="rvt-button rvt-button--link">Explore more</a>
        </div>
      </div>
      <div class="rvt-hero__image">
        <img src="https://www.fillmurray.com/1200/800" alt="">
        <div class="rvt-hero__image-caption">Some caption for the image...</div>
      </div>
    </div>
  </div>
</div>