<!-- Default breadcrumb -->
<nav role="navigation" aria-label="Breadcrumbs">
    <ol class="rvt-breadcrumbs">
        <li><a href="#0"> Home </a></li>
        <li><a href="#0"> Files </a></li>
        <li aria-label="Current page">my-file.txt</li>
    </ol>
</nav>

<!-- Call out breadcrumb -->
<nav role="navigation" aria-label="Breadcrumbs call out" class="m-top-xl">
    <ol class="rvt-breadcrumbs rvt-breadcrumbs--call-out">
        <li><a href="#0"> Home </a></li>
        <li><a href="#0"> Files </a></li>
        <li aria-label="Current page">my-file.txt</li>
    </ol>
</nav>