@use '../variables' as *;

$breakpoints: map-get($tokens, 'breakpoint');
$colors: map-get($tokens, 'colors');
$type-scale: map-get($tokens, 'ts');
$widths: map-get($tokens, 'width');
$z-index: map-get($tokens, 'z-index');
