$colors: (
  'black-100': #ebecee,
  'black-200': #c4c7cc,
  'black-300': #a7abb3,
  'black-400': #8b919b,
  'black-500': #707784,
  'black-600': #565f6d,
  'black-700': #3d4757,
  'black-800': #243142,
  'black-900': #161c24,
  'black-base': #243142,
  'black-000': #f7f7f8,
  'blue-100': #dce3ee,
  'blue-200': #b8c8dc,
  'blue-300': #95adcb,
  'blue-400': #7194ba,
  'blue-500': #497ba9,
  'blue-600': #006298,
  'blue-700': #134a71,
  'blue-800': #16324b,
  'blue-900': #121c28,
  'blue-base': #006298,
  'blue-000': #edf1f6,
  'cream-base': #edebeb,
  'crimson-base': #990000,
  'green-100': #d4e8d2,
  'green-200': #aad1a7,
  'green-300': #7eb97c,
  'green-400': #50a253,
  'green-500': #008a28,
  'green-600': #116d23,
  'green-700': #16521d,
  'green-800': #153717,
  'green-900': #111f0f,
  'green-base': #008a28,
  'green-000': #eaf3e8,
  'orange-100': #ffd9cc,
  'orange-200': #ffb49a,
  'orange-300': #fa8e6b,
  'orange-400': #ef663c,
  'orange-500': #df3603,
  'orange-600': #b02f0a,
  'orange-700': #82270d,
  'orange-800': #571e0c,
  'orange-900': #2f1407,
  'orange-base': #df3603,
  'orange-000': #ffece5,
  'white-base': #ffffff,
  'yellow-100': #ffdd9b,
  'yellow-200': #f5bb17,
  'yellow-300': #d6a31a,
  'yellow-400': #b58a1b,
  'yellow-500': #94721b,
  'yellow-600': #765a19,
  'yellow-700': #584416,
  'yellow-800': #3c2e13,
  'yellow-900': #221b0c,
  'yellow-base': #f5bb17,
  'yellow-000': #ffeecd
);
