---
tags: disclosure
title: Default disclosure
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-disclosure" data-rvt-disclosure="disclosure-1">
  <button class="rvt-disclosure__toggle" data-rvt-disclosure-toggle aria-expanded="false">Take a look at the numbers</button>
  <div class="rvt-disclosure__content" data-rvt-disclosure-target hidden>
    <div class="rvt-prose rvt-flow">
      <p>Tuition and fees vary at each Indiana University campus. As you look at total costs, keep in mind that financial aid, scholarships and awards, a part-time job, and student loans can all factor into what you will pay for your degree.</p>
    </div>
  </div>
</div>