<nav role="navigation" {% for attribute in attributes %} {{attribute.label}}="{{attribute.value}}"{% endfor %}>
  <ul class="rvt-pagination{% if small %} rvt-pagination--small{% endif %}">
    {% for item in items %}
      <li class="rvt-pagination__item{% if item.current %} is-active" aria-current="true{% endif %}">
        <a{% for attribute in item.linkAttributes %} {{attribute.label}}="{{attribute.value}}"{% endfor %}>{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>