<h2 class="text-uppercase ts-14 m-bottom-sm">Default (left-aligned)</h2>
<!-- Default pagination component -->
<nav role="navigation" aria-label="Default results pages">
    <ul class="rvt-pagination">
        <li class="rvt-pagination__item"><a href="#0">Previous</a></li>
        <li class="rvt-pagination__item"><a href="#0">1</a></li>
        <li class="rvt-pagination__item is-active"><a href="#0">2</a></li>
        <li class="rvt-pagination__item"><a href="#0">3</a></li>
        <li class="rvt-pagination__item"><a href="#0">Next</a></li>
    </ul>
</nav>

<h2 class="text-uppercase ts-14 m-top-lg m-bottom-sm">Small</h2>
<!-- With small modifier -->
<nav role="navigation" aria-label="Small results pages">
    <ul class="rvt-pagination rvt-pagination--small">
        <li class="rvt-pagination__item"><a href="#0">Previous</a></li>
        <li class="rvt-pagination__item is-active"><a href="#0">1</a></li>
        <li class="rvt-pagination__item"><a href="#0">2</a></li>
        <li class="rvt-pagination__item"><a href="#0">3</a></li>
        <li class="rvt-pagination__item"><a href="#0">Next</a></li>
    </ul>
</nav>

<h2 class="text-uppercase text-center ts-14 m-top-xl m-bottom-sm">Centered</h2>
<!-- With centered modifier -->
<nav role="navigation" aria-label="Centered results pages">
    <ul class="rvt-pagination rvt-pagination--center">
        <li class="rvt-pagination__item"><a href="#0">Previous</a></li>
        <li class="rvt-pagination__item"><a href="#0">1</a></li>
        <li class="rvt-pagination__item"><a href="#0">2</a></li>
        <li class="rvt-pagination__item"><a href="#0">3</a></li>
        <li class="rvt-pagination__item is-active"><a href="#0">4</a></li>
        <li class="rvt-pagination__item is-disabled"><a href="#0" tabindex="-1">Next</a></li>
    </ul>
</nav>

<h2 class="text-uppercase text-right ts-14 m-top-xl m-bottom-sm">Right-aligned</h2>
<!-- With right-aligned modifier -->
<nav role="navigation" aria-label="Right-aligned results pages">
    <ul class="rvt-pagination rvt-pagination--right">
        <li class="rvt-pagination__item is-disabled"><a href="#0" tabindex="-1">Previous</a></li>
        <li class="rvt-pagination__item is-active"><a href="#0">1</a></li>
        <li class="rvt-pagination__item"><a href="#0">2</a></li>
        <li class="rvt-pagination__item"><a href="#0">3</a></li>
        <li class="rvt-pagination__item"><a href="#0">4</a></li>
        <li class="rvt-pagination__item"><a href="#0">5</a></li>
        <li class="rvt-pagination__item"><a href="#0">Next</a></li>
    </ul>
</nav>
