<nav role="navigation" {% for attribute in attributes %} {{attribute.label}}="{{attribute.value}}"{% endfor %}>
  <ul class="rvt-pagination">
    {% for item in items %}
      <li class="rvt-pagination__item{% if item.current %} is-active" aria-current="true{% endif %}">
        <a{% for attribute in item.linkAttributes %} {{attribute.label}}="{{attribute.value}}"{% endfor %}>{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<span class="display-block text-uppercase ts-14 m-top-lg m-bottom-sm">Small</span>
<!-- With small modifier -->
<nav role="navigation" aria-label="Small results pages">
    <ul class="rvt-pagination rvt-pagination--small">
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Previous set of pages">Previous</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 4">4</a>
        </li>
        <li class="rvt-pagination__item is-active" aria-current="true">
            <a href="#0" aria-label="Page 5, current page">5</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 6">6</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Next set of pages">Next</a>
        </li>
    </ul>
</nav>

<span class="display-block text-uppercase text-center ts-14 m-top-xl m-bottom-sm">Centered</span>
<!-- With centered modifier -->
<nav role="navigation" aria-label="Centered results pages">
    <ul class="rvt-pagination rvt-pagination--center">
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Previous pages">Previous</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 5">5</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 6">6</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 7">7</a>
        </li>
        <li class="rvt-pagination__item is-active" aria-current="true">
            <a href="#0" aria-label="Page 8, current page">8</a>
            </li>
        <li class="rvt-pagination__item is-disabled">
            <a href="#0" tabindex="-1">Next</a>
        </li>
    </ul>
</nav>

<span class="display-block text-uppercase text-right ts-14 m-top-xl m-bottom-sm">Right-aligned</span>
<!-- With right-aligned modifier -->
<nav role="navigation" aria-label="Right-aligned results pages">
    <ul class="rvt-pagination rvt-pagination--right">
        <li class="rvt-pagination__item is-disabled">
            <a href="#0" aria-label="Previous pages" tabindex="-1">Previous</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 1">1</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 2">2</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Page 3">3</a>
        </li>
        <li class="rvt-pagination__item is-active" aria-current="true">
            <a href="#0" aria-label="Page 4, current page">4</a>
        </li>
        <li class="rvt-pagination__item">
            <a href="#0" aria-label="Next set of pages">Next</a>
        </li>
    </ul>
</nav>
