
<h2 class="ts-14 text-uppercase m-bottom-sm">Information Alert</h2>
<div class="rvt-alert rvt-alert--info m-bottom-md" role="alertdialog" aria-labelledby="information-alert-title">
    <h1 class="rvt-alert__title" id="information-alert-title">Scheduled System Maintenance</h1>
    <p class="rvt-alert__message">This system will be unavailable on August 1st due to scheduled system maintenance. Please check back on August 2nd.</p>
    {{> @includes--alert-close-button }}
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Success Alert</h2>
<div class="alert alert--success m-bottom-md" role="alertdialog" aria-labelledby="success-alert-title">
    <h1 class="rvt-alert__title" id="success-alert-title">Thank you!</h1>
    <p class="rvt-alert__message">We have received your application. Check your email in a few weeks to find out if you’ve been admitted.</p>
    {{> @includes--alert-close-button }}
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Warning Alert</h2>
<div class="alert alert--warning m-bottom-md" role="alertdialog" aria-labelledby="warning-alert-title">
    <h1 class="rvt-alert__title" id="warning-alert-title">Unsaved Changes</h1>
    <p class="rvt-alert__message">Your changes have not been saved. To save your changes, click ‘Save my changes’ or click ‘Cancel’ to exit without saving.</p>
    {{> @includes--alert-close-button }}
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Error Alert</h2>
<div class="rvt-alert rvt-alert--error m-bottom-xxl" role="alert" aria-labelledby="error-alert-title">
    <h1 class="rvt-alert__title" id="error-alert-title">Incorrect User ID or Password</h1>
    <p class="rvt-alert__message">The user ID and password you entered do not match. Please check your entries and try again. <a href="#0">Forgot your user ID or password?</a></p>
</div>
