<div class="alert m-bottom-md" role="alert">
    <h1 class="alert__title">Default alert</h1>
    <p class="alert__message">Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Repellendus autem ea, ratione nobis exercitationem.</p>
</div>

<div class="alert alert--info m-bottom-md" role="alertdialog">
    <h1 class="alert__title">Information alert</h1>
    <p class="alert__message">Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Repellendus autem ea, ratione nobis exercitationem.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<div class="alert alert--success m-bottom-md" role="alertdialog">
    <h1 class="alert__title">Success!</h1>
    <p class="alert__message">Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Repellendus autem ea, ratione nobis exercitationem.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<div class="alert alert--message m-bottom-md"
     role="alertdialog"
     aria-labelledby="default-alert-title"
     aria-describedby="default-alert-message">
    <h1 class="alert__title" id="default-alert-title">Message alert</h1>
    <p class="alert__message" id="default-alert-message">Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Repellendus autem ea, ratione nobis exercitationem.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<div class="alert alert--error m-bottom-xxl" role="alert">
    <h1 class="alert__title">I've made a huge mistake.</h1>
    <p class="alert__message">Lorem ipsum dolor sit amet, <a href="#0">consectetur adipisicing</a> elit. Repellendus autem ea, ratione nobis exercitationem.</p>
</div>


<script src="{{ path '/js/alert.js' }}"></script>

<script>
    Alert.init();
</script>
