
<h2 class="ts-14 text-uppercase m-bottom-sm">Information Alert</h2>
<div class="alert alert--info m-bottom-md" role="alertdialog" aria-labelledby="information-alert-title">
    <h1 class="alert__title" id="information-alert-title">Scheduled System Maintenance</h1>
    <p class="alert__message">This system will be unavailable on August 1st due to scheduled system maintenance. Please check back on August 2nd.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Success Alert</h2>
<div class="alert alert--success m-bottom-md" role="alertdialog" aria-labelledby="success-alert-title">
    <h1 class="alert__title" id="success-alert-title">Thank you!</h1>
    <p class="alert__message">We have received your application. Check your email in a few weeks to find out if you’ve been admitted.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Message Alert</h2>
<div class="alert alert--message m-bottom-md" role="alertdialog" aria-labelledby="warning-alert-title">
    <h1 class="alert__title" id="warning-alert-title">Unsaved Changes</h1>
    <p class="alert__message">Your changes have not been saved. To save your changes, click ‘Save my changes’ or click ‘Cancel’ to exit without saving.</p>
    <button class="alert__dismiss">
        <span class="v-hide">Dismiss this alert</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path d="M10,8l5.63-5.63a1.39,1.39,0,0,0-2-2L8,6,2.37.41a1.39,1.39,0,0,0-2,2L6,8,.41,13.63a1.39,1.39,0,1,0,2,2L8,10l5.63,5.63a1.39,1.39,0,0,0,2-2Z" style="fill: #333"/>
        </svg>
    </button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-sm">Error Alert</h2>
<div class="alert alert--error m-bottom-xxl" role="alert" aria-labelledby="error-alert-title">
    <h1 class="alert__title" id="error-alert-title">Incorrect User ID or Password.</h1>
    <p class="alert__message">The user ID and password you entered do not match. Please check your entries and try again. <a href="#0">Forgot your user ID or password?</a></p>
</div>
