<ul class="alert-list">
    <li class="alert-list__item">
        <div class="alert alert--error" role="alert">
            <p class="alert__message">Errors don't always have to have a title. You could just use them for <a href="#0">messages</a>.</p>
        </div>
    </li>
    <li class="alert-list__item">
        <div class="alert alert--error" role="alert">
            <h1 class="alert__title">Errors can have a title only.<a href="#0">With a link</a>.</h1>
        </div>
    </li>
    <li class="alert-list__item">
        <div class="alert alert--error" role="alert">
            <h1 class="alert__title">Error message three is soooo long!</h1>
            <p class="alert__message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veniam iste, nesciunt aliquam illum quaerat hic expedita ducimus error assumenda explicabo quos harum delectus deserunt, autem corrupti quas doloremque. Veritatis.</p>
        </div>
    </li>
</ul>
