{% for item in items %}
  {% if item.children %}
  <li class="rvt-sidenav__item">
    <div class="rvt-sidenav__item-wrapper">
      <a href="{{ item.url }}" class="rvt-sidenav__link">{{ item.text }}</a>
      <button class="rvt-sidenav__toggle" data-rvt-sidenav-toggle="toggle-{{ loop.index }}">
        <span class="rvt-sr-only">Toggle Section nav {{ loop.index }} menu</span>
        <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"/>
        </svg>
      </button>
    </div>
    <ul class="rvt-sidenav__list" data-rvt-sidenav-list="toggle-{{ loop.index }}">
      {% for child in item.children %}
      <li class="rvt-sidenav__item">
        <a href="{{ child.url }}" class="rvt-sidenav__link">{{ child.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li class="rvt-sidenav__item">
    <a href="{{ item.url }}" class="rvt-sidenav__link">{{ item.text }}</a>
  </li>
  {% endif %}
</li>
{% endfor %}