---
tags: series-nav
title: Default series nav
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<nav class="rvt-seriesnav">
	<a class="rvt-seriesnav__previous" href="#">
		<div class="rvt-seriesnav__text">
			<span class="rvt-seriesnav__label">Previous:</span>
			<span class="rvt-seriesnav__item">Norval Ashton</span>
		</div>
	</a>
	<a class="rvt-seriesnav__next" href="#">
		<div class="rvt-seriesnav__text">
			<span class="rvt-seriesnav__label">Next:</span>
			<span class="rvt-seriesnav__item">Elta Era</span>
		</div>
	</a>
</nav>
