---
tags: color
title: Color table
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<table>
<caption class="rvt-sr-only">Rivet color utilities</caption>
<thead>
<th>CSS classes</th>
<th>Hex code</th>
<th>Foreground color</th>
<th>Background color</th>
</thead>
<tbody>

<tr>
<td><code>.rvt-color-white<br>.rvt-bg-white</code></td>
<td><code>#ffffff</code></td>
<td><span class="rvt-color-white">Example text</span></td>
<td class="rvt-bg-white"></td>
</tr>

<tr>
<td><code>.rvt-color-black<br>.rvt-bg-black</code></td>
<td><code>#243142</code></td>
<td><span class="rvt-color-black">Example text</span></td>
<td class="rvt-bg-black"></td>
</tr>

<tr>
<td><code>.rvt-color-black-000<br>.rvt-bg-black-000</code></td>
<td><code>#f8f9fa</code></td>
<td><span class="rvt-color-black-000">Example text</span></td>
<td class="rvt-bg-black-000"></td>
</tr>

<tr>
<td><code>.rvt-color-black-100<br>.rvt-bg-black-100</code></td>
<td><code>#e2e7e9</code></td>
<td><span class="rvt-color-black-100">Example text</span></td>
<td class="rvt-bg-black-100"></td>
</tr>

<tr>
<td><code>.rvt-color-black-200<br>.rvt-bg-black-200</code></td>
<td><code>#a0abb4</code></td>
<td><span class="rvt-color-black-200">Example text</span></td>
<td class="rvt-bg-black-200"></td>
</tr>

<tr>
<td><code>.rvt-color-black-300<br>.rvt-bg-black-300</code></td>
<td><code>#75838f</code></td>
<td><span class="rvt-color-black-300">Example text</span></td>
<td class="rvt-bg-black-300"></td>
</tr>

<tr>
<td><code>.rvt-color-black-400<br>.rvt-bg-black-400</code></td>
<td><code>#4c5a69</code></td>
<td><span class="rvt-color-black-400">Example text</span></td>
<td class="rvt-bg-black-400"></td>
</tr>

<tr>
<td><code>.rvt-color-black-500<br>.rvt-bg-black-500</code></td>
<td><code>#243142</code></td>
<td><span class="rvt-color-black-500">Example text</span></td>
<td class="rvt-bg-black-500"></td>
</tr>

<tr>
<td><code>.rvt-color-black-600<br>.rvt-bg-black-600</code></td>
<td><code>#182534</code></td>
<td><span class="rvt-color-black-600">Example text</span></td>
<td class="rvt-bg-black-600"></td>
</tr>

<tr>
<td><code>.rvt-color-black-700<br>.rvt-bg-black-700</code></td>
<td><code>#0e1825</code></td>
<td><span class="rvt-color-black-700">Example text</span></td>
<td class="rvt-bg-black-700"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson<br>.rvt-bg-crimson</code></td>
<td><code>#990000</code></td>
<td><span class="rvt-color-crimson">Example text</span></td>
<td class="rvt-bg-crimson"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-000<br>.rvt-bg-crimson-000</code></td>
<td><code>#fff7f8</code></td>
<td><span class="rvt-color-crimson-000">Example text</span></td>
<td class="rvt-bg-crimson-000"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-100<br>.rvt-bg-crimson-100</code></td>
<td><code>#ffd6db</code></td>
<td><span class="rvt-color-crimson-100">Example text</span></td>
<td class="rvt-bg-crimson-100"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-200<br>.rvt-bg-crimson-200</code></td>
<td><code>#ff636a</code></td>
<td><span class="rvt-color-crimson-200">Example text</span></td>
<td class="rvt-bg-crimson-200"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-300<br>.rvt-bg-crimson-300</code></td>
<td><code>#f23a3f</code></td>
<td><span class="rvt-color-crimson-300">Example text</span></td>
<td class="rvt-bg-crimson-300"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-400<br>.rvt-bg-crimson-400</code></td>
<td><code>#dc231e</code></td>
<td><span class="rvt-color-crimson-400">Example text</span></td>
<td class="rvt-bg-crimson-400"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-500<br>.rvt-bg-crimson-500</code></td>
<td><code>#990000</code></td>
<td><span class="rvt-color-crimson-500">Example text</span></td>
<td class="rvt-bg-crimson-500"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-600<br>.rvt-bg-crimson-600</code></td>
<td><code>#800000</code></td>
<td><span class="rvt-color-crimson-600">Example text</span></td>
<td class="rvt-bg-crimson-600"></td>
</tr>

<tr>
<td><code>.rvt-color-crimson-700<br>.rvt-bg-crimson-700</code></td>
<td><code>#5a0c0c</code></td>
<td><span class="rvt-color-crimson-700">Example text</span></td>
<td class="rvt-bg-crimson-700"></td>
</tr>

<tr>
<td><code>.rvt-color-blue<br>.rvt-bg-blue</code></td>
<td><code>#006298</code></td>
<td><span class="rvt-color-blue">Example text</span></td>
<td class="rvt-bg-blue"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-000<br>.rvt-bg-blue-000</code></td>
<td><code>#edfafd</code></td>
<td><span class="rvt-color-blue-000">Example text</span></td>
<td class="rvt-bg-blue-000"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-100<br>.rvt-bg-blue-100</code></td>
<td><code>#c6ecf6</code></td>
<td><span class="rvt-color-blue-100">Example text</span></td>
<td class="rvt-bg-blue-100"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-200<br>.rvt-bg-blue-200</code></td>
<td><code>#94d2e7</code></td>
<td><span class="rvt-color-blue-200">Example text</span></td>
<td class="rvt-bg-blue-200"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-300<br>.rvt-bg-blue-300</code></td>
<td><code>#63b1d3</code></td>
<td><span class="rvt-color-blue-300">Example text</span></td>
<td class="rvt-bg-blue-300"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-400<br>.rvt-bg-blue-400</code></td>
<td><code>#328bb8</code></td>
<td><span class="rvt-color-blue-400">Example text</span></td>
<td class="rvt-bg-blue-400"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-500<br>.rvt-bg-blue-500</code></td>
<td><code>#006298</code></td>
<td><span class="rvt-color-blue-500">Example text</span></td>
<td class="rvt-bg-blue-500"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-600<br>.rvt-bg-blue-600</code></td>
<td><code>#004f80</code></td>
<td><span class="rvt-color-blue-600">Example text</span></td>
<td class="rvt-bg-blue-600"></td>
</tr>

<tr>
<td><code>.rvt-color-blue-700<br>.rvt-bg-blue-700</code></td>
<td><code>#00385f</code></td>
<td><span class="rvt-color-blue-700">Example text</span></td>
<td class="rvt-bg-blue-700"></td>
</tr>

<tr>
<td><code>.rvt-color-green<br>.rvt-bg-green</code></td>
<td><code>#056e41</code></td>
<td><span class="rvt-color-green">Example text</span></td>
<td class="rvt-bg-green"></td>
</tr>

<tr>
<td><code>.rvt-color-green-000<br>.rvt-bg-green-000</code></td>
<td><code>#f9f9f0</code></td>
<td><span class="rvt-color-green-000">Example text</span></td>
<td class="rvt-bg-green-000"></td>
</tr>

<tr>
<td><code>.rvt-color-green-100<br>.rvt-bg-green-100</code></td>
<td><code>#dee8c6</code></td>
<td><span class="rvt-color-green-100">Example text</span></td>
<td class="rvt-bg-green-100"></td>
</tr>

<tr>
<td><code>.rvt-color-green-200<br>.rvt-bg-green-200</code></td>
<td><code>#a7d094</code></td>
<td><span class="rvt-color-green-200">Example text</span></td>
<td class="rvt-bg-green-200"></td>
</tr>

<tr>
<td><code>.rvt-color-green-300<br>.rvt-bg-green-300</code></td>
<td><code>#63b363</code></td>
<td><span class="rvt-color-green-300">Example text</span></td>
<td class="rvt-bg-green-300"></td>
</tr>

<tr>
<td><code>.rvt-color-green-400<br>.rvt-bg-green-400</code></td>
<td><code>#329345</code></td>
<td><span class="rvt-color-green-400">Example text</span></td>
<td class="rvt-bg-green-400"></td>
</tr>

<tr>
<td><code>.rvt-color-green-500<br>.rvt-bg-green-500</code></td>
<td><code>#056e41</code></td>
<td><span class="rvt-color-green-500">Example text</span></td>
<td class="rvt-bg-green-500"></td>
</tr>

<tr>
<td><code>.rvt-color-green-600<br>.rvt-bg-green-600</code></td>
<td><code>#005c31</code></td>
<td><span class="rvt-color-green-600">Example text</span></td>
<td class="rvt-bg-green-600"></td>
</tr>

<tr>
<td><code>.rvt-color-green-700<br>.rvt-bg-green-700</code></td>
<td><code>#004421</code></td>
<td><span class="rvt-color-green-700">Example text</span></td>
<td class="rvt-bg-green-700"></td>
</tr>

<tr>
<td><code>.rvt-color-gold<br>.rvt-bg-gold</code></td>
<td><code>#ffaa00</code></td>
<td><span class="rvt-color-gold">Example text</span></td>
<td class="rvt-bg-gold"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-000<br>.rvt-bg-gold-000</code></td>
<td><code>#fffceb</code></td>
<td><span class="rvt-color-gold-000">Example text</span></td>
<td class="rvt-bg-gold-000"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-100<br>.rvt-bg-gold-100</code></td>
<td><code>#fff4c6</code></td>
<td><span class="rvt-color-gold-100">Example text</span></td>
<td class="rvt-bg-gold-100"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-200<br>.rvt-bg-gold-200</code></td>
<td><code>#ffe694</code></td>
<td><span class="rvt-color-gold-200">Example text</span></td>
<td class="rvt-bg-gold-200"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-300<br>.rvt-bg-gold-300</code></td>
<td><code>#ffd563</code></td>
<td><span class="rvt-color-gold-300">Example text</span></td>
<td class="rvt-bg-gold-300"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-400<br>.rvt-bg-gold-400</code></td>
<td><code>#ffc132</code></td>
<td><span class="rvt-color-gold-400">Example text</span></td>
<td class="rvt-bg-gold-400"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-500<br>.rvt-bg-gold-500</code></td>
<td><code>#ffaa00</code></td>
<td><span class="rvt-color-gold-500">Example text</span></td>
<td class="rvt-bg-gold-500"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-600<br>.rvt-bg-gold-600</code></td>
<td><code>#a36b00</code></td>
<td><span class="rvt-color-gold-600">Example text</span></td>
<td class="rvt-bg-gold-600"></td>
</tr>

<tr>
<td><code>.rvt-color-gold-700<br>.rvt-bg-gold-700</code></td>
<td><code>#613d00</code></td>
<td><span class="rvt-color-gold-700">Example text</span></td>
<td class="rvt-bg-gold-700"></td>
</tr>

<tr>
<td><code>.rvt-color-orange<br>.rvt-bg-orange</code></td>
<td><code>#df3603</code></td>
<td><span class="rvt-color-orange">Example text</span></td>
<td class="rvt-bg-orange"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-000<br>.rvt-bg-orange-000</code></td>
<td><code>#fff3f0</code></td>
<td><span class="rvt-color-orange-000">Example text</span></td>
<td class="rvt-bg-orange-000"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-100<br>.rvt-bg-orange-100</code></td>
<td><code>#ffcdc0</code></td>
<td><span class="rvt-color-orange-100">Example text</span></td>
<td class="rvt-bg-orange-100"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-200<br>.rvt-bg-orange-200</code></td>
<td><code>#ffa690</code></td>
<td><span class="rvt-color-orange-200">Example text</span></td>
<td class="rvt-bg-orange-200"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-300<br>.rvt-bg-orange-300</code></td>
<td><code>#ff7e60</code></td>
<td><span class="rvt-color-orange-300">Example text</span></td>
<td class="rvt-bg-orange-300"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-400<br>.rvt-bg-orange-400</code></td>
<td><code>#f75930</code></td>
<td><span class="rvt-color-orange-400">Example text</span></td>
<td class="rvt-bg-orange-400"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-500<br>.rvt-bg-orange-500</code></td>
<td><code>#df3603</code></td>
<td><span class="rvt-color-orange-500">Example text</span></td>
<td class="rvt-bg-orange-500"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-600<br>.rvt-bg-orange-600</code></td>
<td><code>#b11c00</code></td>
<td><span class="rvt-color-orange-600">Example text</span></td>
<td class="rvt-bg-orange-600"></td>
</tr>

<tr>
<td><code>.rvt-color-orange-700<br>.rvt-bg-orange-700</code></td>
<td><code>#690a00</code></td>
<td><span class="rvt-color-orange-700">Example text</span></td>
<td class="rvt-bg-orange-700"></td>
</tr>

<tr>
<td><code>.rvt-color-purple<br>.rvt-bg-purple</code></td>
<td><code>#59264d</code></td>
<td><span class="rvt-color-purple">Example text</span></td>
<td class="rvt-bg-purple"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-000<br>.rvt-bg-purple-000</code></td>
<td><code>#fbf8fb</code></td>
<td><span class="rvt-color-purple-000">Example text</span></td>
<td class="rvt-bg-purple-000"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-100<br>.rvt-bg-purple-100</code></td>
<td><code>#decadc</code></td>
<td><span class="rvt-color-purple-100">Example text</span></td>
<td class="rvt-bg-purple-100"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-200<br>.rvt-bg-purple-200</code></td>
<td><code>#c09ebb</code></td>
<td><span class="rvt-color-purple-200">Example text</span></td>
<td class="rvt-bg-purple-200"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-300<br>.rvt-bg-purple-300</code></td>
<td><code>#a07498</code></td>
<td><span class="rvt-color-purple-300">Example text</span></td>
<td class="rvt-bg-purple-300"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-400<br>.rvt-bg-purple-400</code></td>
<td><code>#7d4c73</code></td>
<td><span class="rvt-color-purple-400">Example text</span></td>
<td class="rvt-bg-purple-400"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-500<br>.rvt-bg-purple-500</code></td>
<td><code>#59264d</code></td>
<td><span class="rvt-color-purple-500">Example text</span></td>
<td class="rvt-bg-purple-500"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-600<br>.rvt-bg-purple-600</code></td>
<td><code>#48183d</code></td>
<td><span class="rvt-color-purple-600">Example text</span></td>
<td class="rvt-bg-purple-600"></td>
</tr>

<tr>
<td><code>.rvt-color-purple-700<br>.rvt-bg-purple-700</code></td>
<td><code>#330d2b</code></td>
<td><span class="rvt-color-purple-700">Example text</span></td>
<td class="rvt-bg-purple-700"></td>
</tr>

</tbody>
</table>