---
tags: card-grid
title: Card grid - Filterable People
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 3
classes: rvt-page
---

{% include "demos/demo-header-crimson.njk" %}
<main>
	<div class="rvt-section rvt-theme-crimson">
		{% include "demos/demo-hero-callout.njk" %}
	</div>

	<div class="rvt-section rvt-theme-light [ rvt-p-top-sm ]">
		<div class="rvt-container">
			<nav role="navigation" aria-label="Breadcrumbs">
				<ol class="rvt-breadcrumbs">
					<li><a href="#">Home</a></li>
					<li><a href="#">{Visited page}</a></li>
					<li><a href="#">{Visited page}</a></li>
					<li><a href="#">{Visited page}</a></li>
					<li aria-current="page">{Current page}</li>
				</ol>
			</nav>
		</div>
	</div>

	{#
	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			{% include "demos/demo-billboard-compact.njk" %}
		</div>
	</div>
	#}

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">{% include "demos/demo-filter-form.njk" %}</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<!--
      This type of card grid can have a section intro too if needed
    -->
		<!--
    <div class="rvt-container">
      <div class="rvt-rich-text">
        <div>
          <span class="rvt-ts-14 rvt-font-mono">Showing { X of X } { Resources }</span>
          <h2>{ Optional Category Title (6) }</h2>
        </div>
        <p>{ Optional description copy should not exceed one concise paragraph. }</p>
      </div>
    </div>
    -->

		<div class="rvt-container">
			<!--
        NOT using the "collapsed" modifier for the grid here.
        Not using it was part of the design specs for regular
        non-"Category" card grid items like people, etc.
      -->
			<ul class="rvt-card-grid">
				{% for card in range(0, 8) %}
				<li>
					<div class="rvt-card">
						<div class="rvt-card__body">
							<div class="rvt-avatar rvt-avatar--md [ rvt-m-bottom-sm ]">
								<img
									class="rvt-avatar__image"
									src="https://rivet.iu.edu/img/placeholder/avatar-1.webp"
									alt=""
								/>
							</div>
							<div class="rvt-card__eyebrow">{Campus, team, or department}</div>
							<h2 class="rvt-card__title">
								<a href="#">{First & Last Name}</a>
							</h2>
							<p class="rvt-m-top-xs">{Person's title}</p>
							<div class="rvt-card__content">
								<div class="rvt-contact-info">
									<ul class="rvt-contact-info__icon-list">
										<li class="rvt-contact-info__icon-list-item">
											<rvt-icon name="user"></rvt-icon>
											<span><strong>Pronouns</strong>: She/her</span>
										</li>
										<li class="rvt-contact-info__icon-list-item">
											<rvt-icon name="envelope"></rvt-icon>
											<a href="#">info@iu.edu</a>
										</li>
										<li class="rvt-contact-info__icon-list-item">
											<rvt-icon name="phone"></rvt-icon>
											<a href="#">(812) 555-5555</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="rvt-card__meta">
								<p>Areas of expertise:</p>
								<ul
									class="rvt-flex rvt-flex-row rvt-wrap rvt-gap-xs rvt-list-plain rvt-m-top-sm"
								>
									<li class="rvt-badge rvt-badge--secondary">{UI/UX Design}</li>
									<li class="rvt-badge rvt-badge--secondary">{Branding}</li>
									<li class="rvt-badge rvt-badge--secondary">{Illustration}</li>
									<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
									<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
									<li class="rvt-badge rvt-badge--secondary">{Lorem}</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="rvt-flex rvt-justify-center rvt-m-top-xxl">
				{% include "demos/demo-pagination.njk" %}
			</div>
		</div>
	</div>
	<!-- End second card grid -->

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">{% include "demos/demo-contact-card.njk" %}</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			<div class="rvt-grid rvt-grid--2 [ rvt-gap-xxl ]">
				<div>
					<img
						src="https://picsum.photos/id/33/600/400"
						alt="Student in vintage-style Indiana University t-shirt"
					/>
				</div>

				<div>{% include "demos/demo-list-hub.njk" %}</div>
			</div>
		</div>
	</div>
</main>
{% include "demos/demo-footer.njk" %}
