---
tags: card-grid
title: Card grid - Two column
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header-crimson.njk" %}
<main>
  <div class="rvt-section rvt-theme-crimson">
    {% include "demos/demo-hero.njk" %}
  </div>

  <div class="rvt-layout-base">
    <div class="rvt-layout-base__sidebar" id="sidebar-main-content">
      {% include "demos/demo-sidenav.njk" %}
    </div>
    <div class="rvt-layout-base__main">

      <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="rvt-breadcrumbs [ rvt-m-bottom-lg ]">
          <li><a href="#">Home</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li aria-current="page">{Current page}</li>
        </ol>
      </nav>
      <div class="rvt-stack">
        <form class="rvt-bg-black-000 rvt-p-all-md rvt-flex rvt-flex-column rvt-gap-md">

          <div class="rvt-grid rvt-grid--2">
            <div>
              <label for="one" class="rvt-label">Lorem Ipsum</label>
              <input type="text" class="rvt-input" id="one">
            </div>
            <div>
              <label for="two" class="rvt-label">Lorem Ipsum</label>
              <input type="text" class="rvt-input" id="two">
            </div>
            <div>
              <label for="select-input-default" class="rvt-label">Select Input</label>
              <select id="select-input-default" class="rvt-select">
                <option value="option one">Option One</option>
                <option value="option two">Option Two</option>
                <option value="option three">Option Three</option>
              </select>
            </div>
            <div>
              <label for="three" class="rvt-label">Lorem Ipsum</label>
              <input type="text" class="rvt-input" id="three">
            </div>
          </div>

          <fieldset class="rvt-fieldset">
            <legend class="rvt-font-medium rvt-ts-14">Checkbox list</legend>
            <ul class="rvt-list-inline">
              <li>
                <div class="rvt-checkbox">
                  <input type="checkbox" name="checkbox-demo" id="checkbox-1" checked>
                  <label for="checkbox-1">Option one</label>
                </div>
              </li>
              <li>
                <div class="rvt-checkbox">
                  <input type="checkbox" name="checkbox-demo" id="checkbox-2">
                  <label for="checkbox-2">Option two</label>
                </div>
              </li>
              <li>
                <div class="rvt-checkbox">
                  <input type="checkbox" name="checkbox-demo" id="checkbox-3">
                  <label for="checkbox-3">Option three</label>
                </div>
              </li>
            </ul>
          </fieldset>

          <div class="rvt-flex rvt-gap-sm rvt-justify-end">
            <button class="rvt-button rvt-button--solid">Filter results</button>
            <button class="rvt-button rvt-button--outline">Filter results</button>
          </div>
        </form>

        {# {% include "demos/demo-billboard.njk" %} #}
        <div class="rvt-rich-text">
          <div>
            <span class="rvt-ts-14 rvt-font-mono">Showing { X of X } { Resources }</span>
            <h2>{ Optional Category Title (6) }</h2>
          </div>
          <p>{ Optional description copy should not exceed one concise paragraph. }</p>
        </div>
      </div>

      <ul class="rvt-grid rvt-grid--2">
        {% for card in range(0, 6) %}
        <li>
          <div class="rvt-card">
            <div class="rvt-card__image">
              <img src="https://picsum.photos/id/{{ (loop.index + 1) * 3 }}/600/400" alt="Smiling students sitting outside on a bench">
            </div>
            <div class="rvt-card__body">
              <div class="rvt-card__eyebrow">{Campus or category}</div>
              <h2 class="rvt-card__title">
                <a href="#">{This card title should be concise and should not exceed 78 characters or 3 lines of text}</a>
              </h2>
              <div class="rvt-card__content">
                <p> Minus ducimus sint amet similique, saepe aut natus fuga.</p>
              </div>
              <div class="rvt-card__meta">
                <time>{Jun 21,2024}</time>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
