<label for="text-input-{{ id }}" class="rvt-label">Text Input</label>
<input type="text" id="text-input-{{ id }}" class="rvt-text-input{% if class %} rvt-validation-{{ class }}{% endif %}" {{ modifier }}>
{% if alert %}
  {% set variant = "@alert-inline" %}
  {% if alertVariant %}
    {% set variant = (variant + alertVariant) %}
  {% endif %}
  {% render variant, {type: class}, true %}
{% endif %}