---
tags: button
title: Segmented button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 8
---
<div class="rvt-button-segmented rvt-m-top-sm" role="group" aria-label="Primary controls">
  <button type="button" class="rvt-button">Primary one</button>
  <button type="button" class="rvt-button">Primary two</button>
  <button type="button" class="rvt-button">Primary three</button>
</div>
<br>
<div class="rvt-button-segmented rvt-m-top-sm" role="group" aria-label="Secondary controls">
  <button type="button" class="rvt-button rvt-button--secondary">Secondary one</button>
  <button type="button" class="rvt-button rvt-button--secondary">Secondary two</button>
  <button type="button" class="rvt-button rvt-button--secondary">Secondary three</button>
</div>
<br>
<div class="rvt-button-segmented rvt-m-top-sm" role="group" aria-label="Secondary controls">
  <button type="button" class="rvt-button rvt-button--secondary">Secondary one</button>
</div>
<br>
<div class="rvt-button-segmented rvt-button-segmented--fitted rvt-m-top-sm" role="group" aria-label="Primary controls">
  <button type="button" class="rvt-button rvt-button--secondary">Primary one</button>
  <button type="button" class="rvt-button rvt-button--secondary">Primary two</button>
  <button type="button" class="rvt-button rvt-button--secondary">Primary three</button>
</div>
