---
tags: button
title: Medium button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-button-group">
  <button class="rvt-button rvt-button--medium">Primary</button>
  <button class="rvt-button rvt-button--success rvt-button--medium">Success</button>
  <button class="rvt-button rvt-button--danger rvt-button--medium">Danger</button>
  <button class="rvt-button rvt-button--plain rvt-button--medium">Plain</button>
</div>