---
tags: button
title: Full-width button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 5
---
<button class="rvt-button rvt-button--full-width">Primary</button>
<button class="rvt-button rvt-button--success rvt-button--full-width">Success</button>
<button class="rvt-button rvt-button--danger rvt-button--full-width">Danger</button>
<button class="rvt-button rvt-button--plain rvt-button--full-width">Plain</button>