---
tags: button
title: Button - Tag
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 0
---

<div class="rvt-flex rvt-gap-xs">
  <button class="rvt-button rvt-button--tag">
    <span class="rvt-sr-only">Remove</span>
    Button tag
  </button>
  <span class="rvt-badge">Badge</span>
</div>
