---
tags: button
title: Button - Crimson theme
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
classes: rvt-theme-crimson
---
{% for variant in variants %}
  <div class="rvt-flex rvt-gap-md rvt-m-top-md">
    {% for button in buttons %}
    {% if button.type == 'button' %}
      {% if button.hasIcon %}
      <button class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}">
        {{ button.text | safe }}
      </button>
      {% else %}
      <button class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}">
        {{ button.text }}
      </button>
      {% endif %}
    {% else %}
      <a href="{{ button.url }}" class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}">{{ button.text }}</a>
    {% endif %}
    {% endfor %}
  </div>
{% endfor %}