---
tags: button
title: Secondary button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-button-group">
  <button class="rvt-button rvt-button--secondary">Secondary</button>
  <button class="rvt-button rvt-button--success-secondary">Success</button>
  <button class="rvt-button rvt-button--danger-secondary">Danger</button>
</div>