---
tags: button
title: Right-aligned button group
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 6
---
<div class="rvt-button-group rvt-button-group--right">
  <button class="rvt-button">Primary</button>
  <button class="rvt-button rvt-button--success">Success</button>
  <button class="rvt-button rvt-button--danger">Danger</button>
  <button class="rvt-button rvt-button--plain">Plain</button>
</div>