---
tags: button
title: Button - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

{% for variant in variants %}
  <div class="rvt-flex rvt-gap-md rvt-m-top-md">
    {% for button in buttons %}
    {% if button.type == 'button' %}
      {% if button.hasIcon %}
      <button type="button" class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}">
        {{ button.text | safe }}
      </button>
      {% else %}
      <button
        type="button"
        class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}"
        {% if button.isDisabled %}disabled{% endif %}
      >
        {{ button.text }}
      </button>
      {% endif %}
    {% else %}
      <a href="{{ button.url }}" class="rvt-button{% if variant != 'default' %} rvt-button--{{ variant }}{% endif %}">{{ button.text }}</a>
    {% endif %}
    {% endfor %}
  </div>
{% endfor %}
