---
tags: button
title: Default button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-button-group">
  <button class="rvt-button">Primary</button>
  <button class="rvt-button rvt-button--success">Success</button>
  <button class="rvt-button rvt-button--danger">Danger</button>
  <button class="rvt-button rvt-button--plain">Plain</button>
</div>