---
tags: typography
title: Prose utility
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 8
---
<div class="rvt-prose">
  <h1>Picture yourself at IU Bloomington</h1>
  <p>It’s easy to fall in love with IU Bloomington’s beautiful campus, with iconic places like the picturesque Arboretum<sup>13</sup>, the grand Musical Arts Center (“the MAC”), and the Indiana Memorial Union (IMU), one of the country’s largest student unions, with four floors of late-night dining options, study rooms, a bowling alley, a movie theater, and more.</p>
  <h2>Keep learning during challenging times</h2>
  <p>Head to our <a href="#0">Keep Learning site</a> to find technology resources, self care support, and opportunities to stay connected to the IU community during COVID-19, whether you’re on campus or learning remotely.</p>
  <h3>A lively campus residential life</h3>
  <p>About a third of undergraduates live on campus (including all first-year students), and IU Bloomington offers a range of different campus housing options, from traditional dorms to apartment-style housing.</p>
  <p>You can even choose to live in one of 22 unique Learning Communities with people who share your academic interests or passions.</p>
</div>