---
tags: typography
title: Set font size
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<p class="rvt-ts-xxs">Lorem ipsum dolor sit</p>
<p class="rvt-ts-xs">Lorem ipsum dolor sit</p>
<p class="rvt-ts-sm">Lorem ipsum dolor sit</p>
<p class="rvt-ts-md">Lorem ipsum dolor sit</p>
<p class="rvt-ts-lg">Lorem ipsum dolor sit</p>
<p class="rvt-ts-xl">Lorem ipsum dolor sit</p>
<p class="rvt-ts-xxl">Lorem ipsum dolor sit</p>