---
tags: typography
title: Set font family
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<p class="rvt-font-serif">This is some serif text.</p>
<p class="rvt-font-sans">This is some sans serif text. Text in Rivet is sans serif by default.</p>
<p class="rvt-font-mono">This is some monospace text.</p>
<p class="rvt-font-condensed">This is some condensed text.</p>