---
tags: typography
title: Set font weight
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<p><strong class="rvt-text-regular">Regular text utility</strong></p>
<p><strong class="rvt-text-medium">Medium text utility (Benton Sans only)</strong></p>
<p class="rvt-text-bold">Bold text utility</p>