---
tags: typography
title: Uppercase text
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 6
---
<p class="rvt-text-uppercase">Uppercase text utility</p>