@use '../core' as *;

.#{$prefix}-hero {
  &--feature &__inner,
  &--section &__inner {
    border-bottom: none;
  }

  &--feature &__body,
  &--section &__body {
    text-align: center;
    flex-basis: auto;
    padding-right: 0;
  }

  &--feature &__body {
    max-width: 100%;
  }

  &--section &__body {
    margin-inline: auto;
    max-width: 66%;
  }

  &--feature &__actions,
  &--section &__actions {
    display: flex;
    justify-content: center;
  }

  &--feature &__eyebrow:not(nav),
  &--section &__eyebrow:not(nav) {
    font-family: $font-mono;
    text-transform: uppercase;
    letter-spacing: $spacing-xxs * .5;
    margin-top: 0;
    margin-bottom: 0;
  }

  &--feature &__title,
  &--section &__title {
    margin-top: 0;
  }
}

@include mq($breakpoint-lg) {
  .#{$prefix}-hero {
    &--feature &__title {
      font-size: 4.125rem;
    }

    &--feature &__teaser {
      max-width: 75%;
      margin-inline: auto;
    }
  }
}

// test image feature component

.rvt-image-feature {
  img {
    margin-inline: auto;
  }
}