@use '../core' as *;

@include mq($breakpoint-md) {
  .#{$prefix}-hero {
    &--grid &__title,
    &--split &__title {
      font-size: 3.6875rem;
      line-height: 1.1;
    }
  }
}

@include mq($breakpoint-lg) {
  .#{$prefix}-hero {
    &--split &__inner {
      align-items: center;
    }

    &--split &__body {
      width: 50%;
      flex-basis: auto;
    }
    &--split &__media {
      width: 50%;
      flex-basis: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}