---
tags: input-group
title: Input with button, prepend
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<label for="segmented-prepend" class="rvt-label rvt-sr-only">Add new</label>
<div class="rvt-input-group">
  <div class="rvt-input-group__prepend">
    <div class="rvt-dropdown" data-rvt-dropdown="dropdownNavigation">
      <button type="button" class="rvt-button rvt-button--secondary" data-rvt-dropdown-toggle="dropdownNavigation" aria-expanded="false">
        <span class="rvt-dropdown__toggle-text">All stuff</span>
        <svg aria-hidden="true" class="rvt-m-left-xs" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
        </svg>
      </button>
      <div class="rvt-dropdown__menu" id="dropdownNavigation" role="menu" hidden data-rvt-dropdown-menu>
        <a href="#">Item one</a>
        <a href="#">Item two</a>
        <a href="#" aria-current="page">Item three</a>
        <div role="group" aria-label="Related">
          <a href="#">Related item one</a>
          <a href="#">Related item two</a>
        </div>
      </div>
    </div>
  </div>
  <input class="rvt-text-input rvt-input-group__input" type="text" id="segmented-prepend">
</div>