---
tags: input-group
title: Input with text, append
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<label for="text-append-example">Email address</label>
<div class="rvt-input-group">
  <input class="rvt-text-input rvt-input-group__input" type="text" id="text-append-example" aria-describedby="email-text">
  <div class="rvt-input-group__append">
    <div class="rvt-input-group__text" id="email-text">@iu.edu</div>
  </div>
</div>