---
tags: border
title: Add border radius
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-border-all rvt-border-radius rvt-p-all-md">
  <span>Border radius</span>
</div>