---
tags: border
title: Set border color
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-border-all rvt-border-color-blue rvt-bg-blue-000 rvt-m-top-md rvt-p-all-md">
  <span>Blue border</span>
</div>
<div class="rvt-border-all rvt-border-color-crimson rvt-bg-crimson-000 rvt-m-top-md rvt-p-all-md">
  <span>Crimson border</span>
</div>
<div class="rvt-border-all rvt-border-color-gold rvt-bg-gold-000 rvt-m-top-md rvt-p-all-md">
  <span>Gold border</span>
</div>
<div class="rvt-border-all rvt-border-color-green rvt-bg-green-000 rvt-m-top-md rvt-p-all-md">
  <span>Green border</span>
</div>
<div class="rvt-border-all rvt-border-color-orange rvt-bg-orange-000 rvt-m-top-md rvt-p-all-md">
  <span>Orange border</span>
</div>
<div class="rvt-border-all rvt-border-color-purple rvt-bg-purple-000 rvt-m-top-md rvt-p-all-md">
  <span>Purple border</span>
</div>