---
tags: calendar-tile
title: Calendar tile - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---

<div class="rvt-theme-light rvt-p-all-sm">
  <div class="rvt-cal">
    <span class="rvt-cal__month">Jan</span>
    <span class="rvt-cal__day">20</span>
    <span class="rvt-cal__year">2024</span>
  </div>
</div>

<div class="rvt-theme-dark rvt-p-all-sm">
  <div class="rvt-cal">
    <span class="rvt-cal__month">Jan</span>
    <span class="rvt-cal__day">20</span>
    <span class="rvt-cal__year">2024</span>
  </div>
</div>

<div class="rvt-theme-crimson rvt-p-all-sm">
  <div class="rvt-cal rvt-theme-crimson">
    <span class="rvt-cal__month">Jan</span>
    <span class="rvt-cal__day">20</span>
    <span class="rvt-cal__year">2024</span>
  </div>
</div>
