---
tags: calendar-tile
title: Default calendar tile
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-cal">
  <span class="rvt-cal__month">Jan</span>
  <span class="rvt-cal__day">20</span>
  <span class="rvt-cal__year">2023</span>
</div>