---
tags: profile
title: Profile layout - single column
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      {% include "demos/demo-hero-profile.njk" %}
    </div>
  </div>

  <!-- Use a container for visual alignment -->
  <div class="rvt-section rvt-theme-light [ rvt-p-tb-none ]">
    <div class="rvt-container">
      {% include "demos/demo-factoid.njk" %}
    </div>
  </div>

  <div class="rvt-layout-base rvt-layout-base--single-column rvt-theme-light">
    <div class="rvt-layout-base__main">

      {% include "demos/demo-details-content.njk" %}

    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
