---
tags: profile
title: Profile layout - Two column
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-section">
    {% include "demos/demo-hero-profile.njk" %}
  </div>

  <!-- Use a container for visual alignment -->
  <div class="rvt-section rvt-theme-light [ rvt-p-tb-none ]">
    <div class="rvt-container">
      {% include "demos/demo-factoid.njk" %}
    </div>
  </div>

  <div class="rvt-layout-base">
    <div class="rvt-layout-base__sidebar" id="sidebar-main-content">
      {% include "demos/demo-sidenav.njk" %}
    </div>
    <div class="rvt-layout-base__main">

      <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="rvt-breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li><a href="#">{Visited page}</a></li>
          <li aria-current="page">{Current page}</li>
        </ol>
      </nav>

      <div class="rvt-stack rvt-m-top-xxl">

        {% include "demos/demo-profile-content.njk" %}

      </div>

    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
