---
tags: quote
title: Quote with avatar
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
---
<div class="rvt-quote rvt-quote--image">
  <div class="rvt-avatar rvt-avatar--md">
    <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
  </div>
  <blockquote class="rvt-quote__text">
    <p>One of the reasons I chose IU is because when I got there, it just felt like a really nice community.</p>
  </blockquote>
</div>