---
tags: quote
title: Quote with avatar and citation
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 4
---
<div class="rvt-quote rvt-quote--image">
  <div class="rvt-avatar rvt-avatar--md">
    <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.webp" alt="">
  </div>
  <blockquote class="rvt-quote__text">
    <p>One of the reasons I chose IU is because when I got there, it just felt like a really nice community.</p>
  </blockquote>
  <p class="rvt-quote__citation">
    <span class="rvt-quote__title">Author Name</span>
    <span class="rvt-quote__subtitle">Writer of books, PhD</span>
  </p>
</div>