---
tags: empty-state
title: Default empty state
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-empty-state">
  <div class="rvt-empty-state__content">
    <p>There's nothing here yet.</p>
  </div>
</div>