---
tags: empty-state
title: Empty state with actions and icons
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-empty-state">
  <div class="rvt-empty-state__content">
    <div class="rvt-p-all-md rvt-m-bottom-md rvt-bg-black-100 rvt-inline-flex rvt-border-radius-circle">
      <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
        <path fill="currentColor" d="M14.57,12.06,13,9.7V6A5,5,0,0,0,3,6V9.7L1.43,12.06a1.25,1.25,0,0,0,1,1.94H6a2,2,0,0,0,4,0h3.53a1.25,1.25,0,0,0,1-1.94ZM8,12H3.87L5,10.3V6a3,3,0,0,1,6,0v4.3L12.13,12Z" />
      </svg>
    </div>
    <p>There's nothing here yet.</p>
  </div>
  <div class="rvt-empty-state__actions">
    <button class="rvt-button" type="button">Create your first item</button>
    <a href="#" class="rvt-button rvt-button--plain">Read the documentation</a>
  </div>
</div>