<h1 class="rvt-ts-32 rvt-m-bottom-lg">Border utilities</h1>

<ul class="rvt-list-plain">
  {% for border in borders %}
  <li class="rvt-m-top-md">
    <div class="rvt-border-{{ border }} rvt-p-all-md {% if border == 'radius' %} rvt-bg-crimson-500 rvt-color-white{% endif %}">
      <span>Border {{ border }}</span>
    </div>
  </li>
  {% endfor %}
</ul>