<div class="rvt-flow rvt-prose">
  <h1 class="rvt-ts-lg rvt-text-bold">Colors</h1>
  {% for key, value in colors %}
  {% if key != "white" %}
  <h2>IU {{ key | capitalize }}</h2>
  <table>
    <caption class="rvt-sr-only">Rivet color utilities</caption>
    <thead>
      <th>Example</th>
      <th>Value</th>
      <th>Token</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <div style="height: 2rem; background-color: {{ value["000"].value }};"></div>
        </td>
        <td>{{ value["000"].value }}</td>
        <td>$color-{{ key }}-000</td>
      </tr>
      {% for colorKey, colorValue in value %}
      {% if (colorKey != "000") and (colorKey != "base") %}
      <tr>
        <td>
          <div style="height: 2rem; background-color: {{ colorValue.value }};"></div>
        </td>
        <td>{{ colorValue.value }}</td>
        <td>$color-{{ key }}-{{ colorKey }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% endfor %}
</div>