<div class="rvt-prose">
  <h1>Shadow utilities</h1>
  <table class="rvt-table rvt-m-top-xl">
    <caption class="rvt-sr-only">Default table</caption>
    <thead>
      <tr>
        <th scope="col">Example</th>
        <th scope="col">Value</th>
        <th scope="col">Token</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <span class="rvt-sr-only">Subtle shadow visual example</span>
          <div class="rvt-shadow-subtle" style="height: 4rem; border-radius: .25rem;"></div>
        </th>
        <td>0, 0.1875rem, 0.375rem, rgb(36 49 66 / 7%)</td>
        <td><code>$rvt-shadow-subtle</code></td>
      </tr>
      <tr>
        <th scope="row">
          <span class="rvt-sr-only">Standard shadow visual example</span>
          <div class="rvt-shadow-standard" style="height: 4rem; border-radius: .25rem;"></div>
        </th>
        <td>0, 0.25rem, 0.5rem, rgb(36 49 66 / 16%)</td>
        <td><code>$rvt-shadow-standard</code>, <br><code>$rvt-shadow-base</code></td>
      </tr>
      <tr>
        <th scope="row">
          <span class="rvt-sr-only">Heavy shadow visual example</span>
          <div class="rvt-shadow-heavy" style="height: 4rem; border-radius: .25rem;"></div>
        </th>
        <td>0, 0.25rem, 1rem, rgb(36 49 66 / 20%)</td>
        <td><code>$rvt-shadow-heavy</code></td>
      </tr>
    </tbody>
  </table>
  
</div>