<h1 class="rvt-ts-32 m-bottom-lg">Text utilities</h1>

<p class="rvt-text-regular">Regular text utility</p>
<p class="rvt-text-bold">Bold text utility</p>
<p class="rvt-text-uppercase">Uppercase text utility</p>
<p class="rvt-text-left">Left aligned text utility</p>
<p class="rvt-text-center">Centered text utility</p>
<p class="rvt-text-right">Right aligned text utility</p>

<h2 class="rvt-ts-29">Font utilities</h2>
<p class="rvt-font-sans">Benton sans</p>
<p class="rvt-font-serif">Georgia Pro</p>