<h1 class="rvt-ts-32 m-bottom-lg">Text utilities</h1>

{% for text in texts %}
  <p class="rvt-text{{ text.abbr }}">{{ text.name }} text utility</p>
{% endfor %}

<h2 class="rvt-ts-29">Font utilities</h2>
<p class="rvt-font-sans">Benton sans</p>
<p class="rvt-font-serif">Georgia Pro</p>