<table>
  <caption class="rvt-sr-only">Rivet type scale</caption>
  <thead>
    <th>Example</th>
    <th>Value</th>
    <th>Token</th>
  </thead>
  <tbody>
    {% set denyList = "base, xxs, xs, sm, md, lg, xl, xxl" %}
    {% for key, value in typeScale %}
    {% if key not in denyList %}
    <tr>
      <td class="rvt-ts-{{ key }}">Indiana University</td>
      <td>{{ value.value }} / {{ value.value | replace("rem", "") * 16 }}px</td>
      <td>
        <code>$ts-{{ key }}</code>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
