{% include "@header-system-base" %}

<hr style="margin: 3rem 0; height: 0; border-top: 1px #ededeb solid">

{% include "@header-system-main-nav" %}

<hr style="margin: 3rem 0; height: 0; border-top: 1px #ededeb solid">

{% include "@header-system-main-nav-search" %}

<hr style="margin: 3rem 0; height: 0; border-top: 1px #ededeb solid">

{% include "@header-system-with-local-nav" %}

<script>
  const searchForm = document.querySelector('[data-rvt-disclosure="search"] form');
  const searchField = searchForm.querySelector('input');

  searchForm.addEventListener('submit', event => {
    event.preventDefault();

    const query = searchField.value;

    alert(`You searched for "${query}"`);
  });
</script>