<ul class="rvt-header-menu__list">
<!-- Navigation link without dropdown -->
{% for navItem in mainNav %}
  {% if navItem.children %}
  <li class="rvt-header-menu__item{% if navItem.current %} rvt-header-menu__item--current{% endif %}">
    <div class="rvt-header-menu__dropdown rvt-dropdown" data-rvt-dropdown="primary-nav-{{ loop.index }}">
      <div class="rvt-header-menu__group">

        <!-- Link that appears in header -->

        <a class="rvt-header-menu__link" href="{{ navItem.url }}"{% if navItem.current %} aria-current="page"{% endif %}>{{ navItem.text }}</a>

        <!-- Button that shows/hides dropdown links -->

        <button aria-expanded="false" class="rvt-dropdown__toggle rvt-header-menu__toggle"
          data-rvt-dropdown-toggle="primary-nav-{{ loop.index }}">
          <span class="rvt-sr-only">Toggle Sub-navigation</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="rvt-global-toggle__open" height="16" viewBox="0 0 16 16" width="16">
            <path d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
      <div class="rvt-header-menu__submenu rvt-dropdown__menu rvt-dropdown__menu--right" data-rvt-dropdown-menu="primary-nav-{{ loop.index }}" hidden>
        <ul class="rvt-header-menu__submenu-list">

          <!-- Dropdown links -->
          {% for subItem in navItem.children %}
          <li class="rvt-header-menu__submenu-item">
            <a class="rvt-header-menu__submenu-link" href="{{ subItem.url }}" {% if subItem.current %}aria-current="page"{% endif %}>{{ subItem.text }}</a>
          </li>
          {% endfor %}
          
        </ul>
      </div>
    </div>
  </li>
  {% else %}
  <li class="rvt-header-menu__item{% if navItem.current %} rvt-header-menu__item--current{% endif %}">
    <a class="rvt-header-menu__link" href="{{ navItem.url }}" {% if navItem.current %} aria-current="page"{% endif %}>{{ navItem.text }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>