<header class="rvt-header-wrapper">
  <a class="rvt-header-wrapper__skip-link" href="#main-content">Skip to main content</a>
  {% include '@includes--global-header' %}
  {% include '@includes--local-header' %}
</header>

<script>
  // Get the first <header> element on the page.
  const headerElement = document.querySelector('header');

  // Convert to Array first so we can use forEach safely
  const dropdownElements = Array.prototype.slice.call(
    headerElement.querySelectorAll('[data-dropdown]')
  );

  // If there are dropdowns on the page instantiate them
  if (dropdownElements) {
    // We need to initiate these without up/down key handlers for a11y reasons.
    const restrictedList = [
      'menu',
      'search',
      'local-header-menu'
    ];

    dropdownElements.forEach(function(subnav) {
      if (restrictedList.indexOf(subnav.dataset.dropdown) !== -1) {
        /**
         * Second argument of 'false' here disables up and down arrow key
         * handling for dropdowns. Sometimes we just need the show/hide
         * and escape key functionality, but not the full on dropdown/menu
         * capabilities for a11y reasons.
         */
        new Rivet.Dropdown(subnav, false);
      } else {
        new Rivet.Dropdown(subnav);
      }
    });
  }
</script>