<header class="rvt-header-wrapper">
  <a class="rvt-header-wrapper__skip-link" href="#main-content">Skip to main content</a>
  {% include '@includes--global-header' %}
  {% include '@includes--local-header' %}
</header>