---
tags: dialog
title: Dialog with hidden child element
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 8
---
<button type="button" class="rvt-button" data-rvt-dialog-trigger="dialog-example">
  <span>Dialog example</span>
</button>
<div class="rvt-dialog" id="dialog-example" role="dialog" tabindex="-1" aria-labelledby="dialog-title" aria-describedby="dialog-description" data-rvt-dialog="dialog-example" hidden>
  <header class="rvt-dialog__header">
    <h1 class="rvt-dialog__title" id="dialog-title">Dialog title</h1>
  </header>
  <div class="rvt-dialog__body">
    <p id="dialog-description">The default dialog appears near the middle of the screen. It does not darken the page behind it and does not close when the user clicks outside of it. You can use data attributes to configure the appearance and behavior of the dialog.</p>
  </div>
  <div class="rvt-dialog__controls">
    <button type="button" class="rvt-button" role="button">
    <span>OK</span>
    </button>
    <button type="button" class="rvt-button rvt-button--secondary" data-rvt-dialog-close="dialog-example" role="button">
    <span>Cancel</span>
    </button>
    <button type="button" class="rvt-button" role="button" hidden aria-hidden="true" style="display: none">
    <span>Hidden</span>
    </button>
  </div>
</div>