{% include "@header-system-main-nav" %}
{% include "@hero-area" %}
<div class="{{ siteContainer }} rvt-p-tb-lg rvt-p-tb-3-x-md-up">  
  {% include "@billboard--reverse" %}
</div>
<div class="{{ siteContainer }} rvt-p-tb-lg rvt-p-tb-3-x-md-up">
  {% include "@billboard" %}
</div>
<div class="rvt-bg-black-000 rvt-p-tb-xxl rvt-p-tb-3-x-md-up">  
  <div class="{{ siteContainer }}">
    
    <div class="rvt-billboard rvt-billboard--center">
      <div class="rvt-billboard__image">
        <img src="https://www.fillmurray.com/1200/800" alt="">
      </div>
      <div class="rvt-billboard__body">
        <h2 class="rvt-billboard__title">Billboard title</h2>
        {# <div class="rvt-billboard__text rvt-flow">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, culpa ipsa animi nesciunt modi quia nisi? Ab sunt pariatur nisi soluta tenetur excepturi quos tempora dolorem laudantium vero, cupiditate blanditiis.</p>
          {% include "@cta" %}
        </div> #}
      </div>
    </div>
  
    <div class="rvt-row rvt-row--loose [ rvt-m-top-xxl ]">
      <div class="rvt-cols-4-md">
        {% include "@card" %}
      </div>
      <div class="rvt-cols-4-md">
        {% include "@card" %}
      </div>
      <div class="rvt-cols-4-md">
        {% include "@card" %}
      </div>
    </div>
  </div>
</div>
{% include "@footer-system" %}
