{% include "@header-system-main-nav" %}
{% include "@hero-area" %}
<div class="rvt-container-lg rvt-p-tb-3-x">  
  {% include "@billboard--reverse" %}
</div>
<div class="rvt-container-lg rvt-p-tb-3-x-md-up">
  {% include "@billboard" %}
</div>
