{% include "@header-system-main-nav" %}

<!-- This can be any container you want or no container? -->
<main class="rvt-layout__wrapper" id="main-content">
  
  {# <div class="rvt-container-lg rvt-p-tb-xl rvt-p-tb-3-xl-md-up">
    {% render "@billboard", {
      classes: ""
    }, true %}
  </div> #}
  
  <div class="rvt-bg-crimson rvt-color-white rvt-p-tb-xl rvt-p-tb-xxl-md-up">
    <div class="rvt-container-sm rvt-prose rvt-flow rvt-text-center">
      <h1>List of items</h1>
      <p class="rvt-ts-18">Optional lead description text, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magnam perspiciatis alias iste tempore, dicta qui consequatur quibusdam.</p>
    </div>
  </div>

  <div class="rvt-container-lg rvt-p-top-lg rvt-p-top-xxl-md-up rvt-p-bottom-3-xl">
    <div class="rvt-flex rvt-items-center">
      <h2 class="rvt-ts-18 rvt-grow-1"><span class="rvt-color-black-500">Showing catgegory:</span> All</h2>
      
      <div class="rvt-dropdown" data-rvt-dropdown="dropdownNavigation">
        <button type="button" class="rvt-button rvt-button--plain" data-rvt-dropdown-toggle="dropdownNavigation" aria-haspopup="true" aria-expanded="false">
          <svg class="rvt-m-right-xs rvt-color-blue-400" width="16" height="16" viewBox="0 0 16 16">
            <g fill="currentColor">
              <path d="M13,4H6A1,1,0,0,1,6,2h7a1,1,0,0,1,0,2Z"/>
              <path d="M13,9H6A1,1,0,0,1,6,7h7a1,1,0,0,1,0,2Z"/>
              <path d="M13,14H6a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z"/>
              <circle cx="3" cy="3" r="1"/>
              <circle cx="3" cy="8" r="1"/>
              <circle cx="3" cy="13" r="1"/>
            </g>
          </svg>
          <span class="rvt-dropdown__toggle-text">Categories</span>
        </button>
        <div class="rvt-dropdown__menu rvt-dropdown__menu--right" id="dropdownNavigation" data-rvt-dropdown-menu="" hidden>
          <a aria-current="page" href="#">All</a>
          <a href="#">Academics</a>
          <a href="#" >Around Campus</a>
          <a href="#" >Student Spotlights</a>
          <a href="#" >Helth &amp; Wellness</a>
        </div>
      </div>
      
    </div>
    <hr>
    <div class="rvt-row rvt-row--loose -rvt-m-top-lg-md-up">
      {% for article in articles %}
      <div class="rvt-cols-6-md rvt-cols-4-lg [ rvt-flex rvt-m-top-lg rvt-m-top-xxl-md-up ]">
        {% render "@card", {
          image: article.image,
          eyebrow: article.eyebrow,
          title: article.title,
          content: article.content,
          classes: "rvt-card--clickable",
          meta: article.meta,
          link: "/components/preview/generic-details-single-column"
        } %}
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% include "@footer-system" %}