{% include "@header-system-main-nav" %}
<!-- This can be any container you want or no container? -->
<main class="rvt-layout__wrapper rvt-layout__wrapper--details {{ siteContainer }}">
  <div class="rvt-layout__sidebar" id="section-nav">
    {% render "@sidenav" %}
  </div>
  <div class="rvt-layout__content">
    <nav class="rvt-flex rvt-items-center" role="navigation" aria-label="Breadcrumb">
      <ol class="rvt-breadcrumbs rvt-grow-1">
        <li>
          <a href="#">
            <span class="rvt-sr-only">Home</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="rvt-icon-home">
              <path fill="currentColor" d="M15.6 6.4l-7-5.19a.76.76 0 0 0-.19-.12A1 1 0 0 0 8 1a1 1 0 0 0-.42.09.76.76 0 0 0-.19.12L.4 6.4a1 1 0 0 0-.4.8 1 1 0 0 0 .2.6 1 1 0 0 0 1.4.2l.4-.3V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7.7l.4.3a1 1 0 0 0 .6.2 1 1 0 0 0 .6-1.8zM12 13H9V9H7v4H4V6.22l4-3 4 3z"></path>
            </svg>
          </a>
        </li>
        <li><a href="#">Tier two title</a></li>
        <li><a href="#">Tier three title</a></li>
      </ol>
      <a class="rvt-hide-md-up rvt-text-regular rvt-ts-14 rvt-inline-flex rvt-items-center rvt-p-tb-xxs rvt-p-lr-xs rvt-link-bold rvt-border-radius rvt-bg-blue-000 rvt-shrink-0" href="#section-nav">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="rvt-icon-arrow-down">
          <path fill="currentColor" d="M12.71 10.29a1 1 0 0 0-1.41 0L9 12.59V1a1 1 0 0 0-2 0v11.59l-2.29-2.3A1 1 0 0 0 3.3 11.7l4 4a1 1 0 0 0 1.42 0l4-4a1 1 0 0 0-.01-1.41z"></path>
        </svg>
        <span class="rvt-m-left-xs">Section navigation</span>
      </a>
    </nav>
    
    <div class="rvt-flex-md-up rvt-items-center-md-up rvt-m-top-xxl rvt-m-top-md-md-up">
      {% render "@avatar", {
        modifier: "--xl",
        image: profile.avatar
      }, true %}
      
      <div class="rvt-prose rvt-flow rvt-m-left-lg-md-up">
        <h1>{{ profile.name }}</h1>
        <p class="rvt-ts-20 rvt-color-black-500">{{ profile.title }}, Exectuive Vice President of Admissions</p>
      </div>
    </div>

    <div class="rvt-prose rvt-flow rvt-border-top rvt-p-top-lg rvt-m-top-xl">
      <div class="rvt-layout__feature-slot">
        <div class="rvt-card rvt-card--raised">
          <div class="rvt-card__body">
            <dl class="rvt-m-all-none">
              <dt>Phone:</dt>
              <dd>{{ profile.phone }}</dd>
              <dt>Email:</dt>
              <dd><a href="#">{{ profile.email }}</a></dd>
              <dt>Campus:</dt>
              <dd>IU Southeast</dd>
              <dt>Website:</dt>
              <dd><a href="#">mywebsite.com</a></dd>
            </dl>
          </div>
        </div>
      </div>
      <h2>Education</h2>
      <dl>
        <dt>M.</dt>
        <dd>Arch., Southern California Institute of Architecture, 2004</dd>
        <dt>B.A.</dt>
        <dd>Sociology and Anthropology, Holy Cross College, 1995</dd>
      </dl>
      <h2>Interests</h2>
      <ul>
        <li>Architecture</li>
        <li>Social impact design</li>
        <li>Augmented and virtual reality</li>
        <li>Digital fabrication</li>
        <li>Design thinking</li>
      </ul>
      <h2>About</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, earum! Dolorum delectus magni aliquam nisi tempora quisquam ut? Odit placeat nam hic quia distinctio. Perferendis excepturi velit consectetur consequuntur rerum.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam atque officia inventore, corrupti amet pariatur officiis. Ullam, ipsa doloremque obcaecati minima dignissimos ducimus, accusamus voluptates distinctio suscipit commodi eligendi reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, eligendi eius facere a, soluta quis laboriosam similique consequatur vitae natus ex maiores ad explicabo fuga qui nobis, doloribus iusto inventore.</p>
    </div>
    
  </div><!-- End rvt-layout__content -->
</main>
{% include "@footer-system" %}