<nav class="rvt-flex rvt-items-center" role="navigation" aria-label="Breadcrumb">
  <ol class="rvt-breadcrumbs rvt-grow-1">
    <li>
      <a href="#">
        <span class="rvt-sr-only">Home</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="rvt-icon-home">
          <path fill="currentColor" d="M15.6 6.4l-7-5.19a.76.76 0 0 0-.19-.12A1 1 0 0 0 8 1a1 1 0 0 0-.42.09.76.76 0 0 0-.19.12L.4 6.4a1 1 0 0 0-.4.8 1 1 0 0 0 .2.6 1 1 0 0 0 1.4.2l.4-.3V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7.7l.4.3a1 1 0 0 0 .6.2 1 1 0 0 0 .6-1.8zM12 13H9V9H7v4H4V6.22l4-3 4 3z"></path>
        </svg>
      </a>
    </li>
    <li><a href="#">Tier two title</a></li>
    <li><a href="#">Tier three title</a></li>
  </ol>
  <a class="rvt-hide-md-up rvt-text-regular rvt-ts-14 rvt-inline-flex rvt-items-center rvt-p-tb-xxs rvt-p-lr-xs rvt-link-bold rvt-border-radius rvt-bg-blue-000 rvt-shrink-0" href="#section-nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" id="rvt-icon-arrow-down">
      <path fill="currentColor" d="M12.71 10.29a1 1 0 0 0-1.41 0L9 12.59V1a1 1 0 0 0-2 0v11.59l-2.29-2.3A1 1 0 0 0 3.3 11.7l4 4a1 1 0 0 0 1.42 0l4-4a1 1 0 0 0-.01-1.41z"></path>
    </svg>
    <span class="rvt-m-left-xs">Section navigation</span>
  </a>
</nav>
<div class="rvt-m-top-xxl rvt-m-top-md-md-up rvt-flow rvt-prose">
  <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor</h1>
  <p class="rvt-ts-20 rvt-color-black-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse exercitationem nulla inventore, velit earum explicabo voluptatibus eum. Repudiandae magni dolor facere debitis molestiae.</p>
</div>