<div class="rvt-m-top-xxl rvt-m-top-md-md-up rvt-flow rvt-prose">
  <h1>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor</h1>
  <p class="rvt-ts-20 rvt-color-black-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse exercitationem nulla inventore, velit earum explicabo voluptatibus eum. Repudiandae magni dolor facere debitis molestiae.</p>
</div>