<h2 class="ts-base">Primary Button</h2>
<div class="m-vertical-sm button-example">
    <button>Default</button>
    <button class="button-hover">Hover</button>
    <button class="button-active">Active</button>
</div>

<h2 class="m-top-lg ts-base">Secondary Button</h2>
<div class="m-vertical-sm button-example">
    <button class="button button--secondary">Default</button>
    <button class="button button--secondary button--secondary-hover">Hover</button>
    <button class="button button--secondary button--secondary-active">Active</button>
</div>

<h2 class="m-top-lg ts-base">Focus state</h2>
<div class="m-vertical-sm button-example">
    <button class="button-focus">Focus</button>
    <button class="button button--secondary button-focus">Focus</button>
</div>

<h2 class="m-top-lg ts-base button-example">Disabled state</h2>
<div class="m-vertical-sm button-example">
    <button disabled>Disabled</button>
</div>

<!-- <h2 class="m-top-lg ts-base">Plain Button</h2>
<div class="m-vertical-sm">
    <button class="button button--plain">Click me</button>
</div> -->

<style scoped>
    /* Demo purposes only */
    .button-example button {
        margin-right: .5rem;
    }
</style>
