<h2 class="ts-14 text-uppercase m-bottom-xs">Primary button</h2>
<div class="button-group m-bottom-lg">
    <button class="button">Default</button>
    <button class="button-hover">Hover</button>
    <button class="button-active">Active</button>
    <button class="button button--loading">Loading</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Secondary button</h2>
<div class="button-group m-bottom-lg">
    <button class="button button--secondary">Default</button>
    <button class="button button--secondary button--secondary-hover">Hover</button>
    <button class="button button--secondary button--secondary-active">Active</button>
</div>


<h2 class="ts-14 text-uppercase m-bottom-xs">Success button</h2>
<div class="button-group m-bottom-lg">
    <button class="button button--success">Default</button>
    <button class="button button--success button--success-hover">Hover</button>
    <button class="button button--success button--success-active">Active</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Secondary success button</h2>
<div class="button-group m-bottom-lg">
    <button class="button button--success-secondary">Default</button>
    <button class="button button--success-secondary button--success-secondary-hover">Hover</button>
    <button class="button button--success-secondary button--success-secondary-active">Active</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Danger button</h2>
<div class="button-group m-bottom-lg">
    <button class="button button--danger">Default</button>
    <button class="button button--danger button--danger-hover">Hover</button>
    <button class="button button--danger button--danger-active">Active</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Secondary danger button</h2>
<div class="button-group m-bottom-lg">
    <button class="button button--danger-secondary">Default</button>
    <button class="button button--danger-secondary button--danger-secondary-hover">Hover</button>
    <button class="button button--danger-secondary button--danger-secondary-active">Active</button>
</div>

<h2 class="ts-14 text-uppercase m-top-lg m-bottom-xs">Plain buttons</h2>
<div class="button-group m-bottom-lg">
     <button class="button button--plain">Default</button>
     <button class="button-hover button--plain-hover">Hover</button>
     <button class="button-active button--plain-active">Active</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Focus state</h2>
<div class="button-group m-bottom-lg">
    <button class="button-focus">Focus</button>
    <button class="button button--secondary button-focus">Focus</button>
</div>

<h2 class="ts-14 text-uppercase m-bottom-xs">Disabled state</h2>
<div class="m-vertical-sm button-group m-bottom-lg">
    <button disabled>Disabled</button>
</div>

<h2 class="ts-14 text-uppercase m-top-lg m-bottom-xs">Small buttons</h2>
<div class="m-vertical-sm button-group">
    <button class="button button--small">Small button</button>
    <button class="button button--small button--secondary">Small button</button>
    <button class="button button--small" disabled>Small button</button>
</div>
