
<div class="rvt-container rvt-container--center rvt-container--sophomore">
    <h1 class="rvt-ts-32 rvt-text-bold rvt-m-bottom-xxl">Segmented buttons</h1>

    <h2 class="rvt-ts-23 rvt-m-bottom-lg">Primary</h2>
    <div class="rvt-button-segmented">
        <button class="rvt-button">One</button>
        <button class="rvt-button">Two</button>
        <button class="rvt-button">Three</button>
    </div>
</div>

<div class="rvt-container rvt-container--center rvt-container--sophomore rvt-m-top-xxl">
    <h2 class="rvt-ts-23 rvt-m-bottom-lg">
        Segmented button with dropdown
    </h2>
    <div class="rvt-dropdown">
        <div class="rvt-button-segmented">
            <button class="rvt-button">Primary action</button>
            <button class="rvt-button" data-dropdown-trigger="segmented-example">
                <span class="rvt-sr-only">Toggle options menu</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z"
                    />
                </svg>
            </button>
        </div>
        <div class="rvt-dropdown__menu" aria-hidden="true" id="segmented-example">
            <button>Action 1 is an action that changes</button>
            <button>Action 2</button>
            <button>Action 3</button>
        </div>
    </div>
</div>

<div class="rvt-container rvt-container--center rvt-container--sophomore rvt-m-top-xxl">
    <h2 class="rvt-ts-23 rvt-m-bottom-lg">Expanded segmented button (full-width)</h2>
    <div class="rvt-button-segmented rvt-button-segmented--expanded">
        <button class="rvt-button rvt-button--secondary">Left</button>
        <button class="rvt-button rvt-button--secondary">Middle</button>
        <button class="rvt-button rvt-button--secondary">Right</button>
    </div>
</div>

<div class="rvt-container rvt-container--center rvt-container--sophomore rvt-m-top-xxl">
    <h2 class="rvt-ts-23 rvt-m-bottom-lg">Aanchor tags</h2>
    <div class="rvt-button-segmented">
        <a href="#" class="rvt-button">Option one</a>
        <a href="#" class="rvt-button">Option two</a>
        <a href="#" class="rvt-button">Option three</a>
    </div>
</div>
