<table class="table-plain">
    <caption class="sr-only">Button examples table</caption>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Default</th>
            <th scope="col">Hover</th>
            <th scope="col">Focus</th>
            <th scope="col">Active</th>
            <th scope="col">Disabled</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Primary</th>
            <td><button class="rvt-button">Button</button></td>
            <td><button class="rvt-button rvt-button--hover">Button</button></td>
            <td><button class="rvt-button rvt-button--focus">Button</button></td>
            <td><button class="rvt-button rvt-button--active">Button</button></td>
            <td><button class="rvt-button" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Secondary</th>
            <td><button class="rvt-button rvt-button--secondary">Button</button></td>
            <td><button class="rvt-button rvt-button--secondary rvt-button--secondary-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--secondary rvt-button--secondary-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--secondary rvt-button--secondary-active">Button</button></td>
            <td><button class="rvt-button rvt-button--secondary" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Success</th>
            <td><button class="rvt-button rvt-button rvt-button--success">Button</button></td>
            <td><button class="rvt-button rvt-button rvt-button--success rvt-button--success-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--success rvt-button--success-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--success rvt-button--success-active">Button</button></td>
            <td><button class="rvt-button rvt-button--success" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Success secondary</th>
            <td><button class="rvt-button rvt-button--success-secondary">Button</button></td>
            <td><button class="rvt-button rvt-button--success-secondary rvt-button--success-secondary-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--success-secondary rvt-button--success-secondary-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--success-secondary rvt-button--success-secondary-active">Button</button></td>
            <td><button class="rvt-button rvt-button--success-secondary" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Danger</th>
            <td><button class="rvt-button rvt-button--danger">Button</button></td>
            <td><button class="rvt-button rvt-button--danger rvt-button--danger-hover">Button</button></td>
            <td><button class="rvt-button button--danger rvt-button--danger-focus">Button</button></td>
            <td><button class="rvt-button button--danger rvt-button--danger-active">Button</button></td>
            <td><button class="rvt-button button--danger" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Danger secondary</th>
            <td><button class="rvt-button rvt-button--danger-secondary">Button</button></td>
            <td><button class="rvt-button rvt-button--danger-secondary rvt-button--danger-secondary-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--danger-secondary rvt-button--danger-secondary-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--danger-secondary rvt-button--danger-secondary-active">Button</button></td>
            <td><button class="rvt-button rvt-button--danger-secondary" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Plain button</th>
            <td><button class="rvt-button rvt-button--plain">Button</button></td>
            <td><button class="rvt-button rvt-button--plain rvt-button--plain-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--plain rvt-button--plain-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--plain rvt-button--plain-active">Button</button></td>
            <td><button class="rvt-button rvt-button--plain" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Small button</th>
            <td><button class="rvt-button rvt-button--small">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--hover">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--small-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--active">Button</button></td>
            <td><button class="rvt-button rvt-button--small" disabled>Button</button></td>
        </tr>
        <tr>
            <th scope="row">Small secondary button</th>
            <td><button class="rvt-button rvt-button--secondary rvt-button--small">Button</button></td>
            <td><button class="rvt-button rvt-button--secondary rvt-button--small rvt-button--secondary-hover">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--secondary rvt-button--small-focus">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--secondary rvt-button--secondary-active">Button</button></td>
            <td><button class="rvt-button rvt-button--small rvt-button--secondary" disabled>Button</button></td>
        </tr>
    </tbody>
</table>
