---
tags: spacing
title: Add margins
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-m-bottom-xxs rvt-p-all-sm rvt-border-all">xxs</div>
<div class="rvt-m-bottom-xs rvt-p-all-sm rvt-border-all">xs</div>
<div class="rvt-m-bottom-sm rvt-p-all-sm rvt-border-all">sm</div>
<div class="rvt-m-bottom-md rvt-p-all-sm rvt-border-all">md</div>
<div class="rvt-m-bottom-lg rvt-p-all-sm rvt-border-all">lg</div>
<div class="rvt-m-bottom-xl rvt-p-all-sm rvt-border-all">xl</div>
<div class="rvt-m-bottom-xxl rvt-p-all-sm rvt-border-all">xxl</div>
<div class="rvt-m-bottom-3-xl rvt-p-all-sm rvt-border-all">3-xl</div>
<div class="rvt-m-bottom-4-xl rvt-p-all-sm rvt-border-all">4-xl</div>