---
tags: spacing
title: Add padding
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-p-all-xxs rvt-m-bottom-md rvt-border-all">xxs</div>
<div class="rvt-p-all-xs rvt-m-bottom-md rvt-border-all">xs</div>
<div class="rvt-p-all-sm rvt-m-bottom-md rvt-border-all">sm</div>
<div class="rvt-p-all-md rvt-m-bottom-md rvt-border-all">md</div>
<div class="rvt-p-all-lg rvt-m-bottom-md rvt-border-all">lg</div>
<div class="rvt-p-all-xl rvt-m-bottom-md rvt-border-all">xl</div>
<div class="rvt-p-all-xxl rvt-m-bottom-md rvt-border-all">xxl</div>
<div class="rvt-p-all-3-xl rvt-m-bottom-md rvt-border-all">3-xl</div>
<div class="rvt-p-all-4-xl rvt-m-bottom-md rvt-border-all">4-xl</div>