---
tags: spacing
title: Add negative margin
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-m-top-xl rvt-p-all-lg rvt-bg-black-100">
  <div class="-rvt-m-top-xxl rvt-p-all-lg rvt-bg-blue rvt-color-white">Negative top margin</div>
</div>