---
tags: spacing
title: Auto vertical spacing
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 5
---
<div class="rvt-flow">
  <div class="rvt-p-all-lg rvt-border-all">
    Content section one
  </div>
  <div class="rvt-p-all-lg rvt-border-all">
    Content section two
  </div>
  <div class="rvt-p-all-lg rvt-border-all">
    Content section three
  </div>
</div>