---
tags: spacing
title: Remove padding
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 6
---
<div class="rvt-flow">
  <div class="rvt-p-all-xxl rvt-p-top-none rvt-border-all">No top padding</div>
  <div class="rvt-p-all-xxl rvt-p-bottom-none rvt-border-all">No bottom padding</div>
  <div class="rvt-p-all-xxl rvt-p-left-none rvt-border-all">No left padding</div>
  <div class="rvt-p-all-xxl rvt-p-right-none rvt-border-all">No right padding</div>
  <div class="rvt-p-all-xxl rvt-p-tb-none rvt-border-all">No vertical padding</div>
  <div class="rvt-p-all-xxl rvt-p-lr-none rvt-border-all">No horizontal padding</div>
</div>