---
tags: spacing
title: Remove margin
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
margin: true
order: 7
---
<div class="rvt-m-all-xxl rvt-m-top-none rvt-bg-black-100">No top margin</div>
<hr>
<div class="rvt-m-all-xxl rvt-m-bottom-none rvt-bg-black-100">No bottom margin</div>
<hr>
<div class="rvt-m-all-xxl rvt-m-left-none rvt-bg-black-100">No left margin</div>
<hr>
<div class="rvt-m-all-xxl rvt-m-right-none rvt-bg-black-100">No right margin</div>
<hr>
<div class="rvt-m-all-xxl rvt-m-tb-none rvt-bg-black-100">No vertical margin</div>
<hr>
<div class="rvt-m-all-xxl rvt-m-lr-none rvt-bg-black-100">No horizontal margin</div>