---
tags: spacing
title: Add responsive spacing
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 4
---
<div class="rvt-p-all-xs rvt-p-all-xxl-md-up rvt-border-all">
  <span>This box will have XXL padding on larger screens and XS padding on smaller screens.</span>
</div>