---
tags: stat
title: Default stat
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<a href="#" class="rvt-stat">
  <div class="rvt-stat__content [ rvt-flow ]">
    <div class="rvt-stat__image">
      <div class="rvt-avatar">
        <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg">
      </div>
    </div>
    <div class="rvt-stat__number">100,000</div>
    <div class="rvt-stat__description">Undergraduate students at our flagship campus</div>
  </div>
</a>