---
tags: stat
title: Stat group
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-stat-group">
  <a href="#" class="rvt-stat">
    <div class="rvt-stat__content [ rvt-flow ]">
      <div class="rvt-stat__number">20</div>
      <div class="rvt-stat__description">Residence halls</div>
    </div>
  </a>
  <a href="#" class="rvt-stat">
    <div class="rvt-stat__content [ rvt-flow ]">
      <div class="rvt-stat__number">200</div>
      <div class="rvt-stat__description">Degree programs</div>
    </div>
  </a>
  <a href="#" class="rvt-stat">
    <div class="rvt-stat__content [ rvt-flow ]">
      <div class="rvt-stat__number">2000</div>
      <div class="rvt-stat__description">Faculty</div>
    </div>
  </a>
  <a href="#" class="rvt-stat">
    <div class="rvt-stat__content [ rvt-flow ]">
      <div class="rvt-stat__number">20000</div>
      <div class="rvt-stat__description">Students</div>
    </div>
  </a>
</div>