---
tags: stat
title: Stat group
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---

<div class="rvt-stat-group">
	<ul>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">20</div>
				<div class="rvt-stat__description">Residence halls</div>
			</div>
		</li>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">200</div>
				<div class="rvt-stat__description">Degree programs</div>
			</div>
		</li>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">2000</div>
				<div class="rvt-stat__description">Faculty</div>
			</div>
		</li>
		<li>
			<div class="rvt-stat">
				<rvt-sticker name="banner-iu" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-stat__number">20000</div>
				<div class="rvt-stat__description">Students</div>
			</div>
		</li>
	</ul>
	<p class="rvt-stat-group__note">* Stats current as of 2025</p>
</div>
