<p class="m-top-remove m-btm-md">Radio inputs inline</p>
<form>
    <ul class="inline-list">
        <li>
            <input type="radio" name="radio-demo" id="radio-1" >
            <label for="radio-1" class="m-right-md">Option One</label>
        </li>
        <li>
            <input type="radio" name="radio-demo" id="radio-2" >
            <label for="radio-2">Option Two</label>
        </li>
    </ul>
</form>

<p class="m-top-xl">More radio inputs in a list</p>
<form>
    <ul class="plain-list">
        <li>
            <input type="radio" name="radio-demo-2" id="radio-3">
            <label for="radio-3" class="m-right-sm">Option One</label>
        </li>
        <li>
            <input type="radio" name="radio-demo-2" id="radio-4">
            <label for="radio-4">Option Two</label>
        </li>
        <li>
            <input type="radio" name="radio-demo-2" id="radio-5">
            <label for="radio-5">Option Two</label>
        </li>
    </ul>
</form>
