---
tags: subnav
title: Default subnav
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<nav class="rvt-subnav " aria-label="Section navigation">
  <ul class="rvt-subnav__list">
    <li class="rvt-subnav__item">
      <a href="#0">Profile</a>
    </li>
    <li class="rvt-subnav__item">
      <a href="#0">Notifications</a>
    </li>
    <li class="rvt-subnav__item">
      <a href="#0">Schedule</a>
    </li>
    <li class="rvt-subnav__item">
      <a href="#0" aria-current="page">Settings</a>
    </li>
  </ul>
</nav>