@use '../core' as *;

.#{$prefix}-stat-group {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 200px;
  }

  & > *:last-child {
    border-right: none;
  }
}

@include mq($breakpoint-lg) {
  .#{$prefix}-stat-group > * {
    border-right: 1px solid $color-black-100;
  }
}
