@use "../core" as *;

.rvt-stat-group {
	container-name: stat-group;
	container-type: inline-size;

	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__note {
		color: var(--rvt-color-theme-accent);
		font-family: var(--rvt-font-family-mono);
		font-size: var(--rvt-ts-14);
		margin-block-end: 0;
		margin-block-start: var(--rvt-spacing-lg);
	}
}

@container stat-group (min-width: 40em) {
	.rvt-stat-group {
		&__inner {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__inner > * {
			border: 1px solid var(--rvt-color-theme-ui);
			flex-basis: 0;
			flex-grow: 999;
			margin-block-start: -1px;
			margin-inline-start: -1px;
			min-width: 50%;
		}
	}
}

@container stat-group (min-width: 68.75em) {
	.rvt-stat-group {
		&__inner > * {
			min-width: auto;
		}

		&__inner > * {
			border-block-end: none;
			border-block-start: none;
			border-inline-start: none;
			margin-block-start: 0;
			margin-inline-start: 0;

			&:last-child {
				border-inline-end: none;
			}
		}
	}
}
