@use '../core' as *;

.#{$prefix}-stat-group {
  container-type: inline-size;
  container-name: stat-group;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__note {
    font-size: $ts-14;
    font-family: $font-mono;
    margin-block-start: $spacing-lg;
    margin-block-end: 0;
    color: var(--rvt-theme-accent);
  }
}

@container stat-group (min-width: 40em) {
  .#{$prefix}-stat-group {
    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__inner > * {
      min-width: 50%;
      flex-basis: 0;
      flex-grow: 999;
      border: 1px solid var(--rvt-theme-border);
      margin-inline-start: -1px;
      margin-block-start: -1px;
    }
  }
}

@container stat-group (min-width: 68.75em) {
  .#{$prefix}-stat-group {
    &__inner > * {
      min-width: auto;
    }

        &__inner > * {
      border-block-start: none;
      border-inline-start: none;
      border-block-end: none;
      margin-inline-start: 0;
      margin-block-start: 0;

      &:last-child {
        border-inline-end: none;
      }
    }
  }
}

// @container stat-group (min-width: 40em) {
//   .#{$prefix}-stat-group {
//     &__inner {
//       grid-template-columns: 1fr 1fr;
//     }

//     &__inner > * {
//       border: 1px solid var(--rvt-theme-border);
//       margin-inline-start: -1px;
//       margin-block-start: -1px;
//     }
//   }
// }

// @container stat-group (min-width: 68.75em) {
//   .#{$prefix}-stat-group {
//     &__inner {
//       grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
//     }

//     &__inner > * {
//       border-block-start: none;
//       border-inline-start: none;
//       border-block-end: none;
//       margin-inline-start: 0;
//       margin-block-start: 0;

//       &:last-child {
//         border-inline-end: none;
//       }
//     }
//   }
// }
