<div class="rvt-card rvt-card--raised">
  <div class="rvt-card__image">
    <img src="https://www.fillmurray.com/800/450" alt="">
  </div>
  <div class="rvt-card__body">
    <div class="rvt-card__eyebrow">Category</div>
    <div class="rvt-card__header">
      <h2 class="rvt-card__title rvt-card__title--cover">
        <a href="#">Start your college journey</a>
      </h2>
    </div>
    <div class="rvt-card__content [ rvt-flow ]">
      <p>You can always save your application in progress and come back to it later.</p>
    </div>
    <div class="rvt-card__meta">
      <p>(812) 999-2394</p>
      <a href="#">bmacklin@iu.edu</a>
    </div>
  </div>
</div>