<div class="rvt-card rvt-card--raised">
  <div class="rvt-card__image">
    <img src="https://www.fillmurray.com/800/450" alt="">
  </div>
  <div class="rvt-card__body">
    <div class="rvt-card__eyebrow [ rvt-ts-14 ]">Category</div>
    <div class="rvt-card__header">
      <h2 class="rvt-card__title rvt-card__title--cover">
        <a href="#">Start your Apply IU application</a>
      </h2>
      {# <div class="rvt-card__header-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
          <path fill="currentColor" d="M15.92 8.38a1 1 0 0 0-.22-1.09l-4-4a1 1 0 0 0-1.41 1.41l2.3 2.3H1a1 1 0 0 0 0 2h11.59l-2.29 2.29a1 1 0 1 0 1.41 1.41l4-4a1 1 0 0 0 .21-.32z"></path>
        </svg>
      </div> #}
    </div>
    <div class="rvt-card__content [ rvt-flow ]">
      <p>You can always save your application in progress and come back to it later.</p>
    </div>
  </div>
</div>