{% include "@header-system-main-nav" %}

<!--
  #1: <main> element set up
  Note here how it is required to use Rivet flexbox utility classes
  on the <main> element in this layout configuration. This differs from
  how some other layouts are set up.
-->
<main class="rvt-flex rvt-flex-column rvt-grow-1" id="main-content">

  <!--
    #2: Start page intro with subnav section:
    This section acts as the introduction to the page. It contains breadcrumb
    navigation (optional) a page/view title (required) and a Subnav (optional)
    used to create in page navigation between screens in an app.
  -->
  <div class="rvt-bg-black-000 rvt-border-bottom rvt-p-top-xl">
    <div class="{{ siteContainer }} rvt-prose rvt-flow rvt-p-bottom-xl">
      {% include "@layouts-breadcrumb-partial" %}
      <h1 class="rvt-m-top-xs">Index List layout</h1>
    </div>
  </div>

  <div class="rvt-layout__wrapper">
    
    <div class="{{ siteContainer }} rvt-p-tb-xxl">
    
      {# <div class="rvt-alert rvt-alert--danger [ rvt-m-bottom-md ]" role="alertdialog" aria-labelledby="success-alert-title" data-rvt-alert="success">
        <div class="rvt-alert__title" id="success-alert-title">Error messages</div>
        <p class="rvt-alert__message">Use this space in your app for error handling and confirmation messaging.</p>
        <button class="rvt-alert__dismiss" data-rvt-alert-close>
          <span class="rvt-sr-only">Dismiss this alert</span>
          <svg role="img" alt="" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z" />
          </svg>
        </button>
      </div> #}
      
      {% render "@alert", {
        type: "warning",
        id: "list-alert",
        title: "Error handling",
        message: "Use this space for error handling, confirmation messages, and warnings.",
        classes: "[ rvt-m-bottom-md ]"
      }, true %}
      
      <div class="rvt-flex-md-up">
        <div class="rvt-grow-1 rvt-m-bottom-md">
          <label class="rvt-label" for="search">Type to filter</label>
          <input class="rvt-input" type="text" id="search">
        </div>
        <div class="rvt-grow-1 rvt-m-bottom-md rvt-m-left-lg-md-up">
          <label class="rvt-label" for="choice-filter">Filter by choice</label>
          <select name="" id="choice-filter" class="rvt-select">
            <option value="choice-one">Choice one</option>
            <option value="choice-two">Choice two</option>
            <option value="choice-three">Choice three</option>
            <option value="choice-four">Choice four</option>
            <option value="choice-five">Choice five</option>
          </select>
        </div>
        <button class="rvt-button rvt-m-left-lg-md-up rvt-m-top-md-md-up">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M14,7H9V2A1,1,0,0,0,7,2V7H2A1,1,0,0,0,2,9H7v5a1,1,0,0,0,2,0V9h5a1,1,0,0,0,0-2Z"/>
          </svg>
          <span class="rvt-m-left-xs">New record</span>
        </button>
      </div>
      
      {% include "@app-index-list-partial" %}
     <!--
        #4: Start pagination
      -->
      <div class="rvt-m-top-xl rvt-flex rvt-justify-center">
        {% render "@pagination" %}
      </div>
    </div>
    
  </div><!-- End layout-wrapper -->
</main>
{% render "@footer-system-base", {
  classes: "rvt-footer-base--light"
}, true %}