---
tags: sidebar
title: Sidebar - Default
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main>
  <div class="rvt-layout-sidebar">
    <div class="rvt-layout-sidebar__sidebar" id="sidebar-main-content">
      {% include "demos/demo-sidenav.njk" %}
    </div>
    <div class="rvt-layout-sidebar__main">

      {% include "demos/demo-hero.njk" %}

      <div class="rvt-stack rvt-p-top-xl">

        {% include "demos/demo-cards.njk" %}

        <div class="rvt-rich-text">
          <h2>Start with a heading</h2>
          <p>Lorem ipsum dolor sit amet <em>consectetur adipisicing</em> elit. Fugiat in reprehenderit aspernatur, nemo dicta ex voluptas totam est eligendi non et at laborum, omnis obcaecati minus, nisi rerum corrupti cum.</p>
          <p>Lorem ipsum dolor sit amet  <a href="#">consectetur adipisicing</a> elit. Nisi aperiam voluptatum fugit deserunt accusantium repudiandae dolor consequatur, eum ad tempora quis veniam tenetur quo officia hic quam modi sit esse.</p>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea vero deserunt nulla dignissimos sapiente voluptatem quibusdam! Provident assumenda dolorem aliquam, cupiditate blanditiis numquam officiis quidem iusto recusandae maxime. Doloremque.</p>
          <h3>Heading 3</h3>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
          <img src="https://picsum.photos/id/29/1600/900" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum adipisci, non fugit modi delectus neque labore debitis, eos repellat perspiciatis voluptate voluptatibus libero dignissimos. Harum, consequuntur! Modi, iusto accusamus.</p>
          <a href="#" class="rvt-cta">Test CTA</a>
        </div>

        <div class="rvt-layout-sidebar__breakout">
          <div class="rvt-layout-sidebar__breakout-inner">

            <div class="rvt-quote">
              <blockquote class="rvt-quote__text">
                <p>One of the reasons I chose IU is because when I got there, it just felt like a really nice community.</p>
              </blockquote>
              <p class="rvt-quote__citation">
                <span class="rvt-quote__title">Author Name</span>
                <span class="rvt-quote__subtitle">Writer of books, PhD</span>
              </p>
            </div>

          </div>
        </div>

        <div class="rvt-rich-text">
          <h2>Start block Heading 2 text</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in reprehenderit aspernatur, nemo dicta ex voluptas totam est eligendi non et at laborum, omnis obcaecati minus, nisi rerum corrupti cum.</p>
          <p>Lorem ipsum dolor sit amet <strong>consectetur adipisicing</strong> elit. Nisi aperiam voluptatum fugit deserunt accusantium repudiandae dolor consequatur, eum ad tempora quis veniam tenetur quo officia hic quam modi sit esse.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ea vero deserunt nulla dignissimos sapiente voluptatem quibusdam! Provident assumenda dolorem aliquam, cupiditate blanditiis numquam officiis quidem iusto recusandae maxime. Doloremque.</p>
          <h3>Heading 3</h3>
          <p></p><p></p>
          <ul>
            <li>Item one</li>
            <li>Item two</li>
            <li>Item three</li>
            <li>Item four</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</main>
{% include "demos/demo-footer.njk" %}
