<form>
    <div class="rvt-container">
        <div class="rvt-grid">
            <div class="rvt-grid__item-6-lg-up">

                <fieldset>
                    <legend class="rvt-ts-23 rvt-m-bottom-sm">
                        <strong>Select dropdown</strong> default
                    </legend>
                    <label for="select-demo">Select input:</label>
                    <select class="m-bottom-md" id="select-demo">
                        <option value="">Option One</option>
                        <option value="">Option Two</option>
                        <option value="">Option Three</option>
                        <option value="">Option Four</option>
                    </select>

                    <label for="select-demo-disabled">Select input (disabled):</label>
                    <select class="m-bottom-md" id="select-demo-disabled" disabled>
                        <option value="">Option One</option>
                        <option value="">Option Two</option>
                        <option value="">Option Three</option>
                        <option value="">Option Four</option>
                    </select>

                </fieldset>

                <fieldset>
                    <legend class="rvt-ts-23 rvt-m-bottom-sm">
                        Select dropdown <strong>validation states</strong>
                    </legend>

                    <label for="valid-state">Type</label>
                    <select name="" id="valid-state" class="rvt-is-valid" aria-describedby="type-message">
                        <option value="Steak">- Select -</option>
                        <option value="Steak">Steak</option>
                        <option value="Chops">Chops</option>
                        <option value="Ribs">Ribs</option>
                        <option value="Brisket">Brisket</option>
                    </select>
                    <div class="rvt-inline-alert rvt-inline-alert--is-valid">
                        <span class="rvt-inline-alert__icon">
                            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <g fill="currentColor">
                                    <path d="M10.2,5.4,7.1,9.53,5.67,8.25a1,1,0,1,0-1.34,1.5l2.05,1.82a1.29,1.29,0,0,0,.83.32h.12a1.23,1.23,0,0,0,.88-.49L11.8,6.6a1,1,0,1,0-1.6-1.2Z"/>
                                    <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6,6,0,0,1,8,14Z" />
                                </g>
                            </svg>
                        </span>
                        <span class="rvt-inline-alert__message" role="alert" id="type-message">
                            You must pick a
                            <strong>Type</strong> of meats.
                        </span>
                    </div>

                    <label for="select-warning-state" class="rvt-m-top-md">State</label>
                    <select name="" id="select-warning-state" class="rvt-has-warning" aria-describedby="type-message-2">
                        <option value="Steak">- Select -</option>
                        <option value="Steak">Steak</option>
                        <option value="Chops">Chops</option>
                        <option value="Ribs">Ribs</option>
                        <option value="Brisket">Brisket</option>
                    </select>
                    <div class="rvt-inline-alert rvt-inline-alert--has-warning">
                        <span class="rvt-inline-alert__icon">
                            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <g fill="currentColor">
                                    <path d="M11,9H5A1,1,0,0,1,5,7h6a1,1,0,0,1,0,2Z" />
                                    <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z" />
                                </g>
                            </svg>
                        </span>
                        <span class="rvt-inline-alert__message" role="alert" id="type-message-2">
                            You must pick a <strong>Type</strong> of meats.
                        </span>
                    </div>


                    <label for="select-error-state" class="rvt-m-top-md">Type</label>
                    <select name="" id="select-error-state" class="rvt-is-invalid" aria-describedby="state-message" aria-invalid="true">
                        <option value="Steak">- Select -</option>
                        <option value="Steak">Steak</option>
                        <option value="Chops">Chops</option>
                        <option value="Ribs">Ribs</option>
                        <option value="Brisket">Brisket</option>
                    </select>
                    <div class="rvt-inline-alert rvt-inline-alert--is-invalid">
                        <span class="rvt-inline-alert__icon">
                            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <g fill="currentColor">
                                    <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6,6,0,0,1,8,14Z" />
                                    <path d="M10.83,5.17a1,1,0,0,0-1.41,0L8,6.59,6.59,5.17A1,1,0,0,0,5.17,6.59L6.59,8,5.17,9.41a1,1,0,1,0,1.41,1.41L8,9.41l1.41,1.41a1,1,0,0,0,1.41-1.41L9.41,8l1.41-1.41A1,1,0,0,0,10.83,5.17Z"/>
                                </g>
                            </svg>
                        </span>
                        <span class="rvt-inline-alert__message" role="alert" id="state-message">
                            You must pick a
                            <strong>Type</strong> of meats.
                        </span>
                    </div>

                    <label for="select-info-state" class="rvt-m-top-md">Type</label>
                    <select name="" id="select-info-state" class="rvt-has-info" aria-describedby="state-message-3">
                        <option value="Steak">- Select -</option>
                        <option value="Steak">Steak</option>
                        <option value="Chops">Chops</option>
                        <option value="Ribs">Ribs</option>
                        <option value="Brisket">Brisket</option>
                    </select>
                    <div class="rvt-inline-alert rvt-inline-alert--has-info">
                        <span class="rvt-inline-alert__icon">
                            <svg role="img" alt="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                <g fill="currentColor">
                                    <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z" />
                                    <path d="M8,12a1,1,0,0,1-1-1V8A1,1,0,0,1,9,8v3A1,1,0,0,1,8,12Z" />
                                    <circle cx="8" cy="5" r="1" />
                                </g>
                            </svg>
                        </span>
                        <span class="rvt-inline-alert__message" role="alert" id="state-message-3">
                            You must pick a
                            <strong>Type</strong> of meats.
                        </span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
