<label for="select-demo">Select input</label>
<select id="select-demo">
    <option value="">Option One</option>
    <option value="">Option Two</option>
    <option value="">Option Three</option>
    <option value="">Option Four</option>
</select>
<div class="m-vertical-md">
    <label for="select-demo-disabled">Select input (disabled)</label>
    <select id="select-demo-disabled" disabled>
        <option value="">Option One</option>
        <option value="">Option Two</option>
        <option value="">Option Three</option>
        <option value="">Option Four</option>
    </select>    
</div>
