@mixin all-inputs($class) {
  @if $class == null {
    input[type='date'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='email'],
    input[type='month'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'],
    input[type='week'],
    textarea,
    select {
      @content;
    }
  }

  @else {
    input[type='date']#{$class},
    input[type='datetime']#{$class},
    input[type='datetime-local']#{$class},
    input[type='email']#{$class},
    input[type='month']#{$class},
    input[type='number']#{$class},
    input[type='password']#{$class},
    input[type='search']#{$class},
    input[type='tel']#{$class},
    input[type='text']#{$class},
    input[type='time']#{$class},
    input[type='url']#{$class},
    input[type='week']#{$class},
    textarea#{$class},
    select#{$class} {
      @content;
    }
  }
}
