<label for="text-input-{{id}}">Text Input</label>
<input type="text" id="text-input-{{id}}" {% if class %} class="rvt-validation-{{ class }}"{% endif %} {{ modifier }}>
{% if alert %}
  {% include alertVariant ignore missing %}
{% endif %}