{% render '@button', { content: buttonText, attributes: [{ label: "data-modal-trigger", value: id }]}, true %}

<div class="rvt-modal"
  id="{{ id }}"
  role="dialog"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="{{ modalTitleId }}"
  data-modal="{{ id }}"
  {% for attribute in attributes %}
    {{ attribute.label }}="{{ attribute.value }}"
  {% endfor %}>
  <div class="rvt-modal__inner" data-modal-inner>
    <header class="rvt-modal__header">
        <h1 class="rvt-modal__title" id="{{ modalTitledId }}">{{ modalTitle }}</h1>
    </header>
    {% if form %}
    <form id="{{ formId }}">
      <div class="rvt-modal__body">
        {{ modalBody | safe }}
      </div>
    </form>
    {% else %}
    <div class="rvt-modal__body">
      {{ modalBody | safe }}
    </div>
    {% endif %}
    <div class="rvt-modal__controls">
      {% for control in controls %}
        {% render '@button', { content: control.text, attributes: control.attributes, modifier: control.modifier }, true %}
      {% endfor %}
    </div>
    {% if not dialog %}
    <button class="rvt-button rvt-button--plain rvt-modal__close" data-modal-close="{{ id }}" role="button">
      <span class="v-hide">Close</span>
      {% include "@includes--close" %}
    </button>
    {% endif %}
  </div>
</div>

{% if dialog %}
<script>
    let modal{{ id }}Element = document.querySelector('[data-modal="{{ id }}"]');
    window.new{{ id }}Modal = new Rivet.Modal(modal{{ id }}Element, { dialog: true });
</script>
{% else %}
<script>
    let modal{{ id }}Element = document.querySelector('[data-modal="{{ id }}"]');
    window.new{{ id }}Modal = new Rivet.Modal(modal{{ id }}Element);
</script>
{% endif %}