---
tags: timeline
title: Default timeline
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-timeline">
  <div class="rvt-timeline__item">
    <div class="rvt-timeline__marker" aria-hidden="true">
    </div>
    <div class="rvt-timeline__content">
      <h2 class="rvt-timeline__heading">Organize your info</h2>
      <span class="rvt-timeline__date">Spring 2022</span>
      <p>Before you start, you may want to make a list of all your senior year classes and high school extracurricular activities, so you’re ready to enter those in your application. Also consider whether you want to include your SAT and/or ACT test scores in your application.</p>
    </div>
  </div>
  <div class="rvt-timeline__item">
    <div class="rvt-timeline__marker" aria-hidden="true">
    </div>
    <div class="rvt-timeline__content">
      <h2 class="rvt-timeline__heading">Pick your campus</h2>
      <span class="rvt-timeline__date">Summer 2022</span>
      <p>You can apply to any IU campus using the Apply IU app, which will ask you to select which IU campus(es) you want to send your application to. You can choose as many as you like, and you’ll only pay one application fee based on where you apply.</p>
    </div>
  </div>
</div>