<link rel="stylesheet" href="/css/rivet.css">
<link rel="stylesheet" href="https://unpkg.com/rivet-stickers@0.3.0/dist/rivet-sticker-element.css">
<script type="module" src="https://unpkg.com/rivet-stickers@0.3.0/dist/rivet-stickers.js"></script>
<link rel="stylesheet" href="https://unpkg.com/rivet-icons@3.0.0/dist/rivet-icon-element.css">
<script type="module" src="https://unpkg.com/rivet-icons@3.0.0/dist/rivet-icons.js"></script>