<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wdth,wght,YTLC,YTUC@8..144,25..151,100..1000,540,740&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/rivet-stickers@0.3.0/dist/rivet-sticker-element.css">
<script type="module" src="https://unpkg.com/rivet-stickers@0.3.0/dist/rivet-stickers.js"></script>
<link rel="stylesheet" href="https://unpkg.com/rivet-icons@3.0.0/dist/rivet-icon-element.css">
<script type="module" src="https://unpkg.com/rivet-icons@3.0.0/dist/rivet-icons.js"></script>

<link rel="stylesheet" href="https://unpkg.com/prismjs@v1.x/themes/prism.min.css">
