---
tags: alert
title: Inline alert
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---

<!-- Default -->
<div
	class="rvt-alert rvt-alert--info"
	role="alert"
	aria-labelledby="information-alert-title"
	data-rvt-alert="info"
>
	<p class="rvt-alert__message" id="information-alert-title">
		This system will be unavailable on August 1st due to scheduled system
		maintenance. Please check back on August 2nd.
	</p>
</div>

<!-- Success -->
<div
	class="rvt-alert rvt-alert--success [ rvt-m-top-md ]"
	role="alert"
	aria-labelledby="success-alert-title"
	data-rvt-alert="success"
>
	<p class="rvt-alert__message" id="success-alert-title">
		We have received your application. Check your email in a few weeks to find
		out if you’ve been admitted.
	</p>
</div>

<!-- Warning -->
<div
	class="rvt-alert rvt-alert--warning [ rvt-m-top-md ]"
	role="alert"
	aria-labelledby="warning-alert-title"
	data-rvt-alert="warning"
>
	<p class="rvt-alert__message" id="warning-alert-title">
		Your changes have not been saved. To save your changes, click ‘Save my
		changes’ or click ‘Cancel’ to exit without saving.
	</p>
</div>

<!-- Error -->
<div
	class="rvt-alert rvt-alert--danger [ rvt-m-top-md ]"
	role="alert"
	aria-labelledby="error-alert-title"
	data-rvt-alert="error"
>
	<p class="rvt-alert__message" id="error-alert-title">
		The user ID and password you entered do not match. Please check your entries
		and try again.
	</p>
</div>
