---
title: Feature Card - Image
---

{% import 'macros/card.njk' as macros %}

<ul class="rvt-grid rvt-grid--3 rvt-grid--collapse">
	<li>
		{{ macros.FeatureCard(type = 'image') }}
	</li>
	<li>
		{{ macros.FeatureCard(type = 'image') }}
	</li>
	<li>
		{{ macros.FeatureCard(type = 'image') }}
	</li>
</ul>
