@use '../core' as *;

.#{$prefix} {
  &-abbr,
  &-abbr[title] {
    border: none;
    text-decoration: none;
  }

  &-code {
    background-color: var(--rvt-color-theme-container);
    border-radius: $spacing-xxs;
    color: var(--rvt-color-theme-accent);
    display: inline-block;
    font-family: monospace;
    font-size: $ts-16;
    padding: .125rem .25rem;
  }

  &-hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid var(--rvt-color-theme-border);
  }

  &-strong {
    font-weight: $font-weight-bold;
  }
}
