@forward 'border';
@forward 'color';
@forward 'display';
@forward 'elements';
@forward 'flex';
@forward 'flow';
@forward 'prose';
@forward 'spacing';
@forward 'text';
@forward 'type-scale';
@forward 'visibility';
@forward 'width';
@forward 'wysiwyg';
@forward 'z-index';
