@use '../core' as *;

.rvt-prose {
  // Fall back for browsers that do not support the "ch" (character) unit.
  max-width: 760px;

  /**
   * Constrain prose/longer-form copy to a readable, user-friendly line length.
   */
  max-width: 75ch;

  h1 {
    font-size: $ts-32;
  }

  /**
   * We RARELY ever get down into the h4-6 area, so I say
   * just let the browser take care of those sizes and we'll
   * set the font-weight. See below.
   */

  h2,
  h3 {
    font-size: $ts-23;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // Reset the flow space here to put more space before headings.
    --flow-space: 3rem;

    font-weight: $font-weight-bold;
    line-height: 1.2;
  }
}
