@use '../core' as *;
@use '../lists';
@use '../utilities/elements';

.rvt-prose,
.rvt-rich-text {
  --rvt-rich-text-stack-space: #{$spacing-md};

  line-height: $line-height-loose;
  max-width: 80ch;

  > * {
    margin: 0;
  }

  > * + * {
    margin-top: var(--rvt-rich-text-stack-space);
  }

  h1 {
    font-size: $ts-32;
  }

  h2 {
    font-size: $ts-23;
  }

  h3 {
    font-size: $ts-20;
  }

  h4,
  h5,
  h6 {
    font-size: $ts-18;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // Reset the flow space here to put more space before headings.
    --rvt-rich-text-stack-space: #{$spacing-lg};

    font-weight: $font-weight-regular;
    line-height: $line-height-tight;
    scroll-margin-top: $spacing-md;
  }

  :where(p),
  :where(li),
  :where(td),
  :where(dt) {
    color: $color-black-400;
  }

  > img,
  > img + *,
  > figure,
  > figure + *,
  > hr,
  > hr + * {
    --rvt-rich-text-stack-space: #{$spacing-xl};
  }

  > :where(dl) {
    /* stylelint-disable */
    @extend .#{$prefix}-list-description;
    /* stylelint-enable */
  }

  :where(code) {
    /* stylelint-disable */
    @extend .#{$prefix}-code;
    /* stylelint-enable */
  }

  > *:empty:not(br,embed,hr,input,img,wbr) {
    display: none;
  }
}

@include mq($breakpoint-lg) {
  .rvt-prose,
  .rvt-rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      --rvt-rich-text-stack-space: #{$spacing-xxl};
    }

    :where(p),
    :where(li),
    :where(td),
    :where(dt) {
      font-size: $ts-18;
    }

    h2 {
      font-size: $ts-29;
    }

    h3 {
      font-size: $ts-23;
    }

    h4,
    h5,
    h6 {
      font-size: $ts-20;
    }
  }
}