/* stylelint-disable */

@each $key, $value in $color-map {

    .color-#{$key},
    .rvt-color-#{$key} {
        color: #{$value};
    }

}

// @example - CSS output
// .bg-midnight {
//     background-color: #006298;
// }
@each $key, $value in $color-map {
    .bg-#{$key},
    .rvt-bg-#{$key} {
        background-color: #{$value};
        color: $color-background;

        a {
            color: rgba($color-background, .9);
        }

        a:hover {
            color: $color-background;
        }
    }
}

/* stylelint-enable */
