.rvt-border-all {
    border: 1px solid $color-black--300 !important;
}

.rvt-border-top {
    border-top: 1px solid $color-black--300 !important;
}

.rvt-border-right {
    border-right: 1px solid $color-black--300 !important;
}

.rvt-border-bottom {
    border-bottom: 1px solid $color-black--300 !important;
}

.rvt-border-left {
    border-left: 1px solid $color-black--300 !important;
}

.rvt-border-radius {
    border-radius: $xxs !important;
}