@use 'core' as *;

.#{$prefix}-wysiwyg {
  * + * {
    margin-top: $spacing-sm;
  }

  *:empty { // Hides any empty elements (as well as <br />)
    display: none;
  }

  code + code,
  .#{$prefix}-code + .#{$prefix}-code {
    margin-top: 0;
  }
}
