---
tags: grid
title: Grid - Container
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---

<div class="rvt-container">
	<p class="rvt-bg-blue-100 rvt-p-all-sm">
		One container to rule them all. The container constrains the max-width of
		content.
	</p>
</div>
