---
tags: grid
title: Grid - Collapsed
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---

<div class="rvt-container">
	<div class="rvt-grid rvt-grid--3 rvt-grid--collapse">
		<p class="rvt-border-all rvt-border-color-crimson rvt-p-all-sm">
			You can also remove the gap between columns.
		</p>
		<p class="rvt-border-all rvt-border-color-crimson rvt-p-all-sm">Column</p>
		<p class="rvt-border-all rvt-border-color-crimson rvt-p-all-sm">Column</p>
	</div>
</div>
