---
tags: grid
title: Grid - Columns
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---

<div class="rvt-container">
	<div class="rvt-rich-text">
		<p>
			Grids are simplified and automatically responsive. If more control over
			the grid is needed, users are encouraged to create their own custom grid
			using CSS grid.
		</p>
	</div>
</div>

<div class="rvt-container">
	<div class="rvt-grid rvt-grid--2">
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
	</div>
</div>

<div class="rvt-container">
	<div class="rvt-grid rvt-grid--3">
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
	</div>
</div>

<div class="rvt-container">
	<div class="rvt-grid rvt-grid--4">
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">Column</p>
	</div>
</div>

<div class="rvt-container">
	<div class="rvt-grid rvt-grid--sidebar">
		<p class="rvt-bg-blue-100 rvt-p-all-sm">
			`--sidebar` variant creates a 1/3
		</p>
		<p class="rvt-bg-blue-100 rvt-p-all-sm">2/3 layout on larger screens</p>
	</div>
</div>
