---
tags: grid
title: Auto responsive columns
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-container-xl">
  <div class="rvt-row">
    <div class="rvt-cols-lg [ rvt-m-bottom-md ]">
      <div class="rvt-bg-blue-100">Column</div>
    </div>
    <div class="rvt-cols-lg [ rvt-m-bottom-md ]">
      <div class="rvt-bg-orange-100">Column</div>
    </div>
    <div class="rvt-cols-lg [ rvt-m-bottom-md ]">
      <div class="rvt-bg-green-100">Column</div>
    </div>
  </div>
</div>