---
tags: grid
title: Columns
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-container-xl">

  <!-- Columns with normal space between -->
  
  <div class="rvt-row">
    <div class="rvt-cols">
      <div class="rvt-bg-blue-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-orange-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-green-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-purple-100">Column</div>
    </div>
  </div>

  <!-- Columns with more space between -->

  <div class="rvt-row rvt-row--loose [ rvt-m-top-md ]">
    <div class="rvt-cols">
      <div class="rvt-bg-blue-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-orange-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-green-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-purple-100">Column</div>
    </div>
  </div>

  <!-- Columns with less space between -->

  <div class="rvt-row rvt-row--tight [ rvt-m-top-md ]">
    <div class="rvt-cols">
      <div class="rvt-bg-blue-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-orange-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-green-100">Column</div>
    </div>
    <div class="rvt-cols">
      <div class="rvt-bg-purple-100">Column</div>
    </div>
  </div>

</div>