---
tags: grid
title: Containers
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-container-sm [ rvt-bg-blue-100 ]">
  <span>SM</span>
</div>

<div class="rvt-container-md [ rvt-bg-blue-100 rvt-m-top-md ]">
  <span>MD</span>
</div>

<div class="rvt-container-lg [ rvt-bg-blue-100 rvt-m-top-md ]">
  <span>LG</span>
</div>

<div class="rvt-container-xl [ rvt-bg-blue-100 rvt-m-top-md ]">
  <span>XL</span>
</div>