---
tags: grid
title: Push/pull columns
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 7
---
<div class="rvt-container-xl">
  <div class="rvt-row">
    <div class="rvt-cols-4-md rvt-cols-push-8-md">
      <div class="rvt-bg-blue-100">First column</div>
    </div>
    <div class="rvt-cols-8-md rvt-cols-pull-4-md">
      <div class="rvt-bg-green-100">Second column</div>
    </div>
  </div>
</div>