---
tags: grid
title: Right align last column
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 8
---
<div class="rvt-container-xl">
  <div class="rvt-row">
    <div class="rvt-cols-4-md">
      <div class="rvt-bg-blue-100">Column</div>
    </div>
    <div class="rvt-cols-3-md rvt-cols--last">
      <div class="rvt-bg-green-100">Column</div>
    </div>
  </div>
</div>