{% macro Card(raised, image, sticker, badge, eyebrow, content, meta) %}
<div class="rvt-card{% if raised %} rvt-card--raised{% endif %}">
{% if image %}
	<div class="rvt-card__image">
		<img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
	</div>
{% endif %}
{% if sticker %}
	<div class="rvt-card__sticker">
		<rvt-sticker name="pencil-ruler" theme="crimson" size="sm"></rvt-sticker>
	</div>
{% endif %}
	<div class="rvt-card__body">
	{% if badge %}
		<div class="rvt-card__badge">
			<strong class="rvt-badge">Featured</strong>
		</div>
	{% endif %}
	{% if eyebrow %}
		<div class="rvt-card__eyebrow">{Tag or category}</div>
	{% endif %}
		<h2 class="rvt-card__title">
			<a href="#">Find your ideal campus life at IU</a>
		</h2>
	{% if content %}
		<div class="rvt-card__content [ rvt-flow ]">
			<p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
			<ul class="rvt-list">
				<li>One two</li>
				<li>One two</li>
				<li>One two</li>
			</ul>
		</div>
	{% endif %}
	{% if meta %}
		<div class="rvt-card__meta">
			<time>November 5, 1955</time>
		</div>
		<div class="rvt-card__tags">
			<ul class="rvt-list-inline rvt-gap-xs">
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag one</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag two</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag three</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag four</a>
				</li>
			</ul>
		</div>
	{% endif %}
	</div>
</div>
{% endmacro %}

{% macro EventCard(raised, date, image, badge, eyebrow, details, meta) %}
<div class="rvt-card rvt-card--event{% if raised %} rvt-card--raised{% endif %}">
{% if date %}
	<div class="rvt-card__date">
		<div class="rvt-cal">
			<span class="rvt-cal__month">Dec</span>
			<span class="rvt-cal__day">21</span>
			<span class="rvt-cal__year">2024</span>
		</div>
	</div>
{% endif %}
{% if image %}
	<div class="rvt-card__image">
		<img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
	</div>
{% endif %}
	<div class="rvt-card__body">
	{% if badge %}
		<div class="rvt-card__badge">
			<strong class="rvt-badge">Featured</strong>
		</div>
	{% endif %}
	{% if eyebrow %}
		<div class="rvt-card__eyebrow">{Tag or campus}</div>
	{% endif %}
		<h2 class="rvt-card__title">
			<a href="#">Find your ideal campus life at IU</a>
		</h2>
	{% if details %}
		<ul class="rvt-card__details">
			<li>
				<rvt-icon name="calendar"></rvt-icon>
				<time>Dec 21, 2024</time>
			</li>
			<li>
				<rvt-icon name="clock"></rvt-icon>
				<time>9:00 AM</time>
			</li>
			<li>
				<rvt-icon name="map-pin"></rvt-icon>
				<span>Indianapolis Campus Center</span>
			</li>
		</ul>
	{% endif %}
	{% if meta %}
		<div class="rvt-card__meta">
			<span>Tags</span>
		</div>
		<div class="rvt-card__tags">
			<ul class="rvt-list-inline rvt-gap-xs">
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag one</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag two</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag three</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag four</a>
				</li>
			</ul>
		</div>
	{% endif %}
	</div>
</div>
{% endmacro %}

{% macro FeatureCard(image, sticker, badge, eyebrow, content) %}
<div class="rvt-card rvt-card--feature">
{% if image %}
	<div class="rvt-card__image">
		<img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
	</div>
{% endif %}
{% if sticker %}
	<div class="rvt-card__sticker">
		<rvt-sticker name="pencil-ruler" theme="crimson" size="sm"></rvt-sticker>
	</div>
{% endif %}
	<div class="rvt-card__body">
	{% if badge %}
		<div class="rvt-card__badge">
			<strong class="rvt-badge">Featured</strong>
		</div>
	{% endif %}
	{% if badge %}
		<div class="rvt-card__eyebrow">My category</div>
	{% endif %}
		<h2 class="rvt-card__title">
			<a href="#">Find your ideal campus life at IU</a>
		</h2>
	{% if content %}
		<div class="rvt-card__content">
			<p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
		</div>
	{% endif %}
	</div>
</div>
{% endmacro %}

{% macro NewsCard(raised, image, sticker, badge, eyebrow, meta) %}
<div class="rvt-card rvt-card--news{% if raised %} rvt-card--raised{% endif %}">
{% if image %}
	<div class="rvt-card__image">
		<img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
	</div>
{% endif %}
{% if sticker %}
	<div class="rvt-card__sticker">
		<rvt-sticker name="bike" theme="crimson" size="sm"></rvt-sticker>
	</div>
{% endif %}
	<div class="rvt-card__body">
	{% if badge %}
		<div class="rvt-card__badge">
			<strong class="rvt-badge">Featured</strong>
		</div>
	{% endif %}
	{% if eyebrow %}
		<div class="rvt-card__eyebrow">My category</div>
	{% endif %}
		<h2 class="rvt-card__title">
			<a href="#">Find your ideal campus life at IU</a>
		</h2>
	{% if meta %}
		<div class="rvt-card__meta">
			<div>{Tag, category, or date}</div>
		</div>
		<div class="rvt-card__tags">
			<ul class="rvt-list-inline rvt-gap-xs">
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag one</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag two</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag three</a>
				</li>
				<li>
					<a href="#" class="rvt-button rvt-button--tag">Tag four</a>
				</li>
			</ul>
		</div>
	{% endif %}
	</div>
</div>
{% endmacro %}

{% macro ProfileCard(raised, avatar, eyebrow, subtitle, details, meta) %}
<div class="rvt-card rvt-card--profile{% if raised %} rvt-card--raised{% endif %}">
{% if avatar %}
	<div class="rvt-card__avatar">
		<div class="rvt-avatar rvt-avatar--md">
			<img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.webp" alt="">
		</div>
	</div>
{% endif %}
	<div class="rvt-card__body">
	{% if eyebrow %}
		<div class="rvt-card__eyebrow">{Campus/Team/Department}</div>
	{% endif %}
		<h2 class="rvt-card__title">
			<a href="#">{First and Last Name}</a>
		</h2>
	{% if subtitle %}
		<div class="rvt-card__subtitle">{Person's Title}</div>
	{% endif %}
	{% if details %}
		<ul class="rvt-card__details">
			<li>
				<rvt-icon name="envelope"></rvt-icon>
				<a href="mailto:example@iu.edu">example@iu.edu</a>
			</li>
			<li>
				<rvt-icon name="phone"></rvt-icon>
				<a href="tel:8124441717">(812) 444-1717</a>
			</li>
			<li>
				<rvt-icon name="device"></rvt-icon>
				<a href="#">examplesite.com</a>
			</li>
			<li>
				<rvt-icon name="user"></rvt-icon>
				<span><strong>Pronouns:</strong> She/Her</span>
			</li>
		</ul>
	{% endif %}
	{% if meta %}
		<div class="rvt-card__meta">
			<span>Areas of expertise</span>
		</div>
		<div class="rvt-card__tags">
			<ul class="rvt-list-inline rvt-gap-xs">
				<li>
					<span class="rvt-badge">UI/UX Design</a>
				</li>
				<li>
					<span class="rvt-badge">Branding</a>
				</li>
				<li>
					<span class="rvt-badge">Illustration</a>
				</li>
			</ul>
		</div>
	{% endif %}
	</div>
</div>
{% endmacro %}

<!--
<div class="rvt-row">
	<div class="rvt-cols-4-md">
		<div class="rvt-card">
			<div class="rvt-card__image">
				<img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
			</div>
			<div class="rvt-card__body">
				<h2 class="rvt-card__title">
					<a href="#">Find your ideal campus life at IU</a>
				</h2>
				<div class="rvt-card__content [ rvt-flow ]">
					<p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home, whatever your background, interests, or goals. Whether you want a Big Ten college experience, the dynamic pace of an urban research university, the community feeling of a regional campus close to home, or the flexibility of a fully online degree program, you’ll find it at IU.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rvt-cols-4-md">
		<div class="rvt-card">
			<div class="rvt-card__image">
				<img src="https://rivet.iu.edu/img/placeholder/list-card-1.webp" alt="Replace this value with appropriate alternative text">
			</div>
			<div class="rvt-card__body">
				<h2 class="rvt-card__title">
					<a href="#">Student clubs and organizations</a>
				</h2>
				<div class="rvt-card__content [ rvt-flow ]">
					<p>Whatever you’re into, you’ll find your people here. Campus is always buzzing with the activity of student organizations, ranging from student government, campus newspapers, and IU Corps volunteer programs, all the way to a Chinese Calligraphy club, six different comedy groups, and even a quidditch team.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rvt-cols-4-md">
		<div class="rvt-card">
			<div class="rvt-card__image">
				<img src="https://rivet.iu.edu/img/placeholder/list-card-5.webp" alt="Replace this value with appropriate alternative text">
			</div>
			<div class="rvt-card__body">
				<h2 class="rvt-card__title">
					<a href="#">Pursue your passion or explore the possibilities</a>
				</h2>
				<div class="rvt-card__content [ rvt-flow ]">
					<p>From nursing to criminal justice, epidemiology to environmental science, social work to cybersecurity, and more than 900 academic programs in between, IU gives you the power to study whatever sparks your interest, with the support of world-class professors and faculty who care about your success.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="rvt-card rvt-card--horizontal">
	<div class="rvt-card__image">
		<img src="https://news.iu.edu/live/image/scale/2x/gid/2/width/150/height/150/crop/1/src_region/108,0,907,800/6570_20220420_IU_Day_LK_163.rev.1680284638.webp" alt="">
	</div>
	<div class="rvt-card__body">
		<div class="rvt-card__eyebrow">Arts and Humanities</div>
		<h2 class="rvt-card__title">
			<a href="#">Find your ideal campus life at IU</a>
		</h2>
		<div class="rvt-card__content">
			<p>Each of our nine campuses offers a welcoming, inclusive environment that feels like home.</p>
		</div>
		<div class="rvt-card__meta">
			<time>May 1, 2024</time>
		</div>
	</div>
</div>
-->
