<div class="rvt-billboard{% if reverse %} rvt-billboard--reverse{% endif %}">
  <div class="rvt-billboard__image">
    <img src="{{ image }}" alt="">
  </div>
  <div class="rvt-billboard__body">
    <h2 class="rvt-billboard__title">{{ title }}</h2>
    <div class="rvt-billboard__content [ rvt-flow ]">
      {{ content | safe }}
      {% render "@cta" %}
    </div>
  </div>
</div>