@use '../core' as *;

.#{$prefix}-media-hub {
  display: grid;
  gap: $spacing-sm;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  position: relative;

  img {
    max-width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }

  &__16x9 > * {
    aspect-ratio: 16 / 9;
  }

  &__4x3 > * {
    aspect-ratio: 4 / 3;
  }

  &__1x1 > * {
    aspect-ratio: 1 / 1;
  }

  &__caption {
    grid-column: span 6;
    padding: 0;
  }

  &__1,
  &__span-1 {
    grid-column: span 1;
  }

  &__2,
  &__span-2 {
    grid-column: span 2;
  }

  &__3,
  &__span-3 {
    grid-column: span 3;
  }

  &__4,
  &__span-4 {
    grid-column: span 4;
  }

  &__5,
  &__span-5 {
    grid-column: span 5;
  }

  &__6,
  &__span-6 {
    grid-column: span 6;
  }

  &__card {
    grid-column: 1 / 7;
    margin-top: -1.5rem;
  }

  &--no-gap {
    gap: 0;
  }
}

@include mq($breakpoint-md) {
  .#{$prefix}-media-hub {
    &__card {
      margin-top: 0;
      position: absolute;
      bottom: 1rem;
      right: 0;
      grid-column: 5 / -1;
    }
  }
}