@use '../core' as *;

.#{$prefix}-media-hub {
  &__teaser {
    margin: 0;
    font-family: $font-serif;
    font-size: $ts-46;
    line-height: $line-height-tight;
    letter-spacing: .01rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 40ch;

    a {
      color: var(--rvt-theme-text);
      text-underline-offset: $spacing-xs;
      text-decoration-thickness: $spacing-xs;
      transition: .2s all ease-in-out;
    }

    a:hover {

      text-decoration: underline;
      text-decoration-color: var(--rvt-theme-accent-border);
      text-underline-offset: $spacing-xs;
      text-decoration-thickness: $spacing-xs;
    }
  }

  &__teaser + &__media {
    margin-top: $spacing-xxl;
  }

  &__media {
    display: grid;
    gap: $spacing-xs;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    position: relative;

    img {
      max-width: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }

    figcaption {
      grid-column: 1 / -1;
      padding-top: 0;
    }
  }


  &__16x9 > * {
    aspect-ratio: 16 / 9;
  }

  &__4x3 > * {
    aspect-ratio: 4 / 3;
  }

  &__1x1 > * {
    aspect-ratio: 1 / 1;
  }

  &__caption {
    grid-column: span 6;
    padding: 0;
  }

  &__1,
  &__span-1 {
    grid-column: span 1;
  }

  &__2,
  &__span-2 {
    grid-column: span 2;
  }

  &__3,
  &__span-3 {
    grid-column: span 3;
  }

  &__4,
  &__span-4 {
    grid-column: span 4;
  }

  &__5,
  &__span-5 {
    grid-column: span 5;
  }

  &__6,
  &__span-6 {
    grid-column: span 6;
  }

  &__card {
    grid-column: 1 / 7;
    margin-top: -1.5rem;
  }

  &--no-gap {
    gap: 0;
  }
}