<form>
    <legend>Sign Up</legend>
    <div class="m-btm-md">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name">
    </div>
    <div class="m-btm-md">
        <label for="">Last Name</label>
        <input type="text">
    </div>
    <div class="m-btm-md">
        <label for="">Email address</label>
        <input type="email" name="" value="">
    </div>
    <button>Submit</button>
</form>
