<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ path '/favicon.ico' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/rivet.css' }}">
    <title>Preview Layout</title>
</head>
<body>
    <main>
        <div class="display-wrapper">
            {{{ yield }}}

            <style scoped>
                body {
                    background-color: #f7f7f7;
                }
            </style>
        </div>
    </main>
    <script src="{{ path '/js/rivet.js' }}"></script>
</body>
</html>
