---
tags: shadow
title: Add shadows
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-shadow-subtle rvt-p-all-md rvt-m-bottom-lg">
  <span>Subtle shadow</span>
</div>
<div class="rvt-shadow rvt-p-all-md rvt-m-bottom-lg">
  <span>Normal shadow</span>
</div>
<div class="rvt-shadow-heavy rvt-p-all-md rvt-m-bottom-lg">
  <span>Heavy shadow</span>
</div>