---
tags: accordion
title: Accordion - Crimson theme
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
classes: rvt-theme-crimson
---
<div class="rvt-accordion" data-rvt-accordion="test-accordion">
  <h3 class="rvt-accordion__summary">
    <button class="rvt-accordion__toggle" data-rvt-accordion-trigger>
      <span class="rvt-accordion__toggle-text">Become the best version of yourself at IU</span>
      <div class="rvt-accordion__toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
            <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
          </g>
        </svg>
      </div>
    </button>
  </h3>
  <div class="rvt-accordion__panel" data-rvt-accordion-panel>
    <p class="rvt-m-all-remove">Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
  </div>
  <h3 class="rvt-accordion__summary">
    <button class="rvt-accordion__toggle" data-rvt-accordion-trigger>
      <span class="rvt-accordion__toggle-text">Find your calling</span>
      <div class="rvt-accordion__toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
            <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
          </g>
        </svg>
      </div>
    </button>
  </h3>
  <div class="rvt-accordion__panel" data-rvt-accordion-panel>
    <p class="rvt-m-all-remove">IU offers more than 2,300 different programs of study. Not sure what to focus on? No problem. Browse by interest area to find options you'd enjoy pursuing.</p>
  </div>
  <h3 class="rvt-accordion__summary">
    <button class="rvt-accordion__toggle" data-rvt-accordion-trigger>
      <span class="rvt-accordion__toggle-text">Pursue your passion or explore the possibilities</span>
      <div class="rvt-accordion__toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z" />
            <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z" />
          </g>
        </svg>
      </div>
    </button>
  </h3>
  <div class="rvt-accordion__panel" data-rvt-accordion-panel data-rvt-accordion-panel-init>
    <p class="rvt-m-all-remove">From nursing to criminal justice, <a href="/#">epidemiology to environmental</a> science, social work to cybersecurity, and more than 900 academic programs in between, IU gives you the power to study whatever sparks your interest, with the support of world-class professors and faculty who care about your success.</p>
  </div>
</div>