<label for="color" class="rvt-label">Color</label>
<input class="rvt-input" type="color" id="color">

<label for="date" class="rvt-label">Date</label>
<input class="rvt-input" type="date" id="date">

<label for="datetime" class="rvt-label">Datetime</label>
<input class="rvt-input" type="datetime" id="datetime">

<label for="datetime-local" class="rvt-label">Datetime-local</label>
<input class="rvt-input" type="datetime-local" id="datetime-local">

<label for="email" class="rvt-label">Email</label>
<input class="rvt-input" type="email" id="email">

<label for="month" class="rvt-label">Month</label>
<input class="rvt-input" type="month" id="month">

<label for="number" class="rvt-label">Number</label>
<input class="rvt-input" type="number" id="number">

<label for="password" class="rvt-label">Password</label>
<input class="rvt-input" type="password" id="password">

<label for="search" class="rvt-label">Search</label>
<input class="rvt-input" type="search" id="search">

<label for="tel" class="rvt-label">Tel</label>
<input class="rvt-input" type="tel" id="tel">

<label for="time" class="rvt-label">Time</label>
<input class="rvt-input" type="time" id="time">

<label for="url" class="rvt-label">URL</label>
<input class="rvt-input" type="url" id="url">

<label for="week" class="rvt-label">Week</label>
<input class="rvt-input" type="week" id="week">