<p>A long paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus turpis id consequat malesuada. Donec fermentum libero commodo ultrices elementum. Quisque aliquam, ante nec consequat ornare, tortor ipsum elementum mauris, ac posuere risus nunc vitae orci.</p>

<hr class="rvt-hr"></hr>

<p>A long paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus turpis id consequat malesuada. Donec fermentum libero commodo ultrices elementum. Quisque aliquam, ante nec consequat ornare, tortor ipsum elementum mauris, ac posuere risus nunc vitae orci.</p>

<hr class="rvt-hr">

<code class="rvt-code">div > ul > li</code>