<h2 class="rvt-text-bold rvt-ts-16 rvt-m-all-sm">Size set as 'xs' at different breakpoints</h2>
<div class="rvt-flex">
  {% render '@avatar', {'text': 'XS', 'modifier': '--xs-sm-up'} %}
  {% render '@avatar', {'text': 'XS', 'modifier': '--xs-md-up'} %}
  {% render '@avatar', {'text': 'XS', 'modifier': '--xs-lg-up'} %}
  {% render '@avatar', {'text': 'XS', 'modifier': '--xs-xl-up'} %}
</div>

<h2 class="rvt-text-bold rvt-ts-16 rvt-m-all-sm">Size set as 'sm' at different breakpoints</h2>
<div class="rvt-flex">
  {% render '@avatar', {'text': 'SM', 'modifier': '--sm-sm-up'} %}
  {% render '@avatar', {'text': 'SM', 'modifier': '--sm-md-up'} %}
  {% render '@avatar', {'text': 'SM', 'modifier': '--sm-lg-up'} %}
  {% render '@avatar', {'text': 'SM', 'modifier': '--sm-xl-up'} %}
</div>

<h2 class="rvt-text-bold rvt-ts-16 rvt-m-all-sm">Size set as 'md' at different breakpoints</h2>
<div class="rvt-flex">
  {% render '@avatar', {'text': 'MD', 'modifier': '--md-sm-up'} %}
  {% render '@avatar', {'text': 'MD', 'modifier': '--md-md-up'} %}
  {% render '@avatar', {'text': 'MD', 'modifier': '--md-lg-up'} %}
  {% render '@avatar', {'text': 'MD', 'modifier': '--md-xl-up'} %}
</div>

<h2 class="rvt-text-bold rvt-ts-16 rvt-m-all-sm">Size set as 'lg' at different breakpoints</h2>
<div class="rvt-flex">
  {% render '@avatar', {'text': 'LG', 'modifier': '--lg-sm-up'} %}
  {% render '@avatar', {'text': 'LG', 'modifier': '--lg-md-up'} %}
  {% render '@avatar', {'text': 'LG', 'modifier': '--lg-lg-up'} %}
  {% render '@avatar', {'text': 'LG', 'modifier': '--lg-xl-up'} %}
</div>

<h2 class="rvt-text-bold rvt-ts-16 rvt-m-all-sm">Size set as 'xl' at different breakpoints</h2>
<div class="rvt-flex">
  {% render '@avatar', {'text': 'XL', 'modifier': '--xl-sm-up'} %}
  {% render '@avatar', {'text': 'XL', 'modifier': '--xl-md-up'} %}
  {% render '@avatar', {'text': 'XL', 'modifier': '--xl-lg-up'} %}
  {% render '@avatar', {'text': 'XL', 'modifier': '--xl-xl-up'} %}
</div>