<h2 class="rvt-text-uppercase rvt-ts-14 rvt-m-top-sm rvt-m-bottom-sm">Reversed color action</h2>

<div class="rvt-p-all-sm rvt-m-top-md" style="background-color: #000000;">
{% render '@action--reverse' %}
</div>