<button class="rvt-button" data-modal-trigger="{{ id }}">{{ buttonText }}</button>

<div class="rvt-modal"
  id="{{ id }}"
  role="dialog"
  aria-labelledby="{{ modalTitleId }}"
  aria-hidden="true"
  tabindex="-1">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
        <h1 class="rvt-modal__title" id="{{ modalTitledId }}">{{ modalTitle }}</h1>
    </header>
    <div class="rvt-modal__body">
      {{ modalBody | safe }}
    </div>
    <div class="rvt-modal__controls">
      {% for control in controls %}
        {% render '@button', { content: control.text, attributes: control.attributes }, true %}
      {% endfor %}
    </div>
    <button class="rvt-button rvt-button--plain rvt-modal__close" data-modal-close="{{ id }}" role="button">
      <span class="v-hide">Close</span>
      {% include "@includes--close" %}
    </button>
  </div>
</div>
