<fieldset class="rvt-fieldset">
  <legend class="rvt-sr-only">Checkbox list</legend>
  <ul class="rvt-plain-list rvt-width-xl">
    <li>
      <div class="rvt-checkbox">
        <input type="checkbox" name="checkbox-demo" id="checkbox-1">
        <!--
          Can work with hidden input elements that some framework template languages generate
        -->
        <input type="hidden">
        <label for="checkbox-1">Option one</label>
      </div>
    </li>
    <li>
      <div class="rvt-checkbox">
        <input type="checkbox" name="checkbox-demo" id="indeterminate">
        <label for="indeterminate">Option two</label>
      </div>
    </li>
    <li>
      <div class="rvt-checkbox">
        <input type="checkbox" name="checkbox-demo" id="checkbox-3" disabled>
        <label for="checkbox-3">Option three</label>
      </div>
    </li>
    <li>
      <div class="rvt-checkbox">
        <input type="checkbox" name="checkbox-demo" id="checkbox-4" disabled checked>
        <label for="checkbox-4">Option four</label>
      </div>
    </li>
    <li>
      <div class="rvt-checkbox">
        <input aria-describedby="checkbox-description" type="checkbox" name="checkbox-demo" id="checkbox-long">
        <label for="checkbox-long">Just a quick note</label>
        <div id="checkbox-description" class="rvt-checkbox__description">This checkbox has a really long label that can wrap on to two lines and still have nice left alignment.</div>
      </div>
    </li>
    <li>
      <div class="rvt-checkbox rvt-checkbox--sr-only-label">
        <input type="checkbox" name="checkbox-demo" id="checkbox-hidden-label">
        <label for="checkbox-hidden-label">This label text is visually hidden</label>
      </div>
    </li>
  </ul>
</fieldset>

<ul class="rvt-inline-list rvt-m-top-lg">
  <li>
    <div class="rvt-checkbox">
      <input type="checkbox" name="checkbox-demo" id="inline-1">
      <label for="inline-1">Option two</label>
    </div>
  </li>
  <li>
    <div class="rvt-checkbox">
      <input type="checkbox" name="checkbox-demo" id="inline-2">
      <label for="inline-2">Option two</label>
    </div>
  </li>
</ul>

<script>
  /**
   * Setting indeterminate state for demo purposes here.
   */
  var indCheck = document.querySelector('#indeterminate');
  indCheck.indeterminate = true;
</script>