---
tags: media-hub
title: Media hub - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 2
---
<figure class="rvt-media-hub">
  <div class="rvt-media-hub__media">
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/44/400/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/23/400/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/19/600/600" alt="">
    </div>
  </div>
  <figcaption class="rvt-media-hub__caption">Test caption</figcaption>
</figure>

<hr class="rvt-m-tb-xxl">

<figure class="rvt-media-hub">
  <div class="rvt-media-hub__media">
    <div class="rvt-media-hub__6 rvt-media-hub__16x9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/L4coo0xCFcI?si=PETgKXU2LjV7ALLl"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
  </div>
  <figcaption>Single video</figcaption>
</figure>

<hr class="rvt-m-tb-xxl">

<div class="rvt-media-hub">
  <div class="rvt-media-hub__media">
    <div class="rvt-media-hub__6 rvt-media-hub__16x9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/L4coo0xCFcI?si=PETgKXU2LjV7ALLl"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
      </iframe>
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/44/400/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/23/400/400" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/19/600/600" alt="">
    </div>
  </div>
</div>

<hr class="rvt-m-tb-xxl">

<div class="rvt-media-hub">
  <div class="rvt-media-hub__media">
    <div class="rvt-media-hub__3">
      <img src="https://picsum.photos/id/19/600/600" alt="">
    </div>
    <div class="rvt-media-hub__3">
      <img src="https://picsum.photos/id/19/600/600" alt="">
    </div>
    <div class="rvt-media-hub__4">
      <img src="https://picsum.photos/id/21/800/450" alt="">
    </div>
    <div class="rvt-media-hub__2">
      <img src="https://picsum.photos/id/19/600/600" alt="">
    </div>
  </div>
</div>