---
tags: media-hub
title: Media hub - With teaser
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 2
---

<figure class="rvt-media-hub">
	<p class="rvt-media-hub__teaser">
		{Simple one to two sentence statement about about school or site that can
		also serve as a way to link to sections. Learn more about
		<a href="#">lorem ipsum</a>.}
	</p>
	<div class="rvt-media-hub__media">
		<div class="rvt-media-hub__3">
			<img src="https://picsum.photos/id/19/600/600" alt="" />
		</div>
		<div class="rvt-media-hub__3">
			<img src="https://picsum.photos/id/19/600/600" alt="" />
		</div>
		<div class="rvt-media-hub__4">
			<img src="https://picsum.photos/id/21/800/450" alt="" />
		</div>
		<div class="rvt-media-hub__2">
			<img src="https://picsum.photos/id/19/600/600" alt="" />
		</div>
		<figcaption class="rvt-media-hub__caption">Test caption</figcaption>
	</div>
</figure>
