@use "../core" as *;
@use "sass:map";

$avatar-widths: (
	"xs": var(--rvt-spacing-lg),
	"sm": calc(var(--rvt-spacing-lg) * 1.5),
	"rg": calc(var(--rvt-spacing-lg) * 2),
	"md": calc(var(--rvt-spacing-lg) * 3),
	"lg": calc(var(--rvt-spacing-lg) * 4),
	"xl": calc(var(--rvt-spacing-lg) * 5),
);

.rvt-avatar {
	--size-xs: var(--rvt-spacing-lg);
	--size-sm: calc(var(--rvt-spacing-lg) * 1.5);
	--size-rg: calc(var(--rvt-spacing-lg) * 2);
	--size-md: calc(var(--rvt-spacing-lg) * 3);
	--size-lg: calc(var(--rvt-spacing-lg) * 4);
	--size-xl: calc(var(--rvt-spacing-lg) * 5);
	--size: var(--size-rg);
	align-items: center;
	background-color: var(--rvt-color-brand-light);
	border-radius: var(--rvt-border-radius-circle);
	color: var(--rvt-color-brand-main);
	container-type: inline-size;
	display: flex;
	flex-shrink: 0;
	height: var(--size);
	justify-content: center;
	text-align: center;
	overflow: hidden;
	width: var(--size);

	&__image {
		display: block;
		height: auto;
		width: 100%;
	}

	&__text {
		font-family: var(--rvt-font-family-mono);
		font-size: calc(14 / 32 * 100cqi);
		font-stretch: var(--rvt-font-width-normal);
		font-weight: var(--rvt-font-weight-medium);
		letter-spacing: 0.08em;
		line-height: 1;
		text-indent: 0.08em;
	}

	&--xs {
		--size: var(--size-xs);
	}

	&--sm {
		--size: var(--size-sm);
	}

	&--md {
		--size: var(--size-md);
	}

	&--lg {
		--size: var(--size-lg);
	}

	&--xl {
		--size: var(--size-xl);
	}
}

@each $variable, $size in $breakpoints {
	@include mq($size) {
		@each $pixels, $rems in $avatar-widths {
			.rvt-avatar--#{$pixels}-#{$variable}-up {
				--size: #{$rems};
			}
		}
	}
}
