body {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar, .content {
  font-family: sans-serif;
  height: 100vh;
}

.sidebar {
  background-color: #ededeb;
  padding: 1.8rem;
}

.sidebar h1 {
  color: #243142;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.sidebar h2 {
  color: #243142;
  font-size: 1rem;
  padding-top: 1rem;
}

.sidebar nav ul {
  list-style: none;
  padding-left: 0;
}

.sidebar nav li:not(:last-child) {
  padding-bottom: 1rem;
}

.sidebar nav li a {
  color: #4C5A69;
  text-decoration: none;
}

.sidebar nav li a.current {
  font-weight: bold;
  color: #006298;
}

.welcome {
  border-radius: 9px;
  border: 1px #ededeb dashed;
  color: #243142;
  margin: 1.8rem;
  padding: 1.8rem;
  text-align: center;
}