<h2 class="ts-18 m-btm-sm m-top-remove">Ordered list</h2>

<ul>
    <li>List Item One</li>
    <li>List Item Two</li>
    <li>List Item Three</li>
    <li>List Item Four</li>
</ul>

<h2 class="ts-18 m-top-lg m-btm-sm">Unordered list</h2>

<ol>
    <li>List Item One</li>
    <li>List Item Two</li>
    <li>List Item Three</li>
    <li>List Item Four</li>
</ol>

<h2 class="ts-18 m-top-lg m-btm-sm">Plain List</h2>

<ul class="plain-list">
    <li>List Item One</li>
    <li>List Item Two</li>
    <li>List Item Three</li>
    <li>List Item Four</li>
</ul>
