---
tags: callout
title: Callout - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-callout">
  <div class="rvt-callout__inner">
    <rvt-sticker name="cap" theme="crimson" size="sm"></rvt-sticker>
    <div class="rvt-callout__body">
      <p class="rvt-callout__eyebrow">{ Tag or category }</p>
      <h2 class="rvt-callout__title">{ Title should not exceed 32 characters }</h2>
      <div class="rvt-callout__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, aperiam dolorem nisi libero inventore enim dolor, illo aut animi earum, hic sint exercitationem! Cumque, molestias sed. Repellat, accusamus? Tempore, laborum!</p>
      </div>
      <div class="rvt-callout__actions">
        <a href="/#" class="rvt-button rvt-button--outline">{ Lorem ipsum }</a>
        <a href="/#" class="rvt-button">{ Lorem ipsum }</a>
      </div>
    </div>
  </div>
</div>
