<div class="rvt-inline-alert rvt-inline-alert--standalone rvt-inline-alert--{{ type }}">
    <span class="rvt-inline-alert__icon">
        {% include SVG %}
    </span>
    <span class="rvt-inline-alert__message" id="first-name-message">{{ message }}</span>
</div>