<!--
  This container constrains the max-width of the Subnav. If your app only has
  a few screens and a relatively flat information architecture you might not
  need this Subnav. It can be removed without affecting the display of the 
  intro section.
-->
<div class="{{ siteContainer }}">
  {%- set listIndexContent -%}
    <span class="rvt-color-black-300 rvt-flex">
      {% include "@bell-icon" %}
    </span>
    <div class="rvt-m-left-xs">List index view</div>
  {%- endset -%}
  {%- set tableIndexContent -%}
    <span class="rvt-color-black-300 rvt-flex">
      {% include "@calendar-icon" %}
    </span>
    <div class="rvt-m-left-xs">Table index view</div>
  {%- endset -%}
  {%- set detailsContent -%}
    <span class="rvt-color-black-300 rvt-flex">
      {% include "@gears-icon" %}
    </span>
    <div class="rvt-m-left-xs">Details view</div>
  {%- endset -%}
  {%- set editContent -%}
    <span class="rvt-color-black-300 rvt-flex">
      {% include "@user-icon" %}
    </span>
    <div class="rvt-m-left-xs">Edit view</div>
  {%- endset -%}
  
  {% render "@subnav", {
    id: "App settings navigation",
    classes: "[ rvt-border-bottom-none ]",
    items: [
      { content: listIndexContent,
        current: true,
        link: "/components/preview/application-index-list"
      },
      {
        content: tableIndexContent,
        link: "/components/preview/application-index-table"
      },
      {
        content: detailsContent,
        link: "/components/preview/application-details-page"
      },
      { content: editContent }
    ]
  }, true %}
</div>