<nav class="rvt-flex rvt-items-center" role="navigation" aria-label="Breadcrumb">
  <ol class="rvt-breadcrumbs rvt-grow-1">
    <li>
      <a href="/components/preview/application-index-list">
        <span class="rvt-sr-only">Home</span>
        <svg width="16" height="16" viewBox="0 0 16 16" id="rvt-icon-home">
          <path fill="currentColor" d="M15.6 6.4l-7-5.19a.76.76 0 0 0-.19-.12A1 1 0 0 0 8 1a1 1 0 0 0-.42.09.76.76 0 0 0-.19.12L.4 6.4a1 1 0 0 0-.4.8 1 1 0 0 0 .2.6 1 1 0 0 0 1.4.2l.4-.3V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7.7l.4.3a1 1 0 0 0 .6.2 1 1 0 0 0 .6-1.8zM12 13H9V9H7v4H4V6.22l4-3 4 3z"></path>
        </svg>
      </a>
    </li>
    <li><a href="#">Tier two title</a></li>
    <li><a href="#">Tier three title</a></li>
  </ol>
</nav>