%button-focus {
    outline: none;
    box-shadow: 0 0 1px 3px $color-midnight--300;
}

button,
.button,
.rvt-button {
    background-color: $color-midnight;
    border-style: solid;
    border: 2px solid $color-midnight;
    border-radius: $xxs;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    position: relative;
    /**
     * This padding sets the button-height to be the same as the text
     * input height.
     */
    padding: .625rem 1rem;
    text-decoration: none;
    vertical-align: middle;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-midnight, black, 70%);
        border-color: mix($color-midnight, black, 70%);
        color: $color-background;
    }

    &:active,
    &-active {
        background-color: mix($color-midnight, black, 50%);
        border-color: mix($color-midnight, black, 50%);
    }

    &:disabled,
    &:disabled:hover {
        background-color: $color-black--100;
        color: $color-black--700;
        border-color: $color-black--400;
        cursor: not-allowed;
    }
}

.button--secondary,
.rvt-button--secondary {
    background-color: transparent;
    color: $color-midnight;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: $color-midnight;
        color: $color-midnight;
    }

    &:active,
    &-active {
        background-color: mix($color-midnight, white, 35%);
    }
}

.button--success,
.rvt-button--success {
    background-color: $color-alert-green;
    border-color: $color-alert-green;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-green, black, 70%);
        border-color: mix($color-alert-green, black, 70%);
        color: #fff;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-green, black, 50%);
        border-color: mix($color-alert-green, black, 50%);
    }
}

.button--success-secondary,
.rvt-button--success-secondary {
    background-color: transparent;
    border-color: $color-alert-green;
    color: $color-alert-green;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-green, white, 15%);
        border-color: $color-alert-green;
        color: $color-alert-green;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-green, white, 30%);
        border-color: $color-alert-green;
    }
}

.button--danger,
.rvt-button--danger {
    background-color: $color-alert-orange;
    border-color: $color-alert-orange;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-orange, black, 70%);
        border-color: mix($color-alert-orange, black, 70%);
        color: #fff;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-orange, black, 50%);
        border-color: mix($color-alert-orange, black, 50%);
    }
}

.button--danger-secondary,
.rvt-button--danger-secondary {
    background-color: transparent;
    border-color: $color-alert-orange;
    color: $color-alert-orange;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-orange, white, 15%);
        border-color: $color-alert-orange;
        color: $color-alert-orange;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-orange, white, 30%);
        border-color: $color-alert-orange;
    }
}


.button--small,
.rvt-button--small {
    padding: .35rem .65rem;
    font-size: $ts-14;

    &-focus {
        @extend %button-focus;
    }

    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: rgba($color-midnight, 0);
        color: $color-midnight;
    }

    &-active {
        background-color: mix($color-midnight, white, 35%);
        border-color: rgba($color-midnight, 0);
        color: $color-action;
    }
}

.button--plain,
.rvt-button--plain {
    border-color: transparent;
    background-color: transparent;
    color: $color-action;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: rgba($color-midnight, 0);
        color: $color-midnight;
    }

    &:active,
    &-active {
        background-color: mix($color-midnight, white, 35%);
        border-color: rgba($color-midnight, 0);
        color: $color-action;
    }
}

/**
 * NOTE: Starting to work on loading buttons. This will only work for
 * the default primary button right now.
 */

.button--loading,
.rvt-button--loading {
    padding-right: 2.5rem;
    cursor: not-allowed;

    &:after {
        content: " ";
        margin-left: $xs;
        width: 25px;
        height: 25px;
        display: inline-block;
        position: absolute;
        top: 6px;
        background-image: url('../img/button-loader.gif');
        background-size: 25px 25px;
        background-repeat: no-repeat;
    }
}

.button-group,
.rvt-button-group {
    display: flex;

    > *:not(:last-child) {
        margin-right: $sm;
    }
}

/**
 * Right align buttons.
 */

.button-group--right,
.rvt-button-group--right {
    justify-content: flex-end;
}
