/* stylelint-disable */
%button-focus {
    outline: none;
    box-shadow: 0 0 0 $xxs/2 $color-background,
                0 0 0 $xxs $color-action;
}
/* stylelint-enable */


.button,
.rvt-button {
    background-color: $color-midnight;
    border: $xxs/2 solid $color-midnight;
    border-radius: $xxs;
    color: $color-background;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    position: relative;
    text-decoration: none;

    // New
    height: $xl;
    padding-right: $sm*.75;
    padding-left: $sm*.75;
    display: inline-flex;
    align-items: center;
    // End new

    transition: box-shadow .2s ease;

    &:focus,
    &--focus {
        @extend %button-focus;
    }

    &:hover,
    &--hover {
        background-color: mix($color-midnight, black, 70%);
        border-color: mix($color-midnight, black, 70%);
        color: $color-background;
    }

    &:active,
    &--active {
        background-color: mix($color-midnight, black, 50%);
        border-color: mix($color-midnight, black, 50%);
    }

    &:disabled,
    &:disabled:hover {
        background-color: $color-black--100;
        color: $color-black--700;
        border-color: $color-black--400;
        cursor: not-allowed;
    }
}

.button--secondary,
.rvt-button--secondary {
    background-color: transparent;
    color: $color-midnight;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: $color-midnight;
        color: $color-midnight;
    }

    &:active,
    &-active {
        background-color: mix($color-midnight, white, 35%);
        color: mix($color-midnight, black, 85%);
    }
}

.button--success,
.rvt-button--success {
    background-color: $color-alert-green;
    border-color: $color-alert-green;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-green, black, 70%);
        border-color: mix($color-alert-green, black, 70%);
        color: $color-background;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-green, black, 50%);
        border-color: mix($color-alert-green, black, 50%);
    }
}

.button--success-secondary,
.rvt-button--success-secondary {
    background-color: transparent;
    border-color: $color-alert-green;
    color: $color-alert-green;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-green, white, 15%);
        border-color: $color-alert-green;
        color: mix($color-alert-green, black, 85%);
    }

    &:active,
    &-active {
        background-color: mix($color-alert-green, white, 30%);
        border-color: $color-alert-green;
        color: mix($color-alert-green, black, 75%);
    }
}

.button--danger,
.rvt-button--danger {
    background-color: $color-alert-orange;
    border-color: $color-alert-orange;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-orange, black, 70%);
        border-color: mix($color-alert-orange, black, 70%);
        color: $color-background;
    }

    &:active,
    &-active {
        background-color: mix($color-alert-orange, black, 50%);
        border-color: mix($color-alert-orange, black, 50%);
    }
}

.button--danger-secondary,
.rvt-button--danger-secondary {
    background-color: transparent;
    border-color: $color-alert-orange;
    color: $color-alert-orange;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-alert-orange, white, 15%);
        border-color: $color-alert-orange;
        color: mix($color-alert-orange, black, 85%);
    }

    &:active,
    &-active {
        background-color: mix($color-alert-orange, white, 30%);
        border-color: $color-alert-orange;
        color: mix($color-alert-orange, black, 75%);
    }
}


.button--small,
.rvt-button--small {
    height: $md;
    line-height: 1.1;
    vertical-align: bottom;
    padding-right: $xs;
    padding-left: $xs;

    &-focus {
        @extend %button-focus;
    }

    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: rgba($color-midnight, 0);
        color: $color-midnight;
    }

    &-active,
    :active {
        background-color: mix($color-midnight, white, 35%);
        border-color: rgba($color-midnight, 0);
        color: $color-action;
        padding-top: 0;
    }
}

.button--plain,
.rvt-button--plain {
    border-color: transparent;
    background-color: transparent;
    color: $color-action;

    &:focus,
    &-focus {
        @extend %button-focus;
    }

    &:hover,
    &-hover {
        background-color: mix($color-midnight, white, 20%);
        border-color: rgba($color-midnight, 0);
        color: $color-midnight;
    }

    &:active,
    &-active {
        background-color: mix($color-midnight, white, 35%);
        border-color: rgba($color-midnight, 0);
        color: mix($color-action, black, 85%);
    }

    &:disabled,
    &:disabled:hover {
        border-color: $color-black--100;
    }
}

.button-group,
.rvt-button-group {
    display: flex;

    > *:not(:last-child) {
        margin-right: $sm;
    }
}

/**
 * Right align buttons.
 */

.button-group--right,
.rvt-button-group--right {
    justify-content: flex-end;
}

/**
 * Full-width buttons.
 */

 .rvt-button--full-width {
    display: block;
    width: 100%;
 }