input[type="checkbox"] {
    position: absolute;
    left: -$sm;
    opacity: 0;
}

input[type="checkbox"] + label {
    font-size: $sm;
    margin-left: .4rem;
    font-weight: 400;

    &:before {
        display: inline-block;
        content: " ";
        border-radius: $xxs/2;
        margin-right: $sm*.75;
        width: $sm;
        height: $sm;
        box-shadow: 0 0 0 $xxs/2 $color-black--300;
        /**
        * This helps visually center the label with the pseudo
        * element checkbox.
        */
        vertical-align: middle;
        margin-top: -.1rem;
    }

    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"]:focus + label:before {
    box-shadow: 0 0 0 $xxs/2 $color-action, 0 0 1px 5px $color-midnight--300;
}

input[type="checkbox"]:checked + label {
    &:before {
        color: $color-white;
        background-color: $color-action;
        box-shadow: 0 0 0 $xxs/2 $color-action;
        background-image: url("../img/checkbox-input-check.png");
        background-image: url("../img/checkbox-input-check.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        /**
        * Adding this is kind of a hack. May need to rework the actual
        * SVG icon.
        */
        background-size: 85%;
    }

}

input[type="checkbox"]:checked:focus + label:before {
    box-shadow: 0 0 0 $xxs/2 $color-action, 0 0 1px 5px $color-midnight--300;
}

input[type="checkbox"]:disabled + label:before {
    background-color: $color-black--200;
    box-shadow: 0 0 0 $xxs/2 $color-black--300;

}

input[type="checkbox"]:disabled + label {
    color: $color-black--600;
    cursor: default;
}
