input[type="checkbox"] {
    position: absolute;
    left: -$sm;
    opacity: 0;
}

input[type="checkbox"] + label {
    font-size: $sm;
    margin-left: .4rem;
    font-weight: 400;

    &:before {
        display: inline-block;
        content: " ";
        border-radius: 2px;
        margin-right: .75rem;
        width: $sm;
        height: $sm;
        box-shadow: 0 0 0 1px $color-black--700;
        /**
        * This helps visually center the label with the pseudo
        * element checkbox.
        */
        vertical-align: middle;
        margin-top: -.1rem;
    }

    &:hover {
        cursor: pointer;
    }
}

input[type="checkbox"]:checked + label {
    &:before {
        color: $color-white;
        background-color: $color-action;
        box-shadow: 0 0 0 1px $color-action;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik02LjcyLDEzbC0uNDgtLjM2LTMtM0ExLDEsMCwwLDEsNC43MSw4LjI5bDIuMTEsMi4xMiw0LjMzLTYuOTRhMSwxLDAsMCwxLDEuNywxLjA2TDcuNjQsMTIuODdaIi8+Cjwvc3ZnPgo=");
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

}

/* stylelint-disable */
input[type="checkbox"]:focus + label:before {
    box-shadow: 0 0 0 1px $color-black--700,
                0 0 0 3px $color-background,
                0 0 0 5px $color-midnight;
}

input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:indeterminate:focus + label:before {
    box-shadow: 0 0 0 1px $color-action,
                0 0 0 3px $color-background,
                0 0 0 5px $color-midnight--500;
}
/* stylelint-enable */

input[type="checkbox"]:disabled + label:before {
    background-color: $color-black--200;
    box-shadow: 0 0 0 1px $color-black--300;
}

input[type="checkbox"]:disabled + label {
    color: $color-black--700;
    cursor: default;
}

/**
 * Indeterminate state
 */

input[type="checkbox"]:indeterminate + label:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xNCw5SDJBMSwxLDAsMCwxLDIsN0gxNGExLDEsMCwwLDEsMCwyWiIvPgo8L3N2Zz4=");
    background-color: $color-action;
    box-shadow: 0 0 0 1px $color-action;
}

input[type="checkbox"]:indeterminate:disabled + label:before {
    background-color: $color-black--200;
    box-shadow: 0 0 0 1px $color-black--300;
}
