.dropdown,
.rvt-dropdown {
    position: relative;
    display: inline-block;

    .button__text {
        margin-right: $xs;
    }

    /**
     * This is only used to style the header dropdowns.
     */

    &__toggle {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 $xxs/2 $color-action;
        }

        &:hover {
            text-decoration: underline;
        }

        &-text {
            margin-right: $xs;
        }

        &[aria-expanded="true"] > svg {
            transform: rotate(180deg);
        }
    }

    &__menu[aria-hidden="true"] {
        display: none;
    }

    &__menu {
        position: absolute;
        margin-top: $xs;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: $xxs;
        min-width: 12.5rem;
        padding-top: $xs;
        padding-bottom: $xs;
        z-index: map-get($z-index, z-1000);

        /**
         * Align the dropdown menu to the right edge of the button.
         */

        &--right {
            right: 0;
        }

        a,
        button {
            display: block;
            text-decoration: none;
            color: $color-text;
            /**
             * This padding-top and bottom value is a magic number. Sorry,
             * it just looks better. :)
             */
            padding: .375rem $sm;
            background-color: transparent;
            border: none;
            width: 100%;
            text-align: left;

            &:hover {
                background-color: $color-action;
                color: $color-background;
                text-decoration: none;
            }

            &:focus {
                outline: none;
                box-shadow: inset 0 0 0 $xxs/2 $color-action;
            }
        }

        button:disabled {
            color: $color-black--800;
            background-color: $color-black--100;
        }
    }

    &__menu-heading {
        color: $color-black--700;
        padding: $sm $sm $xxs;
        font-weight: 700;
        font-size: $ts-14;
    }

    &__menu-divider {
        border-top: 1px solid $color-black--200;
        margin-top: $xs;
        margin-bottom: $xs;
    }
}