.dropdown {
    position: relative;
    display: inline-block;

    button,
    .button,
    a.button {
        display: flex;
    }

    .button__text {
        margin-right: .5rem;
    }

    &__menu[aria-hidden="true"] {
        display: none;
    }

    &__menu {
        position: absolute;
        margin-top: .5rem;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: .25rem;
        width: 12.5rem;
        padding-top: .5rem;
        z-index: 999;

        /**
         * Align the dropdown menu to the right edge of the button.
         */

        &--right {
            right: 1rem;
        }

        a {
            display: block;
            text-decoration: none;
            margin-bottom: .5rem;
            color: #333;
            padding: .25rem 1rem;

            &:hover {
                background-color: $color-action;
                color: $color-background;
                text-decoration: none;
            }
        }
    }
}

.dropdown__trigger {
    &:after {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik04LDEyLjQ2YTIsMiwwLDAsMS0xLjUyLS43TDEuMjQsNS42NWExLDEsMCwxLDEsMS41Mi0xLjNMOCwxMC40Nmw1LjI0LTYuMTFhMSwxLDAsMCwxLDEuNTIsMS4zTDkuNTIsMTEuNzZBMiwyLDAsMCwxLDgsMTIuNDZaIi8+Cjwvc3ZnPg==");
        background-position: center center;
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        /**
         * Magic number - Use this to optically center by juuuust a smidge.
         */
        margin-top: -.0625em;
        margin-left: .5rem;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
    }

    &[aria-expanded="true"]:after {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE0LDEyYTEsMSwwLDAsMS0uNzYtLjM1TDgsNS41NCwyLjc2LDExLjY1YTEsMSwwLDEsMS0xLjUyLTEuM0w2LjQ4LDQuMjNhMi4wNiwyLjA2LDAsMCwxLDMsMGw1LjI0LDYuMTFBMSwxLDAsMCwxLDE0LDEyWiIvPgo8L3N2Zz4=");
    }
}

/**
 * HACK: this combats some specificity issues in the code for .rvt-header__main-nav
 * How can one of them be refactored to fix this?
 */

ul li .dropdown__menu a:hover {
    text-decoration: none;
}
