.dropdown {
    position: relative;
    display: inline-block;

    button,
    .button,
    a.button {
        display: flex;
    }

    .button__text {
        margin-right: $xs;
    }

    &__menu[aria-hidden="true"] {
        display: none;
    }

    &__menu {
        position: absolute;
        margin-top: $xs;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: $xxs;
        width: 12.5rem;
        padding-top: $xs;
        z-index: map-get($z-index, lv-1000);

        /**
         * Align the dropdown menu to the right edge of the button.
         */

        &--right {
            right: $sm;
        }

        a {
            display: block;
            text-decoration: none;
            margin-bottom: $xs;
            color: #333;
            padding: $xxs $sm;

            &:hover {
                background-color: $color-action;
                color: $color-background;
                text-decoration: none;
            }
        }
    }
}

.dropdown__trigger {
    &:after {
        background-image: url("../img/rvt-caret-down@2x.png");
        background-image: url("../img/rvt-caret-down.svg");
        background-position: center center;
        background-size: $sm*.875 $xs;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        margin-left: $xs;
        width: $sm*.874;
        height: $xs;
        vertical-align: middle;
    }
}

/**
 * HACK: this combats some specificity issues in the code for .rvt-header__main-nav
 * How can one of them be refactored to fix this?
 */

ul li .dropdown__menu a:hover {
    text-decoration: none;
}
