.rvt-skip-link {
    position: fixed;
    top: -6rem;
    padding: $xs;

    &:focus {
        top: 0;
        background-color: $color-background;
    }
}

.rvt-header {
    background-color: $color-background;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-black--150;
    background-color: $color-background-subtle;
    width: 100%;
}

.rvt-header--light {
    background-color: $color-background;
    border-bottom: 1px solid $color-black--150;
}

.rvt-header__trident {
    min-width: 41px;
    flex-basis: 41px;
    height: 47px;
    background-color: $color-crimson;
    margin-right: $xs;

    &-large {
        display: none;
    }
}

@include mq(bp(lg)) {
    .rvt-header__trident {
        min-width: 60px;
        flex-basis: 60px;
        height: 70px;
        margin-right: $sm;

        &-large {
            display: block;
        }

        &-small {
            display: none;
        }
    }

    .rvt-header__trident-logo {
        width: 60px;
        height: 70px;
    }
}

.rvt-header__title {
    font-size: $ts-18;
    line-height: 1;

    a {
        color: $color-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/**
 * When id menu is present the title needs a little more space.
 */

@include mq(bp(lg)) {
    .rvt-header__title {
        font-size: ts(23);
    }
}

.rvt-header__controls {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.rvt-drawer-button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 49px;
    height: 47px;
    padding: 0;
    border-radius: 0;
    border-left: 1px solid $color-black--200;
    vertical-align: middle;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;

    &:hover {
        background-color: $color-black--200;
        border-color: $color-black--200;
        color: $color-black;
    }

    &:active {
        padding-top: 0;
    }

    &:active:hover {
        background-color: mix($color-midnight, black, 50%);
    }

    &:focus {
        box-shadow: inset 0 0 0 $xxs/2 $color-action;
        outline: none;
    }

    &.is-open {
        background-color: $color-black--100;

        &:hover {
            color: $color-text;
        }

        &:active:hover {
            padding-top: 0;
            background-color: mix($color-midnight, black, 50%);
        }

        &:focus {
            background-color: $color-action;
            box-shadow: none;
            color: $color-background;
        }

        &:focus:hover {
            color: $color-background;
        }
    }
}

@include mq(bp(lg)) {
    .rvt-drawer-button {
        height: 70px;
        width: 71px;
    }
}

@include mq(bp(lg)) {
    .rvt-drawer-button {
        display: none;
    }

    .rvt-drawer-button--persistent {
        display: flex;
    }
}

.rvt-drawer-button--persistent {
    display: flex;
}

.rvt-drawer-button-close {
    display: none;
}

.rvt-drawer-button-open,
.rvt-drawer-button-close {
    width: 16px;
    height: 16px;
}

@include mq(bp(lg)) {
    .rvt-drawer-button-open,
    .rvt-drawer-button-close {
        width: 24px;
        height: 24px;
    }
}

.rvt-drawer-button.is-open {
    > .rvt-drawer-button-close {
        display: flex;
    }

    > .rvt-drawer-button-open {
        display: none;
    }
}

.rvt-header__main-nav {
    display: none;
    margin-right: $xxl;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    ul li {
        margin-right: $lg;
        line-height: 1.5;
        /**
         * This gets rid of the margin from default lists so that nav
         * items are vertically centered.
         */
        margin-top: 0;
        /**
         * This fixes some display issues in IE.
         */
        display: flex;
    }

    /**
     * HACK: this combats some specificity issues in the code for .rvt-header__main-nav
     * How can one of them be refactored to fix this?
     */

    ul li .dropdown__menu a:hover,
    ul li .rvt-dropdown__menu a:hover {
        text-decoration: none;
    }

    ul li:last-child {
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: $color-text;

        &:hover {
            text-decoration: underline;
        }
    }
}


.rvt-drawer[aria-hidden="true"] {
    display: none;
}

.rvt-drawer {
    position: absolute;
    right: 0;
    top: 47px;
    background-color: $color-black--100;
    width: 85%;
    max-width: 400px;
    height: 100%;
    border-left: 1px solid $color-black--200;
    padding: $sm;
    z-index: map-get($z-index, z-1000);

    &__nav {
        ul {
            list-style: none;
            margin-bottom: $md;
            padding: 0;
            background-color: $color-background;
        }

        ul li {
            border-bottom: 2px solid $color-black--100;
            line-height: 1.5;
            margin-top: 0;
        }

        ul li:last-child {
            border-bottom: none;
        }

        ul li ul {
            background-color: $color-black--200;
            margin: 0;
        }

        ul li ul[aria-hidden="true"] {
            display: none;
        }

        ul li a,
        ul li button {
            display: block;
            text-decoration: none;
            color: $color-text;
            padding: $sm;
            position: relative;
            width: 100%;
            text-align: left;
            border: none;
            background-color: $color-background;

            &:focus {
                @extend %button-focus;
                z-index: map-get($z-index, z-1000)
            }
        }

        ul li.has-children > a:after,
        ul li.has-children > button:after {
            position: absolute;
            top: $md;
            right: $md;
            content: " ";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik04LDEyLjQ2YTIsMiwwLDAsMS0xLjUyLS43TDEuMjQsNS42NWExLDEsMCwxLDEsMS41Mi0xLjNMOCwxMC40Nmw1LjI0LTYuMTFhMSwxLDAsMCwxLDEuNTIsMS4zTDkuNTIsMTEuNzZBMiwyLDAsMCwxLDgsMTIuNDZaIi8+Cjwvc3ZnPg==");
            background-position: 0 center;
            background-repeat: no-repeat;
            /**
             * Magic number - Use this to optically center by juuuust a smidge.
             */
            margin-top: -$xxs;
        }

        ul li.has-children > a[aria-expanded="true"]:after {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE0LDEyYTEsMSwwLDAsMS0uNzYtLjM1TDgsNS41NCwyLjc2LDExLjY1YTEsMSwwLDEsMS0xLjUyLTEuM0w2LjQ4LDQuMjNhMi4wNiwyLjA2LDAsMCwxLDMsMGw1LjI0LDYuMTFBMSwxLDAsMCwxLDE0LDEyWiIvPgo8L3N2Zz4=");
        }

        ul li ul li a {
            padding: $sm;
            background-color: $color-black--200;
        }
    }

    &__nav--accent {
        border-top: 1px solid $color-black--200;
    }

    &__bottom-close {
        background-color: transparent;
        border: none;
        color: $color-link;
        padding: 0;
        height: 1px;
        width: 1px;
        margin-top: -1px;
        overflow: hidden;
        font-weight: 700;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 .125rem $color-action;
            display: block;
            width: auto;
            margin-top: $xs;
            width: 100%;
            border-radius: $xxs;
            height: $xl;
            line-height: 1;
            vertical-align: bottom;
            padding-right: $xs;
            padding-left: $xs;
        }
    }
}


@include mq(bp(lg)) {
    .rvt-drawer {
        top: 70px;
    }

    .rvt-header__main-nav {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }
}


.rvt-header-id {
    display: none;
    align-items: center;

    &__profile {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $color-text;
        border-right: 1px solid $color-black--300;
        padding-right: $sm;
    }

    &__profile--has-dropdown {
        border-right: none;
        margin-right: $sm;
    }

    &__menu {
        right: $sm;
    }

    &__log-out {
        text-decoration: none;
        margin-right: $lg;
        display: flex;
        align-items: center;
        margin-left: $sm;
    }

    &__avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $color-text;
        border-radius: 50%;
        margin-right: $xs;

        /**
         * First and last initial stuff
         */
        vertical-align: middle;
        text-align: center;
        padding-top: .35rem;
        font-size: .75rem;
        font-weight: 700;
        color: $color-background-subtle;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &--drawer {
        display: block;
        width: 100%;
    }

    &__profile--drawer {
        display: flex;
        border-right: none;
        padding: $xxs $sm;
        background-color: $color-background;
    }

    &__profile--drawer &__user {
        border-right: 1px solid $color-black--200;
        padding-right: $sm;
    }

    &__profile--drawer > &__user--has-dropdown {
        border-right: none;
    }
}

/**
 * NOTE: Need to be pretty specific here to overide default drawer
 * button trigger styles applied to "ul li a" above. This sets
 * an explicit height to match the other links insde the drawer.
 */

button.rvt-header-id__profile.rvt-header-id__profile--drawer {
    height: 3.5rem;
    padding: $xs $sm;
}

@include mq(bp(lg)) {
    .rvt-header-id {
        display: flex;
    }
}

@include mq(bp(lg)) {
    .rvt-header-id--drawer {
        display: none;
    }
}