input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
    display: block;
    width: 100%;
    border-radius: $xxs;
    border: 1px solid $color-black--300;
    padding: $xs;
    height: $spacing-unit * 5;

    /**
     * TODO: Should we add a max-width to form inputs? It seems desirable
     * in a lot of situations.
     */
}

textarea {
    height: $spacing-unit * 15;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select:disabled {
    background-color: $color-black--100;
    cursor: not-allowed;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
    /**
     * Should we just leave this default?
     */
    box-shadow: 0 0 1px 3px $color-midnight--300;
    border-color: $color-midnight--300;
    outline: none;
}

label {
    display: inline-block;
    font-size: $ts-14;
    font-weight: 700;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    margin: 0;
    font-weight: 400;
    display: block;
}

select {
    background-color: $color-background;
    background-image: url("../img/rvt-caret-down@2x.png");
    background-image: url("../img/rvt-caret-down.svg");
    background-position: right $sm center;
    background-size: $sm $xs;
    background-repeat: no-repeat;
    padding-right: $xl;
    padding-left: $xs;

    /**
     * Prefixes get rid of browser default select element styles.
     */
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select[multiple] {
    height: $xxl * 2;
    background-image: none;
}

select::-ms-expand {
    display: none;
}
