input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fefefe;
    padding: .5em;
    height: $spacing-unit * 5 + rem;

    /**
     * TODO: Should we add a max-width to form inputs? It seems desirable
     * in a lot of situations.
     */
}

textarea {
    height: $spacing-unit * 15 + rem;
}

input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="number"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled,
select:disabled {
    background-color: $color-black--100;
    cursor: not-allowed;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
    /**
     * Should we just leave this default?
     */
     box-shadow: 0 0 0 2px $color-action;
     border-color: $color-midnight;
     outline: none;
}

label {
    display: inline-block;
    @include ts-14;
    font-weight: 700;
}

legend {
    @include ts-18;
    font-weight: 700;
    margin-bottom: $md + rem;
}

select {
    background-image: url("../img/select-arrow.png");
    background-image: url("../img/select-arrow.svg");
    background-size: 11px 6px;
    background-position: right -.5rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    padding-right: $md + rem;
    padding-left: $xs + rem;

    /**
     * Prefixes get rid of browser default select element styles.
     */
    -webkit-appearance: none;
      -moz-appearance: none;
}

/**
 * Custom radios and checkboxes
 */

 input[type="radio"],
 input[type="checkbox"] {
     position: absolute;
     left: -1em;
     opacity: 0;
 }

 input[type="radio"] + label {
     font-size: 1rem;
     /**
      * Visually adjust due to the bigger hit area for radio buttons.
      */
     margin-left: .2rem;

     &:before {
         box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #dddddd;
         content: " ";
         line-height: 1;
         vertical-align: middle;
         display: inline-block;
         /**
          * Optically center vertically with label
          */
         margin-top: -.25rem;
         margin-right: 1rem;
         width: .8rem;
         height: .8rem;
         border-radius: 100%;
         background-color: $color-white;
     }
 }

 input[type="radio"]:checked + label {
     &:before {
         background-color: $color-action;
         box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $color-action;
     }
 }

 input[type="radio"]:focus + label:before {
     box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $color-action;
 }

 input[type="radio"]:disabled + label:before {
     box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #dddddd;
     background-color: #dddddd;
 }

 input[type="radio"]:disabled + label:before {
     background-color: #dddddd;
 }

 input[type="radio"]:disabled + label {
     cursor: not-allowed;
     color: #999999;
 }

 input[type="checkbox"] + label {
     font-size: 1rem;

     margin-left: .4rem;

     &:before {
         display: inline-block;
         content: " ";
         border-radius: 2px;
         margin-right: 1rem;
         width: .8rem;
         height: .8rem;
         box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px #dddddd;
         /**
          * This helps visually center the label with the pseudo
          * element checkbox.
          */
         vertical-align: middle;
         margin-top: -.1rem;
     }
 }

 input[type="checkbox"]:checked + label {

     &:before {
         color: $color-white;
         background-color: $color-action;
         box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-action;
         background-image: url("../img/checkbox-input-check.svg");
         background-position: 50% 50%;
         background-repeat: no-repeat;
         /**
          * Adding this is kind of a hack. May need to rework the actual
          * SVG icon.
          */
         background-size: 90%;
     }

 }

 input[type="checkbox"]:disabled + label:before {
     background-color: #dddddd;
 }

 input[type="checkbox"]:disabled + label {
     cursor: not-allowed;
     color: #999999;
 }

 input[type="checkbox"]:focus + label:before {
     box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-action;
 }
