a,
.rvt-link {
    color: $color-midnight;

    &:hover {
        color: $color-dark-midnight;
    }

    &:focus {
        outline: $xxs/2 solid $color-action;
        outline-offset: $xxs/2;
    }

    a:visited {
        /**
         * TODO: Come up with a better color for the :visited state.
         */
        color: $color-dark-midnight;
    }
}

.rvt-link-reverse {
    color: rgba($color-background, .8);

    &:hover {
        color: $color-background;
    }
}
