a,
.rvt-link {
    color: $color-midnight;

    &:hover {
        color: $color-midnight--900;
    }

    &:focus {
        outline: $xxs/2 solid $color-action;
        outline-offset: $xxs/2;
    }

    a:visited {
        /**
         * TODO: Come up with a better color for the :visited state.
         */
        color: $color-midnight--900;
    }
}

.rvt-link--reverse,
.rvt-link-reverse {
    color: rgba($color-background, .8);

    &:hover {
        color: $color-background;
    }
}

.rvt-link--bold,
.rvt-link-bold {
    font-weight: 700;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
