a,
.rvt-link {
    color: $color-midnight;

    &:hover {
        color: $color-dark-midnight;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 $xxs/2 $color-action;
    }

    a:visited {
        /**
         * TODO: Come up with a better color for the :visited state.
         */
        color: $color-dark-midnight;
    }
}

.rvt-link-reverse {
    color: rgba($color-background, .8);

    &:hover {
        color: $color-background;
    }
}
