ul,
ol {
    /**
     * Zero out margins so we can use more uniform rem-based utility
     * classes for spacing.
     */
    margin: 0;
}

ul li,
ol li {
    /**
     * Making the line-height a little taller here makes list items easier
     * to scan. It also helps when you want to make plain lists of
     * radio and checkbox inputs.
     */
    line-height: 2;
}

@mixin plain-list {
    list-style: none;
    padding: 0;
    /**
     * So we can absolutely position stuff inside list items.
     */
    position: relative;
}

@mixin inline-list {
    /**
     * This is a hack that remove extras space between elements that are
     * set to display inline-block.
     */
    font-size: 0;

    @include plain-list;

    & li {
        display: inline-block;
        line-height: 1;
        font-size: 1rem;
        /**
        * So we can absolutely position stuff inside list items.
        */
        position: relative;
    }
}

.plain-list {
    @include plain-list;
}

.inline-list {
    @include inline-list;
}
