.rvt-menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    margin: 0;
  }
  
  &__item a,
  &__item button {
    text-decoration: none;
    display: block;
    padding: $xxs $sm;
    position: relative;
    color: $color-black;
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    border: none;
  }
  
  &__item a[aria-current] {
    background-color: $color-black--100;
  }
  
  &__item a[aria-current]::after,
  &__item a:hover::after,
  &__item button:hover::after {
    content: "";
    display: block;
    width: $xxs;
    height: 100%;
    background-color: $color-blue--600;
    position: absolute;
    left: 0;
    top: 0;
  }

  // Force horizontal menus with the --horizontal modifier class

  &--horizontal {
    border-bottom: 1px solid $color-black--200;
  }

  &--horizontal &__list {
    display: flex;
  }

  &--horizontal &__item {
    flex-shrink: 0;
  }

  &--horizontal &__item a,
  &--horizontal &__item button {
    padding: $sm $sm*1.25;
  }
  
  &--horizontal &__item a[aria-current] {
    background-color: transparent;
  }
  
  &--horizontal &__item a[aria-current]::after,
  &--horizontal &__item a:hover::after,
  &--horizontal &__item button:hover::after {
    width: 100%;
    height: $xxs;
    bottom: 0;
    top: auto;
  }
  
  &--horizontal &__item a:hover::after,
  &--horizontal &__item button:hover::after {
    background-color: $color-black--200;
  }
}

@include mq(bp(md)) {
  .rvt-menu {
    &:not(&--vertical) {
      border-bottom: 1px solid $color-black--200;
    }
    
    &:not(&--vertical) &__list {
      display: flex;
    }
    
    &:not(&--vertical) &__item {
      flex-shrink: 0;
    }
    
    &:not(&--vertical) &__item a,
    &:not(&--vertical) &__item button {
      padding: $sm $sm*1.25;
    }
    
    &:not(&--vertical) &__item a[aria-current] {
      background-color: transparent;
    }
    
    &:not(&--vertical) &__item a[aria-current]::after,
    &:not(&--vertical) &__item a:hover::after,
    &:not(&--vertical) &__item button:hover::after {
      width: 100%;
      height: $xxs;
      bottom: 0;
      top: auto;
    }
    
    &:not(&--vertical) &__item a:hover::after,
    &:not(&--vertical) &__item button:hover::after {
      background-color: $color-black--200;
    }
  }
}