
/**
 * This class gets applied to the body of the document when the modal
 * is open so that the modal scrolls but not the content of the body.
 * It's removed when the modal is closed making the body scrollable again.
 */

.modal-open,
.rvt-modal-open {
    overflow: hidden;
}

.modal,
.rvt-modal {
    z-index: map-get($z-index, z-1000);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-text, .85);
    overflow-y: scroll;
    padding-bottom: 5rem;

    &__inner {
        position: relative;
        top: 5rem;
        max-width: 600px;
        width: 90%;
        background-color: $color-background;
        margin: 0 auto;
        margin-bottom: 5rem;
        border-radius: $xxs;
        overflow: hidden;
    }

    &__close {
        /**
         * Makes a couple of adjustments based on new button styles.
         */
        position: absolute;
        right: $sm;
        top: $sm;
        padding-left: .5rem;
        padding-right: .5rem;
        line-height: 1;
    }

    &__header {
        padding: $md $sm;
        border-bottom: 1px solid $color-black--100;
    }

    &--confirmation &__header {
        border-bottom: none;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
    }

    &--confirmation &__body {
        text-align: center;
    }

    &__body {
        padding: $md;
    }

    &__controls {
        padding: $sm;
        display: flex;
        border-top: 1px solid $color-black--100;
        background-color: $color-background-subtle;
        justify-content: flex-end;
    }

    &--small &__inner {
        max-width: 500px;
    }

    &--medium {
        max-width: 800px;
    }

    &--large {
        max-width: 1040px;
    }
}

.modal[aria-hidden="true"],
.rvt-modal[aria-hidden="true"] {
    display: none;
}

.modal:not([aria-hidden="true"]),
.rvt-modal:not([aria-hidden="true"]) {
    display: block;
}
