.rvt-pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    &--center {
        justify-content: center;
    }

    &--right {
        justify-content: flex-end;
    }

    &__item {

        line-height: 1;

        a {
            /**
             * .75rem here makes the pagination the same height as text inputs
             * for consistency's sake.
             */
            padding: .75rem $sm;
            text-decoration: none;
            border: 2px solid $color-black--200;
            /**
             * This negative margin compensates for the 2px borders that
             * bump up against each other.
             */
            margin-left: -2px;
            min-width: $lg;
            display: inline-block;
            z-index: map-get($z-index, lv-100);
            position: relative;
        }

        a:hover {
            background-color: $color-black--100;
        }
    }

    &--small &__item {
        a {
            /**
             * NOTE: These are magic numbers that make the small pagination
             * the same size as the small buttons.
             */
            padding: .35rem .65rem;
        }
    }

    &__item:first-child a {
        border-top-left-radius: $xxs;
        border-bottom-left-radius: $xxs;
    }

    &__item:last-child a {
        border-top-right-radius: $xxs;
        border-bottom-right-radius: $xxs;
    }



    /**
     * Active state
     */

    &__item.is-active a {
        background-color: $color-action;
        border-color: $color-action;
        color: $color-background;
        /**
         * z-index hides the border overlap
         */
        z-index: map-get($z-index, lv-200);
    }

    /**
     * Disabled state
     */

    &__item.is-disabled a {
        color: $color-black--700;
        background-color: $color-black--100;

        &:hover {
            border-color: $color-black--200;
            cursor: default;
        }

        &:focus {
            box-shadow: none;
        }
    }
}
