.rvt-panel {
    box-shadow: 0 $xxs/2 0 $color-black--200;
    border-radius: $xxs;
    padding: $md;
    background-color: $color-background-subtle;

    &--light {
        background-color: $color-background;
    }
}
