input[type="radio"] {
    position: absolute;
    left: -1em;
    opacity: 0;
}

input[type="radio"] + label {
    font-size: 1rem;
    font-weight: 400;
    /**
    * Visually adjust due to the bigger hit area for radio buttons.
    */
    margin-left: .2rem;

    &:before {
        box-shadow: 0 0 0 2px $color-black--300;
        content: " ";
        line-height: 1;
        vertical-align: middle;
        display: inline-block;
        /**
        * Optically center vertically with label
        */
        margin-top: -.25rem;
        margin-right: .75rem;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: $color-white;
    }

    &:hover {
        cursor: pointer;
    }
}

input[type="radio"]:checked + label {
    &:before {
        background-color: $color-action;
        box-shadow: inset 0 0 0 3px $color-background, 0 0 0 2px $color-action;
    }
}

input[type="radio"]:focus + label:before {
    box-shadow: 0 0 0 2px $color-action, 0 0 1px 5px $color-midnight--300;
}

input[type="radio"]:checked:focus + label:before {
    box-shadow: inset 0 0 0 3px $color-background, 0 0 0 2px $color-action, 0 0 1px 5px $color-midnight--300;
}

input[type="radio"]:disabled + label:before {
    background-color: $color-black--200;
    box-shadow: 0 0 0 2px $color-black--300;
}

input[type="radio"]:disabled + label:before {
    background-color: $color-black--200;
}

input[type="radio"]:checked:disabled + label:before {
    background-color: $color-black--300;
    box-shadow: inset 0 0 0 3px $color-black--200, 0 0 0 2px $color-black--300;
}


input[type="radio"]:disabled + label {
    cursor: default;
    color: $color-black--600;
}
