
.rvt-tabs {
    &__tab {
        background-color: $color-black--100;
        border: 1px solid $color-black--200;
        color: $color-black--700;

        // Make this the same height as regular buttons
        height: $xl;
        line-height: 1;
        margin-right: $xs;
        padding: $xs $md;
        position: relative;
        transition: box-shadow .2s ease;

        // Mobile
        display: block;
        width: 100%;
        border-radius: 0;

        &:first-child {
            border-top-right-radius: $xxs;
            border-top-left-radius: $xxs;
        }

        &:last-child {
            margin-right: 0;
        }

        &:focus,
        &:hover {
            background-color: $color-action;
            border-color: $color-action;
            color: $color-background;
        }

        &:focus {
            /* stylelint-disable */
            box-shadow: 0 0 0 $xxs/2 $color-background,
            0 0 0 $xxs $color-action;
            /* stylelint-enable */
            outline: none;
        }
    }

    &__tab[aria-selected="true"] {
        background-color: $color-action;
        border-color: $color-action;
        color: $color-background;
    }

    &__panel {
        border: 1px solid $color-black--200;
        border-top-right-radius: $xxs;
        border-bottom-right-radius: $xxs;
        border-bottom-left-radius: $xxs;
        margin-top: -1px;
        padding: $md;
        transition: box-shadow .2s ease;

        &:focus {
            box-shadow: inset 0 0 0 $xxs/2 $color-action;
            outline: none;
        }
    }
}

@include mq(bp(md)) {
    .rvt-tabs {
        &__tab {
            width: auto;
            display: inline-block;
            border-top-right-radius: $xxs;
            border-top-left-radius: $xxs;
        }

        &__tablist {
            display: flex;
        }
    }
}



/**
 * Vertical tabs
 */
@include mq(bp(md)) {
    .rvt-tabs--vertical {
        border: 1px solid $color-black--200;
        border-radius: $xxs;
        display: flex;
        justify-content: space-between;

        .rvt-tabs__tablist {
            min-width: 250px;
            flex-basis: 250px;
            display: block;
            flex-grow: 0;
            border-right: 1px solid $color-black--200;
        }

        .rvt-tabs__tab {
            width: 100%;
            border-right: none;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $color-black--200;
            height: $xl;

            &[aria-selected="true"]:first-child {
                border-top-left-radius: $xxs;
            }
        }

        .rvt-tabs__panel {
            flex-grow: 1;
            border: none;
        }
    }
}


/**
 * Fitted tabs
 */

.rvt-tabs--fitted {
    .rvt-tabs__tab {
        flex-grow: 1;
    }

    .rvt-tabs__panel {
        border-top-right-radius: 0;
    }
}