.rvt-tabs {
    &__tablist {
        display: flex;
    }

    &__tab {
        background-color: transparent;
        border: none;
        color: #333;
        font-weight: 400;
        z-index: 2;
        position: relative;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;


        &[aria-selected="true"],
        &[aria-selected="true"]:hover {
            border-bottom: 4px solid $color-action;
            margin-bottom: -4px;
            position: relative;
            z-index: 2;
        }

        &[aria-selected="true"]:focus {

        }

        &:hover {
            color: #333;
            background-color: transparent;
            border-bottom: 4px solid $color-black--500;
            margin-bottom: -4px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:disabled {
            border-bottom: none;
        }
    }

    &__panel {
        border-top: 2px solid #ddd;
        background-color: #fff;
        border-top-left-radius: 0;
        z-index: 1;
        position: relative;
        margin-top: 1px;

        &:focus {
            box-shadow: 0 0 1px 3px #95adcb;
        }
    }
}


/**
 * Vertical tabs
 */

.rvt-tabs--vertical {
    display: flex;
    justify-content: space-between;

    .rvt-tabs__tablist {
        min-width: 16rem;
        flex-grow: 0;
        flex-direction: column;
    }

    .rvt-tabs__tab {
        width: 100%;
        text-align: left;
        padding: $sm;
        border-radius: 0;
        margin-bottom: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
            background-color: $color-black--100;
            border-bottom: none;
            margin-bottom: 4px;
            border-right: 4px solid $color-black--500;
        }

        &[aria-selected="true"] {
            background-color: $color-black--100;
            border-right: 4px solid $color-action;
            border-bottom: none;
        }

        &[aria-selected="true"]:hover {
            border-bottom: none;
            // margin-bottom: -2px;
        }
    }

    .rvt-tabs__panel {
        flex-grow: 1;
        border-top: none;
        padding-left: $xl;
    }
}

/**
 * Fitted tabs
 */

.rvt-tabs--fitted {
    .rvt-tabs__tab {
        flex-grow: 1;
    }
}