/**
 * Tables
 */

table {
    text-align: left;
    width: 100%;
}

thead {
    text-transform: uppercase;
    font-size: .875rem;
    border-bottom: 1px solid $color-black--200;
    background-color: $color-black--100;

    th,
    tr th {
        padding: $sm;
        line-height: 1;
        font-weight: 700;
    }
}

tr {
    border-bottom: 1px solid $color-black--200;
}

tr th {
    font-weight: 400;
    padding: $sm;
}

tr td {
    padding: $sm;
}

.table-stripes,
.rvt-table-stripes {
    tr {
        border-bottom: none;
    }

    tr:nth-child(even) {
        background-color: $color-black--100;
    }
}

.table-plain,
.rvt-table-plain {
    thead {
        background-color: transparent;
        border-bottom: none;
    }

    tr {
        border-bottom: none;
    }
}
