
/**
 * These type scale classes will maintain the same font sizes across all
 * screens when applied. Use the responsive utility classes below to
 * apply different font sizes based on screen size.
 */

@each $ts-pixels, $ts-rems in $type-sizes {

    .ts-#{$ts-pixels} {
        font-size: $ts-rems !important;
    }

}




/**
 * These responsive type scale classes make it easy to apply different
 * font sizes based on screen sizes.
 * Example:
 * <h1 class="ts-18 ts-20-md-up ts-32-lg-up">Hello, world!</h1>
 *
 * The font size on this h1 element would be 18px on small screens,
 * 20px on medium screens and up, and 32px on large screens and up.
 */

@each $bp-name, $bp-size in $breakpoints {

    @include mq($bp-size) {

        @each $ts-pixels, $ts-rems in $type-sizes {

            .ts-#{$ts-pixels}-#{$bp-name} {
                font-size: $ts-rems !important;
            }

        }

    }

}
