// Explicitly define the typescale here.
// I used this scale as reference:
// http://carbondesignsystem.com/style/typography#normalized-major-second-type-scale-1-125

@mixin ts-12 {
    font-size: $ts-12;
}

@mixin ts-14 {
    font-size: $ts-14;
}

@mixin ts-base {
    font-size: $ts-base;
}

@mixin ts-16 {
    font-size: $ts-16;
}

@mixin ts-18 {
    font-size: $ts-18;
}

@mixin ts-20 {
    font-size: $ts-20;
}

@mixin ts-23 {
    font-size: $ts-23;
}

@mixin ts-26 {
    font-size: $ts-26;
}

@mixin ts-29 {
    font-size: $ts-29;
}

@mixin ts-32 {
    font-size: $ts-32;
}

@mixin ts-36 {
    font-size: $ts-36;
}

@mixin ts-41 {
    font-size: $ts-41;
}

@mixin ts-46 {
    font-size: $ts-46;
}

@mixin ts-52 {
    font-size: $ts-52;
}

/**
 * Typescale helper classes
 */

.ts-12 {
    @include ts-12;
}

.ts-14 {
    @include ts-14;
}

.ts-base,
.ts-16 {
    @include ts-base;
}

.ts-18 {
    @include ts-18;
}

.ts-20 {
    @include ts-20;
}

.ts-23 {
    @include ts-23;
}

.ts-26 {
    @include ts-26;
}

.ts-29 {
    @include ts-29;
}

.ts-32 {
    @include ts-32;
}

.ts-36 {
    @include ts-36;
}

.ts-41 {
    @include ts-41;
}

.ts-46 {
    @include ts-46;
}

.ts-52 {
    @include ts-52;
}
