<div class="rvt-disclosure" data-rvt-disclosure="disclosure-1">
  <button class="rvt-disclosure__toggle" data-rvt-disclosure-toggle aria-expanded="false">I'll disclose</button>
  <div class="rvt-disclosure__content" data-rvt-disclosure-target hidden aria-hidden="true">
    Some more details
  </div>
</div>