<div class="rvt-disclosure" data-rvt-disclosure="disclosure-1" data-rvt-close-click-outside>
  <button class="rvt-disclosure__toggle" data-rvt-disclosure-toggle aria-expanded="false">Disclose more information</button>
  <div class="rvt-disclosure__content" data-rvt-disclosure-target hidden>
    <div class="rvt-prose rvt-flow">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quas quisquam ratione officia accusamus quaerat tenetur laudantium, necessitatibus sapiente maxime accusantium deserunt voluptate illum vero quae ea dicta quos? Fugiat.</p>
    </div>
  </div>
</div>