<div data-disclosure>
  <button data-disclosure-toggle>I'll disclose</button>
  <div data-disclosure-target hidden aria-hidden="true">
    Some more details
  </div>
</div>
<script>
  const disclosureEl = document.querySelector('[data-disclosure]');
  const disclosure = new Rivet.Disclosure(disclosureEl);
</script>