// z-index map
// Starts and 0 and works up to 1000. Leaving some space between intervals
// here so that we can add fine tune adjustments when/if needed
// but, hopefully not.
//
// E.g. z-250: 250.

$z-index: (
  z-0: 0,
  z-100: 100,
  z-200: 200,
  z-300: 300,
  z-400: 400,
  z-500: 500,
  z-600: 600,
  z-700: 700,
  z-800: 800,
  z-900: 900,
  z-1000: 1000
) !default;
