---
tags: textarea
title: Default textarea
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<label for="textarea-default" class="rvt-label">Textarea</label>
<textarea id="textarea-default" class="rvt-textarea"></textarea>