<span class="rvt-display-block rvt-ts-26 rvt-m-bottom-xl" id="single-file-example">
    Rivet file uploader
</span>
<div class="rvt-file" data-upload="my-file-input">
    <input type="file" id="my-file-input" aria-describedby="single-file-example">
    <label for="my-file-input" class="rvt-button rvt-button--secondary">
        <span>Upload a file</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M10.41,1H3.5A1.3,1.3,0,0,0,2.2,2.3V13.7A1.3,1.3,0,0,0,3.5,15h9a1.3,1.3,0,0,0,1.3-1.3V4.39ZM11.8,5.21V6H9.25V3h.34ZM4.2,13V3h3V6.75A1.25,1.25,0,0,0,8.5,8h3.3v5Z"
            />
        </svg>
    </label>
    <div class="rvt-file__preview" data-file-preview="my-file-input">
        No files selected
    </div>
</div>

<span class="rvt-display-block rvt-m-bottom-md rvt-m-top-xxl rvt-ts-20" id="multiple-file-example">
    Upload multiple files
</span>
<div class="rvt-file" data-upload="my-file-input-two" aria-labelledby="multiple-example">
    <input type="file" id="my-file-input-two" aria-describedby="multiple-file-example" multiple>
    <label for="my-file-input-two" class="rvt-button">
        <span>Upload a files</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M10.41,1H3.5A1.3,1.3,0,0,0,2.2,2.3V13.7A1.3,1.3,0,0,0,3.5,15h9a1.3,1.3,0,0,0,1.3-1.3V4.39ZM11.8,5.21V6H9.25V3h.34ZM4.2,13V3h3V6.75A1.25,1.25,0,0,0,8.5,8h3.3v5Z"
            />
        </svg>
    </label>
    <div class="rvt-file__preview" data-file-preview="my-file-input-two">
        No files selected
    </div>
</div>