<a href="{{ link }}" class="rvt-action-link{% if reverse %} rvt-action-link--reverse{% endif %}">
  <span class="rvt-action-link__icon">
    {% render "@includes--action-icon" %}
  </span>
  <span class="rvt-action-link__text">{{ text }}</span>
</a>