@use "../core" as *;

.rvt-billboard {
	background-color: var(--rvt-color-theme-background-strong);
	position: relative;

	.rvt-theme-light & {
		background-color: var(--rvt-color-theme-accent-inverse);
	}

	& + & {
		margin-top: var(--rvt-spacing-lg);
	}

	&__eyebrow {
		@include eyebrow;
		color: var(--rvt-color-theme-text-accent);
		margin: 0;
	}

	&__eyebrow + &__title {
		margin-top: var(--rvt-spacing-xs);
	}

	&__title {
		color: var(--rvt-color-theme-text-accent);
		font-family: var(--rvt-font-family-condensed);
		font-size: var(--rvt-ts-26);
		font-weight: var(--rvt-font-weight-black);
		letter-spacing: 0.04rem;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__body {
		margin-top: var(--rvt-spacing-md);
		padding: var(--rvt-spacing-md);
	}

	&__content {
		color: var(--rvt-color-theme-text);
		margin-top: var(--rvt-spacing-lg);
	}

	&__content > * {
		margin: 0;
	}

	&__content > * + * {
		margin-top: var(--rvt-spacing-lg);
	}

	&__image {
		z-index: 1;
	}

	&__image img {
		display: block;
		width: 100%;
	}
}

@include mq($breakpoint-md) {
	.rvt-billboard {
		display: flex;
		flex-direction: row-reverse;

		& + & {
			margin-top: var(--rvt-spacing-xxl);
		}

		&__title {
			font-size: var(--rvt-ts-29);
		}

		&__image {
			width: 66%;
		}

		&__image img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&__body {
			display: flex;
			flex-basis: 50%;
			flex-direction: column;
			flex-grow: 1;
			justify-content: flex-end;
			margin-top: 0;
			padding-bottom: var(--rvt-spacing-xxl);
			padding-inline: var(--rvt-spacing-xxl);
		}

		&--reverse {
			flex-direction: row;
		}

		&--compact {
			align-items: center;
			border: 1px solid var(--rvt-color-theme-ui);
		}

		&--compact &__body {
			justify-content: center;
			padding-block: var(--rvt-spacing-md);
			padding-inline: var(--rvt-spacing-xxl);
		}

		&--compact &__body,
		&--compact &__image {
			width: 50%;
		}

		&--compact &__title {
			font-size: var(--rvt-ts-26);
		}
	}
}
