@use '../core' as *;

.rvt-billboard {

  position: relative;

  &__eyebrow {
    font-size: $ts-12;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: var(--rvt-color-billboard-eyebrow, #{$color-crimson-500});
    margin: 0;
  }

  &__eyebrow + &__title {
    margin-top: $spacing-xs;
  }

  &__title {
    font-size: $ts-26;
    text-transform: uppercase;
    font-family: $font-condensed;
    letter-spacing: .04rem;
    line-height: 1.2;
    color: var(--rvt-color-billboard-title, #{$color-crimson-500});
    font-weight: $font-weight-black;
  }

  &__body {
    margin-top: $spacing-md;
  }

  &__content {
    color: var(--rvt-color-billboard-body-text, #{$color-black-400});
    margin-top: $spacing-lg;
  }

  &__content > * {
    margin: 0;
  }

  &__content > * + * {
    margin-top: $spacing-lg;
  }

  &__image {
    z-index: 1;
  }

  &__image img {
    width: 100%;
    display: block;
  }

  &--center &__body {
    text-align: center;
    max-width: $width-xxl * 1.5;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }

  &--center &__title {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &--center &__image {
    display: none;
  }
}

@include mq($breakpoint-md) {
  .rvt-billboard {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;

    &__title {
      font-size: $ts-29;
    }

    &__image {
      width: 50%;
    }

    &__image img {
      min-height: 100%;
      object-fit: cover;
    }

    &__body {
      flex-basis: 50%;
      flex-grow: 1;
      margin-top: 0;
      padding-inline: $spacing-xxl;
    }

    &--reverse {
      flex-direction: row;
    }
  }
}

// Themes

.rvt-theme-crimson {
  --rvt-color-billboard-eyebrow: #{$color-crimson-100};
  --rvt-color-billboard-title: #{$color-white-base};
  --rvt-color-billboard-body-text: #{$color-crimson-100};
}

.rvt-theme-dark {
  --rvt-color-billboard-eyebrow: #{$color-black-100};
  --rvt-color-billboard-title: #{$color-white-base};
  --rvt-color-billboard-body-text: #{$color-black-100};
}
