<div class="rvt-tabs">
    <div class="rvt-tabs__tablist" role="tablist" aria-label="Entertainment">
        <button class="rvt-tabs__tab" role="tab" aria-selected="true" aria-controls="tab-1" id="t-one">
            First Tab one
        </button>
        <button class="rvt-tabs__tab" role="tab" aria-selected="false" aria-controls="tab-2" id="t-two" tabindex="-1">
            First Tab two
        </button>
        <button class="rvt-tabs__tab" role="tab" aria-selected="false" aria-controls="tab-3" id="t-three" tabindex="-1">
            First Tab three
        </button>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab-1" aria-labelledby="t-one">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 1 - Panel 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab-2" aria-labelledby="t-two" hidden="">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 1 - Panel 2: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab-3" aria-labelledby="t-three" hidden="">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 1 - Panel 3: Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
        </div>
    </div>
</div>


<div class="rvt-tabs">
    <div class="rvt-tabs__tablist" role="tablist" aria-label="Entertainment">
        <button class="rvt-tabs__tab" role="tab" aria-selected="true" aria-controls="tab2-1" id="t-1">
            Second Tab one
        </button>
        <button class="rvt-tabs__tab" role="tab" aria-selected="false" aria-controls="tab2-2" id="t-2" tabindex="-1">
            Second Tab two
        </button>
        <button class="rvt-tabs__tab" role="tab" aria-selected="false" aria-controls="tab2-3" id="t-3" tabindex="-1">
            Second Tab three
        </button>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab2-1" aria-labelledby="t-1">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 2 - Panel 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab2-2" aria-labelledby="t-2" hidden="">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 2 - Panel 2: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="rvt-tabs__panel" tabindex="0" role="tabpanel" id="tab2-3" aria-labelledby="t-3" hidden="">
        <div class="rvt-tabs__panel-content">
            <p>
                Tabset 2 - Panel 3: Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
        </div>
    </div>
</div>