<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  {% include 'partials/rivet-assets.njk' %}
  <link rel="stylesheet" href="/sandbox/css/sandbox.css">
  <script type="module" src="/sandbox/js/sandbox.js"></script>
  <script type="module" src="/main.js"></script>
</head>
<body>
  <main>
    <div class="sidebar">
      <h1><a href="/">Rivet Design System</a></h1>
      {% include 'layouts/sidebar.njk' %}
    </div>
    <div class="content">
      {%- block content -%}
        {{ content | safe }}
      {%- endblock -%}
    </div>
  </main>
</body>
</html>
