<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="./sandbox.css">
</head>
<body>
  <main>
    <div class="sidebar">
      <h1>Rivet Design System</h1>
    </div>
    <div class="content">
      {%- block content -%}
        {{ content | safe }}
      {%- endblock -%}
    </div>
  </main>
</body>
</html>