<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  {% include 'partials/rivet-assets.njk' %}
  <link rel="stylesheet" href="/css/sandbox.css">
  <script type="module" src="/js/sandbox.js"></script>
</head>
<body>
  {{ content | safe }}
</body>
</html>
