<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  {% include "partials/rivet-assets.njk" %}
  <style>
    .debug .rvt-stack > * {
      border: 3px solid var(--rvt-color-green-300);
    }

    .debug .rvt-rich-text > * {
      border: 2px solid var(--rvt-color-orange-300);
    }

    .debug .rvt-section {
      border: 2px solid cyan;
    }
  </style>
</head>
<body class="{% if classes %}{{ classes }}{% endif %}">
  {{ content | safe }}
  <script src="/js/rivet-iife.js"></script>
  <script>Rivet.init()</script>
  <script>

    document.addEventListener('keydown', event => {
      if (event.key === 'd') {
        document.body.classList.toggle('debug')
      }
    });

  </script>

{# <script>
  // Sidenav mobile toggle prototype
  const sideNavNode = document.querySelector('[data-rvt-sidenav="base-two-column"]');
  if (sideNavNode !== null) {
    const template = document.createElement('template');
    template.innerHTML = `
      <button class="rvt-sidenav__mobile-toggle" data-rvt-sidebar-toggle="" aria-expanded="false">
        <span>Section menu</span>
        <svg aria-hidden="true" fill="currentColor" focusable="false" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M15 4H1V2h14v2Zm0 5H1V7h14v2ZM1 14h14v-2H1v2Z"></path></svg>
      </button>
    `;
    const sideNavToggleNode = template.content.cloneNode(true).firstElementChild;
    sideNavNode.insertAdjacentElement('beforebegin', sideNavToggleNode);

    const observer = new ResizeObserver(entries => {
      for (const entry of entries) {
        if (entry.target.offsetWidth > 1080) {
          sideNavNode.removeAttribute('hidden');
          sideNavToggleNode.setAttribute('aria-expanded', 'true');
        } else {
          sideNavNode.setAttribute('hidden', '');
          sideNavToggleNode.setAttribute('aria-expanded', 'false')
        }
      }
    });

    observer.observe(document.querySelector('body'));

    document.addEventListener('click', event => {
      const clickedSidebarMobileToggle = event.target.closest('[data-rvt-sidebar-toggle]');
      if (!clickedSidebarMobileToggle) return;

      function showNavigation() {
        clickedSidebarMobileToggle.setAttribute('aria-expanded', 'true');
        sideNavNode.removeAttribute('hidden');
      }

      function hideNavigation() {
        clickedSidebarMobileToggle.setAttribute('aria-expanded', 'false');
        sideNavNode.setAttribute('hidden', '');
      }

      clickedSidebarMobileToggle.getAttribute('aria-expanded') === "false" ?
        showNavigation() :
        hideNavigation();
    });
  }
</script> #}
</body>
</html>