<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ title }}</title>
  {% include "partials/rivet-assets.njk" %}
</head>
<body>
  <main>
    <div class="rvt-theme-light rvt-p-all-sm">
      {{ content | safe }}
    </div>
    <div class="rvt-theme-dark rvt-p-all-sm">
      {{ content | safe }}
    </div>
    <div class="rvt-theme-crimson rvt-p-all-sm">
      {{ content | safe }}
    </div>
  </main>
</body>
</html>
