<h2>Components</h2>
<nav>
  <ul>
    {% for component in collections.component %}
      <li><a {% if component.url == page.url %}class="current"{% endif %} href="{{ component.url }}">{{ component.data.title }}</a></li>
    {% endfor %}
  </ul>
</nav>