<h2>Components</h2>
<nav>
  <ul>
    {% for component in collections.component | sortCollectionByTitle %}
      {% if component.url == page.url %}
        <li>
          <a class="current" href="{{ component.url }}">{{ component.data.title }}</a>
          <ul class="variants">
            {% for variant in collections[component.data.component] | sortCollectionByOrder %}
              <li><a href="#" data-variant-select="{{ variant.data.title | slug }}">{{ variant.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ component.url }}">{{ component.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<h2>Utilities</h2>
<nav>
  <ul>
    {% for utility in collections.utility | sortCollectionByTitle %}
      {% if utility.url == page.url %}
        <li>
          <a class="current" href="{{ utility.url }}">{{ utility.data.title }}</a>
          <ul class="variants">
            {% for variant in collections[utility.data.component] | sortCollectionByOrder %}
              <li><a href="#" data-variant-select="{{ variant.data.title | slug }}">{{ variant.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ utility.url }}">{{ utility.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<h2>Layouts</h2>
<nav>
  <ul>
    {% for layout in collections.layout | sortCollectionByTitle %}
      {% if layout.url == page.url %}
        <li>
          <a class="current" href="{{ layout.url }}">{{ layout.data.title }}</a>
          <ul class="variants">
            {% for variant in collections[layout.data.component] | sortCollectionByOrder %}
              <li><a href="#" data-variant-select="{{ variant.data.title | slug }}">{{ variant.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ layout.url }}">{{ layout.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>