<style>
.u-show-if-has-current:not(:has([aria-current])) {
  _display: none;
}
</style>

<nav class="rvt-sidenav rvt-sidenav--compact">
{% for section in collections.sections %}
  {% set sectionLabel = section[0] %}
  {% set groups = section[1] %}
  <h2 class="rvt-sidenav__label">{{ sectionLabel }}</h2>
  <ul class="rvt-sidenav__list">
    {% for group in groups %}
      {% set groupLabel = group[0] %}
      {% set items = group[1] %}
      {% set firstItem = items[0] %}
      <li class="rvt-sidenav__item">
        <a
          class="rvt-sidenav__link"
          href="{{ firstItem.url }}"
        >
          {{ groupLabel }}
        </a>
        <ul class="rvt-sidenav__list u-show-if-has-current">
          {% for item in items %}
            {% set currentItem = page.url === item.url %}
            <li class="rvt-sidenav__item">
              <a
                {% if currentItem %}aria-current="page" {% endif %}
                class="rvt-sidenav__link"
                href="{{ item.url }}"
              >
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
</nav>
