<p>A long paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus turpis id consequat malesuada. Donec fermentum libero commodo ultrices elementum. Quisque aliquam, ante nec consequat ornare, tortor ipsum elementum mauris, ac posuere risus nunc vitae orci.</p>

<hr class="rvt-hr"></hr>

<p>A long paragraph: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dapibus turpis id consequat malesuada. Donec fermentum libero commodo ultrices elementum. Quisque aliquam, ante nec consequat ornare, tortor ipsum elementum mauris, ac posuere risus nunc vitae orci.</p>

<hr class="rvt-hr">

<code class="rvt-code">div > ul > li</code>

<hr class="rvt-hr"></hr>

<p><strong class="rvt-strong">This text is bolded with the <code class="rvt-code">rvt-strong</code> class.</strong></p>

<hr class="rvt-hr">

<p><abbr title="Abbreviation 1" class="rvt-abbr">Abbreviation 1 (with title attribute)</abbr></p>

<p><abbr class="rvt-abbr">Abbreviation 2 (without title attribute)</abbr></p>