---
tags: display
title: Display inline-block
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-display-inline-block rvt-color-white rvt-bg-orange">Display inline-block</div>