---
tags: display
title: Display inline
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-display-inline rvt-color-white rvt-bg-blue">Display inline</div>