---
tags: display
title: Display block
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-display-block rvt-color-white rvt-bg-green">Display block</div>