---
tags: badge
title: Badge
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-flex rvt-gap-xs">
  <span class="rvt-badge">Default</span>
  <span class="rvt-badge rvt-badge--info">Info</span>
  <span class="rvt-badge rvt-badge--success">
    <rvt-icon name="check"></rvt-icon>
    Success
  </span>
  <span class="rvt-badge rvt-badge--warning">Warning</span>
  <span class="rvt-badge rvt-badge--danger">Danger</span>
</div>

<div class="rvt-flex rvt-gap-xs rvt-m-top-md">
  <strong class="rvt-badge">Default</strong>
  <strong class="rvt-badge rvt-badge--info">Info</strong>
  <strong class="rvt-badge rvt-badge--success">
    <rvt-icon name="check"></rvt-icon>
    Success
  </strong>
  <strong class="rvt-badge rvt-badge--warning">Warning</strong>
  <strong class="rvt-badge rvt-badge--danger">Danger</strong>
</div>
