---
tags: badge
title: Badge
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-flex rvt-gap-xs">
  <span class="rvt-badge">Default</span>
  <span class="rvt-badge rvt-badge--neutral">Neutral</span>
  <span class="rvt-badge rvt-badge--info">Info</span>
  <span class="rvt-badge rvt-badge--success">Success</span>
  <span class="rvt-badge rvt-badge--warning">Warning</span>
  <span class="rvt-badge rvt-badge--danger">Danger</span>
</div>
