---
tags: badge
title: Secondary badge
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<span class="rvt-badge rvt-badge--secondary">Default</span>
<span class="rvt-badge rvt-badge--neutral-secondary">Neutral</span>
<span class="rvt-badge rvt-badge--info-secondary">Info</span>
<span class="rvt-badge rvt-badge--success-secondary">Success</span>
<span class="rvt-badge rvt-badge--warning-secondary">Warning</span>
<span class="rvt-badge rvt-badge--danger-secondary">Danger</span>

<div class="rvt-m-top-md">
  <a href="#" class="rvt-badge rvt-badge--secondary">Default</a>
  <a href="#" class="rvt-badge rvt-badge--neutral-secondary">Neutral</a>
  <a href="#" class="rvt-badge rvt-badge--info-secondary">Info</a>
  <a href="#" class="rvt-badge rvt-badge--success-secondary">Success</a>
  <a href="#" class="rvt-badge rvt-badge--warning-secondary">Warning</a>
  <a href="#" class="rvt-badge rvt-badge--danger-secondary">Danger</a>
</div>