---
tags: landing
title: Landing page layout - default
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---
{% include "demos/demo-header.njk" %}
<main id="main-content">
  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      {# {% include "demos/demo-hero-landing-page.njk" %} #}

      <div class="rvt-hero rvt-hero--statement">
        <div class="rvt-hero__inner">

          <div class="rvt-hero__body">
            <span class="rvt-hero__eyebrow">
              {Section or category}
            </span>
            <h1 class="rvt-hero__title">{Title should not exceed 16 characters}</h1>
            <div class="rvt-hero__teaser">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at possimus quia consequuntur veniam sunt, facilis nemo.</p>
            </div>
            <div class="rvt-hero__actions">
              <a href="/#" class="rvt-button rvt-button--solid">Discover careers</a>
              <a href="/#" class="rvt-button rvt-button--outline">See all degrees</a>
            </div>
          </div>

          <figure class="rvt-media-hub">
            <div class="rvt-media-hub__6">
              <img src="https://picsum.photos/id/67/1180/590" alt="">
            </div>
            {# <figcaption class="rvt-media-hub__caption">Test caption</figcaption> #}
            <div class="rvt-media-hub__card rvt-theme-crimson">

              <div class="rvt-card [ rvt-border-all-none ]">
                <div class="rvt-card__body">
                  <rvt-sticker name="cap" theme="crimson" size="sm"></rvt-sticker>
                  <div class="rvt-card__eyebrow [ rvt-m-top-sm ]">{Tag or Category}</div>
                  <h2 class="rvt-card__title">
                    <a href="#">{This card title should be concise and should not exceed 78 characters or 3 lines of text}</a>
                  </h2>
                </div>
              </div>

            </div>
          </figure>

        </div>
      </div><!-- End hero -->

    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">

      <ul class="rvt-grid rvt-grid--3">
        {% for card in range(0, 3) %}
        <li>
          <div class="rvt-card rvt-card--feature">
            <div class="rvt-card__image">
              <img src="https://picsum.photos/id/{{ (loop.index + 1) * 3 }}/600/400" alt="Smiling students sitting outside on a bench">
            </div>
            <div class="rvt-card__body">
              <div class="rvt-card__eyebrow">{Campus or category}</div>
              <h2 class="rvt-card__title">
                {title should not exceed 32 characters}
              </h2>
              <div class="rvt-card__content">
                <p> Minus ducimus sint amet similique, saepe aut natus fuga.</p>
                <a href="/#" class="rvt-button rvt-button--outline">{Lorem Ipsum}</a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <div class="rvt-section rvt-theme-crimson">
    <div class="rvt-container">
      <div class="rvt-stack">
        <div class="rvt-section-intro rvt-section-intro--feature">
          <span class="rvt-section-intro__eyebrow">{Section or category}</span>
          <h2 class="rvt-section-intro__title">{Section title not exceed 40 characters}</h2>
          <div class="rvt-section-intro__teaser">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos adipisci perferendis, voluptas alias officiis repudiandae nemo ut ex mollitia est quaerat temporibus dolor tenetur accusamus? Soluta quos doloremque nisi voluptas!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat exercitationem eaque repudiandae culpa officia porro quidem debitis repellat quas necessitatibus maxime iste molestias magnam, assumenda modi? Vel corrupti quos necessitatibus!</p>
          </div>
          <div class="rvt-section-intro__actions">
            <a class="rvt-button rvt-button--outline" href="/#0">More about CTA</a>
          </div>
        </div>

        <div class="rvt-media-hub">
          <div class="rvt-media-hub__6">
            <img src="https://picsum.photos/id/128/1600/900" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rvt-section rvt-theme-light [ rvt-p-top-none ]">
    <div class="rvt-container rvt-container--full-bleed">
      {% include "demos/demo-stats.njk" %}
    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      <p class="rvt-m-all-none rvt-ts-46 rvt-lh-tight rvt-color-crimson-500 rvt-font-serif rvt-p-right-4-xl-md-up">{Simple one to two sentence statement about about school or site that can also serve as a way to link to sections. Learn more about <a class="rvt-text-bold rvt-color-crimson-500" href="#">lorem ipsum</a>.}</p>
    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">

      <div class="rvt-media-hub">
        <div class="rvt-media-hub__6 rvt-media-hub__16x9">
         <img src="https://picsum.photos/id/166/1600/900" alt="">
        </div>
        <div class="rvt-media-hub__3">
          <img src="https://picsum.photos/id/24/800/450" alt="">
        </div>
        <div class="rvt-media-hub__3">
          <img src="https://picsum.photos/id/23/800/450" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="rvt-section rvt-theme-crimson">
    <div class="rvt-container [ rvt-stack ]">
      <div class="rvt-section-intro">
        <span class="rvt-section-intro__eyebrow">{Section or category}</span>
        <h2 class="rvt-section-intro__title">{Section title not exceed 40 characters}</h2>
        <div class="rvt-section-intro__actions">
          <a class="rvt-button rvt-button--outline" href="/#0">More about CTA</a>
        </div>
      </div>

      <div class="rvt-grid rvt-grid--2 [ rvt-gap-xxl ]">
        <div class="rvt-mediu-hub">
          <div class="rvt-media-hub__6">
            <img src="https://picsum.photos/id/983/600/400" alt="Student in vintage-style Indiana University t-shirt">
          </div>
        </div>
        {% include "demos/demo-list-hub.njk" %}
      </div>
    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      <div class="rvt-billboard rvt-billboard--reverse">
        <div class="rvt-billboard__image">
          <img src="https://picsum.photos/id/20/800/800" alt="Student in vintage-style Indiana University t-shirt">
        </div>
        <div class="rvt-billboard__body ">
          <p class="rvt-billboard__eyebrow">{Tag or category}</p>
          <h2 class="rvt-billboard__title">{title should not exceed 32 characters}</h2>
          <div class="rvt-billboard__content">
            <p>{Billboard descriptions should not exceed one paragraph or 32 characters. One to two brief sentences will keep the user engaged with your content.}</p>
            <div class="rvt-flex rvt-gap-md rvt-items-center">
              <a class="rvt-button rvt-button--outline" href="/#">{Lorem Ipusum}</a>
              {# <a class="rvt-button" href="/#">Get help</a> #}
            </div>
          </div>
        </div>
      </div>

      <div class="rvt-billboard">
        <div class="rvt-billboard__image">
          <img src="https://picsum.photos/id/10/800/800" alt="Student in vintage-style Indiana University t-shirt">
        </div>
        <div class="rvt-billboard__body">
          <p class="rvt-billboard__eyebrow">{Tag or category}</p>
          <h2 class="rvt-billboard__title">{title should not exceed 32 characters}</h2>
          <div class="rvt-billboard__content">
            <p>{Billboard descriptions should not exceed one paragraph or 32 characters. One to two brief sentences will keep the user engaged with your content.}</p>
            <div class="rvt-flex rvt-gap-md rvt-items-center">
              <a class="rvt-button rvt-button--outline" href="/#">{Lorem Ipusum}</a>
              {# <a class="rvt-button" href="/#">{Lorem Ipusum}</a> #}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">

      <div class="rvt-section-intro rvt-section-intro--feature">
        <span class="rvt-section-intro__eyebrow">{Section or category}</span>
        <h2 class="rvt-section-intro__title">{Section title not exceed 40 characters}</h2>
        <div class="rvt-section-intro__actions">
          <a class="rvt-button rvt-button--outline" href="/#0">More about CTA</a>
        </div>
      </div>

    </div>

    <div class="rvt-container">
      <div class="rvt-card rvt-flex-row rvt-items-center ">
        <div class="rvt-cal [ rvt-m-all-md ]">
          <span class="rvt-cal__month">Jan</span>
          <span class="rvt-cal__day">20</span>
          <span class="rvt-cal__year">2023</span>
        </div>
        <div class="rvt-card__body rvt-p-all-none">
          <div class="rvt-card__eyebrow">{Tag or Category}</div>
          <h2 class="rvt-card__title">
            <a href="#">{This card title should be concise and should not exceed 78 characters or 3 lines of text}</a>
          </h2>
        </div>
      </div>
    </div>

    <div class="rvt-container">
      <ul class="rvt-grid rvt-grid--3">
        {% for card in range(0, 3) %}
        <li>
          <div class="rvt-card">
            <div class="rvt-card__image">
              <img src="https://picsum.photos/id/{{ (loop.index + 1) * 5 }}/600/400" alt="Smiling students sitting outside on a bench">
            </div>
            <div class="rvt-card__body">
              <div class="rvt-card__eyebrow">{Campus or category}</div>
              <h2 class="rvt-card__title [ rvt-font-serif rvt-ts-20 ]">
                <a href="#">{title should not exceed 32 characters}</a>
              </h2>
              <div class="rvt-card__content">
                <p> Minus ducimus sint amet similique, saepe aut natus fuga.</p>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">

      {% include "demos/demo-quote.njk" %}

    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">

      {% include "demos/demo-callout.njk" %}

    </div>
  </div>

  <div class="rvt-section rvt-theme-light">
    <div class="rvt-container">
      <div class="rvt-grid rvt-grid--2 [ rvt-gap-xxl ]">

        <div>
        <img src="https://picsum.photos/id/33/600/400" alt="Student in vintage-style Indiana University t-shirt">
        </div>

        <div>
          {% include "demos/demo-list-hub.njk" %}
        </div>

      </div>
    </div>
  </div>

</main>
{% include "demos/demo-footer.njk" %}