---
tags: landing
title: Landing page layout - Three image example
layout: layouts/layout-shell.njk
permalink: /layouts/preview/{{ title | slug}}/
order: 1
classes: rvt-page
---

{% include "demos/demo-header.njk" %}
<main id="main-content">
	<!--
    When the hero is crimson theme we need to remove the bottom section padding
    for alignment purposes
  -->
	<div class="rvt-section rvt-theme-light rvt-p-bottom-xxl-md-up">
		{% include "demos/demo-hero-statement-3.njk" %}
	</div>

	<div
		class="rvt-section rvt-border-top rvt-border-bottom rvt-p-top-none rvt-p-bottom-none"
	>
		<div class="rvt-container">
			<!--
        Data definition notes: "Landing Page" Content Type

        Stats section:
          - Stat section is optional (show/hide via checkbox?)
          - Minimum of 2 stats required
          - Maximum of 4 stats allowed

        Stat fields:
          - Sticker - plain text field to specify id e.g., "globe" or "badge-check"
          - Number - plain text field for a number - must be text so that "%" and "+" can be included
          - Description - plain text field for description
      -->
			{% include "demos/demo-stats.njk" %}
		</div>
	</div>

	<!--
    Data definition notes: "Landing Page" Content Type

    Statement section:
      - Statement section is optional (show/hide via checkbox?)

    Section intro - fields
      - Featured? - checkbox that conditionally applies the `--feature` variant
      - Title - Plain text <= 40 characters
      - Text - Rich text that allows bold, italic
      - CTA(s) - repeater field, max of two
        - CTA text
        - CTA URL
      - Image - This uses the Media Hub component
        - Image uploader
          - Max of 1 image or video/video embed
          - 16:9 aspect-ratio
  -->
	<div class="rvt-section rvt-theme-light [ rvt-p-bottom-xxl-lg-up ]">
		<div class="rvt-container">
			<div class="rvt-stack">
				<div class="rvt-section-intro rvt-section-intro--feature">
					<div class="rvt-section-intro__eyebrow">{Section or category}</div>
					<h2 class="rvt-section-intro__title">
						{Section title not exceed 40 characters}
					</h2>
					<div class="rvt-section-intro__teaser">
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos
							adipisci perferendis, voluptas alias officiis repudiandae nemo ut
							ex mollitia est quaerat temporibus dolor tenetur accusamus? Soluta
							quos doloremque nisi voluptas!
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
							exercitationem eaque repudiandae culpa officia porro quidem
							debitis repellat quas necessitatibus maxime iste molestias magnam,
							assumenda modi? Vel corrupti quos necessitatibus!
						</p>
					</div>
					<div class="rvt-section-intro__actions">
						<a class="rvt-button rvt-button--cta" href="/#0">More about CTA</a>
					</div>
				</div>

				<div class="rvt-media-hub">
					<div class="rvt-media-hub__column-full rvt-media-hub__row-full">
						<img src="https://picsum.photos/id/128/1600/900" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rvt-section rvt-theme-crimson [ rvt-p-tb-3-xl-lg-up ]">
		<div class="rvt-container">
			<div class="rvt-section-intro rvt-section-intro--teaser">
				<div class="rvt-section-intro__body">
					<div class="rvt-section-intro__eyebrow">{Section or category}</div>
					<h2 class="rvt-section-intro__title">
						{Section title should not exceed 16 characters}
					</h2>
				</div>
				<div class="rvt-section-intro__actions">
					<a class="rvt-button rvt-button--cta" href="/#0"
						>More about this CTA</a
					>
				</div>
			</div>

			<ul class="rvt-card-grid [ rvt-m-top-xl ]">
				{% for card in range(0, 3) %}
				<li>
					<div class="rvt-card rvt-card--feature rvt-card--clickable">
						<div class="rvt-card__image">
							<img
								src="https://picsum.photos/id/{{ (loop.index + 1) * 3 }}/600/400"
								alt="Smiling students sitting outside on a bench"
							/>
						</div>
						<div class="rvt-card__body">
							<div class="rvt-card__eyebrow">{Campus or category}</div>
							<h2 class="rvt-card__title">
								<a href="#0">{title should not exceed 32 characters}</a>
							</h2>
							<div class="rvt-card__content">
								<p>
									{Card descriptions should not exceed one paragraph or 32
									characters. One to two brief sentences will keep the user
									engaged with your content.}
								</p>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="rvt-section rvt-theme-crimson">
		<div class="rvt-container">
			<!--
        Media Hub Component Data Definition

        - Teaser - Text field 1-2 Sentences, does not display if empty
        - Layout
          - This could go several ways - The CSS for the component itself can pretty
          much handle anything that is thrown at it, but we'll need to all for a
          finite number of predeternined layouts similar to the current framework's
          "Image essay" chunk. See /components/media-hub/ for layout examples
        - Caption - Text field for optional caption
      -->
			<div class="rvt-media-hub">
				<!-- Make this an optional element of the media hub -->
				<p class="rvt-media-hub__teaser">
					{Simple one to two sentence statement about about school or site that
					can also serve as a way to link to sections. Learn more about
					<a href="#">lorem ipsum</a>.}
				</p>
				<figure class="rvt-media-hub__media">
					<div class="rvt-media-hub__column-full-width rvt-media-hub__row-top">
						<img src="https://picsum.photos/id/166/1600/800" alt="" />
					</div>
					<div class="rvt-media-hub__column-half rvt-media-hub__row-bottom">
						<img src="https://picsum.photos/id/24/800/450" alt="" />
					</div>
					<div class="rvt-media-hub__column-half rvt-media-hub__row-bottom">
						<img src="https://picsum.photos/id/23/800/450" alt="" />
					</div>
					<figcaption>{Short caption or description}</figcaption>
				</figure>
			</div>
		</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			<div class="rvt-section-intro">
				<div class="rvt-section-intro__eyebrow">{Section or category}</div>
				<h2 class="rvt-section-intro__title">
					{Section title not exceed 40 characters}
				</h2>
				<div class="rvt-section-intro__actions">
					<a class="rvt-button rvt-button--cta" href="/#0">More about CTA</a>
				</div>
			</div>

			<div class="rvt-grid rvt-grid--2 [ rvt-gap-xxl rvt-m-top-xl ]">
				<div class="rvt-media-hub">
					<div class="rvt-media-hub__6">
						<img
							src="https://picsum.photos/id/983/600/400"
							alt="Student in vintage-style Indiana University t-shirt"
						/>
					</div>
				</div>
				{% include "demos/demo-list-hub.njk" %}
			</div>
		</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			<!--
        Billboard section

        - Repeater that allows user to add up to three billboards
      -->
			<div class="rvt-billboard rvt-billboard--reverse">
				<div class="rvt-billboard__image">
					<img
						src="https://picsum.photos/id/20/800/800"
						alt="Student in vintage-style Indiana University t-shirt"
					/>
				</div>
				<div class="rvt-billboard__body">
					<p class="rvt-billboard__eyebrow">{Tag or category}</p>
					<h2 class="rvt-billboard__title">
						{title should not exceed 32 characters}
					</h2>
					<div class="rvt-billboard__content">
						<p>
							{Billboard descriptions should not exceed one paragraph or 32
							characters. One to two brief sentences will keep the user engaged
							with your content.}
						</p>
						<div class="rvt-flex rvt-gap-md rvt-items-center">
							<a class="rvt-button rvt-button--cta" href="/#">{Lorem Ipusum}</a>
							{# <a class="rvt-button rvt-button--cta" href="/#">Get help</a> #}
						</div>
					</div>
				</div>
			</div>

			<div class="rvt-billboard">
				<div class="rvt-billboard__image">
					<img
						src="https://picsum.photos/id/10/800/800"
						alt="Student in vintage-style Indiana University t-shirt"
					/>
				</div>
				<div class="rvt-billboard__body">
					<p class="rvt-billboard__eyebrow">{Tag or category}</p>
					<h2 class="rvt-billboard__title">
						{title should not exceed 32 characters}
					</h2>
					<div class="rvt-billboard__content">
						<p>
							{Billboard descriptions should not exceed one paragraph or 32
							characters. One to two brief sentences will keep the user engaged
							with your content.}
						</p>
						{#
						<div class="rvt-flex rvt-gap-md rvt-items-center">
							<a class="rvt-button rvt-button--cta" href="/#">{Lorem Ipusum}</a>
							<a class="rvt-button rvt-button--cta" href="/#">{Lorem Ipusum}</a>
						</div>
						#}

						<div class="rvt-list-hub">
							<ul class="rvt-list-hub__list">
								<li class="rvt-list-hub__item">
									<a class="rvt-list-hub__link" href="#">
										Normal title length is five
									</a>
								</li>
								<li class="rvt-list-hub__item">
									<a class="rvt-list-hub__link" href="#">
										Normal title length is five
									</a>
								</li>
								<li class="rvt-list-hub__item">
									<a class="rvt-list-hub__link" href="#">
										Normal title length is five
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			<div class="rvt-section-intro">
				<div class="rvt-section-intro__eyebrow">{Section or category}</div>
				<h2 class="rvt-section-intro__title">
					{Section title not exceed 40 characters}
				</h2>
				<div class="rvt-section-intro__actions">
					<a class="rvt-button rvt-button--cta" href="/#0">More about CTA</a>
				</div>
			</div>
		</div>

		<div class="rvt-container">
			<div class="rvt-card rvt-flex-row rvt-items-center">
				<div class="rvt-cal [ rvt-m-all-md ]">
					<span class="rvt-cal__month">Jan</span>
					<span class="rvt-cal__day">20</span>
					<span class="rvt-cal__year">2023</span>
				</div>
				<div class="rvt-card__body rvt-p-all-none">
					<div class="rvt-card__eyebrow">{Tag or Category}</div>
					<h2 class="rvt-card__title">
						<a href="#"
							>{This card title should be concise and should not exceed 78
							characters or 3 lines of text}</a
						>
					</h2>
				</div>
			</div>
		</div>

		<div class="rvt-container">
			<ul class="rvt-card-grid">
				{% for card in range(0, 3) %}
				<li>
					<div class="rvt-card">
						<div class="rvt-card__image">
							<img
								src="https://picsum.photos/id/{{ (loop.index + 1) * 5 }}/600/400"
								alt="Smiling students sitting outside on a bench"
							/>
						</div>
						<div class="rvt-card__body">
							<div class="rvt-card__eyebrow">{Campus or category}</div>
							<h2 class="rvt-card__title [ rvt-font-serif rvt-ts-23 ]">
								<a href="#">{Title should not exceed 32 characters}</a>
							</h2>
							<div class="rvt-card__meta">
								<time datetime="">October 1, 2025</time>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="rvt-section rvt-theme-crimson [ rvt-p-tb-4-xl-lg-up ]">
		<div class="rvt-container">{% include "demos/demo-quote.njk" %}</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">{% include "demos/demo-callout.njk" %}</div>
	</div>

	<div class="rvt-section rvt-theme-light">
		<div class="rvt-container">
			<div class="rvt-grid rvt-grid--2 [ rvt-gap-xxl ]">
				<div>
					<img
						src="https://picsum.photos/id/33/600/400"
						alt="Student in vintage-style Indiana University t-shirt"
					/>
				</div>

				<div>{% include "demos/demo-list-hub.njk" %}</div>
			</div>
		</div>
	</div>
</main>
{% include "demos/demo-footer.njk" %}
