---
tags: avatar
title: Default avatar
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-avatar rvt-avatar--xs">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>

<div class="rvt-avatar rvt-avatar--sm">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>

<div class="rvt-avatar">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>

<div class="rvt-avatar rvt-avatar--md">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>

<div class="rvt-avatar rvt-avatar--lg">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>

<div class="rvt-avatar rvt-avatar--xl">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>