---
tags: avatar
title: Avatar with initials
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-avatar rvt-avatar--xs">
  <span class="rvt-avatar__text">XS</span>
</div>

<div class="rvt-avatar rvt-avatar--sm">
  <span class="rvt-avatar__text">SM</span>
</div>

<div class="rvt-avatar">
  <span class="rvt-avatar__text">RG</span>
</div>

<div class="rvt-avatar rvt-avatar--md">
  <span class="rvt-avatar__text">MD</span>
</div>

<div class="rvt-avatar rvt-avatar--lg">
  <span class="rvt-avatar__text">LG</span>
</div>

<div class="rvt-avatar rvt-avatar--xl">
  <span class="rvt-avatar__text">XL</span>
</div>