---
tags: avatar
title: Responsive avatar
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-avatar rvt-avatar--xl-md-up">
  <img class="rvt-avatar__image" src="https://rivet.iu.edu/img/placeholder/avatar-1.jpg" alt="">
</div>