// Related section

@use 'core' as *;

.#{$prefix}-c-footer-related {
  background-color: $color-crimson-base;
  color: $color-white-base;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  
  &__heading {
    font-size: $ts-18;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-sm;
  }
  
  &__link {
    color: $color-white-base;
    display: block;
    font-size: $ts-14;
    margin-bottom: $spacing-sm;
    text-decoration: none;
    
    &:hover {
      color: $color-white-base;
      text-decoration: underline;
    }
  }
  
  &__button {
    background-color: $color-white-base;
    border-color: transparent;
    color: $color-crimson-base;
    justify-content: center;
    margin-bottom: $spacing-sm;
    width: 100%;
  }
}