// Social section

@use '../core' as *;

.#{$prefix}-footer-social {
  background-color: var(--rvt-color-theme-background);
  padding-bottom: $spacing-md;
  padding-top: $spacing-md;
}

.#{$prefix}-social-link {
  align-items: center;
  border: 1px solid var(--rvt-color-theme-ui);
  border-radius: $border-radius-circle;
  display: flex;
  height: $spacing-sm * 2.25;
  justify-content: center;
  width: $spacing-sm * 2.25;

  &:hover {
    background-color: var(--rvt-color-theme-accent);
    border-color: var(--rvt-color-theme-accent);
    color: var(--rvt-color-theme-text-inverse);
    transition: all .2s ease;
  }

  &::before {
    --size-source: 3rem;
    --scale: calc(1 / 3);
    background-color: currentColor;
    clip-path: var(--icon);
    content: "";
    display: block;
    height: var(--size-source);
    position: absolute;
    transform: scale(calc(1/3));
    width: var(--size-source);
  }

  &--bluesky {
    --icon: path("M24 21.597c-2.173-4.226-8.093-12.106-13.6-15.986-5.267-3.734-7.28-3.08-8.6-2.494C.28 3.811 0 6.157 0 7.531c0 1.373.76 11.306 1.253 12.96 1.627 5.466 7.427 7.32 12.76 6.733.267-.04.547-.08.827-.107-.28.04-.547.08-.827.107-7.826 1.16-14.773 4.013-5.653 14.16C18.387 51.77 22.093 39.157 24 32.77c1.907 6.386 4.107 18.546 15.467 8.613 8.533-8.613 2.346-13-5.48-14.16a15.45 15.45 0 0 1-.827-.107c.28.04.56.067.827.107 5.333.6 11.133-1.253 12.76-6.733C47.24 18.837 48 8.917 48 7.53c0-1.387-.28-3.72-1.8-4.414-1.32-.6-3.333-1.24-8.6 2.48-5.507 3.88-11.427 11.76-13.6 15.987v.013Z");
  }

  &--facebook {
    --icon: path("M24,.09a24,24,0,0,0-5.8,47.29v-16H13.25V24.09H18.2V20.93c0-8.17,3.7-12,11.72-12a26.4,26.4,0,0,1,5.22.6v6.65c-.57-.06-1.55-.09-2.78-.09-3.93,0-5.45,1.49-5.45,5.36v2.6h7.84L33.4,31.42H26.91V47.91A24,24,0,0,0,24,.09Z");
  }

  &--instagram {
    --icon: path("M24,4.32c6.41,0,7.17,0,9.69.14a13.3,13.3,0,0,1,4.46.83A7.32,7.32,0,0,1,40.9,7.08a7.28,7.28,0,0,1,1.79,2.75,13.1,13.1,0,0,1,.83,4.46c.11,2.53.14,3.29.14,9.69s0,7.17-.14,9.69a13,13,0,0,1-.83,4.46,7.93,7.93,0,0,1-4.54,4.54,13.1,13.1,0,0,1-4.46.83c-2.53.11-3.29.14-9.69.14s-7.17,0-9.69-.14a13,13,0,0,1-4.46-.83A7.32,7.32,0,0,1,7.1,40.88a7.28,7.28,0,0,1-1.79-2.75,13.1,13.1,0,0,1-.83-4.46c-.11-2.53-.14-3.29-.14-9.69s0-7.17.14-9.69a13,13,0,0,1,.83-4.46A7.32,7.32,0,0,1,7.1,7.08,7.28,7.28,0,0,1,9.85,5.29a13.36,13.36,0,0,1,4.46-.83C16.83,4.35,17.59,4.32,24,4.32ZM24,0c-6.52,0-7.33,0-9.89.14A17.47,17.47,0,0,0,8.29,1.26,11.68,11.68,0,0,0,4,4,11.73,11.73,0,0,0,1.26,8.28,17.52,17.52,0,0,0,.14,14.1C0,16.67,0,17.48,0,24s0,7.33.14,9.89a17.47,17.47,0,0,0,1.12,5.82A11.68,11.68,0,0,0,4,44a11.74,11.74,0,0,0,4.25,2.76,17.52,17.52,0,0,0,5.82,1.12C16.66,48,17.48,48,24,48s7.33,0,9.89-.14a17.47,17.47,0,0,0,5.82-1.12A11.74,11.74,0,0,0,44,44a11.9,11.9,0,0,0,2.77-4.25,17.55,17.55,0,0,0,1.11-5.82c.11-2.56.14-3.38.14-9.89s0-7.33-.14-9.89A17.5,17.5,0,0,0,46.72,8.3,11.33,11.33,0,0,0,44,4a11.74,11.74,0,0,0-4.25-2.76A17.52,17.52,0,0,0,33.9.15C31.33,0,30.52,0,24,0Z M24,11.67A12.33,12.33,0,1,0,36.33,24,12.33,12.33,0,0,0,24,11.67ZM24,32a8,8,0,0,1,0-16,8,8,0,0,1,0,16ZM39.69,11.18a2.88,2.88,0,1,1-2.88-2.87h0A2.88,2.88,0,0,1,39.69,11.18Z");
  }

  &--linkedin {
    --icon: path("M44.45,0H3.54A3.5,3.5,0,0,0,0,3.46V44.53A3.51,3.51,0,0,0,3.54,48H44.45A3.51,3.51,0,0,0,48,44.54V3.46A3.51,3.51,0,0,0,44.45,0ZM14.24,40.9H7.12V18h7.12V40.9Zm-3.56-26a4.14,4.14,0,0,1-4.14-4.12h0a4.14,4.14,0,0,1,4.13-4.12h0a4.13,4.13,0,0,1,0,8.25Zm30.22,26H33.79V29.77c0-2.66,0-6.08-3.71-6.08s-4.26,2.9-4.26,5.89V40.9H18.71V18h6.83v3.13h.09a7.48,7.48,0,0,1,6.73-3.7c7.21,0,8.54,4.74,8.54,10.91V40.9Z");
  }

  &--youtube {
    --icon: path("M47.52,14.41h0s-.47-3.31-1.91-4.76a6.86,6.86,0,0,0-4.81-2C34.09,7.12,24,7.12,24,7.12h0s-10.08,0-16.79.49a6.86,6.86,0,0,0-4.81,2C1,11.09.49,14.4.49,14.4A71.34,71.34,0,0,0,0,22.18v3.63a72.81,72.81,0,0,0,.48,7.78S1,36.9,2.38,38.35c1.83,1.91,4.23,1.85,5.3,2,3.84.37,16.32.48,16.32.48s10.09,0,16.8-.5a6.86,6.86,0,0,0,4.81-2c1.44-1.45,1.91-4.76,1.91-4.76A72.56,72.56,0,0,0,48,25.81V22.18A72.75,72.75,0,0,0,47.52,14.41ZM19,30.23V16.74l13,6.77Z");
  }

  &--twitter,
  &--x {
    --icon: path("M37.8,2.31h7.36L29.08,20.69,48,45.69H33.19L21.59,30.53,8.31,45.69H1L18.15,26,0,2.31H15.19L25.67,16.17,37.8,2.31Zm-2.58,39H39.3L13,6.48H8.6L35.22,41.29Z");
  }

  &--twitter:hover,
  &--x:hover {
    --icon: path("M37.8,2.31h7.36L29.08,20.69,48,45.69H33.19L21.59,30.53,8.31,45.69H1L18.15,26,0,2.31H15.19L25.67,16.17,37.8,2.31Zm-2.58,39H39.3L13,6.48H8.6L35.22,41.29Z");
  }
}
