// Applies to all parts of the footer

@use 'core' as *;

.#{$prefix}-footer-social,
.#{$prefix}-footer-resources,
.#{$prefix}-footer-base {
  a:focus {
    outline-color: $color-white-base;
  }

  a.#{$prefix}-button:focus {
    box-shadow: 0 0 0 .125rem $color-crimson-base, 0 0 0 $spacing-xxs $color-white-base;
  }

  a.#{$prefix}-button:hover {
    background-color: $color-blue-base;
  }
}
