// Applies to all parts of the footer

@use '../core' as *;

.#{$prefix}-footer-social,
.#{$prefix}-footer-resources,
.#{$prefix}-footer-base {
  a:focus {
    outline-color: $color-white-base;
  }
}
