---
tags: section-intro
title: Section intro - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-section-intro">
	<span class="rvt-section-intro__eyebrow">{Section or category}</span>
	<h2 class="rvt-section-intro__title">
		{Section title not exceed 40 characters}
	</h2>
	<div class="rvt-section-intro__teaser">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloribus
			id rerum error laboriosam modi nemo magnam qui iusto illo facere ipsa
			quibusdam totam deleniti, porro quasi aperiam? Voluptatum, minus.
		</p>
	</div>
	<div class="rvt-section-intro__actions">
		<a class="rvt-button rvt-button--cta" href="/#0">More about CTA</a>
	</div>
</div>
