---
tags: section-intro
title: Section intro - Teaser
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 2
classes: rvt-container rvt-p-tb-xxl
---

<div class="rvt-section-intro rvt-section-intro--teaser">
	<div class="rvt-section-intro__body">
		<div class="rvt-section-intro__eyebrow">{Section or category}</div>
		<h2 class="rvt-section-intro__title">Freshman class 2024</h2>
		<div class="rvt-section-intro__teaser">
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam enim
				eligendi corrupti dolores non fugiat sint tempore aliquid repellendus
				eveniet.
			</p>
		</div>
	</div>
	<div class="rvt-section-intro__actions">
		<a href="/" class="rvt-button rvt-button--cta">More on this topic</a>
	</div>
</div>
