---
tags: section-intro
title: Section intro - Teaser
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 2
classes: rvt-container rvt-p-tb-xxl
---
<div class="rvt-section-intro rvt-section-intro--teaser">
  <div class="rvt-section-intro__body">
    <span class="rvt-section-intro__eyebrow">{Section or category}</span>
    <h2 class="rvt-section-intro__title">Freshman class 2024</h2>
    <div class="rvt-section-intro__teaser">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam enim eligendi corrupti dolores non fugiat sint tempore aliquid repellendus eveniet, unde, voluptatem quos ex, numquam illum officia animi tempora praesentium. Commodi facere praesentium eveniet qui magnam nihil aliquid, suscipit tempore maiores ad quo sunt.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nisi omnis modi earum minus dolore quia quaerat consectetur voluptatum reprehenderit libero, alias cum temporibus maiores velit vero dolores iure dolor!</p>
    </div>
  </div>
</div>