---
tags: section-intro
title: Section intro - Teaser
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 2
---
<div class="rvt-section-intro rvt-section-intro--teaser">
  <div class="rvt-section-intro__body">
    <span class="rvt-section-intro__eyebrow">{Section or category}</span>
    <h2 class="rvt-section-intro__title">{Section title should not exceed 16 characters}</h2>
  </div>
  <div class="rvt-section-intro__actions">
    <a class="rvt-button rvt-button--outline" href="/#0">More about this CTA</a>
  </div>
</div>