<table {% if class %} class="{{ class }}"{% endif %}>
  <caption class="rvt-sr-only">{{ tableTitle }}</caption>
  <thead>
    <tr>
      {% for header in headers %}
        <th scope="col">{{ header.text }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        {% for col in row.cols %}
          {% if loop.index === 1 %}
            <th scope="row">{{ col.text }}</th>
          {% else %}
            <td>{{ col.text | safe }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr class="rvt-m-tb-xxl">