<div class="rvt-inline-alert {{~#if type}} rvt-inline-alert--{{ type }}{{~/if}}">
    <span class="rvt-inline-alert__icon">
        {{>(lookup . 'SVG') }}
    </span>
    <span class="rvt-inline-alert__message" id="first-name-message">{{ message }}</span>
</div>