<div class="rvt-avatar{% if modifier %} rvt-avatar{{ modifier }}{% endif %}{% if utility_class %} {{ utility_class }}{% endif %}">
  {% if image %}
    <img class="rvt-avatar__image" src="{{ image }}" alt="{% if alt %}{{ alt }}{% endif %}">
  {% elif text %}
    <span class="rvt-avatar__text">{{ text }}</span>
  {% endif %}
</div>