<p class="m-top-remove">This is a <a href="#0">text link</a> on a light background.</p>

<p class="bg-midnight" style="padding: 1rem;">This is a <a href="#0">text link</a> on a dark background.</p>

<p>This is a <a class="rvt-link--bold" href="#0">link with bold text and no underline</a> until a user hovers over it.</p>