---
tags: switch
title: Default switch
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<button class="rvt-switch" data-rvt-switch="example-switch" role="switch" aria-checked="false">
  <span class="rvt-switch__on" data-rvt-switch-on>On</span>
  <span class="rvt-switch__off" data-rvt-switch-off>Off</span>
</button>
