---
tags: switch
title: Medium switch (draft)
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<button class="rvt-switch rvt-switch--medium" data-rvt-switch="example-switch" role="switch">
  <span class="rvt-switch__on">On</span>
  <span class="rvt-switch__off">Off</span>
</button>
