
<span class="ts-26 m-bottom-sm display-block" id="default-badges-description">Default badges</span>
<div aria-labelledby="default-badges-description">
    <span class="rvt-badge">Base</span>
    <span class="rvt-badge rvt-badge--action">Action</span>
    <span class="rvt-badge rvt-badge--success">Success</span>
    <span class="rvt-badge rvt-badge--warning">Warning</span>
    <span class="rvt-badge rvt-badge--error">Error</span>
</div>

<span class="ts-26 m-top-md m-bottom-sm display-block" id="secondary-badges-description">Secondary badges</span>
<div aria-labelledby="secondary-badges-description">
    <span class="rvt-badge rvt-badge--secondary">Base</span>
    <span class="rvt-badge rvt-badge--action-secondary">Action</span>
    <span class="rvt-badge rvt-badge--success-secondary">Success</span>
    <span class="rvt-badge rvt-badge--warning-secondary">Warning</span>
    <span class="rvt-badge rvt-badge--error-secondary">Error</span>
</div>

<span class="ts-26 m-top-md m-bottom-sm display-block" id="badges-link-description">Badge links</span>
<div aria-labelledby="badges-link-description">
    <a href="#0" class="rvt-badge">Base</a>
    <a href="#0" class="rvt-badge rvt-badge--action">Action</a>
    <a href="#0" class="rvt-badge rvt-badge--success">Success</a>
    <a href="#0" class="rvt-badge rvt-badge--warning">Warning</a>
    <a href="#0" class="rvt-badge rvt-badge--error">Error</a>
</div>

<span class="ts-26 m-top-md m-bottom-sm display-block" id="badges-link-description">Secondary badge links</span>
<div aria-labelledby="badges-link-description">
    <a href="#0" class="rvt-badge">Base</a>
    <a href="#0" class="rvt-badge rvt-badge--action-secondary">Action</a>
    <a href="#0" class="rvt-badge rvt-badge--success-secondary">Success</a>
    <a href="#0" class="rvt-badge rvt-badge--warning-secondary">Warning</a>
    <a href="#0" class="rvt-badge rvt-badge--error-secondary">Error</a>
</div>

<span class="ts-26 m-top-xxl m-bottom-sm display-block" id="badges-sizing-description">Badge sizing</span>
<div aria-labelledby="badges-sizing-description">
    <div class="m-top-lg ts-41">You did it! <span class="rvt-badge rvt-badge--success">Success</span></div>
    <div class="m-top-lg ts-32">Uh oh <span class="rvt-badge rvt-badge--warning">Warning</span></div>
    <div class="m-top-lg ts-26">Nooooo! <span class="rvt-badge rvt-badge--error">Error</span></div>
</div>

<span class="ts-26 m-top-xxl m-bottom-sm display-block" id="badges-a11y-description">Badge text example</span>
<div aria-labelledby="badges-a11y-description">
    <p class="text-bold">
        Inbox <span class="rvt-badge m-left-xs">17 <span class="sr-only">Unread messages</span></span>
    </p>
</div>
