---
tags: gap
title: Row
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-none">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-xxs rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-xs rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-sm rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-md rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-lg rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-xxl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-3-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-row-4-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
