---
tags: gap
title: Column
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-xxs">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-xs rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-sm rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-md rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-lg rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-xxl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-3-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-col-4-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
