---
tags: gap
title: Column and row
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 1
---
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-xxs">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-xs rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-sm rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-md rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-lg rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-xxl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-3-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
<div class="rvt-border-all rvt-bg-black-000 rvt-p-all-sm rvt-flex rvt-wrap rvt-gap-4-xl rvt-m-top-sm">
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item one</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item two</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item three</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item four</div>
  <div class="rvt-border-all rvt-p-all-xs rvt-bg-white">Item five</div>
</div>
