---
tags: loading-indicator
title: Centered loading indicator
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-flex rvt-justify-center rvt-p-tb-xxl rvt-border-all rvt-border-radius">
  <div class="rvt-loader rvt-loader--lg" aria-label="Content loading"></div>
</div>