---
tags: tag
title: Tags and Badges
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 0
---

<div class="rvt-flex rvt-gap-xs">
  <a href="#" class="rvt-tag">Tag link</a>
  <button class="rvt-tag">Tag button</button>
  <button class="rvt-tag" aria-pressed="true">Tag pressed</button>
  <button class="rvt-tag" aria-pressed="false">
    <rvt-icon name="thumbs-up"></rvt-icon>
    Like
  </button>
  <button class="rvt-tag" aria-pressed="true">
    <rvt-icon name="thumbs-up"></rvt-icon>
    Like
  </button>
  <button class="rvt-tag" aria-pressed="false">
    <rvt-icon name="heart"></rvt-icon>
    <span class="rvt-sr-only">Favorite</span>
  </button>
  <button class="rvt-tag" aria-pressed="true">
    <rvt-icon name="heart"></rvt-icon>
    <span class="rvt-sr-only">Favorite</span>
  </button>
</div>

<div class="rvt-flex rvt-gap-xs u-tag-square rvt-m-top-md">
  <a href="#" class="rvt-tag">Tag link</a>
  <button class="rvt-tag">Tag button</button>
  <button class="rvt-tag" aria-pressed="true">Tag pressed</button>
  <button class="rvt-tag" aria-pressed="false">
    <rvt-icon name="thumbs-up"></rvt-icon>
    Like
  </button>
  <button class="rvt-tag" aria-pressed="true">
    <rvt-icon name="thumbs-up"></rvt-icon>
    Like
  </button>
  <button class="rvt-tag" aria-pressed="false">
    <rvt-icon name="heart"></rvt-icon>
    <span class="rvt-sr-only">Favorite</span>
  </button>
  <button class="rvt-tag" aria-pressed="true">
    <rvt-icon name="heart"></rvt-icon>
    <span class="rvt-sr-only">Favorite</span>
  </button>
</div>

<div class="rvt-flex rvt-gap-xs rvt-m-top-md">
  <span class="rvt-badge">Default</span>
  <span class="rvt-badge rvt-badge--neutral">Neutral</span>
  <span class="rvt-badge rvt-badge--info">Info</span>
  <span class="rvt-badge rvt-badge--success">Success</span>
  <span class="rvt-badge rvt-badge--warning">Warning</span>
  <span class="rvt-badge rvt-badge--danger">Danger</span>
</div>

<div class="rvt-flex rvt-gap-xs rvt-m-top-md">
  <span class="rvt-badge">
    Default
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close"></rvt-icon>
      <span class="rvt-sr-only">Remove Default</span>
    </button>
  </span>
  <span class="rvt-badge rvt-badge--neutral">
    Neutral
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close"></rvt-icon>
      <span class="rvt-sr-only">Remove Neutral</span>
    </button>
  </span>
  <span class="rvt-badge rvt-badge--info">
    Info
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close" class="small"></rvt-icon>
      <span class="rvt-sr-only">Remove Info</span>
    </button>
  </span>
  <span class="rvt-badge rvt-badge--success">
    Success
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close" class="small"></rvt-icon>
      <span class="rvt-sr-only">Remove Success</span>
    </button>
  </span>
  <span class="rvt-badge rvt-badge--warning">
    Warning
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close-circle"></rvt-icon>
      <span class="rvt-sr-only">Remove Warning</span>
    </button>
  </span>
  <span class="rvt-badge rvt-badge--danger">
    Danger
    <button class="rvt-badge__dismiss">
      <rvt-icon name="close-circle"></rvt-icon>
      <span class="rvt-sr-only">Remove Danger</span>
    </button>
  </span>
</div>

<script>
document.addEventListener('click', (event) => {
  const pressed = 'aria-pressed';
  const target = event.target.closest(`[${pressed}]`);
  if (target) {
    const value = target.getAttribute(pressed) === 'true' ? false : true;
    target.setAttribute(pressed, value);
  }
});
</script>

<style>
.rvt-badge {
  align-items: center;
  display: inline-flex;
  gap: 0.25rem;
}

.rvt-badge:has(.rvt-badge__dismiss) {
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}

.rvt-badge__dismiss {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: calc(3rem/16);
}

.rvt-badge__dismiss:focus {
  box-shadow: 0 0 0 calc(2rem/16) var(--rvt-color-base-ultralight);
}

rvt-icon.small {
  transform: scale(0.75);
}

.u-tag-square .rvt-tag {
  border-radius: 0;
}
</style>
