<div class="rvt-news">
  {% if image %}
    <div class="rvt-news__image">
        <img src="{{ image }}" />
    </div>
  {% endif %}
  <div class="rvt-news__body">
    <h2 class="rvt-news__title"><a href="{{ titlelink }}">{{ title }}</a></h2>
    {% if date %}
      <p class="rvt-news__date">{{ date }}</p>
    {% endif %}
    {% if byline %}
      <p class="rvt-news__byline">{{ byline }}</p>
    {% endif %}
    {% if teaser %}
      <p class="rvt-news__teaser">{{ teaser }}</p>
    {% endif %}
    {% if tags %}
      <p class="rvt-news__tag">
        {% for tag in tags -%}
          {% if not loop.first %}<span class="rvt-news__divider">, </span>{% endif %}<a href="{{ tag.link }}">{{ tag.name }}</a>
        {%- endfor %}
      </p>
    {% endif %}
  </div>
</div>