---
tags: call-to-action
title: Call to action button
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<a href="#" class="rvt-cta rvt-cta--button">Learn more about IU</a>