---
tags: call-to-action
title: Default call to action
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<a href="#" class="rvt-cta">Learn more about IU</a>