---
tags: call-to-action
title: Call to action
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
order: 1
---

<div class="rvt-flex rvt-flex-column rvt-gap-sm rvt-items-start">
  <a href="#" class="rvt-cta">Learn more about IU</a>
  <a href="#" class="rvt-cta rvt-cta--button">Learn more about IU</a>
</div>
