---
tags: call-to-action
title: Default call to action
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 1
---
<div>
  <a href="#" class="rvt-link">Link text</a>
  <a href="#" class="rvt-link-bold">Link text</a>
  <a href="#" class="rvt-link-plain">Link text</a>
  <a href="#" class="rvt-link-cta">Link text</a>
</div>
<a href="#" class="rvt-cta">Learn more about IU</a>