---
title: News card - Image
---

<ul class="rvt-list-plain rvt-flow">
  <li class="rvt-card rvt-card--news">
    <div class="rvt-card__body">
      <div class="rvt-card__image">
        <img src="https://rivet.iu.edu/img/placeholder/list-card-3.webp" alt="Smiling students sitting outside on a bench">
      </div>
      <div class="rvt-card__badge">
        <strong class="rvt-badge">Featured</strong>
      </div>
      <div class="rvt-card__eyebrow">My category</div>
      <h2 class="rvt-card__title">
        <a href="#">Find your ideal campus life at IU</a>
      </h2>
      <div class="rvt-card__meta">
        <time>November 5, 1955</time>
      </div>
      <div class="rvt-card__tags">
        <ul class="rvt-list-inline rvt-gap-xs">
          <li>
            <a href="#" class="rvt-button rvt-button--tag">Tag one</a>
          </li>
          <li>
            <a href="#" class="rvt-button rvt-button--tag">Tag two</a>
          </li>
          <li>
            <a href="#" class="rvt-button rvt-button--tag">Tag three</a>
          </li>
          <li>
            <a href="#" class="rvt-button rvt-button--tag">Tag four</a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
