---
title: Default Card
---

{% import 'macros/card.njk' as macros %}

<div>
	{{ macros.Card(raised = true, image = true, badge = true, eyebrow = true,
	content = true, meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.Card(raised = true, sticker = true, badge = true, eyebrow = true,
	content = true, meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.Card(raised = true, badge = true, eyebrow = true, content = true,
	meta = true) }}
</div>

<div class="rvt-card-grid rvt-m-top-xl">
	{{ macros.Card() }} {{ macros.Card(badge = true) }} {{ macros.Card(badge =
	true, eyebrow = true) }} {{ macros.Card(badge = true, eyebrow = true, content
	= true) }} {{ macros.Card(badge = true, eyebrow = true, content = true, meta =
	true) }} {{ macros.Card(sticker = true, badge = true, eyebrow = true, content
	= true, meta = true) }} {{ macros.Card(image = true, badge = true, eyebrow =
	true, content = true, meta = true) }}
</div>
