---
title: Default Card
---

{% import 'macros/card.njk' as macros %} {{ macros.Card(raised = true, image =
true, badge = true, eyebrow = true, content = true, meta = true) }} {{
macros.Card(raised = true, sticker = true, badge = true, eyebrow = true, content
= true, meta = true) }} {{ macros.Card(raised = true, badge = true, eyebrow =
true, content = true, meta = true) }}

<ol class="rvt-card-list">
	<li>{{ macros.Card() }}</li>
	<li>{{ macros.Card(badge = true) }}</li>
	<li>{{ macros.Card(badge = true, eyebrow = true) }}</li>
	<li>{{ macros.Card(badge = true, eyebrow = true, content = true) }}</li>
	<li>
		{{ macros.Card(badge = true, eyebrow = true, content = true, meta = true) }}
	</li>
	<li>
		{{ macros.Card(sticker = true, badge = true, eyebrow = true, content = true,
		meta = true) }}
	</li>
	<li>
		{{ macros.Card(image = true, badge = true, eyebrow = true, content = true,
		meta = true) }}
	</li>
</ol>
