---
title: Default Card
---

{% import 'macros/card.njk' as macros %}

<div>
	{{ macros.Card(raised = true, image = true, badge = true, eyebrow = true,
	content = true, meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.Card(raised = true, sticker = true, badge = true, eyebrow = true,
	content = true, meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.Card(raised = true, badge = true, eyebrow = true, content = true,
	meta = true) }}
</div>

<ul class="rvt-card-grid rvt-m-top-xl">
	<li>{{ macros.Card() }}</li>
	<li>{{ macros.Card(badge = true) }}</li>
	<li>{{ macros.Card(badge = true, eyebrow = true) }}</li>
	<li>{{ macros.Card(badge = true, eyebrow = true, content = true) }}</li>
	<li>
		{{ macros.Card(badge = true, eyebrow = true, content = true, meta = true) }}
	</li>
	<li>
		{{ macros.Card(sticker = true, badge = true, eyebrow = true, content = true,
		meta = true) }}
	</li>
	<li>
		{{ macros.Card(image = true, badge = true, eyebrow = true, content = true,
		meta = true) }}
	</li>
</ul>
