---
title: Event Card - Plain
---

{% import 'macros/card.njk' as macros %}
{{ macros.EventCard() }}

<ol class="rvt-card-list rvt-m-top-xl">
{% for i in range(0, 7) %}
	<li>
		{{ macros.EventCard() }}
	</li>
{% endfor %}
</ol>
