---
title: Event Card
---

{% import 'macros/card.njk' as macros %} {{ macros.EventCard(raised = true,
image = true, badge = true, eyebrow = true, details = true, meta = true) }} {{
macros.EventCard(raised = true, date = true, badge = true, eyebrow = true,
details = true, meta = true) }} {{ macros.EventCard(raised = true, badge = true,
eyebrow = true, details = true, meta = true) }}

<ol class="rvt-card-list">
	<li>{{ macros.EventCard() }}</li>
	<li>{{ macros.EventCard(badge = true) }}</li>
	<li>{{ macros.EventCard(badge = true, eyebrow = true) }}</li>
	<li>{{ macros.EventCard(badge = true, eyebrow = true, details = true) }}</li>
	<li>
		{{ macros.EventCard(badge = true, eyebrow = true, details = true, meta =
		true) }}
	</li>
	<li>
		{{ macros.EventCard(date = true, badge = true, eyebrow = true, details =
		true, meta = true) }}
	</li>
	<li>
		{{ macros.EventCard(image = true, badge = true, eyebrow = true, details =
		true, meta = true) }}
	</li>
</ol>
