---
title: Feature Card
---

{% import 'macros/card.njk' as macros %}

<div>
	{{ macros.FeatureCard(image = true, badge = true, eyebrow = true, content =
	true) }}
</div>

<div class="rvt-m-top-sm">
	{{ macros.FeatureCard(sticker = true, badge = true, eyebrow = true, content =
	true) }}
</div>

<div class="rvt-m-top-sm">
	{{ macros.FeatureCard(badge = true, eyebrow = true, content = true) }}
</div>

<hr class="rvt-m-tb-xl" />

<ul class="rvt-card-grid">
	<li>{{ macros.FeatureCard() }}</li>
	<li>{{ macros.FeatureCard(badge = true) }}</li>
	<li>{{ macros.FeatureCard(badge = true, eyebrow = true) }}</li>
	<li>
		{{ macros.FeatureCard(badge = true, eyebrow = true, content = true) }}
	</li>
	<li>
		{{ macros.FeatureCard(sticker = true, badge = true, eyebrow = true, content
		= true) }}
	</li>
	<li>
		{{ macros.FeatureCard(image = true, badge = true, eyebrow = true, content =
		true) }}
	</li>
</ul>
