---
title: Feature Card - Sticker
---

{% import 'macros/card.njk' as macros %}

{{ macros.FeatureCard(type = 'sticker') }}

<ol class="rvt-card-list rvt-m-top-sm">
{% for i in range(0, 7) %}
	<li>
		{{ macros.FeatureCard(type = 'sticker') }}
	</li>
{% endfor %}
</ol>
