---
title: News Card - Plain
---

{% import 'macros/card.njk' as macros %}

{{ macros.NewsCard() }}

<ol class="rvt-card-list rvt-m-top-xl">
{% for i in range(0, 7) %}
	<li>
		{{ macros.NewsCard() }}
	</li>
{% endfor %}
</ol>
