---
title: News Card
---

{% import 'macros/card.njk' as macros %}

<div>
	{{ macros.NewsCard(raised = true, image = true, badge = true, eyebrow = true,
	meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.NewsCard(raised = true, sticker = true, badge = true, eyebrow =
	true, meta = true) }}
</div>

<div class="rvt-m-top-xl">
	{{ macros.NewsCard(raised = true, badge = true, eyebrow = true, meta = true)
	}}
</div>

<ul class="rvt-card-grid rvt-m-top-xl">
	<li>{{ macros.NewsCard() }}</li>
	<li>{{ macros.NewsCard(badge = true) }}</li>
	<li>{{ macros.NewsCard(badge = true, eyebrow = true) }}</li>
	<li>{{ macros.NewsCard(badge = true, eyebrow = true, meta = true) }}</li>
	<li>
		{{ macros.NewsCard(sticker = true, badge = true, eyebrow = true, meta =
		true) }}
	</li>
	<li>
		{{ macros.NewsCard(image = true, badge = true, eyebrow = true, meta = true)
		}}
	</li>
</ul>
