---
title: News Card - Image
---

{% import 'macros/card.njk' as macros %}

{{ macros.NewsCard(type = 'image') }}

<ol class="rvt-card-list rvt-m-top-xl">
{% for i in range(0, 7) %}
	<li>
		{{ macros.NewsCard(type = 'image') }}
	</li>
{% endfor %}
</ol>
