---
title: News Card
---

{% import 'macros/card.njk' as macros %} {{ macros.NewsCard(raised = true, image
= true, badge = true, eyebrow = true, meta = true) }} {{ macros.NewsCard(raised
= true, sticker = true, badge = true, eyebrow = true, meta = true) }} {{
macros.NewsCard(raised = true, badge = true, eyebrow = true, meta = true) }}

<ul class="rvt-card-list">
	<li>{{ macros.NewsCard() }}</li>
	<li>{{ macros.NewsCard(badge = true) }}</li>
	<li>{{ macros.NewsCard(badge = true, eyebrow = true) }}</li>
	<li>{{ macros.NewsCard(badge = true, eyebrow = true, meta = true) }}</li>
	<li>
		{{ macros.NewsCard(sticker = true, badge = true, eyebrow = true, meta =
		true) }}
	</li>
	<li>
		{{ macros.NewsCard(image = true, badge = true, eyebrow = true, meta = true)
		}}
	</li>
</ul>
