---
title: Profile Card - Plain
---

{% import 'macros/card.njk' as macros %}
{{ macros.ProfileCard(type = 'plain') }}

<ol class="rvt-card-list rvt-m-top-xl">
{% for i in range(0, 7) %}
	<li>
		{{ macros.ProfileCard(type = 'plain') }}
	</li>
{% endfor %}
</ol>
