---
title: Profile Card
---

{% import 'macros/card.njk' as macros %}

<div>
	{{ macros.ProfileCard(avatar = true, eyebrow = true, subtitle = true, details
	= true, meta = true, raised = true) }}
</div>

<ul class="rvt-card-grid rvt-m-top-xl">
	<li>{{ macros.ProfileCard() }}</li>
	<li>{{ macros.ProfileCard(eyebrow = true) }}</li>
	<li>{{ macros.ProfileCard(eyebrow = true, subtitle = true) }}</li>
	<li>
		{{ macros.ProfileCard(eyebrow = true, subtitle = true, details = true) }}
	</li>
	<li>
		{{ macros.ProfileCard(avatar = true, eyebrow = true, subtitle = true,
		details = true, meta = true) }}
	</li>
</ul>
