---
tags: radio-input
title: Inline radio inputs
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<fieldset class="rvt-fieldset">
  <legend class="rvt-text-bold">Radio input (inline list)</legend>
  <ul class="rvt-list-inline">
    <li>
      <div class="rvt-radio">
        <input type="radio" name="radio-group-1" id="radio-1-1">
        <label for="radio-1-1">Option one</label>
      </div>
    </li>
    <li>
      <div class="rvt-radio">
        <input type="radio" name="radio-group-1" id="radio-1-2">
        <label for="radio-1-2">Option two</label>
      </div>
    </li>
  </ul>
</fieldset>