<h1 class="rvt-ts-32 m-bottom-lg">Width utilities</h1>
<p class="rvt-m-bottom-xxl">The Rivet width utility classes can be used to constrain the width of elements, particularly form inputs.</p>

<div class="rvt-width-xxs">
  <label for="input-1">xxs</label>
  <input type="text" id="input-1">
</div>

<div class="rvt-width-xs rvt-m-top-lg">
  <label for="input-2">xs</label>
  <input type="text" id="input-2">
</div>

<div class="rvt-width-sm rvt-m-top-lg">
  <label for="input-3">sm</label>
  <input type="text" id="input-3">
</div>

<div class="rvt-width-md rvt-m-top-lg">
  <label for="input-4">md</label>
  <input type="text" id="input-4">
</div>

<div class="rvt-width-lg rvt-m-top-lg">
  <label for="input-5">lg</label>
  <input type="text" id="input-5">
</div>

<div class="rvt-width-xl rvt-m-top-lg">
  <label for="input-6">xl</label>
  <input type="text" id="input-6">
</div>

<div class="rvt-width-xxl rvt-m-top-lg">
  <label for="input-7">xxl</label>
  <input type="text" id="input-7">
</div>

<h2 class="rvt-ts-26">Responsive variants</h2>
<p class="rvt-m-bottom-xxl">The Rivet width utility classes have the same responsive modifier classes as the visibility, spacing, and flex utilities.</p>

<ul>
  <li><code>*-sm-up</code></li>
  <li><code>*-md-up</code></li>
  <li><code>*-lg-up</code></li>
  <li><code>*-xl-up</code></li>
  <li><code>*-xxl-up</code></li>
</ul>

<div class="rvt-width-xxs-md-up">
  <label for="input-8">xxs-md-up</label>
  <input type="text" id="input-8">
</div>

<div class="rvt-width-xs-md-up rvt-m-top-lg">
  <label for="input-9">xs-md-up</label>
  <input type="text" id="input-9">
</div>

<div class="rvt-width-sm-md-up rvt-m-top-lg">
  <label for="input-10">sm-md-up</label>
  <input type="text" id="input-10">
</div>

<div class="rvt-width-md-lg-up rvt-m-top-lg">
  <label for="input-11">md-lg-up</label>
  <input type="text" id="input-11">
</div>

<div class="rvt-width-lg-md-up rvt-m-top-lg">
  <label for="input-12">lg-md-up</label>
  <input type="text" id="input-12">
</div>

<div class="rvt-width-xl-lg-up rvt-m-top-lg">
  <label for="input-13">xl-lg-up</label>
  <input type="text" id="input-13">
</div>

<div class="rvt-width-xxl-xl-up rvt-m-top-lg">
  <label for="input-14">xxl-xl-up</label>
  <input type="text" id="input-14">
</div>

<h2 class="rvt-ts-26">Combining width and flex utilities</h2>
<p class="rvt-m-bottom-xxl">The Rivet width utility classes can be combined with flex utilities to sit elements next to one another.</p>

<div class="rvt-display-flex">
  <div class="rvt-width-xl rvt-m-right-md">
    <label for="input-15">Flex inputs</label>
    <input type="text" id="input-15">
  </div>
  
  <div class="rvt-width-sm">
    <label for="input-16">Flex inputs</label>
    <input type="text" id="input-16">
  </div>
</div>