<h1 class="ts-32 m-bottom-lg">Border utilities</h1>

<ul class="rvt-plain-list">
    <li class="rvt-m-top-md">
        <div class="rvt-border-top rvt-p-all-md">
            <span>Border top</span>
        </div>
    </li>
    <li class="rvt-m-top-md">
        <div class="rvt-border-right rvt-p-all-md">
            <span>Border right</span>
        </div>
    </li>
    <li class="rvt-m-top-md">
        <div class="rvt-border-bottom rvt-p-all-md">
            <span>Border bottom</span>
        </div>
    </li>
    <li class="rvt-m-top-md">
        <div class="rvt-border-left rvt-p-all-md">
            <span>Border left</span>
        </div>
    </li>
    <li class="rvt-m-top-md">
        <div class="rvt-border-all rvt-p-all-md">
            <span>Border all</span>
        </div>
    </li>
    <li class="rvt-m-top-md">
        <div class="rvt-border-all rvt-border-radius rvt-p-all-md">
            <span>Border radius</span>
        </div>
    </li>
</ul>

<div class="rvt-box rvt-m-top-md rvt-p-all-md rvt-border-all-none">
    Box with no border
</div>

<div class="rvt-box rvt-m-top-md rvt-p-all-md rvt-border-top-none">
    Box with no top border
</div>

<div class="rvt-box rvt-m-top-md rvt-p-all-md rvt-border-right-none">
    Box with no right border
</div>

<div class="rvt-box rvt-m-top-md rvt-p-all-md rvt-border-bottom-none">
    Box with no bottom border
</div>

<div class="rvt-box rvt-m-top-md rvt-p-all-md rvt-border-left-none">
    Box with no left border
</div>