<h2 class="rvt-m-tb-md">Base flex class</h2>
<div class="rvt-flex">
  {% for demo in demos %}
    <div class="flex-demo rvt-grow-1 rvt-items-center">
      <div class="flex-demo-inner">Item {{ item }}</div>
    </div>
  {% endfor %}
</div>

<div class="rvt-flex-sm-up rvt-items-center rvt-m-top-xl flex-demo--tall">
  <div class="flex-demo">
    <div class="flex-demo-inner">Item One</div>
  </div>
  <div class="flex-demo rvt-grow-1-md-up">
    <div class="flex-demo-inner">Item Two</div>
  </div>
  <div class="flex-demo">
    <div class="flex-demo-inner">Item Three</div>
  </div>
</div>

<h2 class="rvt-m-tb-xxl">Navbar example</h2>

<div class="rvt-flex rvt-p-tb-sm rvt-p-lr-md rvt-border-top rvt-border-bottom">
  <div class="rvt-flex rvt-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <title>List</title>
      <g fill="currentColor">
        <path d="M13,4H6A1,1,0,0,1,6,2h7a1,1,0,0,1,0,2Z" />
        <path d="M13,9H6A1,1,0,0,1,6,7h7a1,1,0,0,1,0,2Z" />
        <path d="M13,14H6a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z" />
        <circle cx="3" cy="3" r="1" />
        <circle cx="3" cy="8" r="1" />
        <circle cx="3" cy="13" r="1" />
      </g>
    </svg>
    <span class="rvt-m-left-xs">List view</span>
  </div>

  <div class="rvt-flex rvt-items-center rvt-m-left-md">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <title>Grid</title>
      <g fill="currentColor">
        <path d="M6,7H2A1,1,0,0,1,1,6V2A1,1,0,0,1,2,1H6A1,1,0,0,1,7,2V6A1,1,0,0,1,6,7ZM3,5H5V3H3Z" />
        <path d="M14,7H10A1,1,0,0,1,9,6V2a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V6A1,1,0,0,1,14,7ZM11,5h2V3H11Z" />
        <path d="M6,15H2a1,1,0,0,1-1-1V10A1,1,0,0,1,2,9H6a1,1,0,0,1,1,1v4A1,1,0,0,1,6,15ZM3,13H5V11H3Z" />
        <path d="M14,15H10a1,1,0,0,1-1-1V10a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4A1,1,0,0,1,14,15Zm-3-2h2V11H11Z" />
      </g>
    </svg>
    <span class="rvt-m-left-xs">Grid view</span>
  </div>
  
  <div class="rvt-flex rvt-items-center rvt-grow-1 rvt-justify-end rvt-m-left-md">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <title>Gear Icon</title>
      <path fill="currentColor"
        d="M13.94,8.78A6,6,0,0,0,14,8a6,6,0,0,0-.07-.9L15.73,6a7.94,7.94,0,0,0-.92-2.15l-2.06.52a6,6,0,0,0-1.2-1.18L12,1.1A7.94,7.94,0,0,0,9.87.23L8.78,2.06A6,6,0,0,0,8,2a6,6,0,0,0-.9.07L6,.27a7.94,7.94,0,0,0-2.15.92l.52,2.06a6,6,0,0,0-1.18,1.2L1.1,4A7.94,7.94,0,0,0,.23,6.13L2.06,7.22A6,6,0,0,0,2,8a6,6,0,0,0,.07.9L.27,10a7.94,7.94,0,0,0,.92,2.15l2.06-.52a6,6,0,0,0,1.2,1.18L4,14.9a7.94,7.94,0,0,0,2.17.87l1.09-1.83A6,6,0,0,0,8,14a6,6,0,0,0,.9-.07L10,15.73a7.94,7.94,0,0,0,2.15-.92l-.52-2.06a6,6,0,0,0,1.18-1.2L14.9,12a7.94,7.94,0,0,0,.87-2.17ZM8,11a3,3,0,1,1,3-3A3,3,0,0,1,8,11Z" />
    </svg>
    <span class="rvt-m-left-xs">Settings</span>
  </div>
</div>

<style>
  .flex-demo {
    background-color: #dce3ee;
    color: #ffffff;
    padding: .5rem;
  }
  
  .flex-demo--tall {
    height: 8rem;
    background-color: #edf1f6;
  }
  
  .flex-demo-inner {
    background-color: #006298;
    padding: .25rem 1rem;
  }
</style>