<h1 class="rvt-ts-32 rvt-m-bottom-lg">Display utilities</h1>
<p>The Rivet display utility classes make it easy to control how elements display on screen and how they are presented to assistive technologies like screen readers.</p>

<h2 class="rvt-ts-26">Screen reader only</h2>
<p class="rvt-m-bottom-xxl">Use the <code>.rvt-sr-only</code> utility class to visually hide content, but still leave it accessible to screen readers.</p>


<ul class="rvt-plain-list">
    <li class="rvt-m-bottom-xl">
        <h2 class="rvt-ts-20 rvt-m-bottom-xs">Display inline</h2>
        <div class="rvt-display-inline bg-midnight rvt-p-all-sm">
            Display inline
        </div>
    </li>
    <li class="rvt-m-bottom-xl">
        <h2 class="rvt-ts-20">Display inline-block</h2>
        <div class="rvt-display-inline-block bg-midnight rvt-p-all-sm">
            Display inline-block
        </div>
    </li>
    <li class="rvt-m-bottom-xl">
        <h2 class="rvt-ts-20">Display Block</h2>
        <div class="rvt-display-block bg-midnight rvt-p-all-sm">
            Display block
        </div>
    </li>
    <li class="rvt-m-bottom-xl">
        <h2 class="rvt-ts-20">Display none</h2>
        <p>Inspect the source for this one :)</p>
        <div class="rvt-display-none">I'm hidden</div>
    </li>
</ul>
