<h1 class="rvt-ts-32 m-bottom-lg">Text utilities</h1>
<p class="rvt-text-regular">Regular text utilitiy</p>
<p class="rvt-text-bold">Bold Text utilitiy</p>
<p class="rvt-text-uppercase">Uppercase text utilitiy</p>
<p class="rvt-text-left">Left-aligned text utilitiy</p>
<p class="rvt-text-center">Center-aligned text utilitiy</p>
<p class="rvt-text-right">Right-aligned text utilitiy</p>
