<dl class="rvt-list-description" aria-label="Plants">
  <dt>Fruits</dt>
  <dd>Apple</dd>
  <dd>Banana</dd>
  <dd>Blueberry</dd>
  <dt>Vegetables</dt>
  <dd>Carrot</dd>
  <dd>Lettuce</dd>
  <dd>Potato</dd>
  <dt>Herbs</dt>
  <dt>Spices</dt>
  <dd>Basil</dd>
  <dd>Lavender</dd>
</dl>

<hr class="rvt-m-tb-sm">

<dl class="rvt-list-description" aria-label="Plants with dividers">
  <div>
    <dt>Fruits</dt>
    <dd>Apple</dd>
    <dd>Banana</dd>
    <dd>Blueberry</dd>
  </div>
  <div>
    <dt>Vegetables</dt>
    <dd>Carrot</dd>
    <dd>Lettuce</dd>
    <dd>Potato</dd>
  </div>
  <div>
    <dt>Herbs</dt>
    <dt>Spices</dt>
    <dd>Basil</dd>
    <dd>Lavender</dd>
  </div>
</dl>

<hr class="rvt-m-tb-sm">

<div class="rvt-prose">
  <dl aria-label="Plants with prose">
    <dt>Fruits</dt>
    <dd>Apple</dd>
    <dd>Banana</dd>
    <dd>Blueberry</dd>
    <dt>Vegetables</dt>
    <dd>Carrot</dd>
    <dd>Lettuce</dd>
    <dd>Potato</dd>
    <dt>Herbs</dt>
    <dt>Spices</dt>
    <dd>Basil</dd>
    <dd>Lavender</dd>
  </dl>
</div>
