<dl class="rvt-list-description-1" aria-label="Plants">
  <dt class="rvt-list-description-1__term">Fruits</dt>
  <dd class="rvt-list-description-1__details">Apple</dd>
  <dd class="rvt-list-description-1__details">Banana</dd>
  <dd class="rvt-list-description-1__details">Blueberry</dd>
  <dt class="rvt-list-description-1__term">Vegetables</dt>
  <dd class="rvt-list-description-1__details">Carrot</dd>
  <dd class="rvt-list-description-1__details">Lettuce</dd>
  <dd class="rvt-list-description-1__details">Potato</dd>
  <dt class="rvt-list-description-1__term">Herbs</dt>
  <dt class="rvt-list-description-1__term">Spices</dt>
  <dd class="rvt-list-description-1__details">Basil</dd>
  <dd class="rvt-list-description-1__details">Lavender</dd>
</dl>

<hr class="rvt-m-tb-sm">

<dl class="rvt-list-description-1" aria-label="Plants with dividers">
  <div>
    <dt class="rvt-list-description-1__term">Fruits</dt>
    <dd class="rvt-list-description-1__details">Apple</dd>
    <dd class="rvt-list-description-1__details">Banana</dd>
    <dd class="rvt-list-description-1__details">Blueberry</dd>
  </div>
  <div>
    <dt class="rvt-list-description-1__term">Vegetables</dt>
    <dd class="rvt-list-description-1__details">Carrot</dd>
    <dd class="rvt-list-description-1__details">Lettuce</dd>
    <dd class="rvt-list-description-1__details">Potato</dd>
  </div>
  <div>
    <dt class="rvt-list-description-1__term">Herbs</dt>
    <dt class="rvt-list-description-1__term">Spices</dt>
    <dd class="rvt-list-description-1__details">Basil</dd>
    <dd class="rvt-list-description-1__details">Lavender</dd>
  </div>
</dl>

<hr class="rvt-m-tb-xl">

<dl class="rvt-list-description-2" aria-label="Plants">
  <dt>Fruits</dt>
  <dd>Apple</dd>
  <dd>Banana</dd>
  <dd>Blueberry</dd>
  <dt>Vegetables</dt>
  <dd>Carrot</dd>
  <dd>Lettuce</dd>
  <dd>Potato</dd>
  <dt>Herbs</dt>
  <dt>Spices</dt>
  <dd>Basil</dd>
  <dd>Lavender</dd>
</dl>

<hr class="rvt-m-tb-sm">

<dl class="rvt-list-description-2" aria-label="Plants with dividers">
  <div>
    <dt class="dt-test">Fruits</dt>
    <dd class="dd-test">Apple</dd>
    <dd>Banana</dd>
    <dd>Blueberry</dd>
  </div>
  <div>
    <dt>Vegetables</dt>
    <dd>Carrot</dd>
    <dd>Lettuce</dd>
    <dd>Potato</dd>
  </div>
  <div>
    <dt class="dt-test">Herbs</dt>
    <dt class="dt-test">Spices</dt>
    <dd>Basil</dd>
    <dd>Lavender</dd>
  </div>
</dl>

<hr class="rvt-m-tb-xl">

<dl class="rvt-list-description-3" aria-label="Plants">
  <dt>Fruits</dt>
  <dd>Apple</dd>
  <dd>Banana</dd>
  <dd>Blueberry</dd>
  <dt>Vegetables</dt>
  <dd>Carrot</dd>
  <dd>Lettuce</dd>
  <dd>Potato</dd>
  <dt>Herbs</dt>
  <dt>Spices</dt>
  <dd>Basil</dd>
  <dd>Lavender</dd>
</dl>

<hr class="rvt-m-tb-sm">

<dl class="rvt-list-description-3" aria-label="Plants with dividers">
  <div>
    <dt class="dt-test">Fruits</dt>
    <dd class="dd-test">Apple</dd>
    <dd>Banana</dd>
    <dd>Blueberry</dd>
  </div>
  <div>
    <dt>Vegetables</dt>
    <dd>Carrot</dd>
    <dd>Lettuce</dd>
    <dd>Potato</dd>
  </div>
  <div>
    <dt class="dt-test">Herbs</dt>
    <dt class="dt-test">Spices</dt>
    <dd>Basil</dd>
    <dd>Lavender</dd>
  </div>
</dl>
