---
tags: link-hub
title: Stacked link hub
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<ul class="rvt-link-hub rvt-link-hub--stacked">
  <li class="rvt-link-hub__item">
    <a class="rvt-link-hub__link" href="#">
      <span class="rvt-link-hub__text">Admission standards</span>
      <span class="rvt-link-hub__description">See coursework requirements, test score expectations, and other standards for admission to each IU campus.</span>
    </a>
  </li>
  <li class="rvt-link-hub__item">
    <a class="rvt-link-hub__link" href="#">
      <span class="rvt-link-hub__text">Apply to Indiana University</span>
      <span class="rvt-link-hub__description">Get a step-by-step process for applying to IU and find campus-specific deadlines and resources.</span>
    </a>
  </li>
  <li class="rvt-link-hub__item">
    <a class="rvt-link-hub__link" href="#">
      <span class="rvt-link-hub__text">Transfer to IU</span>
      <span class="rvt-link-hub__description">Learn what additional steps you need to take as a transfer applicant.</span>
    </a>
  </li>
  <li class="rvt-link-hub__item">
    <a class="rvt-link-hub__link" href="#">
      <span class="rvt-link-hub__text">After you’re admitted</span>
      <span class="rvt-link-hub__description">Learn what comes next when you get your acceptance letter from any of IU’s campuses.</span>
    </a>
  </li>
  <li class="rvt-link-hub__item">
    <a class="rvt-link-hub__link" href="#">
      <span class="rvt-link-hub__text">Visit a campus</span>
      <span class="rvt-link-hub__description">Find out how to see IU campuses for yourself with a virtual or in-person visit.</span>
    </a>
  </li>
</ul>