---
tags: list-hub
title: List hub - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: true
order: 2
---
<div class="rvt-list-hub">
  <h2 class="rvt-list-hub__title">Quick links</h2>
  <ul class="rvt-list-hub__list">
    <li class="rvt-list-hub__item">
      <span class="rvt-list-hub__eyebrow">Tag or Category</span>
      <a class="rvt-list-hub__link" href="#">
        Admission standards
      </a>
      <div class="rvt-list-hub__content">
        <p>See coursework requirements, test score expectations, and <a href="#">other standards</a> for admission to each IU campus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aperiam, consequatur magni sint aliquam quas, accusantium veniam nihil perspiciatis molestiae consequuntur atque aspernatur est dolor consectetur? Dolor facilis nemo mollitia.</p>
        <p><strong>Sessions:</strong></p>
        <ul>
          <li>Session one</li>
          <li>Session two</li>
          <li>Session three</li>
          <li>Session four</li>
          <li>Session five</li>
        </ul>
        <span class="rvt-badge">Test badge</span>
      </div>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Class profile
      </a>
      {# <div class="rvt-list-hub__content">
        <p>See coursework requirements, test score expectations, and other standards for admission to each IU campus.</p>
      </div> #}
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Normal title length is five
      </a>
    </li>
    <li class="rvt-list-hub__item">
      <a class="rvt-list-hub__link" href="#">
        Long title — Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus sequi autem aspernatur iste debitis sapiente alias, aliquam provident iure ad. Porro blanditiis dignissimos ullam deserunt reiciendis tenetur veniam velit rerum?
      </a>
      <div class="rvt-list-hub__content">
        <p>See coursework requirements, test score expectations, and other standards for admission to each IU campus.</p>
      </div>
    </li>
  </ul>
</div>

{% include "partials/theme-switcher.njk" %}