@use '../core' as *;
@use 'sass:math';

.#{$prefix}-quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &::before {
    background-color: var(--rvt-color-theme-accent);
    clip-path: path("M35.7549 49.3837V23.7618L47.8682 0.939697H63.2059L56.3179 20.6197H64.1909V49.3837H35.7549ZM53.4989 22.6197L60.3869 2.9397H49.0709L37.7549 24.2597V47.3837H62.1909V22.6197H53.4989ZM0.00292969 49.3837V23.7682L11.944 0.939697H27.4761L20.4241 20.6197H28.2749V49.3837H0.00292969ZM17.5829 22.6197L24.6349 2.9397H13.1549L2.00293 24.2597V47.3837H26.2749V22.6197H17.5829Z");
    display: block;
    content: '';
    height: math.div(50, 16) * $spacing-sm;
    width: math.div(65, 16) * $spacing-sm;
  }

  &--image::before {
    background-image: none;
    content: none;
  }

  &__text {
    color: var(--rvt-color-theme-accent);
    font-family: $font-condensed;
    font-weight: 850;
    font-variation-settings: "wdth" 140;
    font-size: $ts-26;
    margin: 0;
    text-transform: uppercase;

    p {
      margin: 0;
    }
  }

  &__citation {
    margin: 0;
  }

  &__title,
  &__subtitle {
    color: var(--rvt-color-theme-accent);
    display: block;
  }

  &__title {
    font-weight: $font-weight-bold;
  }
}

@include mq($breakpoint-md) {
  .#{$prefix}-quote {
    &__text {
      font-size: $ts-52;
      line-height: $line-height-tight;
    }
  }
}
