<div class="rvt-accordion{% if classes %} {{ classes }}{% endif %}" data-accordion="{{ id }}">
  {%- for panel in panels -%}
    <h3 class="rvt-accordion__summary">
      <button class="rvt-accordion__toggle" id="{{ id }}-{{ loop.index }}-label" data-accordion-trigger="{{ id }}-{{ loop.index }}">
        <span class="rvt-accordion__toggle-text">{{ panel.summary }}</span>
        <div class="rvt-accordion__toggle-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <g fill="currentColor">
              <path class="rvt-accordion__icon-bar" d="M8,15a1,1,0,0,1-1-1V2A1,1,0,0,1,9,2V14A1,1,0,0,1,8,15Z"/>
              <path d="M14,9H2A1,1,0,0,1,2,7H14a1,1,0,0,1,0,2Z"/>
            </g>
          </svg>
        </div>
      </button>
    </h3>
    <div class="rvt-accordion__panel" id="{{ id }}-{{ loop.index }}" aria-labelledby="{{ id }}-{{ loop.index }}-label" data-accordion-panel="{{ id }}-{{ loop.index }}">
      <p class="rvt-m-all-remove">{{ panel.content | safe }}</p>
    </div>
  {%- endfor -%}
</div>

<script>
window.demoAccordion = new Rivet.Accordion(
  document.querySelector('[data-accordion="{{ id }}"]')
)
</script>