{{> @header--id-menu }}
<main id="main-content" class="rvt-p-tb-xxl">
  <div class="rvt-container rvt-container--junior rvt-container--center">
    <div class="rvt-grid rvt-justify-center">
      <div class="rvt-grid__item-7-md-up">
        <h1 class="rvt-ts-29 rvt-text-bold">Create a username</h1>
        <ol class="rvt-steps rvt-m-top-lg">
          <li class="rvt-steps__item">
            <a href="#" class="rvt-steps__item-content" aria-current="page">
              <span class="rvt-steps__label">Create username</span>
              <!--
                Use aria-hidden here to stop screen readers from announcing
                the visual indicator.
              -->
              <span class="rvt-steps__indicator" aria-hidden="true">1</span>
            </a>
          </li>
          <li class="rvt-steps__item">
            <span class="rvt-steps__item-content">
              <span class="rvt-steps__label">Personal information</span>
              <span class="rvt-steps__indicator" aria-hidden="true">2</span>
            </span>
          </li>
          <li class="rvt-steps__item">
            <span class="rvt-steps__item-content">
              <span class="rvt-steps__label">Submit response</span>
              <span class="rvt-steps__indicator" aria-hidden="true">3</span>
            </span>
          </li>
        </ol>
        <form action="" class="rvt-m-top-xl">
          <fieldset>
            <legend class="rvt-ts-20 rvt-text-bold">Step 1</legend>
            <div class="rvt-m-top-md rvt-width-lg-md-up">
              <label for="username">Username</label>
              <input type="text" id="username">
            </div>
            <div class="rvt-m-top-md rvt-width-lg-md-up">
              <label for="password">Password</label>
              <input type="password" id="password">
            </div>
          </fieldset>
          <div class="rvt-button-group rvt-m-top-md">
            <a href="./example-layouts--multi-step-2" class="rvt-button">Save and continue</a>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</main>