{{> @header--light-background }}
<main class="rvtc-wrapper">
    <div class="rvtc-sidebar">
        <p class="rvt-m-all-remove">Sidebar content</p>
    </div>
    <div class="rvtc-stage">
        <p class="rvt-m-all-remove">Main stage</p>
    </div>
</main>
{{> @footer }}

<style scoped>
    html,
    body {
        min-height: 100%;
    }

    @media screen and (min-width: 1040px) {
        .rvtc-wrapper {
            display: flex;
        }

        .rvtc-sidebar {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 320px;
            width: 320px;

            /**
            * 100% of the viewport minus the height of the header and footer.
            */
            min-height: calc(100vh - 71px - 59px);
            border-right: 1px solid #eaeaea;

        }

        .rvtc-stage {
            flex-grow: 1;
        }
    }


    .rvtc-sidebar {
        background-color: #f7f7f7;
    }


</style>