{% render '@step-indicator', { steps: [{ link: "#", label: "Step 1", notice: "success" }, { link: "#", label: "Step 2", notice: "warning" }, { link: "#", label: "Step 3", notice: "danger" }, { link: "#", current: "true", label: "Step 4", internal: "4" }, { link: "#", label: "Step 5", internal: "5" }]}, true %}