---
tags: visibility
title: Hide field label
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 3
---
<div class="rvt-input-group">
  <label for="search" class="rvt-sr-only">Search</label>
  <input class="rvt-input-group__input rvt-text-input" type="text" id="search">
  <div class="rvt-input-group__append">
    <button class="rvt-button">Search</button>
  </div>
</div>