---
tags: visibility
title: Hide on smaller screens
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 4
---
<dl class="rvt-list-description">
  <dt>.rvt-hide-sm-down</dt>
  <dd class="rvt-hide-sm-down">Hidden at <strong>small breakpoint</strong> down</dd>
  <dt>.rvt-hide-md-down</dt>
  <dd class="rvt-hide-md-down">Hidden at <strong>medium breakpoint</strong> down</dd>
  <dt>.rvt-hide-lg-down</dt>
  <dd class="rvt-hide-lg-down">Hidden at <strong>large breakpoint</strong> down</dd>
  <dt>.rvt-hide-xl-down</dt>
  <dd class="rvt-hide-xl-down">Hidden at <strong>extra large breakpoint</strong> down</dd>
  <dt>.rvt-hide-xxl-down</dt>
  <dd class="rvt-hide-xxl-down">Hidden at <strong>extra extra large breakpoint</strong> down</dd>
</dl>