---
tags: visibility
title: Hide on larger screens
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 5
---
<dl class="rvt-list-description">
  <dt>.rvt-hide-sm-up</dt>
  <dd class="rvt-hide-sm-up">Hidden at <strong>small breakpoint</strong> up</dd>
  <dt>.rvt-hide-md-up</dt>
  <dd class="rvt-hide-md-up">Hidden at <strong>medium breakpoint</strong> up</dd>
  <dt>.rvt-hide-lg-up</dt>
  <dd class="rvt-hide-lg-up">Hidden at <strong>large breakpoint</strong> up</dd>
  <dt>.rvt-hide-xl-up</dt>
  <dd class="rvt-hide-xl-up">Hidden at <strong>extra large breakpoint</strong> up</dd>
  <dt>.rvt-hide-xxl-up</dt>
  <dd class="rvt-hide-xxl-up">Hidden at <strong>extra extra large breakpoint</strong> up</dd>
</dl>