---
tags: visibility
title: Screen reader only
layout: layouts/preview.njk
permalink: /utilities/preview/{{ title | slug}}/
padding: true
order: 2
---
<p class="rvt-ts-xl">This text is visible. <span class="rvt-sr-only">This text is visually hidden but still accessible to screen readers.</span></p>