<div class="rvt-file" data-upload-wrapper="{{ id }}">
    <input type="file" data-upload-input="{{ id }}" id="{{ id }}" aria-describedby="{{ fileDescription }}" {% if multiple %} multiple{% endif %}>
    <label for="{{ id }}" class="rvt-button{% if secondary %} rvt-button--secondary{% endif %}">
        <span>{{ buttonText }}</span>
        {% include "@includes--file-upload" %}
    </label>
    <div class="rvt-file__preview" data-file-preview="{{ id }}" id="{{ fileDescription }}">
        {{ previewText }}
    </div>
</div>

<script>
  const fileInputWrapper{{ id }} = document.querySelector('[data-upload-wrapper="{{ id }}"]');
  const newFileInput{{ id }} = new Rivet.FileInput(fileInputWrapper{{ id }});
</script>