{% include "@header-system-main-nav" %}
<main class="rvt-layout__wrapper">
  {%- set heroActions -%}
  <a class="rvt-button rvt-button--link" href="/components/preview/list-page-articles">Read more about this</a>
  <a class="rvt-button rvt-button--plain" href="/components/preview/list-page-people">Also this action</a>
  {%- endset -%}
  
  {% render "@hero-area", {
    title: "Hey, welcome!",
    actions: heroActions,
    image: {
      url: "/img/index-page-hero.png" | path
    }
  }, true %}
  
  <div class="rvt-p-tb-xl">
    <div class="rvt-border-bottom rvt-border-top">  
      <div class="{{ siteContainer }}">
        {% render "@stat-group", true %}
      </div>
    </div>
    <div class="{{ siteContainer }}">
      <p class="rvt-ts-14 rvt-p-top-xs rvt-color-black-500">Notes about the stats</p>
    </div>
  </div>
  
  <div class="{{ siteContainer }} rvt-p-tb-xl rvt-p-tb-3-xl-md-up">  
    {% render "@billboard", {
      title: "We like to write articles",
      image: "/img/billboard-1-example.png" | path,
      cta: {
        text: "Read more articles",
        url: "/components/preview/list-page-articles-with-sidebar"
      },
      classes: 'rvt-billboard--reverse'
    }, true %}
  </div>
  
  <div class="{{ siteContainer }} rvt-p-tb-xl rvt-p-tb-3-xl-md-up">
    {% render "@billboard", {
      title: "We like our people",
      image: "/img/billboard-2-example.png" | path,
      cta: {
        text: "See all our people",
        url: "/components/preview/list-page-people-with-sidebar"
      }
    }, true %}
  </div>
  
  <div class="rvt-p-tb-xxl rvt-p-top-3-xl-md-up rvt-p-bottom-4-xl-md-up">
    <div class="{{ siteContainer }}">
      {# Pass this markup into the "image" key below to see the version with an image #}
      {%- set quoteImage -%}
        <div class="rvt-avatar rvt-avatar--md">
          <img src="https://www.fillmurray.com/200/200" alt="" class="rvt-avatar__image">
        </div>
      {%- endset -%}
      
      {% render "@quote", {
        image: null
      }, true %}
    </div>
  </div>
  
  <div class="rvt-bg-black-000 rvt-p-tb-xxl rvt-p-tb-3-xl-md-up">  
    <div class="{{ siteContainer }}">
      {% render "@billboard", {
        title: 'Latest news',
        classes: 'rvt-billboard--center'
      } %}
      <div class="rvt-row rvt-row--loose">
        {% for article in articles.slice(0, 3) %}
        <div class="rvt-cols-4-md [ rvt-flex rvt-m-top-lg rvt-m-top-xxl-md-up ]">
          {% render "@card", {
            image: cardImages[loop.index -1],
            title: article.title,
            link: "/components/preview/details-page-with-sidebar",
            eyebrow: article.eyebrow,
            content: article.content,
            classes: 'rvt-card--raised rvt-card--clickable'
          }, true %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% include "@footer-system-all" %}
