{% include "@header-system-main-nav" %}
<!-- This can be any container you want or no container? -->
<main class="rvt-layout__wrapper rvt-layout__wrapper--single rvt-container-sm">
  <div class="rvt-layout__content">
    {% include "@page-intro-partial" %}

    <div class="rvt-prose rvt-flow rvt-border-top rvt-p-top-lg rvt-m-top-xl">
      {% include "@prose-placeholder-partial" %}
    </div>
      
  </div>
</main>
{% include "@footer-system-all" %}