{% include "@header-system-main-nav" %}

<!--
  #1: <main> element set up
  Note here how it is required to use Rivet flexbox utility classes
  on the <main> element in this layout configuration. This differs from
  how some other layouts are set up.
-->
<main class="rvt-flex rvt-flex-column rvt-grow-1" id="main-content">

  <!--
    #2: Start page intro with subnav section:
    This section acts as the introduction to the page. It contains breadcrumb
    navigation (optional) a page/view title (required) and a Subnav (optional)
    used to create in page navigation between screens in an app.
  -->
  <div class="rvt-bg-black-000 rvt-border-bottom rvt-p-top-xl">
    <div class="{{ siteContainer }} rvt-prose rvt-flow rvt-p-bottom-xl">
      {% include "@layouts-breadcrumb-partial" %}
      <h1 class="rvt-m-top-xs">Index Table of Items</h1>
    </div>
    <!--
      This container constrains the max-width of the Subnav. If your app only has
      a few screens and a relatively flat information architecture you might not
      need this Subnav. It can be removed without affecting the display of the 
      intro section.
    -->
    <div class="{{ siteContainer }}">
      {%- set listIndexContent -%}
        <span class="rvt-color-black-300 rvt-flex">
          {% include "@bell-icon" %}
        </span>
        <div class="rvt-m-left-xs">List index view</div>
      {%- endset -%}
      {%- set tableIndexContent -%}
        <span class="rvt-color-black-300 rvt-flex">
          {% include "@calendar-icon" %}
        </span>
        <div class="rvt-m-left-xs">Table index view</div>
      {%- endset -%}
      {%- set detailsContent -%}
        <span class="rvt-color-black-300 rvt-flex">
          {% include "@gears-icon" %}
        </span>
        <div class="rvt-m-left-xs">Details view</div>
      {%- endset -%}
      {%- set editContent -%}
        <span class="rvt-color-black-300 rvt-flex">
          {% include "@user-icon" %}
        </span>
        <div class="rvt-m-left-xs">Edit view</div>
      {%- endset -%}
      
      {% render "@subnav", {
        id: "App settings navigation",
        classes: "[ rvt-border-bottom-none ]",
        items: [
          {
            content: listIndexContent,
            link: "/components/preview/application-index-list"
          },
          {
            content: tableIndexContent,
            link: "/components/preview/application-index-table",
            current: true
          },
          {
            content: detailsContent,
            link: "/components/preview/application-details-page"
          },
          { content: editContent }
        ]
      }, true %}
    </div>
  </div>

  <div class="rvt-layout__wrapper">
    
    <!--
      Filter block
    -->
    <div class="{{ siteContainer }} rvt-m-top-xl">
      <div class="rvt-flex-md-up rvt-items-center">
        <div class="rvt-grow-1">
          <label class="rvt-label" for="search">Type to filter</label>
          <input class="rvt-input" type="text" id="search">
        </div>
        <div class="rvt-m-left-md-md-up rvt-grow-1">
          <label class="rvt-label" for="status">Status</label>
          <select class="rvt-select" name="" id="status">
            <option value="on-hold">On hold</option>
            <option value="active">Active</option>
            <option value="archived">Archived</option>
          </select>
        </div>
        
        <div class="rvt-dropdown [ rvt-m-top-md rvt-m-left-md-md-up ]" data-rvt-dropdown="dropdownButtons">
          <button type="button" class="rvt-button" data-rvt-dropdown-toggle="dropdownButtons" aria-haspopup="true" aria-expanded="false">
            <span class="rvt-dropdown__toggle-text">Actions</span>
            <svg role="img" alt="" class="rvt-m-left-xs" width="16" height="16" viewBox="0 0 16 16">
              <path fill="currentColor" d="M8,12.46a2,2,0,0,1-1.52-.7L1.24,5.65a1,1,0,1,1,1.52-1.3L8,10.46l5.24-6.11a1,1,0,0,1,1.52,1.3L9.52,11.76A2,2,0,0,1,8,12.46Z" />
            </svg>
          </button>

          <div class="rvt-dropdown__menu rvt-dropdown__menu--right" id="dropdownButtons" role="menu" hidden data-rvt-dropdown-menu>
            <form>
              <button type="button" name="archive" role="menuitemradio">
                <span>Archive</span>
              </button>
              <button type="button" name="put-on-hold" role="menuitemradio">
                <span>Put on hold</span>
              </button>
              <button name="delete" type="button" role="menuitemradio">
                <span>Delete</span>
              </button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="{{ siteContainer }} rvt-m-top-xl">
      {% include "@app-index-table-partial" %}
    </div>
    
     <!--
        #4: Start pagination
      -->
      <div class="{{ siteContainer }} rvt-m-top-xl">
        <div class="rvt-p-bottom-xxl rvt-flex rvt-justify-center">
          {% render "@pagination" %}
        </div>
      </div>
  </div>
</main>
{% render "@footer-system-base", {
  classes: "rvt-footer-base--light"
}, true %}