<ul class="rvt-plain-list rvt-border-top rvt-m-top-md">
  {% for app in apps %}
  <li class="rvt-border-bottom rvt-m-top-none rvt-p-tb-md rvt-p-right-xs">
    <a href="/components/preview/application-details-page" class="rvt-link-plain rvt-flex rvt-items-center">
      <span class="rvt-ts-18 rvt-text-bold rvt-grow-1">{{ app.title }}</span>
      <span class="rvt-bg-blue-000 rvt-flex rvt-items-center rvt-justify-center rvt-p-all-xs rvt-border-radius-circle">
        <svg class="rvt-shrink-0" width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M15.92,8.38a1,1,0,0,0-.22-1.09l-4-4a1,1,0,0,0-1.41,1.41L12.59,7H1A1,1,0,0,0,1,9H12.59l-2.29,2.29a1,1,0,1,0,1.41,1.41l4-4A1,1,0,0,0,15.92,8.38Z"/>
        </svg>
      </span>
    </a>
    <p class="rvt-m-top-xxs rvt-ts-14 rvt-color-black-500">{{ app.description }}</p>
    <div class="rvt-flex rvt-items-center">
      <span class="rvt-ts-14 rvt-m-right-sm rvt-color-black-500">Owned by <strong>{{ app.user }}</strong></span>
      <span class="rvt-badge rvt-badge--success-secondary">Active</span>
    </div>
  </li>
  {% endfor %}
</ul>