<div class="rvt-prose rvt-flow">

  <div class="rvt-flex-md-up rvt-items-center rvt-p-bottom-xs rvt-p-lr-xxs rvt-border-bottom">
    <h2 class="rvt-grow-1">Account Details</h2>
    <a href="#" class="rvt-flex rvt-items-center rvt-link-plain rvt-m-top-sm rvt-m-top-none-md-up">
      <svg class="rvt-color-blue-300" width="16" height="16" viewBox="0 0 16 16">
        <g fill="currentColor">
          <path d="M8,16a8,8,0,1,1,8-8A8,8,0,0,1,8,16ZM8,2a6,6,0,1,0,6,6A6,6,0,0,0,8,2Z"/>
          <path d="M8,12a1,1,0,0,1-1-1V8A1,1,0,0,1,9,8v3A1,1,0,0,1,8,12Z"/>
          <circle cx="8" cy="5" r="1"/>
        </g>
      </svg>
      <span class="rvt-ts-14 rvt-m-left-xs">Manage Details</span>
    </a>
  </div>

  <dl class="rvt-m-top-lg">
    <dt>Username</dt>
    <dd>bmacklin</dd>
    <dt>Display name</dt>
    <dd>Bert Macklin</dd>
    <dt>Owner</dt>
    <dd>bmacklin</dd>
    <dt>Purpose</dt>
    <dd>Doing FBI stuff for Leslie Knope</dd>
  </dl>
  
  <div class="rvt-flex-md-up rvt-items-center rvt-p-bottom-xs rvt-p-lr-xxs rvt-border-bottom rvt-m-top-xxl">
    <h2 class="rvt-grow-1">Plugins</h2>
  </div>
  
  <div class="rvt-empty-state [ rvt-m-top-lg ]">
    <div class="rvt-empty-state__content [ rvt-flow ]">
      <div class="rvt-p-all-md rvt-bg-black-100 rvt-inline-flex rvt-border-radius-circle">
        <svg class="rvt-color-black-500 rvt-shrink-0" width="16" height="16" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path d="M5,14a1,1,0,0,1-.78-.37l-4-5a1,1,0,0,1,0-1.25l4-5A1,1,0,0,1,5.78,3.63L2.28,8l3.5,4.38A1,1,0,0,1,5,14Z"/>
            <path d="M11,14a1,1,0,0,1-.78-1.62L13.72,8l-3.5-4.37a1,1,0,0,1,1.56-1.25l4,5a1,1,0,0,1,0,1.25l-4,5A1,1,0,0,1,11,14Z"/>
          </g>
        </svg>
      </div>
      <p>This account is not using plugins. Would you like to add one?</p>
    </div>
    <div class="rvt-empty-state__actions">
      <button class="rvt-button rvt-button--success" type="button">Add a plugin</button>
    </div>
  </div>
  
  <div class="rvt-flex-md-up rvt-items-center rvt-p-bottom-xs rvt-p-lr-xxs rvt-border-bottom rvt-m-top-xxl">
    <h2 class="rvt-grow-1">Access</h2>
    <a href="#" class="rvt-flex rvt-items-center rvt-link-plain rvt-m-top-sm rvt-m-top-none-md-up">
      <svg class="rvt-color-blue-300" width="16" height="16" viewBox="0 0 16 16">
        <path fill="currentColor" d="M12.75,6H12V4A4,4,0,0,0,4,4V6H3.25A1.25,1.25,0,0,0,2,7.25v7.5A1.25,1.25,0,0,0,3.25,16h9.5A1.25,1.25,0,0,0,14,14.75V7.25A1.25,1.25,0,0,0,12.75,6ZM6,4a2,2,0,0,1,4,0V6H6Zm6,10H4V8h8Z"/>
      </svg>
      <span class="rvt-ts-14 rvt-m-left-xs">Manage Access</span>
    </a>
  </div>
  
  <div class="rvt-row rvt-row--loose">
    <div class="rvt-cols-6-md">
      <dl class="rvt-m-top-lg">
        <dt>
          <svg class="rvt-color-black-300" width="16" height="16" viewBox="0 0 16 16">
            <g fill="currentColor">
              <circle cx="11" cy="3" r="3"/>
              <circle cx="5" cy="7" r="3"/>
              <path d="M1,16H9a1,1,0,0,0,1-1V14a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1A1,1,0,0,0,1,16Z"/>
              <path d="M13,7H9.5a4.45,4.45,0,0,1-1,2.78,4.49,4.49,0,0,1,3,4.22H15a1,1,0,0,0,1-1V10A3,3,0,0,0,13,7Z"/>
            </g>
          </svg>
          <span class="rvt-m-left-xxs">Users</span>
        </dt>
        <dd>Bert Macklin</dd>
        <dd>Janet Snakehole</dd>
        <dd>Ron Swanson</dd>
      </dl>
    </div>
    <div class="rvt-cols-6-md">
      <dl class="rvt-m-top-lg">
        <dt>
          <svg class="rvt-color-black-300" width="16" height="16" viewBox="0 0 16 16">
            <g fill="currentColor">
              <circle cx="11" cy="3" r="3"/>
              <circle cx="5" cy="7" r="3"/>
              <path d="M1,16H9a1,1,0,0,0,1-1V14a3,3,0,0,0-3-3H3a3,3,0,0,0-3,3v1A1,1,0,0,0,1,16Z"/>
              <path d="M13,7H9.5a4.45,4.45,0,0,1-1,2.78,4.49,4.49,0,0,1,3,4.22H15a1,1,0,0,0,1-1V10A3,3,0,0,0,13,7Z"/>
            </g>
          </svg>
          <span class="rvt-m-left-xxs">Administrators</span>
        </dt>
        <dd>Leslie Knope</dd>
      </dl>
    </div>
  </div>
  
</div>