<h2>Education</h2>
<dl>
  <dt>M.</dt>
  <dd>Arch., Southern California Institute of Architecture, 2004</dd>
  <dt>B.A.</dt>
  <dd>Sociology and Anthropology, Holy Cross College, 1995</dd>
</dl>
<h2>Interests</h2>
<ul>
  <li>Architecture</li>
  <li>Social impact design</li>
  <li>Augmented and virtual reality</li>
  <li>Digital fabrication</li>
  <li>Design thinking</li>
</ul>
<h2>About</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, earum! Dolorum delectus magni aliquam nisi tempora quisquam ut? Odit placeat nam hic quia distinctio. Perferendis excepturi velit consectetur consequuntur rerum.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam atque officia inventore, corrupti amet pariatur officiis. Ullam, ipsa doloremque obcaecati minima dignissimos ducimus, accusamus voluptates distinctio suscipit commodi eligendi reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, eligendi eius facere a, soluta quis laboriosam similique consequatur vitae natus ex maiores ad explicabo fuga qui nobis, doloribus iusto inventore.</p>