---
tags: hero
title: Hero with dark background
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 2
---
<div class="rvt-hero rvt-hero--bg-dark">
  <div class="rvt-container-lg">
    <div class="rvt-hero__inner">
      <div class="rvt-hero__body [ rvt-flow ]">
        <span class="rvt-hero__eyebrow">Category</span>
        <h1 class="rvt-hero__title">Become the best version of yourself at IU</h1>
        <div class="rvt-hero__teaser">
          <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
        </div>
        <div class="rvt-hero__actions">
          <a class="rvt-cta rvt-cta--button" href="#">Learn more about IU</a>
        </div>
      </div>
      <div class="rvt-hero__media">
        <img src="https://rivet.iu.edu/img/placeholder/hero-2.webp" alt="Person at desk coding a website">
        <div class="rvt-hero__media-caption">An optional image caption</div>
      </div>
    </div>
  </div>
</div>