---
tags: hero
title: Hero - Default
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 1
---
<div class="rvt-hero">
  <div class="rvt-container-lg">
    <div class="rvt-hero__inner">
      <div class="rvt-hero__body">
        <span class="rvt-hero__eyebrow">
          <nav role="navigation" aria-label="Breadcrumbs">
            <ol class="rvt-breadcrumbs">
              <li><a href="#">Home</a></li>
              <li><a href="#">Tier two</a></li>
              <li aria-current="page">Tier three</li>
            </ol>
          </nav>
        </span>
        <h1 class="rvt-hero__title">Become the best version of yourself at IU</h1>
        <div class="rvt-hero__teaser">
          <p>Develop the skills you need for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
        </div>
        <div class="rvt-hero__actions">
          <a class="rvt-cta rvt-cta--button" href="#">Learn more about IU</a>
        </div>
      </div>
      <div class="rvt-card rvt-card--raised rvt-card--clickable [ rvt-width-xxl ]">
        <div class="rvt-card__body">
          <div class="rvt-card__eyebrow">Category</div>
          <h2 class="rvt-card__title">
            <a href="#">Find your ideal campus life at IU</a>
          </h2>
          <div class="rvt-card__content [ rvt-ts-14 ]">
            <p>Organizations, innovating the future, and making an impact on their communities and the world.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>