---
tags: hero
title: Feature hero
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 1
---
<div class="rvt-section-intro rvt-section-intro--feature">
  <div class="rvt-container-lg">
    <div class="rvt-section-intro__inner">
      <div class="rvt-section-intro__body">
        <p class="rvt-section-intro__eyebrow">
          Academics
        </p>
        <h1 class="rvt-section-intro__title">Become the best version of yourself at IU</h1>
        <div class="rvt-section-intro__teaser">
          <p>Develop the skills <strong>you need</strong> for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni who are leading organizations, innovating the future, and making an impact on their communities and the world.</p>
        </div>
        <div class="rvt-section-intro__actions">
          <a class="rvt-cta rvt-cta--button" href="#">Learn more about IU</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rvt-container-lg">
  <figure class="rvt-image-feature">
    <img src="https://picsum.photos/id/29/1600/900" alt="">
    <figcaption>Image caption</figcaption>
  </figure>
</div>
