---
tags: hero
title: Grid Hero
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 5
---
<div class="rvt-hero rvt-hero--grid">
  <div class="rvt-hero__inner">
    <div class="rvt-hero__body">

      <span class="rvt-hero__eyebrow [ rvt-text-uppercase rvt-font-mono ]">
        Cost and Finincial Aid
      </span>
      <h1 class="rvt-hero__title">Find your perfect scholarship opportunity</h1>
      <div class="rvt-hero__teaser">
        <p>{ Intro body copy should not exceed one concise paragraph. }</p>
      </div>
    </div>

    <div class="rvt-hero__actions [ rvt-m-top-none rvt-justify-end ]">
      <a href="/#" class="rvt-button rvt-button--solid">Learn more</a>
      <a href="/#" class="rvt-button rvt-button--outline">Learn even more</a>
    </div>
  </div>

  <div class="rvt-hero__media rvt-grid rvt-grid--3 rvt-grid--tight [ rvt-m-top-xl ]">
    <div class="rvt-p-top-md rvt-p-right-md rvt-p-left-md rvt-p-bottom-sm  rvt-flex rvt-flex-column rvt-justify-end">
      {# <img src="https://picsum.photos/id/29/600/600" alt=""> #}

      <div class="rvt-list-hub">
        <h2 class="rvt-list-hub__title">Quick links</h2>
        <ul class="rvt-list-hub__list">
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Class profile
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div>
      <img src="https://picsum.photos/id/43/600/600" alt="">
    </div>
    <div>
      <img src="https://picsum.photos/id/66/600/600" alt="">
    </div>
  </div>

</div>