---
tags: hero
title: Hero - Statement
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 2
---

<div class="rvt-hero rvt-hero--statement">
	<div class="rvt-hero__inner">
		<div class="rvt-hero__body">
			<span class="rvt-hero__eyebrow"> {Section or category} </span>
			<h1 class="rvt-hero__title">{Title should not exceed 40 characters}</h1>
			<div class="rvt-hero__teaser">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at
					possimus quia consequuntur veniam sunt, facilis nemo.
				</p>
			</div>
			<div class="rvt-hero__actions">
				<a href="/#" class="rvt-button rvt-button--cta rvt-button--strong">Discover careers</a>
				<a href="/#" class="rvt-button rvt-button--cta rvt-button--normal">See all degrees</a>
			</div>
		</div>
	</div>
	<!-- end inner -->

	<div class="rvt-hero__banner">
		<!--
          Data definition notes: "Landing Page" Content Type

          This "banner" element of the hero works as a "slot" where
          you place the new Media Hub component and configure it as needed.
          See the Media Hub sandbox examples - /components/media-hub/

          Data definition notes: "Landing Page" Content Type
          - The Media Hub used here should only allow editors to upload and
            use the following configurations of the media hub.

            1. 3 images with a 1:1 (square) aspect ratio
            2. 2 images with a 1:1 (square) aspect ratio
            3. 1 image with a 2:1 aspect ratio
            4. 1 video/video embed with a 16:9 aspect ratio
        -->
		<div class="rvt-media-hub">
			<figure class="rvt-media-hub__media">
				<div class="rvt-media-hub__span-6">
					<img
						src="https://picsum.photos/id/10/1600/800"
						alt="This image can have alt text now"
					/>
				</div>
			</figure>
		</div>

		<!--
          Data definition notes: "Landing Page" Content Type

          This callout banner is optional. It functions the same way
          no matter what media hub configuration is used in the hero
          banner. (See banner/media hub notes above).

          This also acts as a "slot" for a Card component. The card
          has a crimson theme applied. It's elements include:
            - A sticker that defaults to the megaphone, but can be
              changed by the user by specifying a Rivet sticker ID
              in a text field
            - An eyebrow text field
            - A title text field
        -->

		<div class="rvt-hero__banner-callout">
			<div
				class="rvt-card rvt-card--raised rvt-card--clickable rvt-card--horizontal [ rvt-theme-crimson ]"
			>
				<rvt-sticker name="megaphone" theme="crimson" size="sm"></rvt-sticker>
				<div class="rvt-card__body">
					<div class="rvt-card__eyebrow">Category</div>
					<h2 class="rvt-card__title">
						<a href="#"
							>{This card title should be concise and should not exceed 78
							characters or 3 lines of text}</a
						>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->
</div>
