---
tags: hero
title: Hero - Feature
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 2
---
<div class="rvt-hero rvt-hero--feature">
  <div class="rvt-hero__inner">
    <div class="rvt-hero__body">
      <span class="rvt-hero__eyebrow">
        {Section or category}
      </span>
      <h1 class="rvt-hero__title">{Title should not exceed 16 characters}</h1>
      <div class="rvt-hero__teaser">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, at possimus quia consequuntur veniam sunt, facilis nemo.</p>
      </div>
    </div>

    <div class="rvt-hero__actions">
      <a href="/#" class="rvt-button rvt-button--solid">Discover careers</a>
      <a href="/#" class="rvt-button rvt-button--outline">See all degrees</a>
    </div>
  </div>

  <div class="rvt-container rvt-m-top-xxl">
    <div class="rvt-grid rvt-grid--sidebar">

      <div class="rvt-list-hub [ rvt-self-end ]">
        <h2 class="rvt-list-hub__title">Quick links</h2>
        <ul class="rvt-list-hub__list">
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Class profile
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
          <li class="rvt-list-hub__item">
            <a class="rvt-list-hub__link" href="#">
              Normal title length is five
            </a>
          </li>
        </ul>
      </div>

      <figure>
        <img src="https://picsum.photos/id/10/1600/900" alt="This image can have alt text now">
      </figure>

    </div>
  </div>

</div>