---
tags: hero
title: Section hero
layout: layouts/preview.njk
permalink: /components/preview/{{ title | slug}}/
padding: false
order: 4
---
<div class="rvt-hero rvt-hero--section">
  <div class="rvt-container-lg">
    <div class="rvt-hero__inner">
      <div class="rvt-hero__body">
        <p class="rvt-hero__eyebrow">
          Academics
        </p>
        <h1 class="rvt-hero__title">Become the best version of yourself at IU</h1>
        {# <div class="rvt-hero__teaser">
          <p>Develop the skills <strong>you need</strong> for a rewarding career, and follow in the footsteps of more than 729,000 IU alumni.</p>
        </div> #}
        <div class="rvt-hero__actions">
          <a class="rvt-cta rvt-cta--button" href="#">Learn more about IU</a>
        </div>
      </div>
    </div>
  </div>
</div>